/*ADDED FOR REASON REMOVE LATER*/
body {
    --bg-level-1: #fff;
    --bg-level-2: #F5F5F5;
    --text-level-high: #000;
    --primary: #103F8F;
    --text-on-primary: #fff;
}

html, body{
    color: #000;
}
/*banner navigation*/
.cas_nav_prev,
.cas_nav_next,
.lca-voice-icon {
    background-color: rgba(255,255,255,0.4);
    color: #000;
}

.lca-voice-icon svg {
    fill: #000;
}
html, body,
#wrapper {
    background-color: #F5F5F5;
}

.bgMain {
    background-color: #F5F5F5 !important;
}

.balance_withdrawal.btn_sec {
    color: #fff !important;
    background-color: #191919 !important;
    height: 50px;
    line-height: 50px !important;
}
.btn_sec {
    background-color: #494d58 !important;
    color: #fff !important;
}
body, .list-menu li a span, #copyright {
    font-size: 13px;
}
/*.ui-mobile label {
    color: #282828 !important;
    font-size: 13px;
}*/
#right-panel .ui-collapsible-inset {
    margin: 0 0 1px 0;
    background-color: #fff;
    font-family: ‘Open Sans’, sans-serif;
}
    #right-panel .ui-collapsible-inset .ui-btn {
        font-family: ‘Open Sans’, sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #191919 !important;
    }
.user .ic {
    color: #191919;
}
.btn_prim {
    height: 50px;
    line-height: 50px !important;
}
.btn_prim,
.clr_prim,
.promo_clicked {
    background-color: #1DB954 !important;
    color: #fff !important;
}

/*.ui-checkbox label {
	color: #111 !important;
}*/

.heading {
    background-color: #a6b5cd !important;
    color: #fff !important;
    text-transform: uppercase
}
.ui-collapsible-content {
	background-color: #e0e0e0 !important;
}
.sub_heading,
.row label {
    color: #494D58;
}
.menuBtn, .menuBtnSm {
    background-color: #fff;
    color: #103F8F !important;
    height: 36px;
    font-size: 16px;
}
.menuBtnSm {
    text-align:center;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background: #f5f5f5 !important;
}

/*.wrapper .inp, .wrapper input, select.D_input {
    background-color: #E7EAEF !important;
    color: #111 !important;
}*/
#header .txt {
    color: #444957;
}
.pagIt {
    background-color: #494D58;
    color: #fff;
}
#copyright {
	background: none;
}
.list-menu li a span,
.platformForgPass {
    color: #444957 !important;
}

.list-menu li a i {
	visibility: hidden;
}

.panel ul li.activated {
	background-color: #30862f !important;
	border-color: #30862f;
}

	.panel ul li.activated .PLspText,
	.panel ul li.activated a:before {
		color: #111 !important;
	}

.nav {
	background: none;
}
.nav_item > img {
    background: #fff
}
/* header */
#header {
    background-color: #FFFFFF !important;
}
#menu-right .PLUlblICt {
    color: #fff;
}
/*login right part*/
.user_profile {
    width: 30px;
    height: 27px;
    background-size: cover;
    margin: auto;
}
.header_profile_image a {
    color: #191919;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    display: block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myBets,
.playerBalance {
    color: #fff;
    font-weight: bold;
    background: #191919;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px 0 0;
}
.myBets {
    font-weight: 400;
}
.LinkToLeftPanel {
    color: #191919 !important;
}
/*main content*/
.slidesjs-pagination li a.active, .paging li a.active {
    border: 1px solid #30862f;
    color: #555;
}

#inbox .unread td, #inbox .unread td a {
	color: #30862f !important;
}

.PLUlblICt,
.lblInboxCount1 {
	background-color: #cc0001;
}

.left-logo:before {
	content: "<";
}

/*	datepicker color changes	*/
.ui-widget-header {
	background: #02954e !important;
	border: none;
}

	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
		border: 1px solid #02954e;
		background: #02954e;
	}

	.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
		border: 1px solid #02954e;
		background: green url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
	}

	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border: 1px solid #02954e;
	}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
}

.footer_payments .flex > div {
    background-repeat: no-repeat;
    background-size: 72px auto;
    margin: 2px;
    width: 72px;
    height: 35px;
}
.LogoMobilePlatform {
    background-image: var(--cdn-logo-mob_png);
    height: 35px;
    width: 62px;
}

#betSlip a {
    background-color: #1DB954 !important;
    color: #fff !important;
    border: 0;
    border-radius: 3px 3px 0 0;
}

.PLUlblICt, .lblInboxCount1 {
    background-color: #1DB954;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-right: 3px;
    font-size: 11px;
}

.list-menu li a:after {
    color: #000000;
}

.list-menu li,
.list-menu li a div {
    background-color: #FFFFFF;
}

    .list-menu li,
    .list-menu li:last-child {
        border-color: #B8B8B8;
    }

        .list-menu li a,
        .refresh-captcha,
        .refresh-captcha:before {
            color: #494D58;
        }
            .list-menu li a strong, .list-menu strong:before {
                color: #191919;
            }

#scroll {
	background-color: #30862f;
}

/*my acc*/
.data-tbl2 tbody th {
	background: none;
}

#content.mobPlUserCont {
	background-color: #a7a7a7;
}

.ui-shadow-inset {
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}

#footer_coupon_count {
    background-color: #fff;
    color: #013a65;
}

/*footer soc icons*/
.fic-box a {
    display: block;
    background-color: #fff;
    height: 32px;
    width: 32px;
    -webkit-background-size: 32px;
    background-size: 32px;
    background-position-x: 0px;
    margin-right: 7px;
    margin-top: 3px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.fic-box .facebook {
    background-position-y: 0px;
}

.fic-box .whatsapp {
    background-position-y: -34px;
}

.fic-box .email {
    background-position-y: -68px;
}
.fic-box .telegram {
    background-position-y: -100px;
    background-size: 31px;
}

/*end of*/
/*Unification*/
.tl_my_inbox_msg_box {
    background: #E7EAEF;
}
.tl_my_inbox_mails_cont {
    background: #F5F5F5;
}
.tl_mail_item {
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 5px;
}
.tl_mail_item.unread {
    background-color: #fff;
}
.tl_mail_row{ background: #fff; padding: 10px 0}
.tl_mail_details_title{ color: #474747}
.tl_mail_row .tl_mail_msgId, .tl_mail_row .tl_mail_details, .tl_mail_row .tl_mail_detail_title {
    color: #282828;
    font-weight: normal;
    font-size: 12px
}
.tl_mail_msgId .tf_arrow_icon {
    width: 20px;
}
.tl_mail_msgId {
    color: #191919 !important;
}
.tl_mail_attachfiel_screp, .tl_mail_attachfiel {
    color: #333;
}
.tl_mail_details{ color: #282828;}
.tl_popup_clr{background: #f0f0f0}
/*
#info_div {
    position: static;
    margin: 20px auto;
    width: max-content;
    background: transparent;
    transform: translate(0);
}*/


.left-menu a:before {
    color: #191919;
}
.menuBtn {
    margin-bottom: 1px;
}
.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
    padding-left: 18px;
}
.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
    padding-right: 18px;
}
.left_menu_padd {
    padding: 25px 0 0 0;
}

.MobileIcon.btn_sec {
    color: #999999 !important;
    background-color: transparent !important;
    border: 1px solid #999999;
    border-radius: 0;
}

.collapse_dropdown_leftmenu a {
    font-weight: 500 !important;
    font-size: 15px;
    text-transform: none;
}

/*collapsable deposit withdrowal*/
.collapse_btn h3 > a {
    background-color: #191919;
    border-color: #191919;
    color: #fff;
}
.collapse_btn h3 > a:before {
    color: #fff;
    content: '';
}
.methods {
    margin-top: 20px;
}
.paym_txt, #generalTermsLink, .paym_txt1, .paym_cond, .paym_cond > span {color:#111;}
.collapse_btn .ui-collapsible-content {background-color:#e0e0e0 !important;}

.ui-loading .ui-loader {
    display: none
}
/*history*/
.clean-table {
    margin-top: 20px;
}
.tbl-list {
    margin-bottom: 16px
}
.lbl-success {
    background-color: transparent;
    color: #282828!important
}
/**BONUSES**/ 
    #bonuses_content .status_1 {
        border-top: 5px solid #1DB954;
    }

    #bonuses_content .bonus-block .item {
        padding: 5px 10px !important;
        margin-top: 3px;
        border-bottom: 1px solid #494D58;
        color: #494D58;
    }


    #bonuses_content .col50 {
        padding: 0 5px;
        width: 50%;
        float: left;
    }

    #bonuses_content .mt-20 {
        margin: 20px 0;
    }

    #bonuses_content button {
        text-transform: uppercase;
    }

    #bonuses_content .more-btn {
        display: block;
        width: 5em;
        height: 4.5em;
        margin: auto;
        text-align: center;
        padding-top: 1em;
        color: #494D58
    }

        #bonuses_content .more-btn:before {
            content: "\A8";
            display: block;
            font-family: ProductIconsFont;
        }

 

    #bonusesNavBar .tab_item.active {
        color: #1db954;
    }

/*#content_paym .row label, #conttransfertoaccount label {
    color: #f5f5f5;
    font-size: 14px;
}*/

.accRowClr {
    background-color: #fafafa;
    color: #282828
}
.accRowClr td {
    color: #282828
}

#bonuses_content{
    padding:0 8px;
}


#promo-list .promo_mobile_title {
    color: #135DA9;
}


.PLspText {
    padding: 0 8px;
}
 
#genderMob .ui-radio label {
    color: #757474;
} 
@media screen and (max-width: 433px){

    .platformMobLog, .platformMobReg {
        font-size: 12px;
    }

    .platformMobLanga {
        width: 30px;
    }
}
.tv-games strong:before {
    content: "u";
}

.belot strong:before {
    content: "0";
}

.left-fastgame:before {
    content: "u";
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background-color: transparent /*{b-body-background-color}*/;
    border-color: #1d1d1d /*{b-body-border}*/;
    color: #fff /*{b-body-color}*/;
}

.menuRow, #right-panel .menuBtn {
    color: #191919 !important;
    font-family: ‘Open Sans’, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: #fff;
    margin-bottom: 1px;
}

    .menuRow.menu_inbox {
        margin: 20px 0
    }
.account_title {
    color: #103F8F;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 15px;
    padding: 0 8px;
}

#betSlip a {
    background-color: #1DB954 !important;
    color: #FFFFFF !important;
    border: 0;
    border-radius: 3px 3px 0 0 !important;
}
#betSlip #footer_coupon_count {
    background-color: #FFFFFF;
    color: #191919;
}



.LanguageBarSortingMob {
    width: 156px;
    margin: 0 auto;
}

#LanguageBarSortingMob {
    width: 100%;
    background: #494D58;
}
.phone_lang_cont {
    width: 100%;
    margin-bottom: 20px;
}
.drop_down_lang_arrow {
    width: 100%;
}
.drop_down_lang {
    text-align-last: center;
}
.toWeb, .call_us, .drop_down_lang {
    background: #494D58;
    color: #FFFFFF;
}

#LanguageBarSortingMob a {
    background: #494D58;
    color: #FFFFFF;
    height: 44px;
}

#LanguageBarSortingMob span, .call_us a {
    color: #FFFFFF;
}

div#ceg-37ffcad0-8ed0-4edc-91b3-109ff8c7dcc5 img {
    width: 29px !important;
}

#footer {
    background-color: #282828 !important;
    padding-top: 0;
}

    #footer .fic-box a {
        height: 45px;
        width: 45px;
        -webkit-background-size: 46px;
        background-size: 46px;
    }
    #footer .fic-box .facebook {
        background-position-y: 0px;
    }
    #footer .fic-box .whatsapp {
        background-position-y: -50px;
    }
    #footer .fic-box .email {
        background-position-y: -100px;
    }
    #footer .fic-box .telegram {
        background-position-y: -150px;
    }
.footer-cyprus-text {
    color: #ccc;
    font-size: 10px;
}

div#ceg-37ffcad0-8ed0-4edc-91b3-109ff8c7dcc5>div{
    margin: 0 auto;
}


#copyright {
    color: #1DB954;
}


.plus18Icon {
    color: #e30505;
    margin: 0 auto;
}

.clr_sec {
    background-color: #191919 !important;
    color: #9ba7bd !important;
}
.casino_links_tabs a {
    color: #000000 !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.casino_links_tabs .home_icon {
    line-height: 36px;
}
.casino_links_tabs .home_icon:before {
    color: #fff;
}
.list-menu1 li {
    color: #000!important;
}
.games li {
    width: 24%;
    min-width: 24%
}
.games li label {
    color: #fff !important;
    font-size: 9px;
}
@media only screen and (min-width: 799px) {
    .games li {
        width: 19%;
        min-width: 19%
    }
}
.casino-tabs a {
    font-size: 13px;
}
.platformMobReg {
    background-color: #1db954 !important;
    padding: 0 20px;
    height: 30px;
    line-height: 30px !important;
}
.platformMobLog {
    background-color: #a9aabc!important;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px !important;
}

.partner_color {
    color: #fff;
}

.footer_bottom {
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 328px;
}

div#ceg-37ffcad0-8ed0-4edc-91b3-109ff8c7dcc5 img {
    width: 29px !important;
}

#generalTermsLink{
    font-weight: bold;
}

.prof_refID {
    color: #103F8F;
}
/*deposit images*/
.paymentmethods {
    background-repeat: no-repeat;
    background-size: 72px auto;
    height: 35px;
}
.zotapay {
    background-position: 0 -118px !important;
}

.ecopayz {
    background-position: 0 -79px !important;
}

.epro {
    background-position: 0 -39px !important;
}

.safecharge {
    background-position: 0 0 !important;
}

.safecharge_cad {
    background-position: 0 -278px !important;
}

.finalpay {
    background-position: 0 -317px !important;
}

.visa {
    background-position: 0 -157px !important;
}

.master {
    background-position: 0 -197px !important;
}
.paysafe {
    background-position: 0 -355px !important;
}
.interac {
    background-position: 0 -277px !important;
}
.notificationSettings_item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.notificationSettings_item label {
    color: #fff!important;
}

.switch input.sw:checked + label:after {
    left: 16px;
    background-color: #1DB954;
}

.switch input.sw + label:after {
    background-color: #FFD000;
}
.footer_cont {
    margin-top: 30px;
}
#custom-footer-content {
    background-color: #454556;
    padding: 30px;
}

    #custom-footer-content div.footer-content {
        max-width: 1596px;
        line-height: 1.4;
        margin: 0 auto;
        height: 130px;
        overflow-y: auto;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 1em 0.3em;
    }
        #custom-footer-content div.footer-content .mCustomScrollBox {
            padding: 0 20px;
        }

#custom-footer-content h1 {
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

#custom-footer-content h2 {
    font-size: 0.9em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
}

#custom-footer-content p {
    font-size: 0.8em;
    color: #fff;
    text-align: justify;
    margin-bottom: 15px;
}
/*landing page*/
.tl_navigation {
    padding: 5px;
}
.tl_nav_link {
    padding: 5px;
}
.nav_item {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.nav_item img {
    border-radius: 5px;
}

.nav_title {
    width: 100%;
    height: 35px;
    background-color: #191919;
    font-size: 15px;
    color: #fff;
    text-shadow: none;
    border-radius: 0 0 5px 5px;
    line-height: 35px;
}

.block_title {
    background: #191919;
    color: #FFFFFF;
    border-color: #1DB954;
}

.matches_block iframe {
    min-width: 100%;
    width: 100px;
}

/*Amount blocks FinalPay*/
.finalpay_favorite_amounts {
    display: flex;
    box-shadow: none;
    justify-content: space-between
}
    .finalpay_favorite_amounts > div {
        background: #1DB954;
        color: #fff;
        border: 1px solid #CCCCCC;
        font-size: 20px;
        width: 29%;
        height: 50px;
        line-height: 50px;
        margin: 0 2px;
        box-shadow: none;
        border-radius: 10px !important;
    }
.finalpay_favorite_amounts input{
    opacity: 0 !important;
}
#finalpay .row {
    margin: 20px 0;
}
#contfinalpay .inp {
    height: 48px;
    background: #f5f5f5 !important;
    border: 1px solid #ccc;
    padding: 0 5px !important;
    font-size: 20px;
    position: relative;
    bottom: 7px;
}
#contfinalpay .btn_prim {
    font-size: 20px;
}
/*ezugi VPN popup*/
.connect_vpn_popup {
    padding: 25px 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    border-radius: 6px;
    color: #333;
    font-size: 15px;
    max-width: 90%;
    line-height: 1,3;
    text-align: center;
    font-weight: 500;
}
.connect_vpn_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}
.connect_vpn_icon span{
    height: 26px;
    width: 26px;
    background-color: #ff0000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
}
.connect_vpn_popup #close_vpn_popup {
    background-color: #FFB700;
    border: none;
    display: block;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 3px;
} 
#useVpnMob {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    right: 0;
    left: 0;
} 
/*ezugi VPN popup*/
.D_reg_step .refresh-captcha {
    position: absolute;
    right: 15px;
    bottom: -1px;
}
.reg__checkboxes_row .D_info_box > span {
    top: 56px;
}
/*inputs optimisation registration*/
input,
.reg_input, .tl_mail_send_area,
.custon_select__front_el, .drop-down, .drop-down-small, #content_paym .ui-select span, #content_paym .ui-select select, .favorite_amounts > div,
.reg__checkboxes_row,
.reg__gender_row label, .profile_container .reg__gender_row label {
    background-color: #e7eaef;
    color: #111;
}

.reg__row_title, .profile_container label, .transfer2friend_cont label,  #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: #282828;
}
.registration__container {
    padding: 10px 25px 25px;
}
.reg__heading {
    color: black;
    font-size: 15px;
    margin: 10px 0 20px;
}
.D_lbl {
    height: 33px;
    line-height: 33px;
    display: block;
    margin-bottom: 5px;
}
.reg_prof__element_row {
    margin-bottom: 15px;
}
.reg_prof__element_row.fail .D_info_box.f > span > span {
    background-color: #fff;
    color: #f00!important;
    border: 1px solid #999;
}

.reg_prof__element_row.fail .D_info_box.f > span:after {
    border-color: transparent transparent #999 transparent;
} 
.D_reg_footer div {
    width: 100%;
}
.D_reg_footer .all_buttons_styles {
    text-transform: uppercase;
    height: 44px;
    font-size: 14px;
    line-height: 44px !important;
}
.D_reg_footer #back_btn {
    width: 95%;
}
.col_03 {
    padding: 0 2px;
}
.registration__container .ui-btn-icon-right:after {
    font-family: ProductIconsFont;
    content: "2";
    background: none;
    right: -3px;
    top: 20px;
    color: #000;
}
/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid #30862f;
}

.tr_col_me {
    color: #30862f;
}

.tour_text_color, .tour__leaderboard_active_title.active {
    color: #1A1A1A;
}

.trnments_drop__button:before {
    border-color: #1A1A1A transparent transparent transparent;
}

.custom_swicher {
    border: 2px solid #c4c4c4;
}

    .custom_swicher:before {
        background-color: #1A1A1A;
    }

.tour__leaderboard_table_me {
    background-color: #FFFFFF;
    color: #1a1a1a;
}

.tour__leaderboard_table_item {
    background-color: #FAFAFA;
    color: #1a1a1a;
}

#tr_leaderboard {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0, 0.3);
}

.trnments_drop__custom_ul {
    background: #fff;
}

/*new redesign styles*/

.landing_contet {
    background-color: #141414;
}

.name_vidget {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.with_shadow_slider .swiper-slide {
    -webkit-box-shadow: inset 0px -72px 40px -22px #f5f5f5;
    -moz-box-shadow: inset 0px -72px 40px -22px #f5f5f5;
    box-shadow: inset 0px -72px 40px -22px #f5f5f5;
}
/*/slider*/

.nav_title {
    background: transparent;
    font-size: 14px;
}

.block_title {
    color: #E19C37;
    background: #2B2B2B;
}

.nav_item > img {
    padding: 16px 51px 43px;
    object-fit: contain;
}

.nav_item {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.header_fix .fixed {
    position: static;
}

.header__wrap_block {
    height: 84px;
}
/*games containers*/
.favorite_see__notlogin_text {
    color: #000;
}

/*casino navigation*/

.fixed_menu__play_button {
    background: #191919;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #191919;
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button,
.fixed_menu__li.active {
    color: #1DB954;
}

.casino_nav__links_block {
    background: #191919;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: #fff;
}

    .casino_nav__links_block a.active {
        color: #1DB954;
    }

.casino-tab-container.casino_fixed_menu, .lc-fixed-menu {
    top: 50px;
    z-index: 4;
}
.toTopBox {
    background-color: #454556;
}
/*play page promotions*/
.play__promo_mobile_li {
    background-color: #262626;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}

.filter_result__sort_by,
.filter_result__cases li,
.filter_result__title {
    color: #000;
}
.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}

.play__promo_text {
    margin-bottom: 45px
}

.promo_mobile_descr {
    max-height: 176px;
}
.promo_mobile_cont { 
    background-color: #6c6f79;
}
/*filter and search*/
#searchContent .popup_flex_box {
    background: #D6D6D6;
    box-shadow: 0px 0px 320px 320px #D6D6D6;
    height: calc(100% - 150px);
    top: 65px;
}

#casino_filter_popup {
    background-color: #1A1A1A;
}

.search_switcher {
    background-color: #bbbbbb;
}

    .search_switcher:before {
        background-color: #fff;
    }

.checked .search_switcher {
    background-color: #1DB954;
}

.search__icon::after {
    color: #707070;
}

.search_filter_input:-webkit-autofill,
.search_filter_input:-webkit-autofill:hover,
.search_filter_input:-webkit-autofill:focus,
.search_filter_input:-webkit-autofill:active, .lca-search-input:-webkit-autofill, .lca-search-input:-webkit-autofill:hover, .lca-search-input:-webkit-autofill:focus, .lca-search-input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 50px #bbbbbb !important;
    -webkit-text-fill-color: #000;
}
.casino_h_link_cont.fixed {
    position: static;
}
/*search part*/
.nc__heading {
    color: #303030;
}
.games_filter_list_show:after { 
    border-top: 5px solid #fff;
}
.games_filter_popup .search_filter_input {
    background-color: #bbbbbb !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: #000;
}
.name_vidget { 
  margin-left: 0; 
}
.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

    .games_filter_popup .switcher_label {
        color: #303030;
    }
.header_fix { 
    z-index: 100 !important;
}

.fs__input_wrap .close-search {
    color: #000;
}

    .fs__input_wrap .close-search:after {
        background: #000;
    }

    .fs__input_wrap .close-search:before {
        background: #000;
    }

.game__link_demo {
    background: #303030;
    color: #fff;
}

/*icons opened game info*/
.star__icon.deletfavorite:after {
    color: #ffb700;
    text-shadow: 0px 0px 6px #FF0000;
}

.like_icon:after {
    color: #fff;
}

.star__icon {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.jackpot__value span {
    color: #1DB954;
}

.component_jackpot_slider {
    text-shadow: 0px 0px 6px #FF0000;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: #00912C;
    color: #fff;
}

.game__link_demo {
    background: #303030;
    color: #fff;
}

.game__like {
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}
/*filer*/
.games_filter_title {
    color: #ffffff;
    background-color: #808080;
}

.games_filter_element, .games_filter_list_show {
    background-color: #9d9d9d;
}

.searchContentGame {
    width: 100%;
}

.games_filter_element.active {
    background: #1DB954;
    color: #fff;
}

.filter__more_games {
    color: #fff;
    background: #303030;
    min-height: 31vw;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #bbbbbb;
}

.games_filter_reset {
    background-color: #808080;
}

.games_filter_show {
    background-color: #1DB954;
    color: #fff;
}
/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: #333;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #1DB954;
} 

div.nc__slider_block.w100 {
    min-height: 160px;
} 

.fr__sort_by_drpdwn_el {
    background-color: #c9ccd6;
    z-index: 2;
}
.casino_nav_fav_game_not_found{
    color: #000;
}
.filters_slider_cont {
    background-color: #292929;
}
.more-btn {
    color: #191919;
}

/*left panel*/
#left-panel {
    width: 300px;
    z-index: 9999;
}

.lm__block {
    background-color: #454556;
    color: #fff !important;
}

.lm_link_noic,
.lm_link {
    border-bottom: 1px solid #ffffff;
    background-color: #454556;
    padding: 0 12px !important;
}

    .lm_link a, .lm_link_noic a {
        min-height: 40px;
        color: #fff !important;
    }

.lm__container {
    background-color: #ffffff;
}
.lm__title { 
    color: #454556; 
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.lm__links_block .collapse_dropdown_leftmenu_btn { 
    display: flex;
    align-items: center;
}
.lm_link_noic {
    border-bottom: 1px solid #fff;
}  
.lm__links_block .collapse_dropdown_leftmenu {
    height: 41px;
    background: transparent;
}
/* Panel left closed animated */
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

    .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}  
/*Live casino skinning*/
.lca-main-content {
    background-color: #EBEBEB;
    color: #000;
}

.fixed_menu__li {
    color: #fff;
}

.lca_search__button, .lca_close_icon {
    color: #ffffff;
}

.lca_search_input {
    background-color: #494d58;
    color: #ffffff;
}
  /*Menu*/
.lca_search_cont, .lca-menu {
    background-color: #191919;
}
.lca_search_cont {
    height: 55px;
}
.lca-menu-link {
    color: #fff;
}
.lca-menu-link.active {
    background-color: #1DB954;
    color: #fff;
}
.lca-menu-link.active .lca-menu-badge {
  background-color: #191919;
  color: #1DB954;
}
.lca-menu-badge {
  background-color: #1DB954;
  color: #fff;
}
  /*Submenu*/
.lca-submenu {
    background-color: #323232;
    color: #fff;
}
.lca-submenu-link {
  color: #cccccc;
}
.lca-submenu-link.active {
    color: #1DB954;
}
  /*Game card*/
.lca-card-footer {
    background-color: #191919;
    color: #fff;
}
 .lca-card-footer-btn .star_icon.active, .lca-card-price{
    color: #1DB954;
}
.lca-card-footer-btn {
  background-color: #D6D6D6;
  color: #000;
}
.lca-card-footer-btn .like_icon:after,
.lca-card-footer-btn .star_icon {
  color: #000;
}

.lca-game-preview .like_icon:after,
.lca-game-preview .star_icon:after {
    color: #fff;
}

.lca-category-title {
    background-color: rgba(169, 170, 188, 0.4);
    color: #000;
}
.lca-main-content .star_icon.active:after {
    color: #1DB954;
    text-shadow: 0px 0px 6px #2bde6a;
}
.lca-card-badge.type-1 {
    background-color: #1DB954;
    color: #fff;
}
  /*Filter and search*/
.lca-title {
    color: #000;
}
.lca-input {
  background-color: #D6D6D6;
  color: #333333;
}
.lca-filter-toggle {
    color: #000;
}
.lca-filter-price {
  background-color: #D6D6D6;
  color: #000;
}
.lca-filter-price-input {
  color: #000;
}
.lca-filter-range-divider {
    background-color: #1DB954;
}
.lca-main-content .noUi-target {
    background: #D6D6D6;
}
.lca-main-content .noUi-connect {
    background: #1DB954;
}
.lca-main-content .noUi-handle {
    border-color: #D6D6D6;
    background: #1DB954;
}
.lca-filter-category-item {
    background-color: #D6D6D6;
    color: #000;
}
.lca-filter-category-item.active {
  background-color: #1DB954;
  color: #fff;
}
.lca-search-result-title {
    color: #000;
}
.lca-search-result-filter-item {
    color: #333333;
}
.lca-search-result-filter-item-description {
    color: #000;
}
.lca-dropdown-toggle {
    color: #000;
}
.lca-dropdown {
    background-color: rgba(235, 235, 235, 1);
    color: #000;
}
.lca-dropdown-item {
    color: #000;
}
.lca-back-link {
    color: #333333;
}
.lca-card-more-wrapper {
    background-color: #191919;
    color: #ffffff;
}


.lca-card-more {
    color: #ffffff;
}
.lca-filter-footer {
    background-color: #191919;
    color: #fff;
}
.lca-filter-footer-btn-reset {
    background-color: #323232;
    color: #fff;
}
.lca-filter-footer-btn-show {
    background-color: #1DB954;
    color: #fff;
}
  /*Promotions*/
.lca-promo-text-wrapper {
    background-color: #191919;
    color: #fff;
}
.lca-promo-title {
    color: #fff;
}
.lca-main-content .promo_mobile_cont {
  background-color: #191919;
  color: #fff;
}
.lca-main-content .promo_mobile_title {
  color: #fff;
}
     
.lca-main-content .promo_mobile_text_cont {
  box-shadow: 0 -14px 29px 19px #191919;
}

.lca-card-promo-img::after {
    box-shadow: inset 0px -71px 39px -35px #191919;
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background-color: #1DB954;
    color: #fff;
}

    body .h-bg-primary:hover {
        background-color: #168d40;
        color: #fff;
    }

body .text-primary {
    color: #1DB954;
}

body .bg-secondary, body .h-bg-secondary {
    background-color: #fff;
    color: #000;
}
    body .h-bg-secondary:hover {
        background-color: #eee;
        color: #000;
    }

body .bg-tert, body .h-bg-tert {
    background-color: #fff;
    color: #000;
}

    body .h-bg-tert:hover {
        background-color: #fff;
        color: #000;
    }
/*very new bonus*/
.bonus_card_body {
    background-color: #dcdcdc;
}
.new_bonuses ul .tab_item {
    color: #000 !important;
}