
/* Casino Mobile page */
:root {
    --bodyBg: #EEEEEE;
    --bodyBg2: #dfdfdf;
    --bodyBg3: #cfcfcf;
    --bodyBgHover: #e6e6e6;
    --bodyBg2Hover: #d7d7d7;
    --bodyBg3Hover: #c7c7c7;
    --bodyRGBA: rgba(238, 238, 238, 0.7);
    --bodyRGBA2: rgba(238, 238, 238, 0.5);
    --bodyRGBA3: rgba(238, 238, 238, 0.3);
    --bodyTxt: rgba(0, 0, 0, 0.9);
    --bodyTxt2: rgba(0, 0, 0, 0.6);
    --bodyTxt3: rgba(0, 0, 0, 0.4);
    --bodyAccent: #D80027;
    --bodyAccentTxt: rgba(255, 255, 255, 0.9);
    --bodyBorder: #EEEEEE;
    --bodyRadius: 0px;
    --dominantG: #FFFFFF;
    --dominantRGBA: rgba(255, 255, 255, 0.7);
    --dominantRGBA2: rgba(255, 255, 255, 0.5);
    --dominantRGBA3: rgba(255, 255, 255, 0.3);
    --dominantBg: #FFFFFF;
    --dominantBg2: #f0f0f0;
    --dominantBg3: #e0e0e0;
    --dominantBgHover: #f7f7f7;
    --dominantBg2Hover: #e8e8e8;
    --dominantBg3Hover: #d8d8d8;
    --dominantTxt: rgba(0, 0, 0, 0.9);
    --dominantTxt2: rgba(0, 0, 0, 0.6);
    --dominantTxt3: rgba(0, 0, 0, 0.4);
    --dominantAccent: #D80027;
    --dominantAccentTxt: rgba(255, 255, 255, 0.9);
    --dominantTxtInverse: #fff;
    --dominantRadius: 0px;
    --accentBg: #D80027;
    --accentBg2: #ff0c38;
    --accentBg3: #ff254d;
    --accentBgHover: #e7002a;
    --accentBg2Hover: #ff1b45;
    --accentBg3Hover: #ff3459;
    --accentG: #D80027;
    --accentTxt: rgba(255, 255, 255, 0.9);
    --accentTxt2: rgba(255, 255, 255, 0.6);
    --accentTxt3: rgba(255, 255, 255, 0.4);
    --buttonG: linear-gradient(277deg, #EF8284 0%, #D80027 100%);
    --buttonBg: #D80027;
    --buttonBg2: #ff0c38;
    --buttonBg3: #ff254d;
    --buttonBgHover: #e7002a;
    --buttonBg2Hover: #ff1b45;
    --buttonBg3Hover: #ff3459;
    --buttonTxt: rgba(255, 255, 255, 0.9);
    --buttonTxt2: rgba(255, 255, 255, 0.6);
    --buttonTxt3: rgba(255, 255, 255, 0.4);
    --buttonAccent: #D80027;
    --buttonAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonBorder: #D80027;
    --buttonRadius: 8px;
    --buttonSecondaryG: #FFFFFF;
    --buttonSecondaryBg: #FFFFFF;
    --buttonSecondaryBg2: #f0f0f0;
    --buttonSecondaryBg3: #e0e0e0;
    --buttonSecondaryBgHover: #f7f7f7;
    --buttonSecondaryBg2Hover: #e8e8e8;
    --buttonSecondaryBg3Hover: #d8d8d8;
    --buttonSecondaryTxt: rgba(0, 0, 0, 0.9);
    --buttonSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --buttonSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --buttonSecondaryAccent: #D80027;
    --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryBorder: #EEEEEE;
    --buttonSecondaryRadius: 8px;
    --inputG: #ffffff;
    --inputBg: #ffffff;
    --inputBg2: #e1e1e1;
    --inputBg3: #d1d1d1;
    --inputBgHover: #e8e8e8;
    --inputBg2Hover: #d9d9d9;
    --inputBg3Hover: #c9c9c9;
    --inputTxt: rgba(0, 0, 0, 0.9);
    --inputTxt2: rgba(0, 0, 0, 0.6);
    --inputTxt3: rgba(0, 0, 0, 0.4);
    --inputAccent: #D80027;
    --inputAccentTxt: rgba(255, 255, 255, 0.9);
    --inputRadius: 0px;
    --inputBorder: #EEEEEE;
    --inputSecondaryG: #e8e8e8;
    --inputSecondaryBg: #e8e8e8;
    --inputSecondaryBg2: #d9d9d9;
    --inputSecondaryBg3: #c9c9c9;
    --inputSecondaryBgHover: #e0e0e0;
    --inputSecondaryBg2Hover: #d1d1d1;
    --inputSecondaryBg3Hover: #c1c1c1;
    --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
    --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --inputSecondaryAccent: #D80027;
    --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryRadius: 0px;
    --inputSecondaryBorder: #EEEEEE;
    --headerG: #01133A;
    --headerBg: #01133A;
    --headerBg2: #00091c;
    --headerBg3: #000000;
    --headerBgHover: #010e2b;
    --headerBg2Hover: #00040d;
    --headerBg3Hover: #000000;
    --headerTxt: rgba(255, 255, 255, 0.9);
    --headerTxt2: rgba(255, 255, 255, 0.6);
    --headerTxt3: rgba(255, 255, 255, 0.4);
    --headerAccent: #D80027;
    --headerAccentTxt: rgba(255, 255, 255, 0.9);
    --headerBorder: #EEEEEE;
    --headerRadius: 0px;
    --subHeaderG: #00040d;
    --subHeaderBg: #00040d;
    --subHeaderBg2: #000000;
    --subHeaderBg3: #000000;
    --subHeaderBgHover: #000000;
    --subHeaderBg2Hover: #000000;
    --subHeaderBg3Hover: #000000;
    --subHeaderTxt: rgba(255, 255, 255, 0.9);
    --subHeaderTxt2: rgba(255, 255, 255, 0.6);
    --subHeaderTxt3: rgba(255, 255, 255, 0.4);
    --subHeaderAccent: #D80027;
    --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --subHeaderBorder: #EEEEEE;
    --subHeaderRadius: 0px;
    --modalG: #f0f0f0;
    --modalBg: #f0f0f0;
    --modalBg2: #e1e1e1;
    --modalBg3: #d1d1d1;
    --modalBgHover: #e8e8e8;
    --modalBg2Hover: #d9d9d9;
    --modalBg3Hover: #c9c9c9;
    --modalTxt: rgba(0, 0, 0, 0.9);
    --modalTxt2: rgba(0, 0, 0, 0.6);
    --modalTxt3: rgba(0, 0, 0, 0.4);
    --modalAccent: #D80027;
    --modalAccentTxt: rgba(255, 255, 255, 0.9);
    --modalRadius: 0px;
    --modalBorder: #EEEEEE;
    --tabG: #f0f0f0;
    --tabBg: #f0f0f0;
    --tabBg2: #e1e1e1;
    --tabBg3: #d1d1d1;
    --tabBgHover: #e8e8e8;
    --tabBg2Hover: #d9d9d9;
    --tabBg3Hover: #c9c9c9;
    --tabTxt: rgba(0, 0, 0, 0.9);
    --tabTxt2: rgba(0, 0, 0, 0.6);
    --tabTxt3: rgba(0, 0, 0, 0.4);
    --tabAccent: #D80027;
    --tabAccentTxt: rgba(255, 255, 255, 0.9);
    --tabRadius: 0px;
    --tabBorder: #EEEEEE;
    --tabActiveG: #e8e8e8;
    --tabActiveBg: #e8e8e8;
    --tabActiveBg2: #d9d9d9;
    --tabActiveBg3: #c9c9c9;
    --tabActiveBgHover: #e0e0e0;
    --tabActiveBg2Hover: #d1d1d1;
    --tabActiveBg3Hover: #c1c1c1;
    --tabActiveTxt: rgba(0, 0, 0, 0.9);
    --tabActiveTxt2: rgba(0, 0, 0, 0.6);
    --tabActiveTxt3: rgba(0, 0, 0, 0.4);
    --tabActiveAccent: #D80027;
    --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabActiveRadius: 0px;
    --tabActiveBorder: #EEEEEE;
    --tooltipG: #f0f0f0;
    --tooltipBg: #f0f0f0;
    --tooltipBg2: #e1e1e1;
    --tooltipBg3: #d1d1d1;
    --tooltipBgHover: #e8e8e8;
    --tooltipBg2Hover: #d9d9d9;
    --tooltipBg3Hover: #c9c9c9;
    --tooltipTxt: rgba(0, 0, 0, 0.9);
    --tooltipTxt2: rgba(0, 0, 0, 0.6);
    --tooltipTxt3: rgba(0, 0, 0, 0.4);
    --tooltipAccent: #D80027;
    --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --tooltipRadius: 0px;
    --tooltipBorder: #EEEEEE;
}


.LogoMobilePlatform {
    width: 26vw;
}