@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Ubuntu:wght@400;500;700&display=swap');

body {
    --bg-level-1: #03070d;
    --bg-level-2: #0d0e12;
    --bg-level-3: #515871;
    --bg-level-4: #626a88;
    --text-level-high: #FFFFFF;
    --text-level-medium: #CCCCCC;
    --text-level-low: #999999;
    --icon-level-high: #FFFFFF;
    --icon-level-medium: #CCCCCC;
    --icon-level-low: #999999;
    --btn-primary: #ecbd7a;
    --btn-primary-text: #000000;
    --btn-secondary: #3a4654;
    --btn-secondary-text: #CCCCCC;
    --badge-notification: #e73232;
    --badge-bonus: #ecbd7a;
    --primary: #ecbd7a;
    --text-on-primary: #000000;
}

/*banner navigation*/
.cas_nav_prev,
.cas_nav_next,
.lca-voice-icon {
    background-color: rgba(23,23,23,0.4);
}

/*all important styles*/
body, #wrapper, .bgMain {
    background-color: #03070d;
    color: #B3B3B3;
    font-family: 'Shippori Antique','Ubuntu', sans-serif;
}

button, input, select, textarea, .ui-btn {
    font-family: 'Shippori Antique','Ubuntu', sans-serif;
}

.heading {
    color: #fff;
    background-color: #181D23;
}

.sub_heading {
    color: #edbd7b;
}

/*inputs*/
#wrapper input::placeholder {
    color: #999999;
}

#wrapper input:-ms-input-placeholder {
    color: #999999;
}

#wrapper input::-ms-input-placeholder {
    color: #999999;
}

input:read-only {
    opacity: 1;
}

.accRowClr {
    background-color: #181d23;
    color: #b3b3b3;
}

.accRowClr td, .accRowClr td a {
    color: #b3b3b3;
}

/*header*/
.casino_h_link_cont .clr_sec {
    background: #08090D;
}

.btn_deposit {
    color: #fff;
}

.casino_links_tabs .home_icon:before {
    color: #B3B3B3;
}

.casino_links_tabs .ui-link.active .home_icon:before {
    color: #edbd7b;
}

.casino_links_tabs a {
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
    padding: 0 14px;
}

.tl_main_nav_item-active,
#left-panel .tl_main_nav_item-active {
    color: #edbd7b !important;
}

.casino_links_tabs a.active {
    color: #EDBD7B;
    background-color: #181D23;
}

.LinkToLeftPanel:before {
    color: #B3B3B3;
}

.LogoMobilePlatform {
    background-image: var(--cdn-logo_svg);
    width: 128px;
    height: 38px;
    margin: 0 3px;
}

@media screen and (max-width: 420px) {
    .LogoMobilePlatform {
        width: 110px;
        height: 32px;
    }
}

.ic, #header .txt {
    color: #ffffff;
}

#header .txt {
    height: 15px !important;
    line-height: 1 !important;
}

#header .txt {
    display: block;
}

#header .txt:last-child {
    color: #edbd7b;
}

.go_to_right_menu {
    position: relative;
}

@media screen and (max-width: 420px) {
    #menu-right .txt {
        max-width: 140px;
    }
}

/*all buttons*/
.btn_sec {
    background-color: #edbd7b !important;
    color: #000 !important;
}

.toWeb.btn_sec {
    background-color: #181D23 !important;
    color: #B3B3B3 !important;
    height: 44px;
    line-height: 44px !important;
    margin-bottom: 30px;
    border-image-source: linear-gradient(to right, #EDBD7B, #563D29) !important;
    border: 2px solid;
    border-image-slice: 1;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 30px;
}

.toTopBox {
    background-color: #181D23;
    border-image-source: linear-gradient(to right, #EDBD7B, #563D29) !important;
    border: 2px solid;
    border-image-slice: 1;
}

.btn_prim {
    background: rgb(237,189,123);
    background: linear-gradient( 90deg, rgba(237,189,123,1) 0%, rgba(86,61,41,1) 100%);
    color: #1A1A1A !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    height: 36px;
    line-height: 36px !important;
}

.accRowClr .btn_prim {
    background: rgb(237,189,123);
}

.platformMobLog.btn_sec {
    background-color: transparent !important;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 500;
}

.platformMobReg.btn_prim {
    background-color: transparent !important;
    font-size: 12px;
    color: #edbd7b !important;
    font-weight: 500;
}

.platformMobReg, .platformMobLog {
    border: none;
    padding: 0px 5px;
    text-transform: uppercase;
    margin: 0 2px;
    border-radius: 5px;
}

/*new landing homepage*/
.tl_popup_content {
    color: #fff;
}

.matches_block iframe {
    height: 460px;
}

.tl_navigation {
    min-width: 250px;
    background: #070f12;
    padding: 2px 2px 0;
}

.nav_item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.block_title {
    background: #0D0E12;
    color: #ebc805;
    font-weight: 600;
    border-bottom: 2px solid;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    margin: 0;
}

.tl_nav_link {
    width: calc(50% - 8px);
    max-width: 49%;
    margin: 4px;
    border-radius: 8px;
    min-height: 13vw;
}

.nav_item {
    background: #08090c;
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
}

.tl_nav_link {
    padding-right: 1px;
    padding-left: 1px;
}

.block_title:before {
    color: #666666;
}

/*popup after login*/
.tl_popup_container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 101;
    top: 0;
    left: 0;
}

.tl_popup_header {
    background-color: #0D0E12;
    border-radius: 2px 2px 0 0;
    height: 47px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.tl_head_text {
    width: calc((100%) - 20px);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}

.tl_head_close {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.tl_popup_header .tl_head_close {
    top: 12px;
}

.tl_head_close:after {
    content: "\35";
    font-family: ProductIconsFont;
}

#header {
    min-height: 44px;
    background: #0D0E12;
}

.header__wrap_block {
    height: 88px;
}

/*welcome to the*/
.footer__dropdown_content {
    width: 100%;
    margin: auto;
    padding: 20px 0 40px;
}

.footer__dropdown {
    width: 100%;
    flex-direction: column;
}

/*left and right menu*/
.collapse_dropdown_leftmenu_btn:after {
    border-color: #fff transparent transparent transparent;
}

.left-logo:before {
    content: "\3c";
}

#left-panel {
    background: #0D0E12;
}

#left-panel .menuBtn {
    background: #181D23;
    color: #ffffff !important;
}

.left-menu a:before {
    font-size: 30px;
    color: #ffffff;
}

.menuBtn {
    background: #F3F3F3;
    margin-bottom: 3px;
}

.menuBtnSm {
    background: #F3F3F3;
    color: #ffffff !important;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 20px;
}

.menuBtn .txt {
    font-size: 12px;
    font-weight: 400;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn, #right-panel .menuBtn {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    background: #181D23;
}

.platformForgPass {
    color: #ffffff !important;
}

.menuRow {
    color: #ffffff !important;
    background: #181D23;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-size: 12px;
}

.menuRow:not(.menu_inbox) {
    justify-content: space-between;
}

.menuRow .bonuce_balance_currency {
    padding: 0;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: #03070d !important;
    color: #F3F3F3 !important;
    padding: 0;
}

#right-panel .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content > .menuBtn {
    background: #0D0E12;
    margin: 0;
    color: #999999 !important;
    border-bottom: 2px solid #0D0E12;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px;
}

#right-panel .menuBtn, #right-panel .menuBtn a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    height: 36px;
}

#right-panel .ui-btn-icon-right:after {
    top: 17px !important;
}

.mobile_first_number {
    width: 86px;
    margin-bottom: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    margin: 0 0 3px 0;
}

.row {
    margin: 5px auto;
}

.right_menu_header {
    background: #0D0E12;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    line-height: 44px;
    padding: 12px 0 4px;
}

.right_menu_close {
    color: #181D23;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    right: 16px;
    top: 14px;
    background-color: #666666;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

#right-panel #sidebar-user {
    background-color: #0D0E12;
}

.account_title {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 14px;
    padding: 0 8px;
}

.playerId {
    margin: 12px 8px 24px;
    color: #FFFFFF;
}

.tl_logo,
.right_menu_logo {
    background-image: var(--cdn-logo_svg);
    background-size: contain;
    margin: 0px auto;
    background-repeat: no-repeat;
}

.tl_logo {
    width: 108px;
    height: 33px;
    margin: 0 10px;
}

.right_menu_logo {
    width: 150px;
    height: 46px;
}

.footer_bottom,
.tl_logo {
    margin-bottom: 22px;
}

#left-panel .menuBtnSm {
    color: #ffffff !important;
    background-color: #181D23;
    font-weight: 400;
}

#registerForm .drop-down {
    font-size: 14px;
}

.reg_info {
    font-size: 12px;
    height: auto;
    line-height: 1.5;
    display: block;
    text-align: left;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 0 15px;
}

/*bonuses*/
#bonusesNavBar > .ui-link {
    background: #181D23;
    color: #999999;
}

#bonusesNavBar > .ui-link.active {
    background: #edbd7b;
    color: #03070d;
}

#bonuses_content {
    color: #999999;
    padding: 30px 15px;
}

#bonuses_content .activate_btn {
    background-color: #edbd7b !important;
    color: #fff !important;
}

#privacyPolicyLink {
    color: #999999;
}

/*casino*/
.clr_sec {
    background-color: #0D0E12;
}

.casino-tabs .clr_prim {
    background: #172435;
    color: #fff !important;
}

.clr_prim {
    background-color: #070f1a;
    color: #fff !important;
}

.list-menu1 li {
    background: #FFF !important;
    color: #999999;
}

/*promotions*/
.promo_mobile_cont {
    background-color: #1a1a1a;
}

.promo_mobile_title {
    color: #edbd7b;
}

.promo_mobile_descr, .promo_img {
    color: #999999;
}

/*inbox*/
#inbox {
    display: flex;
    flex-direction: column;
}

.tl_msg_button_cont {
    order: -1;
    width: 100%
}

.tl_mail_details_box {
    font-size: 10px;
}

.tl_mail_item {
    background: #0D0E12;
    border-bottom: 2px solid #181D23;
}

.tl_mail_icon,
.tl_mail_details, .tl_mail_details_title {
    color: #fff;
}

.tl_mail_row .tl_mail_icon, .tl_mail_row .tl_mail_details, .tl_mail_row .tl_mail_details_title {
    color: #000;
}

.tl_mail_message_cont .tl_mail_details_title {
    color: #edbd7b;
}

.tl_mail_details_box {
    margin-top: 4px;
}

.tl_mail_msgId {
    color: #edbd7b;
}

.tl_mail_item.unread {
    background: #181D23;
}

.tl_mail_row .tl_mail_msgId {
    color: #6E7271;
}

.tf_arrow_icon:before {
    font-style: normal;
    margin-left: -7px;
    margin-right: 5px;
}

textarea.ui-input-text {
    background-color: #181d23 !important;
    color: #CBCBCB;
    min-height: 90px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tl_mail_attachfiel_download_btn {
    background-color: #4D4D4D;
}

.tl_mail_attachfiel_screp, .tl_mail_attachfiel {
    color: #999999;
}

.tl_mail_row {
    background: #EBEBEB;
}

.tl_mail_message_cont .ui-corner-all {
    margin: 20px 0 !important
}

.tl_msg_button {
    color: #1A1A1A;
    background-color: #edbd7b;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.profile_upload .upload_file_btn {
    text-align: center;
    width: fit-content;
    line-height: 36px;
    color: #1A1A1A;
}

.profile_upload {
    background-color: #edbd7b;
    color: #FFFFFF;
}

.upload_file_btn {
    width: fit-content;
    text-align: center;
}

.tl_mail_attachfiel_content .profile_upload {
    background-color: #b39872;
}

.profile_upload > .tl_mail_attachfiel_screp:before {
    font-size: 23px;
    color: #1A1A1A;
}

.profile_upload i {
    width: 28px;
}

.tl_msg_attach_button {
    color: #fff;
    background-color: #181D23;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_mail_message_body, .tl_mail_send_area {
    background: #181D23;
    color: #fff;
}

.tl_mail_date_div {
    font-size: 12px;
}

.tl_mail_details_subject {
    color: #edbd7b;
    margin-right: 4px;
}

.tl_mail_message_cont .flexend.tl_mail_btn_cont {
    position: relative;
    padding-bottom: 25px;
}

/*deposit && withdrawal*/
.collapse_btn h3 > a {
    background: #ddd;
}

.paym_txt, .paym_cond > span {
    color: #B3B3B3;
}

.lbl-success {
    background: #edbd7b;
}

.left-skillgames {
    text-transform: capitalize;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}

.btn_affiliate {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.exchangeripg {
    width: 76px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -7935px -153px;
}

/*inputs optimisation*/
.first_reg_template .reg_mobile_code,
input,
.reg_input, .tl_mail_send_area,
.custon_select__front_el, .drop-down, .drop-down-small, #content_paym .ui-select span, #content_paym .ui-select select,
.reg__checkboxes_row,
.reg__gender_row label, .profile_container .reg__gender_row label {
    background-color: #181D23;
    color: #FFFFFF;
}

.reg__checkboxes_row {
    background-color: transparent;
}

.reg__row_title, .profile_container label, .transfer2friend_cont label, #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: #a3a3a3;
}

.forgot_pass__row .refresh-captcha:before, .platformRightLoginPanel .refresh-captcha:before {
    color: #B3B3B3;
}

#profileForm input:not(#BirthDate):read-only {
    opacity: 0.4;
}

#profileForm .disabled:read-only {
    opacity: 0.4;
}

#profileForm select.disabled:read-only {
    opacity: 0;
}
/*casino game tabs*/
.row_game_tabs {
    padding: 0;
}

.col_game_tabs img {
    max-height: 55px;
}

.tl_game_tab_item {
    background-color: #1c1c1c;
}

.new_livecs_container {
    background-color: #0d0d0d;
}
/*live casino page*/

.new_livecs_container .row_game_tabs {
    background-color: #080808;
}

.tl_head_close:after {
    content: "\35";
    font-family: ProductIconsFont;
}

/*footer*/
.footer_icons {
    padding: 20px 0 0;
}

.footer_icons span {
    display: block;
    background-repeat: no-repeat;
    margin: 10px;
}

.footer_icons .kiosik {
    background-position: 0 0;
    height: 20px;
    width: 81px;
}

.footer_icons .eps {
    background-position: 0 -25px;
    height: 34px;
    width: 48px;
}

.footer_icons .mastercard {
    background-position: 0px -64px;
    height: 39px;
    width: 50px;
}

.footer_icons .sofort {
    background-position: 0 -109px;
    height: 42px;
    width: 62px;
}

.footer_icons .tether {
    background-position: 0px -156px;
    height: 47px;
    width: 47px;
}

.footer_icons .visa {
    background-position: 0px -208px;
    height: 20px;
    width: 66px;
}

.footer_icons .ethereum {
    background-position: 0px -233px;
    height: 48px;
    width: 67px;
    background-color: transparent;
}

.footer_icons .pay_android {
    background-position: 0px -284px;
    height: 34px;
    width: 48px;
}

.footer_icons .pay_ios {
    background-position: 0px -323px;
    height: 34px;
    width: 48px;
}

.footer_icons .bitcoin {
    background-position: 0px -363px;
    height: 20px;
    width: 95px;
}

.footer_icons .dogecion {
    background-position: 0px -389px;
    height: 41px;
    width: 41px;
}

/*social icons*/
.social_icons {
    padding: 0;
    margin: 20px 0;
}

.social_icons a {
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 8px 0 0;
    background-repeat: no-repeat;
}

.social_icons .facebook {
    background-position: 0 -442px;
}

.social_icons .instagram {
    background-position: 0 -482px;
}

.social_icons .youtube {
    background-position: 0 -522px;
}


.social_icons .telegram {
    background-position: 0 -561px;
}

.social_icons .twetter {
    background-position: 0 -602px;
}

.call_us, .drop_down_lang {
    background: #DEDEDE !important;
    border-radius: 3px;
    color: #666666 !important;
    height: 36px;
    line-height: 36px;
    margin: 0 5px;
}

.call_us {
    padding: 0 15px;
    text-align: left;
}

#footer {
    background: #0D0E12;
}

#footer img {
    max-width: 100%;
}

.drop_down_lang {
    background: #999999;
    border-radius: 3px;
    color: #000;
}

.phone_lang_cont {
    justify-content: center;
}

#footer-links {
    padding: 30px 0;
}

.footer_links a {
    color: #ffffff;
    font-size: 14px;
}

.call_us {
    padding: 0 15px;
    text-align: left;
}

.call_us, .drop_down_lang {
    background: #181D23 !important;
    border-radius: 3px;
    color: #FFFFFF !important;
    height: 36px;
    line-height: 36px;
    margin: 0 5px;
}

.copy {
    color: #edbd7b;
}

.plus18Icon {
    width: 32px;
    margin: 4px 10px 0;
    color: #818181;
    font-size: 30px;
}

.footer_text {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}

.footer_text img {
    width: 100%;
    height: auto;
}

.drop_down_lang_arrow:after {
    right: 15px;
    top: 16px;
}
/*deposit && withdrawal*/
.collapse_btn h3 > a {
    background: #ddd;
}

.lbl-success {
    background: #861621;
}

.left-skillgames {
    text-transform: capitalize;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}

.btn_affiliate {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.exchangeripg {
    width: 76px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -7935px -153px;
}

#wrapper .casino-tab-container .search {
    margin-top: 4px;
    height: 41px;
}

.casino-tab-container .close-search {
    top: 5px;
}

.samanbankwithdrawl {
    width: 59px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -599px -91px;
}

/*POKER LOGIN POPUP*/
.pokerInfo_cont {
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
}

.pokerInfo_block {
    width: 592px;
    min-height: 360px;
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}


.pokerInfo {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    line-height: 26px;
}

.btn_log_poker {
    display: block;
    width: 116px;
    height: 36px;
    margin: 16px auto 0;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    background-color: #edbd7b !important;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn_log_poker.btn_sec {
    border: 1px solid #707070;
    background-color: transparent !important;
    color: #fff !important;
}

.pokerInfo_block img {
    max-width: 75px;
}

/*POKER LOGIN POPUP*/

/*left menu without icons*/
#left-panel .menuBtnSm,
#left-panel .menuBtn {
    height: 64px;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}

.collapse_dropdown_leftmenu {
    height: 66px;
}

.collapse_dropdown_leftmenu_btn:before {
    content: "";
    width: 35px;
    height: 2px;
    display: block;
}

#left-panel .menuBtnSm {
    line-height: 64px;
}

.menuBtn .txt {
    font-size: 15px;
}

/*live casino and betgames albatross*/
.project_col_game_tabs .title_name {
    background: #C20C01;
    color: #fff;
}

#content.live_casino_container {
    background: #eae9e9;
}

.text-primary {
    color: #edbd7b;
}

/*new redesign styles*/
.landing_contet {
    background-color: #0D0E12;
}

.name_vidget {
    color: #fff;
    background: rgba(23, 23, 23, 0.5);
}

.with_shadow_slider .swiper-slide {
    -webkit-box-shadow: inset 0px -72px 40px -22px #03070d;
    -moz-box-shadow: inset 0px -72px 40px -22px #03070d;
    box-shadow: inset 0px -72px 40px -22px #03070d;
}

/*games containers*/
.favorite_see__notlogin_text {
    color: #F2F2F2;
}

/*casino navigation*/
.fixed_menu__play_button {
    background: #0d0e12;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #0d0e12;
}

.more_menu_btns_content:before {
    border: 78px solid rgba(13,14,18,0.94);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button,
.fixed_menu__li.active {
    color: #edbd7b;
}

.casino_nav__links_block {
    background: #303030;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: #fff;
}

.casino_nav__links_block a.active {
    color: #edbd7b;
}

.casino-tab-container.casino_fixed_menu, .lc-fixed-menu {
    top: 44px;
    z-index: 4;
}

/*play page promotions*/
.play__promo_mobile_li {
    background-color: #262626;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}


.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}

.play__promo_text {
    margin-bottom: 45px
}

.promo_mobile_descr {
    max-height: 176px;
}

/*filter and search*/
#searchContent .popup_flex_box {
    background: #000;
    box-shadow: 0px 0px 320px 320px #000;
    height: calc(100% - 150px);
    top: 65px;
}

#casino_filter_popup {
    background-color: #1A1A1A;
}

.search_switcher {
    background-color: #cfcfcf;
}

.search_switcher:before {
    background-color: #fff;
}

.checked .search_switcher {
    background-color: #edbd7b;
}

.search__icon::after {
    color: #707070;
}

.search_filter_input:-webkit-autofill,
.search_filter_input:-webkit-autofill:hover,
.search_filter_input:-webkit-autofill:focus,
.search_filter_input:-webkit-autofill:active, .lca-search-input:-webkit-autofill, .lca-search-input:-webkit-autofill:hover, .lca-search-input:-webkit-autofill:focus, .lca-search-input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 50px #262626 !important;
    -webkit-text-fill-color: #fff;
}

/*search part*/
.nc__heading {
    color: #ffffff;
}

.games_filter_popup .search_filter_input {
    background-color: #262626 !important;
    box-shadow: 0px 3px 6px #0D0E124D;
    color: #FFFFFF;
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

.games_search_content .list-menu1 li {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}

.fs__input_wrap .close-search {
    color: #fff;
}

.fs__input_wrap .close-search:after {
    background: #fff;
}

.fs__input_wrap .close-search:before {
    background: #fff;
}

.game__link_demo {
    background: #303030;
    color: #fff;
}

/*icons opened game info*/
.star__icon.deletfavorite:after {
    color: #edbd7b;
    text-shadow: 0px 0px 6px #FF0000;
}

.like_icon:after {
    color: #fff;
}

.star__icon {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.jackpot__value span {
    color: #edbd7b;
}

.component_jackpot_slider {
    text-shadow: 0px 0px 6px #FF0000;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: #00912C;
    color: #fff;
}

.game__link_demo {
    background: #303030;
    color: #fff;
}

.game__like {
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}

/*filer*/
.games_filter_title {
    color: #ffffff;
    background-color: #333;
}

.games_filter_element, .games_filter_list_show {
    background-color: #333;
}

.games_filter_element.active {
    background: #edbd7b;
    color: #262626;
}

.filter__more_games {
    color: #fff;
    background: #303030;
    min-height: 31vw;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #262626;
}

.games_filter_reset {
    background-color: #161415;
}

.games_filter_show {
    background-color: #edbd7b;
    color: #000
}

.landing_jackpot_content {
    padding: 15px 10px 0;
}

.landing_contet .name_vidget {
    margin-bottom: 4px;
}

/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: #333;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #edbd7b;
}

div.nc__slider_block.w100 {
    min-height: 160px;
}

.fr__sort_by_drpdwn_el {
    background-color: #303030;
}

/*left panel*/
#left-panel {
    width: 300px;
    z-index: 9999;
}

.lm_link_noic,
.lm_link {
    border-bottom: 1px solid #0D0E12;
    background-color: #181D23;
    padding: 0 12px !important;
}

#left-panel .lm_text_content {
    max-width: 83%;
}

.lm__block {
    background-color: #181D23;
}

.lm_link a, .lm_link_noic a {
    min-height: 40px;
}

.lm__container {
    background-color: #0D0E12;
}

.lm__container .dynamic_bagge { 
    line-height: 12px; 
}

.lm_link .promoted.sq:after {
    content: 'E RE';
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.lm_link_noic {
    border-bottom: 1px solid #333333;
}

/* Panel left closed animated */
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.toto .ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

    .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}

/*Live casino skinning*/
.lca-main-content {
    /*background-color: #1A1A1A;*/
    background-color: #08090D;
    color: #fff;
}

/*Menu*/
.lca_search_cont, .lca-menu {
    background-color: #08090d;
}

.lca-menu-link {
    color: #b5b6b7;
}

.lca-menu-link.active {
    background-color: #edbd7b;
    color: #000;
}

.lca-menu-link.active .lca-menu-badge {
    background-color: #0D0E12;
    color: #edbd7b;
}

.lca-menu-badge {
    background-color: #edbd7b;
    color: #000;
}

/*Submenu*/
.lca-submenu {
    background-color: #0b0d11;
    color: #fff;
}

.lca-submenu-link {
    color: #b5b6b7;
}

.lca-submenu-link.active {
    color: #edbd7b;
}

/*Game card*/
.lca-card-footer {
    background-color: #0D0E12;
    color: #fff;
}

.lca-card-footer-btn .star_icon.active, .lca-card-price {
    color: #edbd7b;
}

.lca-card-footer-btn {
    background-color: #333333;
    color: #fff;
}

.lca-card-footer-btn .like_icon:after,
.lca-card-footer-btn .star_icon {
    color: #fff;
}

.lca-category-title {
    background-color: rgba(51, 51, 52, 0.7);
    color: #fff;
}

.lca-main-content .star_icon.active:after {
    color: #edbd7b;
    text-shadow: 0px 0px 6px #ffc533;
}

.lca-card-badge.type-1 {
    background-color: #ffb700;
    color: #000;
}

/*Filter and search*/
.lca-title {
    color: #fff;
}

.lca-input {
    background-color: #333333;
    color: #cccccc;
}

.lca-filter-toggle {
    color: #fff;
}

.lca-filter-price {
    background-color: #333333;
    color: #fff;
}

.lca-filter-price-input {
    color: #fff;
}

.lca-filter-range-divider {
    background-color: #edbd7b;
}

.lca-main-content .noUi-target {
    background: #333333;
}

.lca-main-content .noUi-connect {
    background: #edbd7b;
}

.lca-main-content .noUi-handle {
    border-color: #333333;
    background: #edbd7b;
}

.lca-filter-category-item {
    background-color: #333333;
    color: #fff;
}

.lca-filter-category-item.active {
    background-color: #edbd7b;
    color: #000;
}

.lca-search-result-title {
    color: #fff;
}

.lca-search-result-filter-item {
    color: #cccccc;
}

.lca-search-result-filter-item-description {
    color: #fff;
}

.lca-dropdown-toggle {
    color: #fff;
}

.lca-dropdown {
    background-color: rgba(51, 51, 52, 0.9);
    color: #fff;
}

.lca-dropdown-item {
    color: #fff;
}

.lca-filter-no-result .ic_search {
    color: #ffffff;
}

.lca-back-link {
    color: #cccccc;
}

.lca-card-more-wrapper {
    background-color: #1a1a1a;
    color: #fff;
}

.lca-card-more {
    color: #fff;
}

.lca-filter-footer {
    background-color: #0D0E12;
    color: #fff;
}

.lca-filter-footer-btn-reset {
    background-color: #444444;
    color: #fff;
}

.lca-filter-footer-btn-show {
    background-color: #edbd7b;
    color: #000;
}

/*Promotions*/
.lca-promo-text-wrapper {
    background-color: #0D0E12;
    color: #fff;
}

.lca-promo-title {
    color: #fff;
}

.lca-main-content .promo_mobile_cont {
    background-color: #1a1a1a;
    color: #fff;
}

.lca-main-content .promo_mobile_title {
    color: #fff;
}

.lca-main-content .promo_mobile_text_cont {
    box-shadow: 0 -14px 29px 19px #0D0E12;
}

.lca-card-promo-img::after {
    box-shadow: inset 0px -71px 39px -35px #0D0E12;
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background: #edbd7b;
    color: #0D0E12;
}

body .h-bg-primary:hover {
    background-color: #E0BE00;
    color: #0D0E12;
}

body .text-primary {
    color: #edbd7b;
}

body .bg-secondary, body .h-bg-secondary {
    background: #181D23;
    color: #fff;
}

body .h-bg-secondary:hover {
    background: #181D23;
    color: #fff;
}

body .bg-tert, body .h-bg-tert {
    background-color: #08090D;
    color: #fff;
}

.document_upload_content .bg-tert {
    background-color: #181D23;
}

body .h-bg-tert:hover {
    background-color: #08090D;
    color: #fff;
}

body .favorite_see__notlogin_button {
    background: rgb(237,189,123);
    background: linear-gradient( 90deg, rgba(237,189,123,1) 0%, rgba(86,61,41,1) 100%);
    color: #1A1A1A !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    height: 36px;
    line-height: 36px !important;
}

.rate_text_color {
    color: #999;
}

.warning_popup_albatross .tl_popup_content {
    background-color: #181D23;
}

.royalcrypto {
    width: 70px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -3843px -92px;
}

/*very new bonus*/
.bonus_card_body {
    background-color: #282828;
}
