/*ADDED FOR REASON REMOVE LATER*/
body {
    --bg-level-1: #000;
    --bg-level-2: #292929;
    --text-level-high: #fff;
    --primary: #E19C37;
    --text-on-primary: #000;
}

.loading {
    background: url() no-repeat 50% 50% !important;
    min-height: 200px;
}

.bgMain {
    background-color: #000000 !important;
}
.casino_h_link_cont {
    background-color: #141414;
}

#header .bgMain {
    background-color: #292929 !important;
}

.btn_sec,
.clr_sec {
    background-color: #141414 !important;
    color: #fff !important;
}

.marloncark {
    flex-shrink: 0;
    flex-grow: 0;
    width: auto;
    height: auto;
}

.marloncark a {
    width: 105px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn_prim { 
    color: #000 !important;
    background: transparent linear-gradient(180deg, #E19C37 0%, #F8D87F 51%, #E19C37 100%) 0% 0% no-repeat padding-box;
}

.platformMobLog {
    background-color: transparent !important;
    color: #fff !important;
    text-transform: uppercase;
}

.platformMobReg {
    background: transparent !important;
    color: #F3A817 !important;
    text-transform: uppercase;
    padding-right: 10px;
}

.clr_prim {
    background-color: #E19C37;
    color: #000 !important;
}

.depositDialog {
    background: url();
    width: 30px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
}

.heading {
    background-color: #292929 !important;
    color: #fff !important;
    border-bottom: 2px solid #E19C37;
}

.sub_heading {
    color: #E19C37;
}

.menuBtn {
    background-color: #333;
    color: #fff !important;
    margin-bottom: 4px;
}

    .menuBtn a {
        color: #fff !important;
    }

.menuBtnSm {
    background-color: #333;
    color: #fff !important;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    padding: 0;
}

.ui-collapsible-inset, .ui-collapsible-set {
    margin: 0;
}

.ui-collapsible-content .menuBtn {
    background-color: #1c1c1c;
}

#header .txt {
    color: #fff;
    display: block;
}

.LinkToLeftPanel:before {
    font-size: 26px;
    line-height: 36px;
    color: #999999;
}

.menuRow {
    background-color: #333;
    color: #fff !important;
    height: 40px;
    margin-bottom: 4px;
}

.pagIt {
    background-color: #c4c4c4;
    color: #111;
}

.footer_title {
    text-transform: uppercase;
}

.footer_title,
.footer_links a {
    color: #999;
    font-size: 15px;
    display: block
}

.footer_links li {
    padding: 0 4%;
}

.footer_links a {
    font-size: 13px;
    margin-bottom: 13px;
}
.footer-providers {
    border-bottom: 2px solid #141414;
    padding-bottom: 20px;
    margin-bottom: 35px;
}
.license_block ul {
    margin-bottom: 15px;
}

#copyright {
    background: none;
    color: #999;
    padding: 14px 0 18px 8px;
}

.list-menu li a span {
    color: #E19C37;
}

.list-menu li a i {
    visibility: hidden;
}

.nav {
    background: none;
}
/*main content*/
.left-logo:before {
    content: "<";
}

.collapse_dropdown_leftmenu {
    height: 48px;
}

.collapse_dropdown_leftmenu_btn:after {
    border-color: #fff transparent transparent transparent;
}
/*	datepicker color changes	*/
.ui-widget-header {
    background: #02954e !important;
    border: none;
}

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #02954e;
        background: #02954e;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #02954e;
        background: green url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #02954e;
    }

#home-cannon21 {
    background: url();
    background-size: cover;
}

#footer {
    background-color: #292929;
    position: relative;
    z-index: 2
}

.mobile_apps {
    margin: 0 10px;
}

    .mobile_apps img {
        max-height: 100px;
        max-width: 100%;
    }

.header__wrap_block {
    height: 84px;
}
.header__wrap_block.header_fix {  
    z-index: 100 !important;
}
#bonusesNavBar > .tab_item.active {
    color: #E19C37;
}
.header_gif {
    max-height: 40px;
    margin: 0 7px;
}
.LogoMobilePlatform, .casino_links_tabs .LogoMobilePlatform {
    width: 50px;
    height: 35px;
    background-position: 10px;
    margin-top: 4px;
}
.casino_links_tabs .tl_main_nav_item-active {
    color: #F3A817;
}

#betSlip a {
    background-color: #E19C37;
    border: 0;
    border-radius: 3px 3px 0 0;
}

#scroll {
    background-color: #E19C37;
}

.ui-shadow-inset {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-select .ui-btn > span:not(.ui-li-count) {
    margin-top: 0px;
}

.ui-select .ui-btn select {
    margin-top: 0 !important;
    opacity: 1;
    height: 25px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
}

.games li label {
    background-color: #F3A817 !Important;
}

.cannon, .cashtransfer {
    width: 68px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -1465px -122px;
}

.perfectmoney, .perfectmoneywithdrawal, .perfectmoneydeposit {
    width: 70px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -1896px -123px;
}


#CurrencyCode-button {
    min-height: 36px;
}

.MobileIcon {
    width: max-content;
    margin: 0 auto !important;
    margin-bottom: 7px !important;
    position: relative;
    height: 36px;
    border: 2px solid #999;
    background-color: #1a1a1a !important;
    border-radius: 2px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: #999 !important;
}

/*collapsable deposit withdrowal*/
.collapse_btn h3 > a {
    background-color: #292929;
    color: #E19C37;
    border-color: #484848;
}

.paym_txt {
    color: #fff;
}

.paym_txt1, #generalTermsLink, .paym_cond {
    color: #999;
}

    .paym_cond > span {
        color: #fff;
    }

.collapse_btn .ui-collapsible-content {
    background-color: #1a1a1a !important;
}

.collapse_btn .btn_prim {
    background-color: #E19C37 !important;
    color: #111 !important;
}

.collapse_btn .btn_sec {
    background-color: #333 !important;
    color: #999 !important;
}

.ui-mobile label, .ui-controlgroup-label {
    text-indent: 2px;
}

.switch input.sw:checked + label:before {
    background-color: #00912C;
}

.switch input.sw + label:before {
    background-color: #19e77a;
}

.footer-check {
    justify-content: center;
} 

.bonus-block div {
    color: #fff;
}

#ChangeClientcurrency {
    position: absolute;
    top: 0;
    z-index: 9;
    background: black;
    width: 100%;
    min-height: 100%;
}

    #ChangeClientcurrency .tl_popup_container.login {
        position: absolute;
        width: 100%;
        height: 45%;
        z-index: 101;
        border-radius: 5px;
        background: #333333;
        top: 93px;
    }

    #ChangeClientcurrency .tl_popup_content_login {
        padding: 40px;
        color: white;
        text-align: justify;
    }

.Currencychange_header .tl_head_text {
    float: left;
}

.Currencychange_header .tl_head_close {
    float: right;
    margin-right: 10px;
}

.reg_width_calc {
    width: 100%;
}

#countryphonecode {
    padding: 3px 4px;
    font-size: 15px;
}

#countryphonecode_wraper {
    margin-right: 5px;
    display: none;
}


#apg-b0070d00-5c52-461a-9240-5d1103fb7029 {
    width: 50px;
    margin: 25px auto 10px;
}

.casino-tabs a {
    color: #1a1a1a;
}
/*inputs optimisation*/
input {
    background-color: #fff;
    color: #111;
}

.reg_input, .tl_mail_send_area,
.custon_select__front_el, .drop-down, .drop-down-small, #content_paym .ui-select span, #content_paym .ui-select select, .favorite_amounts > div {
    background-color: #3e3e3e;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

.reg__gender_row label, .profile_container .reg__gender_row label {
    color: #a3a3a3;
}

.reg__row_title {
    font-size: 12px;
}

.profile_container label, .transfer2friend_cont label, #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: #a3a3a3
}

.D_reg_footer div {
    width: 100%;
}

.reg_prof__element_row {
    margin-bottom: 20px;
    color: #999;
}

    .reg_prof__element_row .ui-btn-icon-right:after {
        font-family: ProductIconsFont;
        content: "2";
        height: 10px;
        font-size: 13px;
        background: none;
        color: #666666;
        right: 15px;
        bottom: 20px;
        top: auto;
        width: auto
    }
/*right menu*/

.right_menu_header {
    background: #333333;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    line-height: 44px;
    padding: 5px 0 5px;
}

.right_menu_close {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    background-color: #333333;
    color: #e6e6e6;
    font-size: 18px;
    line-height: 18px;
    border-radius: 2px;
    margin-top: 5px;
}

.account_title {
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 22px;
    font-size: 14px;
    padding: 0 8px;
    margin-bottom: 0;
}

.playerId {
    margin: 8px 8px 24px;
}
.footer_logo {
    width: 101px;
    height: 35px; 
    background-size: contain;
    margin: 5px auto 0;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_logo,
.right_menu_logo {
    width: 145px;
    height: 45px;
}
.footer_text,
.footer_bottom_text {
    line-height: 1.8;
}
/*poker popup*/
.pokerInfo_cont {
    width: 100%;
    height: 100%;
    padding: 50px 10px;
    background-image: url();
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.pokerInfo_block {
    border-radius: 16px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    padding: 30px 15px;
}

.btn_log_poker {
    width: 130px;
    height: 36px;
    margin: 16px auto 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid #707070;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6) !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff !important;
}

.btn_prim.btn_log_poker {
    border: none;
    background-color: #F3A817 !important;
    color: #000 !important;
}

.btn_poker_block {
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.poker strong:before {
    content: ",";
}

li a.promoted span:after {
    top: -10px;
}
/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid #E19C37;
}

.tr_col_me {
    color: #E19C37;
}


/*new registration*/
.regHeading, .change_pass_heading {
    background: #FFFFFF;
    color: #000;
    justify-content: space-between;
    display: flex;
    padding: 15px 15px 0;
    height: auto;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
}

    .regHeading .reg_close {
        position: relative;
        top: 0px;
        right: 0px;
    }

.errSucCont .reg_close {
    margin-left: auto;
    top: 0px;
    height: 20px;
    width: 20px;
    position: relative;
    margin-right: 12px;
}

.change_pass_heading .reg_close {
    position: relative;
    top: 5px;
    right: 15px;
}
 

    .change_pass_heading .reg_close:after {
        background: #fff;
    }
     

    .change_pass_heading .reg_close:before {
        background: #fff;
    }

/*content*/
.reg_steps_info {
    width: 100%;
}

.reg_progress_dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0 16px;
}

    .reg_progress_dots span {
        width: 24px;
        height: 24px;
        border: 2px solid #525252;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        background-color: #292929;
    }

        .reg_progress_dots span.active:after {
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            background: #E19C37;
            top: 4px;
            left: 4px;
        }

        .reg_progress_dots span.done {
            background: #E19C37;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: none;
            height: 22px;
            width: 22px;
            top: 2px;
        }

            .reg_progress_dots span.done:before {
                background: #E19C37;
            }

        .reg_progress_dots span:before {
            background: #525252;
            content: "";
            position: absolute;
            width: calc(100vw - 84px);
            height: 2px;
            top: 9px;
            left: 22px;
        }

        .reg_progress_dots span:last-child:before {
            display: none;
        }

/*banners*/
.register_left_banner {
    height: auto;
    width: 100%;
}

    .register_left_banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*content*/
.reg_content {
    width: 100%;
    padding: 0 20px;
    background: #292929;
    font-family: "Roboto", sans-serif !important;
}

.col_3, .col_2, .col_1, .col_07, .col_03 {
    padding: 0 !important;
}

.reg_prof__element_row > .D_lbl {
    padding: 24px 0 4px;
    display: block;
    font-family: "Roboto", sans-serif !important;
    height: auto;
    line-height: normal;
}

    .reg_prof__element_row > .D_lbl.flex {
        display: flex !important;
    }

#D_reg_mob .tf_calendar_icon:before {
    font-family: ProductIconsFont;
    content: "\2F";
    position: absolute;
    top: 45px;
    font-size: 21px;
    right: 10px;
    color: #666;
}

.tl_sel_custom_popup_reg_selected {
    position: relative;
}

    .tl_sel_custom_popup_reg_selected:after {
        font-family: ProductIconsFont;
        content: "2";
        position: absolute;
        font-size: 11px;
        right: 9px;
        top: 0;
        display: block;
        color: #1A1A1A;
        line-height: 36px;
    }

.reg_prof__element_row > .D_lbl.flex .tl_input_popup_required {
    color: #999;
    margin-left: 2px;
}

.reg_item label {
    display: inline;
    color: #808080;
    font-size: 12px;
    font-family: "Roboto", sans-serif !important;
}

.tl_input_popup_required {
    line-height: normal;
}

.D_reg_step .phone_number_reg .D_input.dropdSelect {
    width: 110px !important;
}

.phone_number_reg {
    margin-right: 10px;
    width: 140px;
}

.phone_number_inp_reg {
    width: 100%;
}

.register_step_number {
    font-size: 14px;
    color: #999;
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 20px;
}

.register_step_descr {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 4px;
    font-family: "Roboto", sans-serif !important;
    margin-bottom: 20px
}

.tl_reg_item .g-recaptcha {
    background: transparent;
    margin-top: 10px
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

#countryphonecode_wraper {
    width: 80px
}
/*back and next*/
.register_next_step {
    padding: 30px 0 16px;
    justify-content: center;
    display: flex;
}

#nextBtn, #forgotButton, #gotoLogin, .D_btn {
    background: #F3A817 !important;
    color: #000 !important;
    height: 36px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

.marg-bot100 {
    margin-bottom: 100px;
}

#back_btn, #register_in_login {
    background: #CCCCCC !important;
    color: #000 !important;
    height: 36px;
    border: none;
    text-transform: uppercase;
    margin-right: 24px;
    font-size: 14px;
    border-radius: 2px;
    width: calc(100% - 5px);
    font-family: "Roboto", sans-serif !important;
}

#register_in_login {
    width: 100%;
    margin: 10px auto;
}

.back_register_button {
    width: calc(100% + 5px);
}

.ui-checkbox span {
    display: inline;
    font-size: 12px;
    color: #999999;
}

.ui-checkbox a, #generalTermsLink {
    color: #999;
    font-weight: bold;
}

.checkbox_item_cont input {
    position: absolute;
    z-index: -1;
}

.tl_reg_content .popup_lbl_2 {
    white-space: inherit;
    color: #999;
    text-decoration: underline;
    font-weight: bold;
}

#generalTermsLink, #privacyPolicyLink {
    display: inline;
}

.D_check .imitator {
    top: 3px;
    left: 0px;
}

.D_check.ui-checkbox-on .imitator:before {
    content: "4";
}

.reg_footer {
    padding: 15px 0 35px;
}

.field-validation-valid {
    color: #FF0000
}

.reg_item {
    width: 100%;
}

    .reg_item input {
        width: 100%;
    }

.showStep {
    display: block !important;
}

.register_content {
    display: none;
    flex-wrap: wrap;
}

.D_info_box > span {
    top: 90px;
}

.reg_prof__element_row.fail .D_info_box.f > span > span, .reg_prof__element_row.warn .D_info_box > span > span {
    color: red !important;
    position: static;
    padding: 0;
    background: transparent;
    margin-top: 10px;
    display: block;
}

#dateOfBirth_errors {
    position: relative;
    top: -20px;
}

    #dateOfBirth_errors > .field-validation-error:first-child {
        z-index: 30;
        top: 15px;
    }

    #dateOfBirth_errors > .field-validation-error, #dateOfBirth_errors .field-validation-valid {
        position: absolute;
        top: 0;
        line-height: 15px;
        padding-top: 17px;
        margin-top: 0px;
    }

.reg_prof__element_row.warn .D_info_box > span > span {
    color: #999 !important;
}

.reg_prof__element_row.fail .D_info_box > span:after, .reg_prof__element_row.warn .D_info_box > span:after, .reg_prof__element_row.loginex .D_info_box > span::after {
    display: none;
}

.D_info_box, .reg_prof__element_row.fail .D_info_box > span, .reg_prof__element_row.warn .D_info_box > span {
    position: static;
}

    .D_info_box.le > span > span {
        background: transparent;
    }

.register_date_select {
    flex: 3;
}

#mobMonth {
    flex: 4
}

.register_date_select .ui-btn {
    margin: 0 4px;
}

.input-validation-error {
    border: 0px !important;
    border-bottom: 1px solid #f00 !important;
}
/*errors*/
.valid_icon_error_rc .input-validation-error,
.valid_icon_error_rc .valid {
    background-image: none;
}

.dateOfBirth_errors {
    position: relative !important;
    top: -9px !important;
}

    .dateOfBirth_errors > span {
        position: absolute !important;
        top: 0;
    }

.reg__checkboxes_row {
    margin: 10px 0;
    padding: 0 0 0 30px;
    color: #999;
}
.reg__checkboxes_row label:after { 
    top: 11px;
    left: 0px;
}
.ui-btn.ui-checkbox-off:after { 
    left: 0;
    top: 10px;
}
.register_step_descr.green_text {
    color: #3DEA96;
    font-weight: bold;
    margin-top: 40px;
    font-size: 26px;
}

.register_step_descr.congrats_text {
    color: #1A1A1A;
    font-size: 14px;
    text-transform: inherit;
    line-height: 20px;
    margin-top: 16px;
}

#finalize {
    margin-top: 200px
}

.required-field {
    color: #999;
}

.footer_links {
    justify-content: center;
}
/*new redesign styles*/
body, #wrapper {
    background: #141414;
    color: #fff;
    font-size: 12px !important;
}

.name_vidget {
    color: #fff;
    background: rgba(0,0,0, 0.5);
    margin-left: 0;
}

.with_shadow_slider .swiper-slide {
    -webkit-box-shadow: inset 0px -72px 40px -22px #141414;
    -moz-box-shadow: inset 0px -72px 40px -22px #141414;
    box-shadow: inset 0px -72px 40px -22px #141414;
}
/*/slider*/

.nav_title {
    background: transparent;
    font-size: 14px;
}

.block_title {
    color: #E19C37;
    background: #2B2B2B;
}

.nav_item > img {
    object-fit: contain;
    min-width: 50px;
    min-height: 50px;
}

.nav_item {
    background-color: rgba(255, 205, 68,0.5);
    border-radius: 8px;
    min-height: 34vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 17px;
}
/*games containers*/
.favorite_see__notlogin_text {
    color: #F2F2F2;
}

/*casino navigation*/

.fixed_menu__play_button {
    background: #000;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #000;
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button,
.fixed_menu__li.active {
    color: #F3A817;
}

.casino_nav__links_block {
    background: #000000;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: #fff;
}

    .casino_nav__links_block a.active {
        color: #F3A817;
    }

/*play page promotions*/
.play__promo_mobile_li {
    background-color: #262626;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}
.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}
.casino_h_link_cont.fixed {
    position: static;
}
/*filter and search*/
#searchContent .popup_flex_box {
    background: #141414;
    box-shadow: 0px 0px 320px 320px #141414;
    height: calc(100% - 150px);
}

.search_filter_input:-webkit-autofill,
.search_filter_input:-webkit-autofill:hover,
.search_filter_input:-webkit-autofill:focus,
.search_filter_input:-webkit-autofill:active, .lca-search-input:-webkit-autofill, .lca-search-input:-webkit-autofill:hover, .lca-search-input:-webkit-autofill:focus, .lca-search-input:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0 50px #262626 !important;
    -webkit-text-fill-color: #fff;
}
#casino_filter_popup {
    background-color: #1A1A1A;
}

.search_switcher {
    background-color: #cfcfcf;
}

    .search_switcher:before {
        background-color: #fff;
    }

.checked .search_switcher {
    background-color: #F3A817;
}

.search__icon::after {
    color: #707070;
}

/*search part*/
.nc__heading {
    color: #ffffff;
}

.games_filter_popup .search_filter_input {
    background-color: #262626 !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: #FFFFFF;
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

.games_search_content .list-menu1 li {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}

.fs__input_wrap .close-search {
    color: #fff;
}

    .fs__input_wrap .close-search:after {
        background: #fff;
    }

    .fs__input_wrap .close-search:before {
        background: #fff;
    }

.game__link_demo {
    background: #111;
    color: #fff;
}

/*icons opened game info*/
.star__icon.deletfavorite:after {
    color: #E19C37;
    text-shadow: 0px 0px 6px #FF0000;
}

.like_icon:after {
    color: #fff;
}

.star__icon {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.jackpot__value span {
    color: #E19C37;
}

.component_jackpot_slider {
    text-shadow: 0px 0px 6px #FF0000;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: #00912C;
    color: #fff;
}

.game__link_demo {
    background: #111;
    color: #fff;
}

.game__like {
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}
/*filer*/
.games_filter_title {
    color: #ffffff;
    background-color: #333;
}

.games_filter_element, .games_filter_list_show {
    background-color: #333;
}

    .games_filter_element.active {
        background: #F3A817;
        color: #262626;
    }

.filter__more_games {
    color: #fff;
    background: #000;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #262626;
}

.games_filter_reset {
    background-color: #161415;
}

.games_filter_show {
    background-color: #F3A817;
    color: #000
}
/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: #333;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #F3A817;
} 

div.nc__slider_block.w100 {
    min-height: 160px;
} 

.fr__sort_by_drpdwn_el {
    background-color: #111;
}
/*footer*/
.drop_down_lang {
    background: #141414;
    width: 100%;
    color: #B3B3B3;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 115px !important;
    text-align-last: center;
}

.mob_select_lang_flag {
    left: 85px;
}

.drop_down_lang__front_el {
    left: 0;
    right: 44px;
    background-color: #141414;
    width: auto;
    color: #B3B3B3;
    justify-content: flex-start;
    padding: 0 15px;
}

.plus18if { 
    display: block;
    height: 38px;
    width: 38px;
    background-repeat: no-repeat;
    margin: 20px auto;
    background-position: -229px 0px;
}

.logo_gambleaware { 
    display: block;
    height: 38px;
    width: 201px;
    background-repeat: no-repeat;
    margin: 20px auto;
    background-position: 0 0;
}

.footer_text {
    color: #fff;
    margin-top: 10px;
}

.laliga_img {
    margin: 30px auto;
}

.footer_cont {
    width: 100%;
    padding: 10px;
    max-width: 350px;
}

.toTopBox {
    width: 88px;
    height: 44px;
    background: #333333;
    border-radius: 4px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toWeb {
    display: block; 
    height: 38px;
    width: 186px;
    margin: 20px auto;
}
/*footer social icons*/
.social_icons_footer {
    margin: 20px 0 30px;
    width: calc(100% + 8px); 
}
.social_title {
    margin-bottom: 13px;
    margin-top: 34px;
    padding-top: 34px;
    border-top: 2px solid #141414;
}
/*soc icons*/
.social_icons_footer {
    padding: 10px 20px 40px;
    margin: 0;
}

    .social_icons_footer a {
        display: flex; 
        width: 36px;
        height: 36px;
        margin: 0 3px;
        background-position: 0 0;
        border-radius: 3px;
        transform: scale(1);
        cursor: pointer;
    }


    .social_icons_footer .twitter {
        background-position: -88px -96px;
    }

    .social_icons_footer .insta {
        background-position: -131px -96px;
    }

    .social_icons_footer .youtube {
        background-position: -176px -96px;
    }

    .social_icons_footer .whatsapp {
        background-position: -44px -96px;
    }

    .social_icons_footer .telegram {
        background-position: 0px -96px;
    }


.social_icons {
    margin: 20px 0;
}

.copy {
    color: #E19C37;
    margin: 20px 0;
    font-size: 12px;
}
/*footer payments*/
.footer_payments {
    padding: 16px 0 30px;
} 
.fpay_cont {
    margin: 0 -5px;
}

/*footer provider icons*/
.payment_title {
    font-size: 12px;
    color: #F3A817;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 25px 0 20px;
    text-decoration: underline;
    font-family: roboto;
}



.new_pay {
    margin: 5px 6px;
    background-repeat:   no-repeat;
    transform: scale(1);
    transition: all 0.3s ease;
    background-position-x: 0;
    background-size: 232px;
}

.evolution.new_pay {
    background-position-y: -123px;
    height: 21px;
    width: 61px;
}

.luckystreak.new_pay {
    background-position-y: -154px;
    height: 18px;
    width: 127px;
}

.vivogaming.new_pay {
    background-position-y: -186px;
    height: 22px;
    width: 104px;
}

.ezugi.new_pay {
    background-position-y: -222px;
    height: 20px;
    width: 49px;
}

.betsoft.new_pay {
    background-position-y: -255px;
    height: 22px;
    width: 67px;
}

.bcongo.new_pay {
    background-position-y: -290px;
    height: 25px;
    width: 86px;
}

.fazi.new_pay {
    background-position-y: -324px;
    height: 32px;
    width: 65px;
}

.evoplay.new_pay {
    background-position-y: -372px;
    height: 29px;
    width: 87px;
}

.Genii.new_pay {
    background-position-y: -419px;
    height: 42px;
    width: 77px;
}

.fugaso-gaming.new_pay {
    background-position-y: -469px;
    height: 21px;
    width: 85px;
}

.habanero.new_pay {
    background-position-y: -512px;
    height: 27px;
    width: 131px;
}

.GamFish.new_pay {
    background-position-y: -560px;
    height: 35px;
    width: 58px;
}

.Concept_Gaming.new_pay {
    background-position-y: -621px;
    height: 27px;
    width: 73px;
}

.Njoy.new_pay {
    background-position-y: -672px;
    height: 18px;
    width: 95px;
}

.espressogames.new_pay {
    background-position-y: -710px;
    height: 25px;
    width: 87px;
}

.booming-games.new_pay {
    background-position-y: -748px;
    height: 29px;
    width: 68px;
}

.WAC.new_pay {
    background-position-y: -795px;
    height: 19px;
    width: 50px;
}

.redrake.new_pay {
    background-position-y: -832px;
    height: 27px;
    width: 41px;
}

.wazdan.new_pay {
    background-position-y: -883px;
    height: 31px;
    width: 59px;
}

.Playson.new_pay {
    background-position-y: -937px;
    height: 15px;
    width: 71px;
}

.OneTouch.new_pay {
    background-position-y: -978px;
    height: 29px;
    width: 54px;
}

.Betgames_tv.new_pay {
    background-position-y: -1025px;
    height: 23px;
    width: 86px;
}

.TV_bet.new_pay {
    background-position-y: -1065px;
    height: 26px;
    width: 65px;
}

.Tombala.new_pay {
    background-position-y: -1110px;
    height: 19px;
    width: 69px;
}

.goldenrace.new_pay {
    background-position-y: -1143px;
    height: 12px;
    width: 93px;
}

.Globalbet.new_pay {
    background-position-y: -1173px;
    height: 16px;
    width: 46px;
}

.betradar.new_pay {
    background-position-y: -1204px;
    height: 17px;
    width: 73px;
}

.Kiron.new_pay {
    background-position-y: -1244px;
    height: 23px;
    width: 57px;
}

.inbet.new_pay {
    background-position-y: -1282px;
    height: 25px;
    width: 62px;
}

.Leap.new_pay {
    background-position-y: -1326px;
    height: 15px;
    width: 36px;
}

.flg.new_pay {
    background-position-y: -1361px;
    height: 17px;
    width: 47px;
}

.gaming1x2.new_pay {
    background-position-y: -1398px;
    height: 26px;
    width: 56px;
}

.Belatra.new_pay {
    background-position-y: -1436px;
    height: 16px;
    width: 75px;
}

.Oryx.new_pay {
    background-position-y: -1469px;
    height: 17px;
    width: 95px;
}

.superlotto-plus.new_pay {
    background-position-y: -1508px;
    height: 34px;
    width: 60px;
}

.egt.new_pay {
    background-position-y: -1806px;
    height: 30px;
    width: 80px;
}

.leander_studio.new_pay {
    background-position-y: -1616px;
    height: 25px;
    width: 78px;
}

.nucleus.new_pay {
    background-position-y: -1663px;
    height: 22px;
    width: 82px;
}

.betsolutions.new_pay {
    background-position-y: -1705px;
    height: 16px;
    width: 89px;
}

.August_Gaming.new_pay {
    background-position-y: -1746px;
    height: 28px;
    width: 90px;
}

.reelnrg.new_pay {
    background-position-y: -1808px;
    height: 29px;
    width: 94px;
}

.tom-horn-gaming.new_pay {
    background-position-y: -1861px;
    height: 52px;
    width: 45px;
}

.GMW.new_pay {
    background-position-y: -1924px;
    height: 36px;
    width: 105px;
}

.ka_gaming.new_pay {
    background-position-y: -1981px;
    height: 36px;
    width: 103px;
}

.BeeFee.new_pay {
    background-position-y: -2040px;
    height: 41px;
    width: 41px;
}

.worldmatch.new_pay {
    background-position-y: -2102px;
    height: 28px;
    width: 55px;
}

.Spadegaming.new_pay {
    background-position-y: -2154px;
    height: 25px;
    width: 82px;
}

.Iron_dog.new_pay {
    background-position-y: -2198px;
    height: 42px;
    width: 33px;
}

.pragmatic-play.new_pay {
    background-position-y: -2250px;
    height: 48px;
    width: 84px;
}

/*left panel*/
#left-panel {
    width: 300px;
}

.toto .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
/* Panel left closed animated */
.toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.toto .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.toto .ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.toto .ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.toto .ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

   .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .toto .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}

.casino-tab-container.casino_fixed_menu, .lc-fixed-menu {
    top: 83px;
}
.ui-checkbox-off:after, .ui-btn.ui-radio-off:after { 
    background-color: #757575;
}
.reg__dateofbirth_row>div{
    max-width: 31%;
}
/*left menu gifs*/
.lm_gifs {
    align-items: center;
    background-color: #171717;
    border-radius: 10px;
    padding: 2px 0;
}

    .lm_gifs img {
        max-width: 79px;
        margin: 0 6px;
    }

.vip_gif img {
    max-width: 60px;
}

/*Live casino skinning*/
.lca-main-content {
    background-color: #141414;
    color: #fff;
}
  /*Menu*/
.lca_search_cont, .lca-menu {
    background-color: #292929;
}
.lca-menu-link {
    color: #fff;
}
.lca-menu-link.active {
    background-color: #F3A817;
    color: #000;
}
.lca-menu-link.active .lca-menu-badge {
  background-color: #292929;
  color: #F3A817;
}
.lca-menu-badge {
  background-color: #F3A817;
  color: #000;
}
  /*Submenu*/
.lca-submenu {
    background-color: #424242;
    color: #fff;
}
.lca-submenu-link {
  color: #cccccc;
}
.lca-submenu-link.active {
    color: #F3A817;
}
  /*Game card*/
.lca-card-footer {
    background-color: #292929;
    color: #fff;
}
 .lca-card-footer-btn .star_icon.active, .lca-card-price{
    color: #F3A817;
}
.lca-card-footer-btn {
  background-color: #141414;
  color: #fff;
}
.lca-card-footer-btn .like_icon:after,
.lca-card-footer-btn .star_icon {
  color: #fff;
}
.lca-category-title {
    background-color: rgba(0,0,0, 0.4);
    color: #fff;
}
.lca-main-content .star_icon.active:after {
    color: #F3A817;
    text-shadow: 0px 0px 6px #f6ba47;
}
.lca-card-badge.type-1 {
    background-color: #F3A817;
    color: #000;
}
  /*Filter and search*/
.lca-title {
    color: #fff;
}
.lca-input {
  background-color: #292929;
  color: #cccccc;
}
.lca-filter-toggle {
    color: #fff;
}
.lca-filter-price {
  background-color: #292929;
  color: #fff;
}
.lca-filter-price-input {
  color: #fff;
}
.lca-filter-range-divider {
    background-color: #F3A817;
}
.lca-main-content .noUi-target {
    background: #292929;
}
.lca-main-content .noUi-connect {
    background: #F3A817;
}
.lca-main-content .noUi-handle {
    border-color: #292929;
    background: #F3A817;
}
.lca-filter-category-item {
    background-color: #292929;
    color: #fff;
}
.lca-filter-category-item.active {
  background-color: #F3A817;
  color: #000;
}
.lca-search-result-title {
    color: #fff;
}
.lca-search-result-filter-item {
    color: #cccccc;
}
.lca-search-result-filter-item-description {
    color: #fff;
}
.lca-dropdown-toggle {
    color: #fff;
}
.lca-dropdown {
    background-color: rgba(0,0,0, 1);
    color: #fff;
}
.lca-dropdown-item {
    color: #fff;
}
.lca-back-link {
    color: #cccccc;
}
.lca-card-more-wrapper {
    background-color: rgba(0,0,0, 0.4);
    color: #fff;
}
.lca-card-more {
  color: #fff;
}
.lca-filter-footer {
    background-color: #292929;
    color: #fff;
}
.lca-filter-footer-btn-reset {
    background-color: #424242;
    color: #fff;
}
.lca-filter-footer-btn-show {
    background-color: #F3A817;
    color: #000;
}
  /*Promotions*/
.lca-promo-text-wrapper {
    background-color: #292929;
    color: #fff;
}
.lca-promo-title {
    color: #fff;
}
.lca-main-content .promo_mobile_cont {
  background-color: #292929;
  color: #fff;
}
.lca-main-content .promo_mobile_title {
  color: #fff;
}

/*payments icons*/
.paymentmethods.transfertoaccount {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 33px;
    background-position: 0 0;
}

.paymentmethods.bitcoin {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 35px;
    background-position: 0 -33px;
}

.paymentmethods.cmtcuzdan {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 35px;
    background-position: 0 -68px;
}

.paymentmethods.cepbankoffline {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 34px;
    background-position: 0 -101px;
}

.paymentmethods.cepbank {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 34px;
    background-position: 0 -101px;
}

.paymentmethods.anindaqr {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 38px;
    background-position: 0 -148px;
}

.paymentmethods.papara {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 34px;
    background-position: 0 -168px;
}

/*.paymentmethods.anindapapara {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 34px;
    background-position: 0 -168px;
}*/

.paymentmethods.anindapapara {
    width: 72px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -4925px -153px;
}

.paymentmethods.anindapaparaoffline {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 34px;
    background-position: 0 -168px;
}

.paymentmethods.paycell {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 35px;
    background-position: 0 -211px;
}

.paymentmethods.payfix {
    background-image: url(/Img/partners/1119/payment_sprite.png);
    background-size: 100% auto;
    height: 37px;
    background-position: 0 -249px;
} 
.lca-main-content .promo_mobile_text_cont {
  box-shadow: 0 -14px 29px 19px #292929;
}

.lca-card-promo-img::after {
    box-shadow: inset 0px -71px 39px -35px #292929;
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background: transparent linear-gradient(180deg, #F3A817 0%, #F8D87F 51%, #E19C37 100%) 0% 0% no-repeat padding-box;
    color: #000;
}

    body .h-bg-primary:hover {
        background: transparent linear-gradient(180deg, #F3A817 0%, #F8D87F 51%, #E19C37 100%) 0% 0% no-repeat padding-box;
        color: #000;
    }

body .text-primary {
    color: #F8D87F;
}

body .bg-secondary, body .h-bg-secondary {
    background-color: #292929;
    color: #fff;
}

    body .h-bg-secondary:hover {
        background-color: #262626;
        color: #fff;
    }

body .bg-tert, body .h-bg-tert {
    background-color: #000000;
    color: #fff;
}

    body .h-bg-tert:hover {
        background-color: #000000;
        color: #fff;
    }
.lca_search_input {
    background-color: #424242;
}
/*very new bonus*/
.bonus_card_body {
    background-color: #282828;
}