body {
    --bg-level-1: #1A2032;
    --bg-level-2: #212940;
    --bg-level-3: #28314d;
    --bg-level-4: #2f3a5b;
    --text-level-high: #FFFFFF;
    --text-level-medium: #CCCCCC;
    --text-level-low: #999999;
    --icon-level-high: #FFFFFF;
    --icon-level-medium: #CCCCCC;
    --icon-level-low: #999999;
    --btn-primary: #FF8200;
    --btn-secondary: #1BA673;
    --badge-notification: #FF8200;
    --badge-bonus: #FF8200;
    --primary: #FF8200;
    --btn-primary-text: #ffffff;
    --btn-secondary-text: #ffffff;
    --text-on-primary: #ffffff;
}

/*banner navigation*/
.cas_nav_prev,
.cas_nav_next,
.lca-voice-icon {
    background-color: rgba(23,28,44,0.7);
}

/*all important styles*/
body, #wrapper, .bgMain {
    background-color: #353C4F;
    color: #999999;
}

.heading {
    color: #fff;
    background-color: #171C2C;
}

.sub_heading {
    color: #FF8200;
}
.txt.width_all{
    display: block;
}
/*inputs*/
#wrapper input::placeholder {
    color: #999999;
}

#wrapper input:-ms-input-placeholder {
    color: #999999;
}

#wrapper input::-ms-input-placeholder {
    color: #999999;
}

/*header*/
.casino_h_link_cont .clr_sec {
    background: #171C2C;
}

.casino_links_tabs .dynamic_icon_home {
    color: #FF8200 !important;
}

.casino_links_tabs a {
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
}

.casino_h_link_cont.dynamic_menu {
    background-color: #171c2c;
}

#header {
    background: #293043;
}

.LinkToLeftPanel:before {
    color: #999999;
    font-size: 26px;
}

.LogoMobilePlatform { 
    width: 91px;
    height: 30px;
    margin: 0 5px;
}

@media screen and (max-width: 360px) {
    .LogoMobilePlatform { 
        width: 70px;
        height: 20px;
    }
}

.ic, #header .txt {
    color: #ffffff;
}

    #header .txt:last-child {
        color: #FF8200;
    }

.go_to_right_menu {
    position: relative;
}
/*all buttons*/
.btn_sec {
    background-color: #FF8200 !important;
    color: #fff !important;
}

.btn_prim {
    background-color: #FF8200 !important;
    color: #FFF !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    height: 36px;
    line-height: 36px !important;
}

.platformMobLog.btn_sec {
    background-color: transparent !important;
    color: #1BA673 !important;
    font-size: 12px;
    font-weight: 500;
}

.platformMobReg.btn_prim {
    background-color: transparent !important;
    font-size: 12px;
    color: #FF8200 !important;
    font-weight: 500;
}

.platformMobReg, .platformMobLog {
    border: none;
    padding: 0px 5px;
    text-transform: uppercase;
    margin: 0 2px;
    border-radius: 5px;
}

/*new landing homepage*/
.tl_popup_content {
    color: #fff;
}

.sliderControlsCont .slick-dots .slick-active button {
    background-color: #ff8200;
}

.matches_block iframe {
    height: 405px;
}

.tl_navigation {
    min-width: 250px;
    background: #212940;
    padding: 2px 2px 0;
}

.nav_item {
    margin-bottom: 0.5vw;
}

.nav_title {
    font-size: 18px;
    background: rgba(14, 21, 27, 0.5);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px; 
    bottom: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.nav_item > img {
    width: 100%;
    vertical-align: top;
    max-width: 13vw;
    max-height: 12vw;
}

.block_title {
    background: #293043;
    color: #FF8200;
    font-weight: 600;
    border-bottom: 2px solid;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    font-size: 14px;
    padding: 14px 38px;
}

.nav_item {
    width: 100%;
    max-height: 100%;
    min-height: 100px;
    background: #353C4F;
    position: relative;
    text-align: center;
    height: auto;
    margin-bottom: 2px;
    padding-bottom: 44px;
    min-height: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tl_nav_link {
    padding-right: 1px;
    padding-left: 1px;
}

.block_title:before {
    color: #999999;
    font-size: 14px;
    top: 2px;
}

/*popup after login*/
.tl_popup_container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 101;
    top: 0;
    left: 0;
}

.tl_popup_header {
    background-color: #2b2b2b;
    border-radius: 2px 2px 0 0;
    height: 47px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.tl_head_text {
    width: calc((100%) - 20px);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}

.tl_head_close {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.tl_popup_header .tl_head_close {
    top: 12px;
}

.tl_head_close:after {
    content: "\35";
    font-family: ProductIconsFont;
}

/*footer*/
#footer {
    background: #212531;
    padding: 30px 10px;
}

.call_us,
.drop_down_lang {
    background: #4A536A;
    border-radius: 3px;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
}

.call_us {
    padding: 0 15px;
    text-align: left;
}

.drop_down_lang_arrow:after {
    border-top: 5px solid #999;
    top: 16px;
}

.phone_lang_cont {
    justify-content: center;
}

#footer-links {
    padding: 30px 0;
}

.footer_links a {
    color: #999999;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
/*footer provider icons*/
.new_pay {
    margin: 0 4px 8px;
    background-repeat:  no-repeat;
    background-size: auto;
    height: 44px;
    width: 139px;
}

    .new_pay.evolution_gaming {
        background-position: 0 0;
    }

    .new_pay.betgames {
        background-position: 0 -56px;
    }

    .new_pay.luckysteak {
        background-position: 0 -112px;
    }

    .new_pay.evoplay {
        background-position: 0 -168px;
    }

    .new_pay.habanero {
        background-position: 0 -224px;
    }

    .new_pay.iron_dog {
        background-position: 0 -279px;
    }

    .new_pay.gaming1x2 {
        background-position: 0 -336px;
    }

    .new_pay.belatra {
        background-position: 0 -390px;
    }

    .new_pay.goldenrace {
        background-position: 0 -446px;
    }

    .new_pay.fugaso {
        background-position: 0 -503px;
    }

.footer_payments {
    margin-bottom: 60px;
}

.footer_logo {
    height: 47px;
    width: 150px; 
    display: block;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.toWeb.btn_sec {
    height: 36px;
    color: #FFFFFF !important;
    background: #4A536A !important;
    line-height: 36px !important;
    font-size: 14px;
    padding: 0 20px;
    margin: 20px 0 30px;
    width: 100%;
}

.drop_down_lang_arrow {
    margin-left: 20px;
}

.copy {
    color: #FF8200;
}

.plus18Icon {
    font-size: 32px;
    margin: 15px auto;
    color: #4a536a;
}

.payment_title {
    letter-spacing: 0;
    color: #999;
    font-size: 11px;
}

.footer_text {
    width: 100%;
    text-align: center;
    margin: 15px auto;
}

    .footer_text img {
        width: 100%;
        height: auto;
    }
/*welcome to the*/
.footer__dropdown_content {
    width: 100%;
    margin: auto;
    padding: 20px 0 40px;
}

.footer__dropdown {
    width: 100%;
    flex-direction: column;
}

.hiddenContentButton {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.hiddenContent {
    display: none;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 13px;
    color: #CECECE;
    text-align: justify;
    background: rgba(0,0,0,0.1);
    padding: 0 20px;
    border-radius: 10px;
}

    .hiddenContent p {
        font-size: 15px;
        color: #fff;
        padding: 20px 0 10px;
        margin: 0;
    }

.hiddenContentButton i {
    padding: 0 10px;
    line-height: 16px;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}
/*left and right menu*/

.collapse_dropdown_leftmenu_btn:after {
    border-color: #fff transparent transparent transparent;
}

.left-logo:before {
    content: "\3c";
}

#left-panel {
    background: #0E151B;
}

    #left-panel .menuBtn {
        background: #212531;
        color: #ffffff !important;
        height: 36px;
    }

.left_menu_padd {
    padding: 40px 0 25px;
}

.left-menu a:before {
    font-size: 30px;
    color: #ffffff;
}

.menuBtn {
    background: #F3F3F3;
    margin-bottom: 3px;
}

.menuBtnSm {
    background: #F3F3F3;
    color: #ffffff !important;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 20px;
}

.menuBtn .txt {
    font-size: 12px;
    font-weight: 400;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn, #right-panel .menuBtn {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    background: #333333;
}

.ui-collapsible-heading-toggle {
    background-color: transparent !important;
}

.platformForgPass {
    color: #ffffff !important;
}

.menuRow {
    color: #ffffff !important;
    background: #212531;
    text-transform: uppercase;
    margin-bottom: 3px;
}

    .menuRow:not(.hidden) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menuRow.menu_inbox {
        justify-content: flex-start;
    }

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: #0e151b !important;
    color: #ffffff !important;
    padding: 0;
}

#right-panel .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content > .menuBtn {
    background: #293043;
    margin: 0;
    color: #999999 !important;
    border-bottom: 3px solid #0e151b;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px
}

#right-panel .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content .menuBtn:last-child {
    border-bottom: none;
}

#right-panel .menuBtn, #right-panel .menuBtn a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    background-color: #212531;
    height: 36px;
}

#right-panel .ui-btn-icon-right:after {
    top: 17px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    margin: 0 0 3px 0;
}

.row {
    margin: 5px auto;
}

.right_menu_header {
    background: #171C2C;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    line-height: 44px;
    padding: 8px 0;
}

.right_menu_close {
    color: #0E151B;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: #999999;
    height: 18px;
    width: 18px;
    border-radius: 2px;
}

#right-panel #sidebar-user {
    background-color: #0E151B;
}

.account_title {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 14px;
    padding: 0 8px;
}

.playerId {
    margin: 12px 8px 24px;
    color: #FFFFFF;
}

.right_menu_logo {
    width: 117px;
    height: 35px; 
    background-size: contain;
    margin: 0px auto;
    background-repeat: no-repeat;
}

#left-panel .menuBtnSm {
    color: #ffffff !important;
    background-color: #212531;
    font-weight: normal;
}

#registerForm .drop-down {
    font-size: 14px;
}

.reg_info {
    font-size: 12px;
    height: auto;
    line-height: 1.5;
    display: block;
    text-align: left;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 0 15px;
}
/*bonuses*/
#bonusesNavBar > .ui-link {
    background: #DDDDDD;
    color: #999999;
}

    #bonusesNavBar > .ui-link.active {
        background: #FF8200;
        color: #fff;
    }

#bonuses_content {
    color: #999999;
    padding: 30px 15px;
}

    #bonuses_content .activate_btn {
        background-color: #FF8200 !important;
        color: #fff !important;
    }

#privacyPolicyLink {
    color: #999999;
}
/*casino*/
.clr_sec {
    background-color: #FF8200;
}

.casino-tabs .clr_prim {
    background: #fff;
    color: #FF8200 !important;
}

.clr_prim {
    background-color: #FF8200;
    color: #fff !important;
}

.list-menu1 li {
    background: #FFF !important;
    color: #999999;
}
/*promotions*/
.promo_mobile_cont {
    background-color: #ddd;
}

.promo_mobile_title {
    color: #FF8200;
}

.promo_mobile_descr, .promo_img {
    color: #999999;
}
/*inbox*/
.tl_mail_details_box {
    font-size: 10px;
}

.tl_mail_item {
    background: #293043;
    border-bottom: 1px solid #171c2c;
}

.tl_msg_button_cont {
    width: 100%;
}

.tl_mail_icon,
.tl_mail_details, .tl_mail_details_title {
    color: #fff;
}

.tl_mail_details_box {
    margin-top: 4px;
}

.tl_mail_msgId {
    color: #FF8200;
}

.tl_mail_item.unread {
    background: #191D29;
}

textarea.ui-input-text:focus {
    outline: none;
}

textarea.ui-input-text {
    background-color: #191D29 !important;
    color: #fff;
    min-height: 90px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tl_mail_header:before {
    top: 7px;
}

.field-validation-error {
    margin-top: 10px;
    display: block;
}

#attachfile_btn {
    background-color: #171C2C;
    position: relative;
    padding-right: 25px;
    color: #fff;
}

    #attachfile_btn:after {
        font-family: ProductIconsFont;
        content: "\A5";
        display: block;
        font-size: 22px;
        position: absolute;
        color: white;
        right: 4px;
        top: 0;
        transform: rotate(90deg);
    }

.tl_mail_attachfiel_screp {
    display: none;
}

.tl_mail_attachfiel_download_btn {
    background-color: #4D4D4D;
}

.tl_mail_attachfiel_screp, .tl_mail_attachfiel {
    color: #999999;
}

.tl_mail_row {
    background: #EBEBEB;
}


.tl_mail_message_cont .ui-corner-all {
    margin: 20px 0 !important
}

.spcbtw .tl_mail_icon, .spcbtw .tl_mail_details, .spcbtw .tl_mail_details_title {
    color: #000;
}

.tl_mail_msgId .tf_arrow_icon:before {
    margin: 2px 4px 0 -6px;
    font-style: normal;
}

.tl_msg_button,
.upload_file_btn {
    color: #fff;
    background-color: #FF8200;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_msg_attach_button {
    color: #fff;
    background-color: #222;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_mail_message_body, .tl_mail_send_area {
    background: #171c2c;
    color: #fff;
}

.tl_mail_date_div {
    font-size: 12px;
}

.tl_mail_details_subject {
    color: #FF8200;
    margin-right: 4px;
}


.tl_mail_message_cont .flexend.tl_mail_btn_cont {
    position: relative;
    padding-bottom: 25px;
}
/*deposit && withdrawal*/
.collapse_btn h3 > a {
    background: #ddd;
}

.paym_txt, .paym_cond > span {
    color: #999999;
}

.lbl-success {
    background: #FF8200;
}

.left-skillgames {
    text-transform: capitalize;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}

.btn_affiliate {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.exchangeripg {
    width: 76px;
    height: 25px;
    background-image: url(/img/Casino-images-allinone.png);
    background-position: -7935px -153px;
}
 

#countryphonecode_wraper {
    width: 86px;
    margin-bottom: 3px;
}

/*poker page info*/
/*inputs optimisation*/
input,
.reg_input, .tl_mail_send_area,
.custon_select__front_el, .drop-down, .drop-down-small, #content_paym .ui-select span, #content_paym .ui-select select, .favorite_amounts > div,
.reg__checkboxes_row,
.reg__gender_row label, .profile_container .reg__gender_row label {
    background-color: #191D29;
    color: #FFFFFF;
}

.reg__row_title, .profile_container label, .transfer2friend_cont label, #content_paym label, .forgot_pass__row label, .r_login__row label, .changepass__element_row label, .search_popup_row label {
    color: #a3a3a3;
}

/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid #FF8200;
}

.tr_col_me {
    color: #FF8200;
}

.col_game_tabs a, .new_livecs_container .tl_game_tab_item {
    background-color: #171c2c;
}
.text-primary {
    color: #FF8200 ;
}

/*27.4.21 optims*/
body .bg-primary, body .h-bg-primary {
    background-color: #FF8200 ;
    color: #000;
}

    body .h-bg-primary:hover {
        background-color: #ffdc19;
        color: #000;
    }

body .text-primary {
    color: #FF8200 ;
}

body .bg-secondary, body .h-bg-secondary {
    background-color: #33394b;
    color: #B3B3B3;
}

    body .h-bg-secondary:hover {
        background-color: #444;
        color: #B3B3B3;
    }
    
body .bg-tert, body .h-bg-tert {
    background-color: #171C2C;
    color: #fff;
}

    body .h-bg-tert:hover {
        background-color: #171C2C;
        color: #fff;
    }


/*new redesign styles*/
body, #wrapper {
    background: #212940;
    color: #fff;
    font-size: 12px !important;
}

.landing_contet {
    background-color: #212940;
}

.name_vidget {
    color: #fff;
    background: rgba(23, 28, 44, 0.7);
}

.with_shadow_slider .swiper-slide {
    -webkit-box-shadow: inset 0px -72px 40px -22px #212940;
    -moz-box-shadow: inset 0px -72px 40px -22px #212940;
    box-shadow: inset 0px -72px 40px -22px #212940;
}

#header {
    position: static;
}

/*/slider*/

.nav_title {
    background: transparent;
    font-size: 14px;
    bottom: 7px;
    text-shadow: none;
}

.block_title {
    color: #FF8200;
    background: #2B2B2B;
}

.nav_item > img {
    max-height: 11.6vw;
    object-fit: contain;
    max-width: 12vw;
}

.nav_item {
    background: rgba(23, 28, 44, 0.7);
    border-radius: 8px;
    min-height: 32.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 38px;
}

/*games containers*/
.favorite_see__notlogin_text {
    color: #F2F2F2;
}

/*casino navigation*/

.fixed_menu__play_button {
    background: #171c2c;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #171c2c;
}

.fixed_menu__li.active svg .yellow, .fixed_menu__li.active .fixed_menu__play_button,
.fixed_menu__li.active {
    color: #FF8200;
}
.more_menu_btns_content:before {
    border: 78px solid rgba(23,28,44,0.94);
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.casino_nav__links_block {
    background: #171c2c;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    -moz-box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
    box-shadow: 0 0 30px 29px rgba(12,12,12,.85);
}

.casino_nav__links_block a {
    color: #fff;
}

    .casino_nav__links_block a.active {
        color: #FF8200;
    }

/*play page promotions*/
.play__promo_mobile_li {
    background-color: #171c2c;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
    box-shadow: inset 0px -145px 40px -104px rgba(38,38,38,1);
}

.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}

/*filter and search*/
#searchContent .popup_flex_box {
    background: #212940;
    box-shadow: 0px 0px 320px 320px #212940;
    height: calc(100% - 150px);
}

#casino_filter_popup {
    background-color: #171c2c;
}

.search_switcher {
    background-color: #cfcfcf;
}

    .search_switcher:before {
        background-color: #fff;
    }

.checked .search_switcher {
    background-color: #FF8200;
}

.search__icon::after {
    color: #707070;
}

/*search part*/
.nc__heading {
    color: #ffffff;
}

.games_filter_popup .search_filter_input {
    background-color: #171c2c !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: #FFFFFF;
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.games_filter_popup {
    width: 100%;
}

.games_search_content .list-menu1 li {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}

.fs__input_wrap .close-search {
    color: #fff;
}

    .fs__input_wrap .close-search:after {
        background: #fff;
    }

    .fs__input_wrap .close-search:before {
        background: #fff;
    }

.game__link_demo {
    background: #171c2c;
    color: #fff;
}

/*icons opened game info*/
.star__icon.deletfavorite:after {
    color: #FF8200;
    text-shadow: 0px 0px 6px #FF0000;
}

.like_icon:after {
    color: #fff;
}

.star__icon {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.jackpot__value span {
    color: #FF8200;
}

.component_jackpot_slider {
    text-shadow: 0px 0px 6px #FF0000;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: #FF8200;
    color: #fff;
}

.game__link_demo {
    background: #171c2c;
    color: #fff;
}

.game__like {
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}
/*filer*/
.filters_slider_cont {
    background-color: #171c2c;
}
    .games_filter_title {
    color: #ffffff;
    background-color: #171c2c;
}

.games_filter_element, .games_filter_list_show {
    background-color: #171c2c;
}

    .games_filter_element.active {
        background: #FF8200;
        color: #fff;
    }

.filter__more_games {
    color: #fff;
    background: #000;
}

.filter_result__go_back {
    color: #999999;
}

.games_filter_popup__footer {
    background-color: #212940;
}

.games_filter_reset {
    background-color: #171c2c;
}

.games_filter_show {
    background-color: #FF8200;
    color: #fff;
}
/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0,0,0,0.7);
}

.training__info {
    color: #171c2c;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #FF8200;
}

div.nc__slider_block.w100 {
    min-height: 160px;
} 

.fr__sort_by_drpdwn_el {
    background-color: #171c2c;
}

.toTopBox {
    width: 88px;
    height: 44px;
    background: #171c2c;
    border-radius: 4px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
}

/*left panel*/
#left-panel {
    width: 300px;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 300px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
/* Panel left closed animated */
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-300px,0,0);
    -moz-transform: translate3d(-300px,0,0);
    transform: translate3d(-300px,0,0);
}

.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay,
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transform: none;
}

.ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(20em,0,0);
    -moz-transform: translate3d(20em,0,0);
    transform: translate3d(20em,0,0);
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 299px;
}

@media screen and (max-width: 374px) {
    #left-panel {
        width: 260px;
    }

    .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
    .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
        -webkit-transform: translate3d(-260px,0,0);
        -moz-transform: translate3d(-260px,0,0);
        transform: translate3d(-260px,0,0);
    }

    .ui-panel-animate.ui-panel-page-content-position-left {
        -webkit-transform: translate3d(16em,0,0);
        -moz-transform: translate3d(16em,0,0);
        transform: translate3d(16em,0,0);
    }

    .ui-panel-dismiss-open.ui-panel-dismiss-position-left {
        left: 260px;
    }
}

.casino-tab-container.casino_fixed_menu, .lc-fixed-menu {
    top: 88px;
}
/*left menu gifs*/
.lm_gifs {
    align-items: center;
    background-color: #212940;
    border-radius: 10px;
    padding: 2px 0;
}

.lm_gifs img {
    max-width: 79px;
    margin: 0 6px;
}

.vip_gif img {
    max-width: 60px;
}

/*redsesign left-panel*/
.lm__block {
    background-color: #353c4f;
    color: #fff !important;
}

.lm_link_noic,
.lm_link {
    background-color: #353C4F;
    border-color: #171C2C;
}

.lm__container {
    background-color: #171C2C;
}

.left_menu_gif img {
    width: 100%;
    margin-bottom: 80px
}

.casino-tab-container.casino_fixed_menu, .lc-fixed-menu {
    top: 50px;
}

.drop_down_lang {
    padding: 0 15px !important;
}

/*Live casino skinning*/
.lca-main-content {
    background-color: #212940;
    color: #fff;
}

.list-menu1 .seasch__game_not_found_mob {
    background: #212940 !important;
}

/*Menu*/
.lca_search_cont, .lca-menu {
    background-color: #171c2c;
}

.lca-menu-link {
    color: #fff;
}

.lca-menu-link.active {
    background-color: #FF8200;
    color: #000;
}

    .lca-menu-link.active .lca-menu-badge {
        background-color: #212940;
        color: #FF8200;
    }

.lca-menu-badge {
    background-color: #FF8200;
    color: #000;
}
/*Submenu*/
.lca-submenu {
    background-color: #293043;
    color: #fff;
}

.lca-submenu-link {
    color: #cccccc;
}

    .lca-submenu-link.active {
        color: #FF8200;
    }
/*Game card*/
.lca-card-footer {
    background-color: #171c2c;
    color: #fff;
}

 .lca-card-footer-btn .star_icon.active, .lca-card-price{
    color: #FF8200;
}

.lca-card-footer-btn {
    background-color: #2C3654;
    color: #fff;
}

    .lca-card-footer-btn .like_icon:after,
    .lca-card-footer-btn .star_icon {
        color: #fff;
    }

.lca-category-title {
    background-color: rgba(23, 28, 44, 0.6);
    color: #fff;
}

.lca-main-content .star_icon.active:after {
    color: #FF8200;
    text-shadow: 0 0 6px #cc6800;
}

.lca-card-badge.type-1 {
    background-color: #FF8200;
    color: #000;
}
/*Filter and search*/
.lca-title {
    color: #fff;
}

.lca-input {
    background-color: #2C3654;
    color: #cccccc;
}

.lca-filter-toggle {
    color: #fff;
}

.lca-filter-price {
    background-color: #2C3654;
    color: #fff;
}

.lca-filter-price-input {
    color: #fff;
}

.lca-filter-range-divider {
    background-color: #FF8200;
}

.lca-main-content .noUi-target {
    background: #2C3654;
}

.lca-main-content .noUi-connect {
    background: #FF8200;
}

.lca-main-content .noUi-handle {
    border-color: #2C3654;
    background: #FF8200;
}

.lca-filter-category-item {
    background-color: #2C3654;
    color: #fff;
}

    .lca-filter-category-item.active {
        background-color: #FF8200;
        color: #000;
    }

.lca-search-result-title {
    color: #fff;
}

.lca-search-result-filter-item {
    color: #cccccc;
}

.lca-search-result-filter-item-description {
    color: #fff;
}

.lca-dropdown-toggle {
    color: #fff;
}

.lca-dropdown {
    background-color: #10131e;
}

.lca-dropdown-item {
    color: #fff;
}

.lca-back-link {
    color: #cccccc;
}

.lca-card-more {
    background-color: #171c2c;
    color: #fff;
    border-radius: 8px;
}

.lca-filter-footer {
    background-color: #212940;
    color: #fff;
}

.lca-filter-footer-btn-reset {
    background-color: #10131e;
    color: #fff;
}

.lca-filter-footer-btn-show {
    background-color: #FF8200;
    color: #000;
}
/*Promotions*/
.lca-promo-text-wrapper {
    background-color: #212940;
    color: #fff;
}

.lca-promo-title {
    color: #fff;
}

.lca-main-content .promo_mobile_cont {
    background-color: #212940;
    color: #fff;
}

.lca-main-content .promo_mobile_title {
    color: #fff;
}

.lca-main-content .promo_mobile_text_cont {
    box-shadow: 0 -14px 29px 19px #212940;
}

.lca-card-promo-img::after {
    box-shadow: inset 0 -71px 39px -35px #212940;
}

.lca-promo-link,
.lca-main-content .tl_promotions_more_info {
    background-color: #FF8200;
    color: #000;
}

/*very new bonus*/ 
.bonus_card_body {
    background-color: #32394b;
}