
:root {
  --bodyBg:  #0A0A0A;
  --bodyBg2:  #232323;
  --bodyBg3: #303030;  
  --bodyBgHover:  #121212;
  --bodyBg2Hover:  #2b2b2b;
  --bodyBg3Hover: #383838;
  --bodyRGBA:  rgba(10, 10, 10, 0.7);
  --bodyRGBA2:  rgba(10, 10, 10, 0.5);
  --bodyRGBA3:  rgba(10, 10, 10, 0.3);
  --bodyTxt: rgba(255, 255, 255, 0.9);
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);
  --bodyAccent: #F14100;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder:  #0A0A0A;
  --bodyRadius:  7px;

  --dominantG: #121212;
  --dominantRGBA: rgba(18, 18, 18, 0.7);
  --dominantRGBA2: rgba(18, 18, 18, 0.5);
  --dominantRGBA3: rgba(18, 18, 18, 0.3);
  --dominantBg: #121212;
  --dominantBg2: #2b2b2b;
  --dominantBg3: #383838;
  --dominantBgHover: #1a1a1a;
  --dominantBg2Hover: #333333;
  --dominantBg3Hover: #404040;
  --dominantTxt: rgba(255, 255, 255, 0.9);
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626; 
  --dominantRadius: 7px;

  --accentBg: #F14100;
  --accentBg2:  #ff6025;
  --accentBg3: #ff723e;
  --accentBgHover:  #ff4601;
  --accentBg2Hover:  #ff6b34;
  --accentBg3Hover:  #ff7d4d;
  --accentG: #F14100;
  --accentTxt: rgba(255, 255, 255, 0.9);
  --accentTxt2: rgba(255, 255, 255, 0.6);
  --accentTxt3: rgba(255, 255, 255, 0.4);        

  --buttonG: #ff4601;
  --buttonBg:  #ff4601;
  --buttonBg2:  #ff6b34;
  --buttonBg3:  #ff7e4d;
  --buttonBgHover:  #ff5110;
  --buttonBg2Hover:  #ff7643;
  --buttonBg3Hover:  #ff895c;
  --buttonTxt: rgba(255, 255, 255, 0.9);
  --buttonTxt2: rgba(255, 255, 255, 0.6);
  --buttonTxt3: rgba(255, 255, 255, 0.4);
  --buttonAccent: #F14100;
  --buttonAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonBorder: #0A0A0A;
  --buttonRadius: 0px;

  --buttonSecondaryG: #383838;
  --buttonSecondaryBg:  #383838;
  --buttonSecondaryBg2:  #515151;
  --buttonSecondaryBg3:  #5e5e5e;
  --buttonSecondaryBgHover:  #404040;
  --buttonSecondaryBg2Hover:  #595959;
  --buttonSecondaryBg3Hover:  #666666;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #F14100; 
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #0A0A0A;
  --buttonSecondaryRadius: 7px;

  --inputG: #232323;
  --inputBg: #232323;
  --inputBg2: #3c3c3c;
  --inputBg3: #494949; 
  --inputBgHover: #2b2b2b;
  --inputBg2Hover: #444444;
  --inputBg3Hover: #515151;
  --inputTxt:  rgba(255, 255, 255, 0.9);
  --inputTxt2: rgba(255, 255, 255, 0.6);
  --inputTxt3: rgba(255, 255, 255, 0.4);
  --inputAccent: #F14100;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 7px;        
  --inputBorder: #0A0A0A;  

  --inputSecondaryG: #2b2b2b;
  --inputSecondaryBg: #2b2b2b;
  --inputSecondaryBg2: #444444;
  --inputSecondaryBg3: #515151; 
  --inputSecondaryBgHover: #333333;
  --inputSecondaryBg2Hover: #4c4c4c;
  --inputSecondaryBg3Hover: #595959;
  --inputSecondaryTxt:  rgba(255, 255, 255, 0.9);
  --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --inputSecondaryAccent: #F14100;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 7px;        
  --inputSecondaryBorder: #0A0A0A;   

  --headerG: #383838;
  --headerBg: #383838;
  --headerBg2: #515151;
  --headerBg3: #5e5e5e;
  --headerBgHover: #404040;
  --headerBg2Hover: #595959;
  --headerBg3Hover: #666666;
  --headerTxt: rgba(255, 255, 255, 0.9);
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #F14100;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #0A0A0A;
  --headerRadius: 7px;

  --subHeaderG: #2b2b2b;
  --subHeaderBg: #2b2b2b;
  --subHeaderBg2: #444444;
  --subHeaderBg3: #515151;
  --subHeaderBgHover: #333333;
  --subHeaderBg2Hover: #4c4c4c;
  --subHeaderBg3Hover: #595959;
  --subHeaderTxt: rgba(255, 255, 255, 0.9);
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #F14100;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #0A0A0A;
  --subHeaderRadius: 7px;

  --eventG: #232323;
  --eventBg: #232323;
  --eventBg2: #3c3c3c;
  --eventBg3: #494949;  
  --eventBgHover: #2b2b2b;
  --eventBg2Hover: #444444;
  --eventBg3Hover: #515151;
  --eventTxt: rgba(255, 255, 255, 0.9);
  --eventTxt2: rgba(255, 255, 255, 0.6);
  --eventTxt3: rgba(255, 255, 255, 0.4);
  --eventAccent: #F14100;
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventBorder: #0A0A0A;
  --eventRadius:  7px;

  --modalG: #232323;
  --modalBg: #232323;
  --modalBg2: #3c3c3c;
  --modalBg3: #494949;
  --modalBgHover: #2b2b2b;
  --modalBg2Hover: #444444;
  --modalBg3Hover: #515151;
  --modalTxt: rgba(255, 255, 255, 0.9);
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #F14100;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 7px;
  --modalBorder: #0A0A0A;

  --oddG: #121212;
  --oddBg: #121212;
  --oddBg2: #2b2b2b;
  --oddBg3: #383838; 
  --oddBgHover: #1a1a1a;
  --oddBg2Hover: #333333;
  --oddBg3Hover: #404040;
  --oddTxt: rgba(255, 255, 255, 0.9);
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #F14100;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 7px;
  --oddBorder: #0A0A0A;

  --oddActiveG: #ff4601;
  --oddActiveBg: #ff4601;
  --oddActiveBg2: #ff6b34;
  --oddActiveBg3: #ff7e4d;  
  --oddActiveBgHover: #ff5110;
  --oddActiveBg2Hover: #ff7643;
  --oddActiveBg3Hover: #ff895c;
  --oddActiveTxt: rgba(255, 255, 255, 0.9);
  --oddActiveTxt2: rgba(255, 255, 255, 0.6);
  --oddActiveTxt3: rgba(255, 255, 255, 0.4);
  --oddActiveAccent: #F14100;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #0A0A0A;

  --showMoreG: #121212;
  --showMoreBg: #121212;
  --showMoreBg2: #2b2b2b;
  --showMoreBg3: #383838; 
  --showMoreBgHover: #1a1a1a;
  --showMoreBg2Hover: #333333;
  --showMoreBg3Hover: #404040;
  --showMoreTxt: rgba(255, 255, 255, 0.9);
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccent: #F14100;
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRadius: 7px;
  --showMoreBorder: #0A0A0A;


  --tabG: #232323;
  --tabBg: #232323;
  --tabBg2: #3c3c3c;
  --tabBg3: #494949;
  --tabBgHover: #2b2b2b;
  --tabBg2Hover: #444444;
  --tabBg3Hover: #515151;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #F14100;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 7px;
  --tabBorder: #0A0A0A;

  --tabActiveG: #2b2b2b;
  --tabActiveBg: #2b2b2b;
  --tabActiveBg2: #444444;
  --tabActiveBg3: #515151;
  --tabActiveBgHover: #333333;
  --tabActiveBg2Hover: #4c4c4c;
  --tabActiveBg3Hover: #595959;
  --tabActiveTxt: rgba(255, 255, 255, 0.9);
  --tabActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabActiveAccent: #F14100;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 7px;
  --tabActiveBorder: #0A0A0A; 

  --tabSecondaryActiveG: #2b2b2b;
  --tabSecondaryActiveBg: #2b2b2b;
  --tabSecondaryActiveBg2: #444444;
  --tabSecondaryActiveBg3: #515151;
  --tabSecondaryActiveBgHover: #333333;
  --tabSecondaryActiveBg2Hover: #4c4c4c;
  --tabSecondaryActiveBg3Hover: #595959;
  --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
  --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
  --tabSecondaryActiveAccent: #F14100;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 7px;
  --tabSecondaryActiveBorder: #0A0A0A; 

  --filterG: #2b2b2b;
  --filterBg: #2b2b2b;
  --filterBg2: #444444;
  --filterBg3: #515151;
  --filterBgHover: #333333;
  --filterBg2Hover: #4c4c4c;
  --filterBg3Hover: #595959;
  --filterTxt: rgba(255, 255, 255, 0.9);
  --filterTxt2: rgba(255, 255, 255, 0.6);
  --filterTxt3: rgba(255, 255, 255, 0.4);
  --filterAccent: #F14100;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 7px;
  --filterBorder: #0A0A0A; 

  --navbarG: #232323;
  --navbarBg: #232323;
  --navbarBg2: #3c3c3c;
  --navbarBg3: #494949;
  --navbarBgHover: #2b2b2b;
  --navbarBg2Hover: #444444;
  --navbarBg3Hover: #515151;
  --navbarTxt: rgba(255, 255, 255, 0.9);
  --navbarTxt2: rgba(255, 255, 255, 0.6);
  --navbarTxt3: rgba(255, 255, 255, 0.4);
  --navbarAccent: #F14100;
  --navbarAccentTxt: rgba(255, 255, 255, 0.9);
  --navbarRadius: 7px;
  --navbarBorder: #0A0A0A; 

  --menu_1G: #232323;
  --menu_1Bg: #232323;
  --menu_1Bg2: #3c3c3c;
  --menu_1Bg3: #494949;
  --menu_1BgHover: #2b2b2b;
  --menu_1Bg2Hover: #444444;
  --menu_1Bg3Hover: #515151;
  --menu_1Txt: rgba(255, 255, 255, 0.9);
  --menu_1Txt2: rgba(255, 255, 255, 0.6);
  --menu_1Txt3: rgba(255, 255, 255, 0.4);
  --menu_1Accent: #F14100;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 7px;
  --menu_1Border: #0A0A0A; 

  --menu_2G: #2b2b2b;
  --menu_2Bg: #2b2b2b;
  --menu_2Bg2: #444444;
  --menu_2Bg3: #515151;
  --menu_2BgHover: #333333;
  --menu_2Bg2Hover: #4c4c4c;
  --menu_2Bg3Hover: #595959;
  --menu_2Txt: rgba(255, 255, 255, 0.9);
  --menu_2Txt2: rgba(255, 255, 255, 0.6);
  --menu_2Txt3: rgba(255, 255, 255, 0.4);
  --menu_2Accent: #F14100;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 7px;
  --menu_2Border: #0A0A0A; 

  --menu_3G: #303030;
  --menu_3Bg: #303030;
  --menu_3Bg2: #494949;
  --menu_3Bg3: #565656;
  --menu_3BgHover: #383838;
  --menu_3Bg2Hover: #515151;
  --menu_3Bg3Hover: #5e5e5e;
  --menu_3Txt: rgba(255, 255, 255, 0.9);
  --menu_3Txt2: rgba(255, 255, 255, 0.6);
  --menu_3Txt3: rgba(255, 255, 255, 0.4);
  --menu_3Accent: #F14100;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 7px;
  --menu_3Border: #0A0A0A; 

  --tooltipG: #232323;
  --tooltipBg: #232323;
  --tooltipBg2: #3c3c3c;
  --tooltipBg3: #494949;
  --tooltipBgHover: #2b2b2b;
  --tooltipBg2Hover: #444444;
  --tooltipBg3Hover: #515151;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #F14100;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 7px;
  --tooltipBorder: #0A0A0A; 


  --spritePositionX: 0px;
}


/* :root{
--sport-digi-background:#262626;
--sport-digi-background-foreground:#ffffff;
--sport-digi-background--level--4:#1c1c1c;
--sport-digi-background--level-5:#333;
--sport-digi-background--level-10:#404040;
--sport-digi-background--level-15:#4c4c4c;
--sport-digi-background--opacity-50:rgba(38,38,38,0.5);
--sport-digi-foreground:#FFFFFF;
--sport-digi-foreground-foreground:#000000;
--sport-digi-foreground--level-20:#ccc;
--sport-digi-foreground--level-40:#999;
--sport-digi-foreground--level-60:#666;
--sport-digi-accent:#FFB700;
--sport-digi-accent-foreground:#000000;
--sport-digi-accent--darken-20:#996e00;
--sport-digi-accent--darken-10:#cc9200;
--sport-digi-accent--opacity-50:rgba(255,183,0,0.5);
--sport-digi-brand:#F14100;
--sport-digi-brand-foreground:#ffffff;
--sport-digi-brand--darken-20:#8b2500;
--sport-digi-brand--darken-10:#be3300;
--sport-digi-brand--opacity-50:rgba(241,65,0,0.5);
--sport-digi-border-radius--static:2px;
--sport-digi-border-radius--multiply-2:NaN;
--sport-digi-border-radius--multiply-3:NaN;
--sport-digi-border-radius--multiply-4:NaN;
--sport-digi-border-radius--divide-2:NaN;
--sport-digi-odd--static:#262626;
--sport-digi-header--static:#404040;
--sport-digi-background-mobile:#1a1a1a;
--sport-digi-background-mobile-foreground:#ffffff;
--sport-digi-star:#ffb700;
--sport-digi-star-foreground:#000000;
--sport-digi-red:#d40000;
--sport-digi-red-foreground:#ffffff;
--sport-digi-green:#00912C;
--sport-digi-green-foreground:#ffffff;
--sport-digi-white:#fff;
--sport-digi-white-foreground:#000000;
--sport-digi-black:#000;
--sport-digi-black-foreground:#ffffff;
--sport-digi-button-background:#4D4D4D;
--sport-digi-button-background-foreground:#ffffff;
--sport-digi-button-foreground:#999;
--sport-digi-button-foreground-foreground:#ffffff;
--sport-digi-id--static:1;
}
:root {
  --sport-digi-background: #262626 !important;
  --sport-digi-background-foreground: #ffffff !important;
  --sport-digi-background--level--4: #1c1c1c !important;
  --sport-digi-background--level-5: #333 !important;
  --sport-digi-background--level-10: #404040 !important;
  --sport-digi-background--level-15: #4c4c4c !important;
  --sport-digi-background--opacity-50: rgba(38, 38, 38, 0.5) !important;
  --sport-digi-foreground: #ffffff !important;
  --sport-digi-foreground-foreground: #000000 !important;
  --sport-digi-foreground--level-20: #ccc !important;
  --sport-digi-foreground--level-40: #999 !important;
  --sport-digi-foreground--level-60: #666 !important;
  --sport-digi-accent: #ffb700 !important;
  --sport-digi-accent-foreground: #000000 !important;
  --sport-digi-accent--darken-20: #996e00 !important;
  --sport-digi-accent--darken-10: #cc9200 !important;
  --sport-digi-accent--opacity-50: rgba(255, 183, 0, 0.5) !important;
  --sport-digi-brand: #f14100 !important;
  --sport-digi-brand-foreground: #ffffff !important;
  --sport-digi-brand--darken-20: #8b2500 !important;
  --sport-digi-brand--darken-10: #be3300 !important;
  --sport-digi-brand--opacity-50: rgba(241, 65, 0, 0.5) !important;
  --sport-digi-border-radius--static: 2px !important;
  --sport-digi-odd--static: #262626px !important;
  --sport-digi-header--static: #404040px !important;
  --sport-digi-background-mobile: #1a1a1a !important;
  --sport-digi-background-mobile-foreground: #ffffff !important;
  --sport-digi-star: #ffb700 !important;
  --sport-digi-star-foreground: #000000 !important;
  --sport-digi-red: #d40000 !important;
  --sport-digi-red-foreground: #ffffff !important;
  --sport-digi-green: #00912c !important;
  --sport-digi-green-foreground: #ffffff !important;
  --sport-digi-white: #fff !important;
  --sport-digi-white-foreground: #000000 !important;
  --sport-digi-black: #000 !important;
  --sport-digi-black-foreground: #ffffff !important;
  --sport-digi-button-background: #4d4d4d !important;
  --sport-digi-button-background-foreground: #ffffff !important;
  --sport-digi-button-foreground: #999 !important;
  --sport-digi-button-foreground-foreground: #ffffff !important;

  --inputBg: var(--sport-digi-background--level-10);
  --inputTxt: var(--sport-digi-background-foreground);
  --inputBg2: var(--sport-digi-background--level-15);
  --inputTxt2: var(--sport-digi-foreground--level-20);
} */
