:root {
  --bodyBg: #071e1d;
  --bodyBg2: #114745;
  --bodyBg3: #155c59;
  --bodyBgHover: #0a2a29;
  --bodyBg2Hover: #145351;
  --bodyBg3Hover: #186865;
  --bodyRGBA: rgba(7, 30, 29, 0.7);
  --bodyRGBA2: rgba(7, 30, 29, 0.5);
  --bodyRGBA3: rgba(7, 30, 29, 0.5);
  --bodyTxt: rgba(255, 255, 255, 0.9);
  --bodyTxt2: rgba(255, 255, 255, 0.6);
  --bodyTxt3: rgba(255, 255, 255, 0.4);
  --bodyAccent: #22845b;
  --bodyAccentTxt: rgba(255, 255, 255, 0.9);
  --bodyBorder: #071e1d;
  --bodyRadius: 0px;

  --accentBg: #22845b;
  --accentBg2: #2cad77;
  --accentBg3: #32c185;
  --accentBgHover: #259063;
  --accentBg2Hover: #2fb97f;
  --accentBg3Hover: #37cb8d;
  --accentG: #22845b;
  --accentTxt: rgba(255, 255, 255, 0.9);
  --accentTxt2: rgba(255, 255, 255, 0.6);
  --accentTxt3: rgba(255, 255, 255, 0.4);

  --dominantG: #001711;
  --dominantRGBA: rgba(0, 23, 17, 0.7);
  --dominantRGBA2: rgba(0, 23, 17, 0.5);
  --dominantRGBA3: rgba(0, 23, 17, 0.3);
  --dominantBg: #001711;
  --dominantBg2: #004a37;
  --dominantBg3: #00634a;
  --dominantBgHover: #00261c;
  --dominantBg2Hover: #005942;
  --dominantBg3Hover: #007255;
  --dominantTxt: rgba(255, 255, 255, 0.9);
  --dominantTxt2: rgba(255, 255, 255, 0.6);
  --dominantTxt3: rgba(255, 255, 255, 0.4);
  --dominantTxtInverse: #262626;
  --dominantRadius: 0px;

  --buttonG: #259063;
  --buttonBg: #259063;
  --buttonBg2: #2fb97f;
  --buttonBg3: #36cb8d;
  --buttonBgHover: #289c6b;
  --buttonBg2Hover: #32c587;
  --buttonBg3Hover: #42ce94;
  --buttonTxt: rgba(255, 255, 255, 0.9);
  --buttonTxt2: rgba(255, 255, 255, 0.6);
  --buttonTxt3: rgba(255, 255, 255, 0.4);
  --buttonAccent: #22845b;
  --buttonAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonBorder: #071e1d;
  --buttonRadius: 0px;

  --buttonSecondaryG: #186865;
  --buttonSecondaryBg: #186865;
  --buttonSecondaryBg2: #22918d;
  --buttonSecondaryBg3: #26a6a1;
  --buttonSecondaryBgHover: #1b7471;
  --buttonSecondaryBg2Hover: #259d99;
  --buttonSecondaryBg3Hover: #29b2ad;
  --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --buttonSecondaryAccent: #22845b;
  --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --buttonSecondaryBorder: #071e1d;
  --buttonSecondaryRadius: 0px;

  --inputG: #007155;
  --inputBg: #007155;
  --inputBg2: #00a47b;
  --inputBg3: #00bd8f;
  --inputBgHover: #008060;
  --inputBg2Hover: #00b386;
  --inputBg3Hover: #00cc9b;
  --inputTxt: rgba(255, 255, 255, 0.9);
  --inputTxt2: rgba(255, 255, 255, 0.6);
  --inputTxt3: rgba(255, 255, 255, 0.4);
  --inputAccent: #22845b;
  --inputAccentTxt: rgba(255, 255, 255, 0.9);
  --inputRadius: 0px;
  --inputBorder: #071e1d;

  --inputSecondaryG: #00b386;
  --inputSecondaryBg: #00b386;
  --inputSecondaryBg2: #00e6ac;
  --inputSecondaryBg3: #00ffbf;
  --inputSecondaryBgHover: #00c291;
  --inputSecondaryBg2Hover: #00f5b7;
  --inputSecondaryBg3Hover: #0fffc3;
  --inputSecondaryTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
  --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
  --inputSecondaryAccent: #22845b;
  --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
  --inputSecondaryRadius: 0px;
  --inputSecondaryBorder: #071e1d;

  --headerG: #013f30;
  --headerBg: #013f30;
  --headerBg2: #027156;
  --headerBg3: #028a69;
  --headerBgHover: #014e3b;
  --headerBg2Hover: #028061;
  --headerBg3Hover: #029974;
  --headerTxt: rgba(255, 255, 255, 0.9);
  --headerTxt2: rgba(255, 255, 255, 0.6);
  --headerTxt3: rgba(255, 255, 255, 0.4);
  --headerAccent: #22845b;
  --headerAccentTxt: rgba(255, 255, 255, 0.9);
  --headerBorder: #071e1d;
  --headerRadius: 0px;

  --subHeaderG: #028061;
  --subHeaderBg: #028061;
  --subHeaderBg2: #03b287;
  --subHeaderBg3: #03cb9a;
  --subHeaderBgHover: #028f6c;
  --subHeaderBg2Hover: #03c192;
  --subHeaderBg3Hover: #03daa5;
  --subHeaderTxt: rgba(255, 255, 255, 0.9);
  --subHeaderTxt2: rgba(255, 255, 255, 0.6);
  --subHeaderTxt3: rgba(255, 255, 255, 0.4);
  --subHeaderAccent: #22845b;
  --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
  --subHeaderBorder: #071e1d;
  --subHeaderRadius: 0px;

  --oddG: #0a2a29;
  --oddBg: #0a2a29;
  --oddBg2: #145351;
  --oddBg3: #196865;
  --oddBgHover: #0d3635;
  --oddBg2Hover: #175f5d;
  --oddBg3Hover: #1c7471;
  --oddTxt: rgba(255, 255, 255, 0.9);
  --oddTxt2: rgba(255, 255, 255, 0.6);
  --oddTxt3: rgba(255, 255, 255, 0.4);
  --oddAccent: #22845b;
  --oddAccentTxt: rgba(255, 255, 255, 0.9);
  --oddRadius: 0px;
  --oddBorder: #071e1d;

  --oddActiveG: #7e2422;
  --oddActiveBg: #7e2422;
  --oddActiveBg2: #a62f2d;
  --oddActiveBg3: #ba3532;
  --oddActiveBgHover: #8a2725;
  --oddActiveBg2Hover: #b23230;
  --oddActiveBg3Hover: #c63835;
  --oddActiveTxt: rgba(255, 255, 255, 0.9);
  --oddActiveTxt2: rgba(255, 255, 255, 0.6);
  --oddActiveTxt3: rgba(255, 255, 255, 0.4);
  --oddActiveAccent: #22845b;
  --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --oddActiveRadius: 0px;
  --oddActiveBorder: #071e1d;

  --eventWrapperG: undefined;
  --eventWrapperBg: undefined;
  --eventWrapperBg2: undefined;
  --eventWrapperBg3: undefined;
  --eventWrapperBgHover: undefined;
  --eventWrapperBg2Hover: undefined;
  --eventWrapperBg3Hover: undefined;
  --eventWrapperTxt: undefined;
  --eventWrapperTxt2: undefined;
  --eventWrapperTxt3: undefined;
  --eventWrapperAccent: undefined;
  --eventWrapperAccentTxt: undefined;
  --eventWrapperBorder: undefined;
  --eventWrapperRadius: undefinedpx;

  --eventG: #ffffff;
  --eventBg: #ffffff;
  --eventBg2: #f0f0f0;
  --eventBg3: #e0e0e0;
  --eventBgHover: #f7f7f7;
  --eventBg2Hover: #e8e8e8;
  --eventBg3Hover: #d8d8d8;
  --eventTxt: rgba(0, 0, 0, 0.9);
  --eventTxt2: rgba(0, 0, 0, 0.6);
  --eventTxt3: rgba(0, 0, 0, 0.4);
  --eventAccent: #22845b;
  --eventAccentTxt: rgba(255, 255, 255, 0.9);
  --eventBorder: #071e1d;
  --eventRadius: 0px;

  --modalG: #004a37;
  --modalBg: #004a37;
  --modalBg2: #007d5d;
  --modalBg3: #009670;
  --modalBgHover: #005942;
  --modalBg2Hover: #008c68;
  --modalBg3Hover: #00a57b;
  --modalTxt: rgba(255, 255, 255, 0.9);
  --modalTxt2: rgba(255, 255, 255, 0.6);
  --modalTxt3: rgba(255, 255, 255, 0.4);
  --modalAccent: #22845b;
  --modalAccentTxt: rgba(255, 255, 255, 0.9);
  --modalRadius: 0px;
  --modalBorder: #071e1d;

  --showMoreG: #181818;
  --showMoreBg: #181818;
  --showMoreBg2: #313131;
  --showMoreBg3: #3e3e3e;
  --showMoreBgHover: #202020;
  --showMoreBg2Hover: #393939;
  --showMoreBg3Hover: #464646;
  --showMoreTxt: rgba(255, 255, 255, 0.9);
  --showMoreTxt2: rgba(255, 255, 255, 0.6);
  --showMoreTxt3: rgba(255, 255, 255, 0.4);
  --showMoreAccent: #7e2422;
  --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
  --showMoreRadius: 0px;
  --showMoreBorder: #071e1d;

  --tabG: #f36e21;
  --tabBg: #f36e21;
  --tabBg2: #f68e51;
  --tabBg3: #f79d6a;
  --tabBgHover: #f4772f;
  --tabBg2Hover: #f79760;
  --tabBg3Hover: #f8a778;
  --tabTxt: rgba(255, 255, 255, 0.9);
  --tabTxt2: rgba(255, 255, 255, 0.6);
  --tabTxt3: rgba(255, 255, 255, 0.4);
  --tabAccent: #22845b;
  --tabAccentTxt: rgba(255, 255, 255, 0.9);
  --tabRadius: 0px;
  --tabBorder: #071e1d;

  --tabActiveG: #f79760;
  --tabActiveBg: #f79760;
  --tabActiveBg2: #f9b791;
  --tabActiveBg3: #fbc7a9;
  --tabActiveBgHover: #f8a16f;
  --tabActiveBg2Hover: #fac09f;
  --tabActiveBg3Hover: #fcd1b8;
  --tabActiveTxt: rgba(0, 0, 0, 0.9);
  --tabActiveTxt2: rgba(0, 0, 0, 0.6);
  --tabActiveTxt3: rgba(0, 0, 0, 0.4);
  --tabActiveAccent: #22845b;
  --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabActiveRadius: 0px;
  --tabActiveBorder: #071e1d;

  --tabSecondaryActiveBg: #f79760;
  --tabSecondaryActiveBg2: #f9b791;
  --tabSecondaryActiveBg3: #fbc7a9;
  --tabSecondaryActiveBgHover: #f8a16f;
  --tabSecondaryActiveBg2Hover: #fac09f;
  --tabSecondaryActiveBg3Hover: #fcd1b8;
  --tabSecondaryActiveTxt: rgba(0, 0, 0, 0.9);
  --tabSecondaryActiveTxt2: rgba(0, 0, 0, 0.6);
  --tabSecondaryActiveTxt3: rgba(0, 0, 0, 0.4);
  --tabSecondaryActiveAccent: #22845b;
  --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
  --tabSecondaryActiveRadius: 0px;
  --tabSecondaryActiveBorder: #071e1d;

  --filterG: #00b386;
  --filterBg: #00b386;
  --filterBg2: #00e6ac;
  --filterBg3: #00ffbf;
  --filterBgHover: #00c291;
  --filterBg2Hover: #00f5b7;
  --filterBg3Hover: #0fffc3;
  --filterTxt: rgba(255, 255, 255, 0.9);
  --filterTxt2: rgba(255, 255, 255, 0.6);
  --filterTxt3: rgba(255, 255, 255, 0.4);
  --filterAccent: #22845b;
  --filterAccentTxt: rgba(255, 255, 255, 0.9);
  --filterRadius: 0px;
  --filterBorder: #071e1d;

  --menu_1G: #bababa;
  --menu_1Bg: #bababa;
  --menu_1Bg2: #d3d3d3;
  --menu_1Bg3: #e0e0e0;
  --menu_1BgHover: #c2c2c2;
  --menu_1Bg2Hover: #dbdbdb;
  --menu_1Bg3Hover: #e8e8e8;
  --menu_1Txt: rgba(0, 0, 0, 0.9);
  --menu_1Txt2: rgba(0, 0, 0, 0.6);
  --menu_1Txt3: rgba(0, 0, 0, 0.4);
  --menu_1Accent: #22845b;
  --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_1Radius: 0px;
  --menu_1Border: #071e1d;

  --menu_2G: #dbdbdb;
  --menu_2Bg: #dbdbdb;
  --menu_2Bg2: #f4f4f4;
  --menu_2Bg3: #ffffff;
  --menu_2BgHover: #e3e3e3;
  --menu_2Bg2Hover: #fcfcfc;
  --menu_2Bg3Hover: #ffffff;
  --menu_2Txt: rgba(0, 0, 0, 0.9);
  --menu_2Txt2: rgba(0, 0, 0, 0.6);
  --menu_2Txt3: rgba(0, 0, 0, 0.4);
  --menu_2Accent: #22845b;
  --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_2Radius: 0px;
  --menu_2Border: #071e1d;

  --menu_3G: #e0e0e0;
  --menu_3Bg: #e0e0e0;
  --menu_3Bg2: #f9f9f9;
  --menu_3Bg3: #ffffff;
  --menu_3BgHover: #e8e8e8;
  --menu_3Bg2Hover: #ffffff;
  --menu_3Bg3Hover: #ffffff;
  --menu_3Txt: rgba(0, 0, 0, 0.9);
  --menu_3Txt2: rgba(0, 0, 0, 0.6);
  --menu_3Txt3: rgba(0, 0, 0, 0.4);
  --menu_3Accent: #22845b;
  --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
  --menu_3Radius: 0px;
  --menu_3Border: #071e1d;

  --tooltipG: #004a37;
  --tooltipBg: #004a37;
  --tooltipBg2: #007d5d;
  --tooltipBg3: #009670;
  --tooltipBgHover: #005942;
  --tooltipBg2Hover: #008c68;
  --tooltipBg3Hover: #00a57b;
  --tooltipTxt: rgba(255, 255, 255, 0.9);
  --tooltipTxt2: rgba(255, 255, 255, 0.6);
  --tooltipTxt3: rgba(255, 255, 255, 0.4);
  --tooltipAccent: #22845b;
  --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
  --tooltipRadius: 0px;
  --tooltipBorder: #071e1d;

  /* Old betslip */

  --betSlipBg: #004a37;
  --betSlipTxt: rgba(255, 255, 255, 0.9);
  --betSlipBg2: #007d5d;
  --betSlipBg3: #009670;

  --betSlipHeaderBg: #005942;
  --betSlipHeaderTxt: rgba(255, 255, 255, 0.9);
  --betSlipHeaderG: #005942;

  --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
  --betSlipStakeBg2: #008c68;
  --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);
  --betSlipStakeG: #005942;

  --borderRadius: undefinedpx;
  --borderRadiusHalf: NaNpx;
  --bottomBorderRadiusHalf: NaNpx;
}

#e-sport-root .component_notification {
  background-color: var(--dominantRGBA);
  color: var(--dominantTxt);
}

#e-sport-root .component_notification .sport_front_icon-issue {
  color: var(--accentBg);
}

#e-sport-root ::-webkit-scrollbar {
  background-color: var(--bodyBg);
}

#e-sport-root ::-webkit-scrollbar-thumb {
  background-color: var(--dominantBg2);
}

#e-sport-root .component_loader_component .component_loader_component_loader_wrapper > div {
  background-color: var(--accentBg);
}

#e-sport-root .esp_layout_main,
#e-sport-root .component_sidebar_header {
  background-color: var(--bodyBg);
  color: var(--bodyTxt);
}

#e-sport-root .component_sidebar_list_filter {
  background-color: var(--bodyBg);
  color: var(--bodyTxt);
}

#e-sport-root .sport_front_icon-star {
  color: var(--eventTxt);
}

/*sidebar*/
#e-sport-root .component_sidebar_list {
  background-color: var(--dominantBg);
  color: var(--dominantTxt);
}

#e-sport-root .component_sidebar_arrow {
  color: var(--dominantTxt2);
}

#e-sport-root .component_sidebar_collapse_toggle {
  background-color: var(--dominantBg);
  color: var(--dominantTxt);
}

#e-sport-root .component_sidebar_collapse_toggle .sport_front_icon-double_arrow_l,
#e-sport-root .component_sidebar_search_wrapper .sport_front_icon-search,
#e-sport-root .component_sidebar_search_input::placeholder {
  color: var(--dominantTxt2);
}

#e-sport-root .component_sidebar_collapse_toggle:hover .sport_front_icon-double_arrow_l {
  color: var(--dominantTxt);
}

#e-sport-root .component_sidebar_search_input {
  background-color: var(--dominantBg);
  color: var(--dominantTxt);
}

/*sidebar tabs*/
#e-sport-root .component_sidebar_list_filter_tab_count {
  background-color: var(--bodyBg);
  color: var(--bodyTxt);
}

#e-sport-root
  .component_sidebar_list_filter_tab.component_sidebar_list_filter_tab_active
  .component_sidebar_list_filter_tab_count,
#e-sport-root .component_sidebar_list_filter_tab:hover .component_sidebar_list_filter_tab_count {
  background-color: var(--accentBg);
  color: var(--accentTxt);
}

#e-sport-root .component_sidebar_list_filter_tab,
#e-sport-root .esp_tabs_wrapper_markets .esp_tab {
  background: var(--tabG);
  color: var(--tabTxt);
  border-color: transparent;
  border-top-left-radius: var(--tabRadius);
  border-top-right-radius: var(--tabRadius);
}

#e-sport-root .component_sidebar_list_filter_tab.component_sidebar_list_filter_tab_active,
#e-sport-root .component_sidebar_list_filter_tab:hover,
#e-sport-root .esp_tabs_wrapper_markets .esp_tab.esp_tab_active,
#e-sport-root .esp_tabs_wrapper_markets .esp_tab:hover {
  background: var(--tabActiveG);
  color: var(--tabActiveTxt);
  border-color: var(--tabActiveBorder);
  font-weight: 500;
  border-top-left-radius: var(--tabActiveRadius);
  border-top-right-radius: var(--tabActiveRadius);
}

.esp_tab.esp_tab_active span {
  color: var(--tabActiveTxt) !important;
}

#e-sport-root .component_sidebar_list_item_separator {
  background-color: var(--menu_1Border);
  margin: 0 8px;
}

/*sidebar items*/
#e-sport-root .component_sidebar_list_item {
  background: var(--menu_1BgHover);
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item.component_sidebar_list_item_active,
#e-sport-root .component_sidebar_list_item:hover {
  background: var(--menu_1G);
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item_name {
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item_count {
  color: var(--menu_1Txt2);
}

#e-sport-root .component_sidebar_list_item_sub_wrapper {
  background-color: var(--menu_1Bg2);
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item_sub {
  background: var(--menu_1Bg2);
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item_sub.component_sidebar_list_item_sub_active,
#e-sport-root .component_sidebar_list_item_sub:hover {
  background: var(--menu_1G);
  color: var(--menu_1Txt);
}

#e-sport-root .component_sidebar_list_item_sub_count {
  color: var(--menu_1Txt2);
}

/*homepage mid*/
#e-sport-root .esp_main_header {
  background: var(--dominantBg);
  color: var(--dominantTxt);
}

#e-sport-root .esp_main_header .esp_main_header_link {
  color: var(--dominantTxt);
}

#e-sport-root .esp_main_header .esp_main_header_link.esp_main_header_link_active,
#e-sport-root .esp_main_header .esp_main_header_link:hover {
  color: var(--accentBg);
}

/*games*/
#e-sport-root .esp_game_filter {
  background: var(--headerG);
  color: var(--headerTxt);
}

#e-sport-root .esp_game_filter strong {
  color: var(--headerTxt);
}

#e-sport-root .esp_game_filter span {
  color: var(--headerTxt);
}

#e-sport-root .esp_game_filter i {
  color: var(--headerTxt);
}

#e-sport-root .esp_filter_icons,
#e-sport-root .esp_filter_icons > i {
  color: var(--headerTxt2);
}

#e-sport-root .esp_filter_icons > i.esp_icon_active,
#e-sport-root .esp_filter_icons > i:hover {
  color: var(--accentBg);
}

#e-sport-root .esp_games_wrapper,
#e-sport-root .esp_games_details_wrapper {
  background: var(--eventWrapperBg);
  color: var(--eventWrapperTxt);
}

#e-sport-root .esp_games_wrapper > h2 {
  color: var(--eventWrapperTxt2);
}

#e-sport-root .esp_game_row,
#e-sport-root .esp_game_details_item {
  background: var(--eventG);
  color: var(--eventTxt);
}

#e-sport-root .esp_game_row:hover {
  background: var(--eventBgHover);
  color: var(--eventTxt);
}

#e-sport-root .sport_front_icon-star {
  color: var(--eventTxt2);
}

#e-sport-root .sport_front_icon-star.digi_fav_active {
  color: var(--accentBg);
}

#e-sport-root .esp_game_row .esp_team {
  color: var(--eventTxt);
}

#e-sport-root .esp_odd.esp_odd_vs,
#e-sport-root .esp_game_row .sport_front_icon-arrow_right {
  color: var(--eventTxt2);
}

#e-sport-root .esp_tabs_wrapper_markets {
  background: var(--bodyBg);
}

#e-sport-root .esp_game_details_item .esp_game_details_item_header .esp_game_details_item_market_name {
  color: var(--eventTxt);
}

/*odds*/
#e-sport-root .esp_odd,
#e-sport-root .esp_video_stake_stake,
#e-sport-root .esp_game_details_odd,
#e-sport-root .esp_video_wrapper .esp_video_stakes_wrapper .esp_video_stake .esp_video_stake_stake {
  background: var(--oddG);
  border-radius: var(--oddRadius);
}

#e-sport-root .esp_odd .esp_odd_factor,
#e-sport-root .esp_game_details_odd .esp_odd_factor {
  color: var(--oddTxt);
}

#e-sport-root .esp_game_details_odd .esp_game_details_odd_name {
  color: var(--oddTxt2);
}

#e-sport-root .esp_odd.esp_odd_active,
#e-sport-root .esp_odd:hover,
#e-sport-root .esp_game_details_odd.esp_game_details_odd_active,
#e-sport-root .esp_game_details_odd.esp_game_details_odd:hover,
#e-sport-root
  .esp_video_wrapper
  .esp_video_stakes_wrapper
  .esp_video_stake
  .esp_video_stake_stake.esp_video_stake_stake_active,
#e-sport-root .esp_video_wrapper .esp_video_stakes_wrapper .esp_video_stake .esp_video_stake_stake:hover {
  background: var(--oddActiveG);
  border-radius: var(--oddActiveRadius);
}

#e-sport-root .esp_odd.esp_odd_active .esp_odd_factor,
#e-sport-root .esp_odd:hover .esp_odd_factor,
#e-sport-root .esp_game_details_odd:hover span,
#e-sport-root .esp_game_details_odd.esp_game_details_odd_active span,
#e-sport-root
  .esp_video_wrapper
  .esp_video_stakes_wrapper
  .esp_video_stake
  .esp_video_stake_stake.esp_video_stake_stake_active
  .esp_odd_factor,
#e-sport-root
  .esp_video_wrapper
  .esp_video_stakes_wrapper
  .esp_video_stake
  .esp_video_stake_stake:hover
  .esp_odd_factor {
  color: var(--oddActiveTxt);
}

/*complex single game*/
#e-sport-root .es_game_complex {
  background: transparent;
}

#e-sport-root .es_game_complex .es_game_row_2_header {
  background: var(--subHeaderG);
  color: var(--subHeaderTxt2);
}

#e-sport-root .es_game_complex .es_game_row_2_header_name {
  color: var(--subHeaderTxt);
}

#e-sport-root .es_game_complex .es_game_complex_content {
  background: var(--eventG);
  color: var(--eventTxt);
}

#e-sport-root .es_game_complex .sport_front_icon-star {
  color: var(--eventTxt2);
}

#e-sport-root .es_game_complex .esp_odd {
  border-color: var(--eventBg);
  color: var(--eventTxt) !important;
}

#e-sport-root .es_game_complex .esp_odd:hover {
  background: var(--oddActiveG);
  color: var(--oddActiveTxt) !important;
}

#e-sport-root .es_game_complex .esp_show_more i {
  color: var(--eventTxt2);
}

/*results page*/
#e-sport-root .esp_maximise_stream {
  background: var(--filterBg);
  color: var(--filterTxt);
}

#e-sport-root .component_filter_header {
  background: var(--filterBg2);
}

#e-sport-root .component_filter_header .component_input_group_label {
  color: var(--filterTxt2);
}

#e-sport-root .component_filter_header .component_input,
#e-sport-root .component_filter_header .component_select_wrapper .component_select_imitator,
#e-sport-root .component_filter_header .component_datepicker,
#e-sport-root .component_filter_header .component_datepicker > div,
#e-sport-root .component_filter_header .component_datepicker > div input,
#e-sport-root .component_filter_header .component_select_dropdown_imitator {
  background: var(--filterBg) !important;
  color: var(--filterTxt) !important;
}

#e-sport-root .component_filter_header .component_select_dropdown_imitator > div {
  color: var(--filterTxt2) !important;
}

#e-sport-root .component_filter_header .component_select_dropdown_imitator > div:hover {
  background: var(--filterBg2) !important;
  color: var(--filterTxt) !important;
}

#e-sport-root .component_select,
#e-sport-root .component_datepicker,
#e-sport-root .component_datepicker > div,
#e-sport-root .component_datepicker > div input,
#e-sport-root .component_input {
  background: var(--inputG) !important;
  color: var(--inputTxt) !important;
}

#e-sport-root .component_datepicker > div input,
#e-sport-root .component_datepicker > div input::placeholder,
#e-sport-root .component_filter_header .component_datepicker input,
#e-sport-root .component_filter_header .component_input::placeholder,
#e-sport-root .component_select_wrapper .component_select_imitator span,
#e-sport-root .component_select_wrapper .component_select_imitator i {
  color: var(--inputTxt) !important;
}

#e-sport-root .component_filter_header .component_button {
  background: var(--buttonG) !important;
  color: var(--buttonTxt) !important;
}

/*video stake*/
#e-sport-root .esp_video_wrapper .esp_video_stake_team .esp_video_stake_score {
  color: var(--accentBg);
}

#e-sport-root .esp_video_wrapper .esp_video_stakes_wrapper .esp_video_stake {
  border-bottom: 4px solid var(--bodyBg);
  background-color: var(--bodyBg);
}

#e-sport-root .esp_video_wrapper .esp_video_stake_header {
  background: var(--dominantBg);
  color: var(--dominantTxt) !important;
  border-color: var(--bodyBg);
}

#e-sport-root .esp_video_wrapper .esp_video_stake_header span {
  color: var(--dominantTxt) !important;
}

#e-sport-root .esp_video_wrapper .esp_video_stake_team {
  background: var(--eventBg);
  color: var(--eventTxt);
  border-color: var(--bodyBg);
}

#e-sport-root .esp_video_wrapper .esp_video_stake_active .esp_video_stake_team {
  background: var(--eventBgHover);
  color: var(--eventTxt);
}

#e-sport-root .esp_video_wrapper .esp_video_stake_team .esp_video_stake_team_name {
  color: var(--eventTxt);
}

/*dropdowns*/
#e-sport-root .component_select_wrapper .component_select_dropdown_imitator {
  background: var(--dominantBg);
  color: var(--dominantTxt);
}

#e-sport-root .component_select_wrapper .component_select_dropdown_imitator > div {
  color: var(--dominantTxt);
}

#e-sport-root .component_select_wrapper .component_select_dropdown_imitator > div:hover {
  background: var(--dominantBg2);
  color: var(--dominantTxt);
}

/*right side*/
#e-sport-root
  .esp_layout_right
  .component_format_filter_container
  > div
  .component_select_wrapper
  .component_select_imitator {
  background: var(--dominantBg) !important;
  color: var(--dominantTxt) !important;
}

#e-sport-root
  .esp_layout_right
  .component_format_filter_container
  > div
  .component_select_wrapper
  .component_select_imitator
  i,
#e-sport-root
  .esp_layout_right
  .component_format_filter_container
  > div
  .component_select_wrapper
  .component_select_imitator
  span {
  color: var(--dominantTxt) !important;
}

/*betslip*/
#e-sport-root .esp_betslip {
  background: var(--betSlipBg) !important;
  color: var(--betSlipTxt) !important;
}

#e-sport-root .esp_betslip .component_betslip_possible_winning strong {
  color: var(--accentBg);
}

#e-sport-root .component_betslip_header {
  background: var(--betSlipHeaderG) !important;
  color: var(--betSlipHeaderTxt) !important;
}

#e-sport-root .component_betslip_header_tab .component_betslip_header_tab_count {
  background: var(--accentBg) !important;
  color: var(--accentTxt) !important;
  border-color: var(--betSlipHeaderBg) !important;
}

#e-sport-root .component_betslip_header i.component_betlip_pin_active,
#e-sport-root .component_betslip_header i:not(.component_betlip_pin_disabled):hover {
  color: var(--accentBg) !important;
}

#e-sport-root .esp_component_message {
  background: var(--inputBg) !important;
  color: var(--inputTxt) !important;
  border: 1px solid var(--inputBorder) !important;
}

#e-sport-root .esp_component_message i,
#e-sport-root .esp_component_message span {
  background: var(--inputBg) !important;
  color: var(--inputTxt) !important;
}

#e-sport-root .esp_betslip .component_betslip_stake_factor {
  background: transparent;
  color: var(--accentBg);
}

#e-sport-root .component_betslip_input {
  background: var(--inputG) !important;
  color: var(--inputTxt) !important;
  border-radius: var(--inputRadius);
}

#e-sport-root .component_betslip_button {
  background: var(--betSlipBg2) !important;
  color: var(--betSlipTxt) !important;
  border-radius: var(--inputRadius);
}

#e-sport-root .component_betslip_button:hover {
  background: var(--betSlipBg2) !important;
  color: var(--betSlipTxt) !important;
}

#e-sport-root .component_betslip_tax_wrapper {
  background: var(--betSlipBg3) !important;
  color: var(--betSlipTxt) !important;
}

#e-sport-root .component_betslip_button_akcent {
  background: var(--accentG) !important;
  color: var(--accentTxt) !important;
  border-radius: var(--inputRadius);
}

#e-sport-root .component_betslip_button_akcent:hover {
  background: var(--accent2) !important;
  color: var(--accentTxt) !important;
}

/*Bet history*/
#e-sport-root .digi_table_body,
#e-sport-root .digi_table_header {
  background: var(--bodyBg) !important;
}

#e-sport-root .digi_table {
  color: var(--dominantTxt2) !important;
}

#e-sport-root .digi_table_row {
  background: var(--dominantBg) !important;
}

#e-sport-root .component_history_content_item_id,
#e-sport-root .component_history_status_pending {
  color: var(--accentBg) !important;
}

#e-sport-root .component_history_button_cashout {
  background: var(--accentBg) !important;
  color: var(--accentTxt) !important;
}

#e-sport-root .component_cashout_popup_amount {
  color: var(--accentBg) !important;
}

#e-sport-root .component_button {
  background: var(--accentBg) !important;
  color: var(--accentTxt) !important;
}

.MuiPickersDay-day.MuiPickersDay-daySelected,
.MuiIconButton-root:hover {
  background: var(--accentBg) !important;
  color: var(--accentTxt) !important;
}

.MuiPickersDay-current:not(.MuiPickersDay-daySelected) {
  color: var(--accentBg) !important;
}

#e-sport-root .component_popup_header {
  background: var(--betSlipHeaderG) !important;
  color: var(--betSlipHeaderTxt) !important;
}

#e-sport-root .component_popup_body {
  background: var(--betSlipBg) !important;
  color: var(--betSlipTxt) !important;
}

#e-sport-root .component_partial_cashout_inpu {
  background: var(--betSlipBg2) !important;
  color: var(--betSlipTxt) !important;
}

/*tabs*/
#e-sport-root .esp_betslip .esp_tab {
  background: var(--tabG);
  color: var(--tabTxt);
}

#e-sport-root .esp_betslip .esp_tab.esp_tab_active {
  background: var(--tabActiveG);
  color: var(--tabActiveTxt);
}

@media (hover: hover) and (min-width: 992px) {
  #e-sport-root .esp_betslip .esp_tab:hover {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
  }
}

#e-sport-root .esp_betslip .esp_betslip_stake {
  background: var(--betSlipStakeG);
  color: var(--betSlipStakeTxt2);
  border-color: var(--betSlipBg);
}

#e-sport-root .esp_betslip .esp_checkbox_wrapper,
#e-sport-root .esp_betslip_stake_name {
  color: var(--betSlipStakeTxt2);
}

#e-sport-root .esp_betslip_stake_teams {
  color: var(--betSlipStakeTxt) !important;
}

#e-sport-root .esp_betslip_item_factor {
  background: var(--betSlipStakeBg2);
  color: var(--betSlipStakeTxt);
}

/*border radius*/
#e-sport-root .component_datepicker > div {
  overflow: hidden;
}

/*Mobile*/

#e-sport-root .esp_mob_wrapper {
  background-color: var(--bodyBg);
  color: var(--bodyTxt);
}

#e-sport-root .esp_mob_wrapper .esp_add_settings_wrapper > div > i {
  color: var(--headerTxt2);
}

#e-sport-root .esp_mob_legend {
  background-color: var(--headerBg);
  color: var(--headerTxt2);
}

#e-sport-root .esp_mob_header_main {
  background-color: var(--dominantBg);
  color: var(--dominantTxt);
  margin-bottom: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

#e-sport-root .esp_mob_wrapper .esp_add_settings_wrapper .esp_add_settings .esp_add_settings_links {
  background-color: var(--headerBg2);
}

#e-sport-root .esp_mob_wrapper .esp_add_settings_wrapper .esp_add_settings .esp_add_settings_links > ul li a {
  background-color: var(--headerBg);
}

#e-sport-root .esp_mob_header_mini {
  background-color: var(--subHeaderG);
  color: var(--subHeaderTxt2);
}

#e-sport-root .esp_mob_header_main_link.esp_mob_header_main_link_active,
#e-sport-root .esp_mob_header_main_link:hover {
  color: var(--accentBg);
}

#e-sport-root .esp_mob_filter_main {
  background-color: var(--dominantBg);
}

#e-sport-root .esp_mob_filter_main_item,
#e-sport-root .component_search_mob .sport_front_icon-remove {
  color: var(--dominantTxt2);
}

#e-sport-root .component_search_mob .component_search_input {
  background-color: var(--dominantBg2) !important;
}

#e-sport-root .esp_mob_filter_main_item.esp_mob_filter_main_item_active {
  color: var(--accentBg);
}

#e-sport-root .esp_mob_filter_main_item .esp_mob_filter_main_item_fav_count {
  background-color: var(--accentBg);
  color: var(--accentTxt);
  border: 1px solid var(--accentTxt);
}

#e-sport-root .esp_mob_game_filter {
  background-color: var(--bodyBg);
}

#e-sport-root .esp_game_filter.esp_game_filter_no_header {
  background-color: var(--headerBg);
}

#e-sport-root .esp_mob_game_filter_item.esp_mob_game_filter_item_active .esp_mob_game_filter_item__name {
  color: var(--accentBg);
}

#e-sport-root .esp_mob_game_filter_item .esp_mob_game_filter_item__more,
#e-sport-root .esp_mob_game_filter_item .esp_mob_game_filter_item__name {
  color: var(--bodyTxt);
}

#e-sport-root .esp_mob_game_filter_item .esp_mob_game_filter_item__more {
  right: 28px;
}

#e-sport-root .esp_game_mob {
  background-color: var(--eventG);
}

#e-sport-root .esp_typography_mob-primary {
  color: var(--eventTxt);
}

#e-sport-root .esp_typography_mob {
  color: var(--eventTxt2);
}

#e-sport-root .esp_mob_games_wrapper {
  background-color: var(--bodyBg);
}

#e-sport-root .esp_game_mob_wrapper .digi_fav {
  color: var(--accentBg);
}

#e-sport-root .esp_mob_odd {
  background: var(--oddG);
  color: var(--oddTxt);
  font-weight: 400;
}

#e-sport-root .esp_odd_factor {
  color: var(--oddTxt);
}

#e-sport-root .esp_mob_odd:hover,
#e-sport-root .esp_mob_odd.esp_mob_odd_active {
  background-color: var(--oddActiveG);
}

#e-sport-root .esp_mob_odd:hover .esp_odd_factor,
#e-sport-root .esp_mob_odd.esp_mob_odd_active .esp_odd_factor {
  color: var(--oddActiveTxt);
}

#e-sport-root .es_game_result .esp_odd.esp_odd_active {
  background-color: var(--oddActiveG);
  color: var(--oddActiveTxt);
}

/*End mobile*/

#e-sport-root .esp_betslip_item_factor {
  background: var(--betSlipStakeBg2);
  color: var(--betSlipStakeTxt);
}

#e-sport-root .sport_front_icon-star.digi_fav_active {
  color: var(--accentBg);
}

#e-sport-root .esp_mob_wrapper .esp_odd_factor,
#e-sport-root .esp_odd.esp_odd_vs {
  font-size: 14px;
}

#e-sport-root .esp_game_details_odd .esp_odd_factor {
  font-weight: 400;
  color: var(--oddTxt);
}

#e-sport-root .component_sidebar_list_filter_tab_count {
  background-color: var(--bodyBg);
}

#e-sport-root .esp_betslip_mob_pin_count {
  background: var(--accentG);
  color: var(--accentTxt);
}

#e-sport-root .esp_betslip_mob_pin {
  border-right: 4px solid var(--accentBg);
}

#e-sport-root .component_betslip_input_imit {
  background: var(--inputBg);
  color: var(--inputTxt);
}

#e-sport-root .esp_mob_wrapper .esp_game_details_item .esp_game_details_item_content {
  background-color: var(--oddBorder);
}

#e-sport-root .esp_mob_wrapper .esp_game_details_odd {
  border-bottom: 2px solid var(--oddBorder);
}

#e-sport-root .esp_mob_wrapper .esp_game_details_item .esp_game_details_item_header {
  border-bottom: 2px solid var(--eventBorder);
}

#e-sport-root .esp_match_tabs_wrapper_with_collapse_icon .component_collapse_all {
  color: var(--bodyTxt);
}

#e-sport-root .esp_tabs_wrapper_markets .esp_tab.esp_tab_active > strong,
#e-sport-root .esp_tabs_wrapper_markets .esp_tab:hover > strong {
  color: var(--tabActiveTxt2);
}

#e-sport-root .esp_game_details_item [class*='sport_front_icon-arrow'] {
  color: var(--eventTxt2);
}

#e-sport-root [class*='esp_live_badge_wrapper'] .esp_game_time-set {
  color: var(--eventTxt2);
}

@media (hover: hover) {
  #e-sport-root .esp_betslip .esp_tab.esp_tab_active:hover {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
  }

  #e-sport-root .esp_mob_filter_main_item:hover,
  #e-sport-root .esp_mob_game_filter_item:hover .esp_mob_game_filter_item__name {
    color: var(--accentBg);
  }
}
