:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#1a1a1a;
--bodyBg2:#333333;
--bodyBg3:#404040;
--bodyBgHover:#222222;
--bodyBg2Hover:#3b3b3b;
--bodyBg3Hover:#484848;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#f14100;
--bodyAccentTxt:#fff;
--bodyBorder:#222222;
--bodyG:#1a1a1a;
--bodyRGBA:rgba(26, 26, 26, 0.7);
--bodyRGBA2:rgba(26, 26, 26, 0.5);
--bodyRGBA3:rgba(26, 26, 26, 0.3);
--dominantBg:#333333;
--dominantBg2:#4d4d4d;
--dominantBg3:#595959;
--dominantBgHover:#3b3b3b;
--dominantBg2Hover:#555555;
--dominantBg3Hover:#616161;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb700;
--dominantAccentTxt:#000;
--dominantBorder:#3b3b3b;
--dominantG:#333333;
--dominantRGBA:rgba(51, 51, 51, 0.7);
--dominantRGBA2:rgba(51, 51, 51, 0.5);
--dominantRGBA3:rgba(51, 51, 51, 0.3);
--accentBg:#ffb700;
--accentBg2:#cc9200;
--accentBg3:#b38000;
--accentBgHover:#f0ac00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47500;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ac00;
--accentG:#ffb700;
--inputBg:#2b2b2b;
--inputBg2:#444444;
--inputBg3:#515151;
--inputBgHover:#333333;
--inputBg2Hover:#4c4c4c;
--inputBg3Hover:#595959;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffb700;
--inputAccentTxt:#000;
--inputBorder:#333333;
--inputG:#2b2b2b;
--inputSecondaryBg:#404040;
--inputSecondaryBg2:#595959;
--inputSecondaryBg3:#666666;
--inputSecondaryBgHover:#484848;
--inputSecondaryBg2Hover:#616161;
--inputSecondaryBg3Hover:#6e6e6e;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffb700;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#333333;
--headerBg:#2f2f2f;
--headerBg2:#484848;
--headerBg3:#555555;
--headerBgHover:#373737;
--headerBg2Hover:#505050;
--headerBg3Hover:#5d5d5d;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffb700;
--headerAccentTxt:#000;
--headerBorder:#373737;
--headerG:#2f2f2f;
--subHeaderBg:#2b2b2b;
--subHeaderBg2:#444444;
--subHeaderBg3:#515151;
--subHeaderBgHover:#333333;
--subHeaderBg2Hover:#4c4c4c;
--subHeaderBg3Hover:#595959;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffb700;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#333333;
--subHeaderG:#2b2b2b;
--eventBg:#2f2f2f;
--eventBg2:#484848;
--eventBg3:#555555;
--eventBgHover:#373737;
--eventBg2Hover:#505050;
--eventBg3Hover:#5d5d5d;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ef411c;
--eventAccentTxt:#fff;
--eventBorder:#373737;
--eventG:#2f2f2f;
--buttonBg:#f14100;
--buttonBg2:#ff6025;
--buttonBg3:#ff723e;
--buttonBgHover:#ff4601;
--buttonBg2Hover:#ff6b34;
--buttonBg3Hover:#ff7d4d;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#ff4601;
--buttonG:#f14100;
--buttonSecondaryBg:#404040;
--buttonSecondaryBg2:#595959;
--buttonSecondaryBg3:#666666;
--buttonSecondaryBgHover:#484848;
--buttonSecondaryBg2Hover:#616161;
--buttonSecondaryBg3Hover:#6e6e6e;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#484848;
--buttonSecondaryG:#333333;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffb700;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#212121;
--oddBg2:#3a3a3a;
--oddBg3:#474747;
--oddBgHover:#292929;
--oddBg2Hover:#424242;
--oddBg3Hover:#4f4f4f;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb700;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#212121;
--oddActiveBg:#f14100;
--oddActiveBg2:#ff6025;
--oddActiveBg3:#ff723e;
--oddActiveBgHover:#ff4601;
--oddActiveBg2Hover:#ff6b34;
--oddActiveBg3Hover:#ff7d4d;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#f14100;
--oddActiveG:#f14100;
--showMoreBg:#2b2b2b;
--showMoreBg2:#444444;
--showMoreBg3:#515151;
--showMoreBgHover:#333333;
--showMoreBg2Hover:#4c4c4c;
--showMoreBg3Hover:#595959;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#ffb700;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#2b2b2b;
--showMoreG:#2b2b2b;
--tabBg:#212121;
--tabBg2:#3a3a3a;
--tabBg3:#474747;
--tabBgHover:#292929;
--tabBg2Hover:#424242;
--tabBg3Hover:#4f4f4f;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffb700;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#292929;
--tabG:#212121;
--tabActiveBg:#f14100;
--tabActiveBg2:#ff6025;
--tabActiveBg3:#ff723e;
--tabActiveBgHover:#ff4601;
--tabActiveBg2Hover:#ff6b34;
--tabActiveBg3Hover:#ff7d4d;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb700;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#ff4601;
--tabActiveG:#f14100;
--tabSecondaryActiveBg:#2e2e2e;
--tabSecondaryActiveBg2:#474747;
--tabSecondaryActiveBg3:#545454;
--tabSecondaryActiveBgHover:#363636;
--tabSecondaryActiveBg2Hover:#4f4f4f;
--tabSecondaryActiveBg3Hover:#5c5c5c;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffb700;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#212121;
--filterBg:#454545;
--filterBg2:#5e5e5e;
--filterBg3:#6b6b6b;
--filterBgHover:#4d4d4d;
--filterBg2Hover:#666666;
--filterBg3Hover:#737373;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb700;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#4d4d4d;
--filterG:#333333;
--menu_1Bg:#333333;
--menu_1Bg2:#4d4d4d;
--menu_1Bg3:#595959;
--menu_1BgHover:#3b3b3b;
--menu_1Bg2Hover:#555555;
--menu_1Bg3Hover:#616161;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb700;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#3b3b3b;
--menu_1G:#333333;
--menu_2Bg:#2b2b2b;
--menu_2Bg2:#444444;
--menu_2Bg3:#515151;
--menu_2BgHover:#333333;
--menu_2Bg2Hover:#4c4c4c;
--menu_2Bg3Hover:#595959;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffb700;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#333333;
--menu_2G:#2b2b2b;
--menu_3Bg:#212121;
--menu_3Bg2:#3a3a3a;
--menu_3Bg3:#474747;
--menu_3BgHover:#292929;
--menu_3Bg2Hover:#424242;
--menu_3Bg3Hover:#4f4f4f;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffb700;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#292929;
--menu_3G:#212121;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb700;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#979797;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #1a1a1a;
    --primaryBg3: #1a1a1a;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #ffb700;
    --accentG: #ffb700;
    --accentRGBA: rgba(255, 183, 0, 0.6);
    --accentTxt: #000;

    --brandG: #f14100;
    --brandBg: #f14100;
    --brandTxt: #fff;

    --actionButtonG: #ffb700;
    --actionButtonTxt: #000;

    --widgetG: #333333;
    --widgetBg: #333333;
    --widgetBgHover: #262626;
    --widgetBg2: #1a1a1a;
    --widgetBg2Hover: #0d0d0d;
    --widgetBg3: #333333;
    --widgetBg3Hover: #262626;
    --widgetRGBA: rgba(51, 51, 51, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #212121;
    --oddBg: #212121;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #f14100;
    --oddActiveBg: #f14100;
    --oddActiveBg2: #be3300;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #2b2b2b;
    --showMoreBg: #2b2b2b;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #2f2f2f;
    --headerBg: #2f2f2f;
    --headerTxt: #fff;

    --popupHeaderG: #2f2f2f;
    --popupHeaderBg: #2f2f2f;
    --popupHeaderTxt: #fff;

    --popupBg: #000000;
    --popupG: #000000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #212121;
    --tabBg: #212121;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #292929;
    --activeTabBg: #292929;
    --activeTabTxt: #fff;

    --sideBarTabG: #212121;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #292929;
    --sideBarActiveTabTxt: #fff;

    --inputG: #2b2b2b;
    --inputBg: #2b2b2b;
    --inputBg2: #111111;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#979797;
    --menuItemTxt:#fff;

}
/*---*/

/*Irtoto Colors*/

/*super toto circle*/
.tg__super_circle {
	border-color: #f14100;
	background-color: #333;
	color: #fff;
}
/*SKINNING START*****************************************************************************************************************/
/*buttons*/
.tg__btn-primary {
	background-color: #009900;
	color: #fff;
}

.tg__btn-secundary {
	background-color: #2B2B2B;
	color: #979797;
}

.tg__btn-ternary,
.tg__btn-primary {
	background-color: #f14100;
	color: #fff;
}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

.tg__info {
	color: #999;
}

.tg__btn-ternary1 {
	background-color: #ffb700;
	color: #161415;
}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

.tg__btn-transparent {
	background-color: transparent;
	color: #979797;
}

.tg__btn-coupon {
	background-color: #7a7a7a;
	color: #fff;
}

	.tg__btn-coupon:hover {
		background-color: #808080;
	}

.tg_input_coupon_amount {
	border-bottom: 1px solid #999;
}

.close_cupon:hover {
	color: #cb0000;
}
/*loader*/
.tg--loader {
	background-image: url('/images/partnerLoader.gif');
}

/*odds*/
.l_od,
.l_od_empty {
	background-color: #212121;
	color: #fff;
}

	.l_od:hover,
	.odCnt:hover .l_od {
		background-color: #f14100;
		color: #fff;
	}

	.l_od.selectedOdd {
		background-color: #f14100;
		color: #fff;
	}

		.l_od.selectedOdd:hover,
		.odCnt:hover .l_od.selectedOdd {
			background-color: #f14100;
			color: #000;
		}


/*tabs*/

.tab_selector {
	background-color: #212121;
	color: #fff;
}

	.tab_selector.tab_selector_active {
		color: #fff;
		background-color: #292929;
	}

.tg__home_game_item .tabSelectorHeading {
	color: #f14100;
}

.live_betting .tab_selector.tab_selector_active,
#top_ten .tab_selector.tab_selector_active {
	background-color: #f14100;
}

/*inputs*/
.tg_input--white {
	background-color: #fff;
	color: #979797;
}

.tg_input--dark {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__label_bright {
	color: #979797;
}

.tg--input-status-ico--red:after {
	color: red;
}

.datepickericon:after {
	color: #979797;
}

.ui-datepicker-trigger {
	color: #979797;
}

.tg__control-bright {
	color: #666;
}

.tg__switch .tg__switch_ico {
	background-color: #979797;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}

.tg__switch input:checked + .tg__switch_ico {
	background-color: rgba(0, 0, 0, 0.49);
}

.tg__switch-bright {
	color: #666;
}

.tg--loading {
	color: #fff;
}

.tg__btn-arrow:after {
	border-top-color: #666;
}

.tg-notification {
	border-color: #2b2b2b;
	background-color: #f14100;
	color: #fff;
}

.tg-ico-arrow {
	color: #5b5b5b;
}

.tg--multiselect-radio-container .tg__control {
	background-color: #2b2b2b;
	color: #979797;
}

	.tg--multiselect-radio-container .tg__control:hover {
		background-color: #444;
		color: #fff;
	}

.tg--selected_prem_game {
	border: 0;
}

	.tg--selected_prem_game .tg__match_item_btn {
		background-color: #ffb700;
	}

/*search page*/
#srch_page_srch_res {
	background-color: #1a1a1a;
}

.tg-clr-akcent.tg-font-l {
	color: #999;
	font-size: 14px;
}
.tg__search_page .tg-font-l {
	color: #fff;
}
.tg__search_page .tg__home_game_heading {
	background-color: #1a1a1a;
	font-size: 15px;
	text-transform: uppercase;
}
.tg__search_page .tg__list_row {
	background-color: #333;
	color: #fff;
	margin-bottom: 1px;
}
.tg__search_page .dt,
.tg__search_page .r {
	color: #999;
}
/*colors*/
.tg-clr-akcent {
	color: #f14100;
}

.tg-clr-akcent2 {
	color: #ffb700;
}

.tg--heading-bg {
	background-color: #404040;
	color: #979797;
}

.tg--row-bg-1 {
	background-color: #333;
	color: #979797;
}

.tg--row-bg-2 {
	background-color: #222;
	color: #979797;
}

.tg-bg-1 {
	background-color: #1a1a1a;
}

.tg-bg-2 {
	background-color: #2B2B2B;
}

.tg-bg-3 {
	background-color: #2F2F2F;
	color: #979797;
}

.tg-clr-1 {
	color: #fff;
}

.tg-clr-2 {
	color: #979797;
}

.tg--red-bg {
	background-color: red;
	color: #fff;
}

.tg--red-clr {
	color: red;
}

.tg--green-clr {
	color: green;
}

.tg-clr-odd-name {
	color: #979797;
}

/*header*/

.tg__header__nav__item {
	color: #979797;
}

	.tg__header__nav__item:hover {
		color: #f14100;
	}

	.tg__submenu__item.active {
		color: #feb432;
	}
/*dropdowns*/
.tg__dropdown_content {
	background-color: #2b2b2b;
}

.tg__dropdown__item {
	color: #979797;
}

	.tg__dropdown__item:hover {
		background-color: #444;
		color: #fff;
	}

.tg--shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.tg__dropdown_value {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__dropdown_content {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.tg__dropdown_value--bright {
	background-color: #fff;
	color: #979797;
}

/*inputs*/

.tg__input-ico-dark {
	color: #979797;
}

.tg__input-dark {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__badge_live {
	color: #fff;
	background-color: #333;
}

.tab_selector_active .tg__badge_live {
	color: #fff;
	background-color: #292929;
}

.tg__left_menu_item--lvl1 {
	color: #fff;
	background-color: #333;
}

	.tg__left_menu_item--lvl1:hover {
		background-color: #353535;
	}

.tg__left_menu_item--lvl2 {
	background-color: #2b2b2b;
	color: #979797;
}

	.tg__left_menu_item--lvl2:hover {
		background-color: #2d2d2d;
	}

.tg__left_menu_item--lvl3 {
	background-color: #212121;
	color: #fff;
}
/*.tg__left_menu_item--lvl3 :hover {
	background-color: #232323;
}*/
.left_menu_line_active {
	background-color: #161415;
	color: #fff;
}

.liveGameSelected .tg__left_menu_item--lvl3 {
	background-color: #161415;
	color: #fff;
}

/*slider*/
.ss__label {
	color: #979797;
}

.ss__step_slider .ss__ruller > div {
	background-color: #666;
}

	.ss__step_slider .ss__ruller > div.off {
		background-color: #161415;
	}

.ss__step_slider .ss__slider {
	background-color: #979797;
}

	.ss__step_slider .ss__slider:hover {
		background-color: #ffb700;
	}

.ss__step_cont .ss__label > div {
	color: #f14100;
}

.sports_list .imgSpr {
	color: #fff;
}

/*favorites*/
.tg-ico-fav {
	color: #fff;
}

.tg-ico-fav--active,
.active.tg-ico-fav {
	color: #ffb703;
}

.tg__fix_btn {
	color: #979797;
}

	.tg__fix_btn.checked {
		color: #ffb700;
	}

.tg__live_filter_item {
	background-color: #161415;
	color: #979797;
}

	.tg__live_filter_item.checked {
		background-color: #333;
	}

/*banners*/
.tg__banner__img {
	background-color: #979797;
}

.tg__slider__btn {
	background-color: #333;
	color: #979797;
}

	.tg__slider__btn:hover {
		background-color: #333;
		color: #fff;
	}

/*one game*/

.gameContentTitle {
	background-color: #2f2f2f;
	color: #979797;
}

.tg__home_game_heading {
	color: #999;
	background-color: #2b2b2b;
}

.tg__one_game {
	color: #979797;
	border-color: #161415;
}

.tg__one_game_score.tg-clr-akcent2 {
	color: #ef411c;
}

.tg__one_game:last-child {
	border-bottom: 0;
}

.tg__one_game_team {
	color: #fff;
}

.tg__more {
	background-color: #2b2b2b;
	color: #979797;
}

.news_slider .oddsContainer {
}

.oddsContainer a {
	color: #979797;
}

.tg__block_header {
	color: #fff;
}

.tg--pos_comb_row .r,
.tg--pos_comb_row .l {
	color: #999;
}
/*errors*/
.tg--issue,
.tg--issue--inline {
	background-color: #ffb700;
	color: #000;
}

.tg--issue-hint {
	color: #161415;
}

.tg--issue-error {
	color: red;
}

.tg--issue-success {
	color: green;
}

.tg--border-bot-1 {
	border-color: #666;
}

.tg__coupon_tabs_cont .tab_cupon {
	text-transform: uppercase;
}

	.tg__coupon_tabs_cont .tab_cupon.tab_selected {
		color: #000;
		background-color: #fff;
	}

.stake_item_panel {
	border-top-color: #e6e6e6;
	border-bottom-color: #b8b8b8;
	background-color: #fff;
}

.tg__coupon_factor {
	background-color: #707070;
	color: #fff;
}

.tg__panel_issue--warning {
	background-color: #ffb700;
	color: #161415;
}

.tg__panel_issue--success {
	background-color: green;
	color: #fff;
}

.tg__coupon_square {
	background-color: #fff;
	color: #333;
}

.tg__dropdown_coupon {
	background-color: #fff;
	color: #666;
}

.tg--coupon-bg {
	background-color: #e6e6e6;
	color: #707070;
}

.coupon_sport_name_container .tg__teamname {
	color: #585858;
	font-weight: bold
}

.coupon_sport_name_container:hover {
	text-decoration: underline;
}

.tg--coupon-bg .CashOut {
	font-size: 30px;
}
.sportLeftPane .tab_selector {
	color: #999;
	border-bottom: 1px solid #111;
}

.sportLeftPane .tab_selector:first-child {
	border-right: 2px solid #111;
}

/*info_panel*/
.info_panel .selectorWrapper .tg__checkbox_ico:hover {
	color: #ffb700;
}

.tg__info_panel .selectorWrapper {
	background-color: #292929;
	text-transform: uppercase;
}

.tg__home_game_heading.collapsed .tg-ico-arrow {
	transform: rotate(90deg);
}
/*prematch*/
.tg__prematch_header {
	background-color: #333;
	color: #979797;
}

	.tg__prematch_header .tg-ico,
	.prematch_event_caption_cont {
		color: #fff;
	}

	.tg__prematch_header .tg-ico-arrow {
		color: #fff;
	}

.tg__match_item {
	background-color: #333;
}

.tg__match_header {
	background-color: #2b2b2b;
	color: #979797;
}

	.tg__match_header .tg-ico-arrow {
		color: #fff;
	}

.tg__home_game_heading .tg-ico-arrow {
	color: #979797 !important;
}

.tg__teams {
	color: #fff;
}

.tg__match_item_btn {
	background-color: #979797;
	color: #161415;
}

.tg__match_item_odd_name {
	color: #979797;
}

.tg-bg_transparent {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.tg__open_event_img {
	color: #fff;
}

.tg__live_list_header {
	color: #fff;
}

.tg__live_list_body .tg__home_game_heading {
	background-color: #212121;
	color: #fff;
}

.tg__live_list_header .tg-ico-arrow {
	color: #fff;
}

.tg__live_list_body .tg__home_game_heading_border {
	background-color: #2b2b2b;
	color: #fff;
}

.live_tabs_header .tab_selector.tab_selector_active {
	color: #999;
}

.tg--srv {
	color: #ffb700;
}

.tg__score_box--dark {
	color: #ef411c;
	background-color: transparent;
}

.tg__live_list_body {
	color: #fff;
}

.tg__btn_arrow--dark {
	background-color: #161415;
	color: #979797;
}

.tg__btn_arrow:before {
	color: #979797;
}

.tg__multiview_item {
	color: #fff;
}

.tg--close {
	background-color: #161415;
	color: #fff;
}

/*live calendar*/
.tg__calendar_item .event .tn {
	color: #fff;
	text-decoration: underline;
}

	.tg__calendar_item .event .tn:hover {
		color: #ffb700;
	}

.ui-widget-content {
	border: 0;
	background: #333;
	color: #fff;
}

.ui-widget-header {
	border: 0;
	background-color: #1b1b1b;
	border-color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 0;
	background: #f6f6f6;
	color: #333;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	background: #161415;
	color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-hover {
	background: #777;
	color: #fff;
	border: 0;
}

.ui-state-active {
	background: #1b1b1b;
	color: #fff;
}

.ui-widget-content .ui-state-active {
	color: #fff;
	background: #666;
}

.tg__show_title[data-title]:hover:after {
	background-color: #999;
	color: #fff;
}

.live_calendar {
	background-color: #2b2b2b;
	color: #fff;
}

	.live_calendar .tab_selector {
		background-color: #363636;
	}

	.live_calendar .tab_selector_active {
		background-color: #292929;
	}

	.live_calendar .tab_selector span:first-child {
		color: #626262;
	}

.tg__calendar_header.tg-bg-1 {
	background-color: #2b2b2b;
	color: #999;
}

.tg__calendar_cont .tg__dropdown_value {
	background-color: #1a1a1a;
}

.tg__calc_poswin .tg__subheading {
	background-color: transparent;
}
/*results*/
.tg__results_header {
	background-color: #333;
}

.tg__result_group_heading {
	color: #eba801;
}

.tg__results .tg__btn-ternary {
	background-color: #ffb700;
	color: #000;
}

	.tg__results .tg__btn-ternary:hover {
		background-color: #ffa500;
	}
/*modals*/
.tg__modal_wrapper {
	background-color: rgba(0, 0, 0, 0.5);
}

.tg__modal--drag {
	background-color: #333;
	color: #979797;
}

.tg__subheading {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__modal {
	background-color: #333;
	color: #979797;
}

.tg--input-error {
	background-color: #fff;
}

.tg--input-show-error {
	border-color: red;
}

.tg__modal_header {
	background-color: #2b2b2b;
	color: #fff;
}

.tg__modal_header-sm {
	background-color: #2b2b2b;
	color: #fff;
}

.tg__modal_issue {
	background-color: #fff;
	color: #161415;
}

	.tg__modal_issue:before {
		border-bottom-color: #fff;
	}

.tg__congratulations {
	color: green;
}

.tg__modal_big {
	color: #fff;
	background-color: #333;
}

.tg__filter {
}

.tg__list_bg {
	background-color: #333;
}

.tg__list_row_heading {
	background-color: #2b2b2b;
	color: #f14100;
}

.tg__list_row_sub {
	background-color: #494949;
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.2);
}

.maPageMenu .tg__list_row_sub .tg-ico {
	color: #fff;
}

.maPageMenu .tg__list_row_sub .tg-ico-fav {
	color: #ffb700;
}

.tg__list_row {
	background-color: #2b2b2b;
}

	.tg__list_row:nth-child(even) {
		background-color: #333;
	}

.tg__custom_title {
	background-color: #fff;
}

.tg__payment_item {
	background-color: #161415;
}

.tg__show_data_error[data-error] .tg_input {
	border-color: red;
}

.tg__show_data_error[data-error]:hover:after {
	background-color: #fff;
	color: red;
}

/*transfer to casino*/

.tg_hint--error .tg-ico-sm:before {
	color: red;
}

.tg_hint--success .tg-ico-sm:before {
	color: green;
}

.tg__super_number {
	background-color: #979797;
	border-color: #f14100;
	color: #fff;
}

.tg__border--color-akcent {
	border-color: #f14100;
}

/*footer*/

.tg--footer-btn:before {
	background-color: #666;
}


.tg__footer {
	background-color: #161415;
}

.tg__footer_txt--clr {
	color: #979797;
}

.tg__footer_heading {
	color: #979797;
}

.tg__footer_link {
	color: #666;
}

/*scout empty panel*/

.LIemptyPanel .LItop {
	color: #979797;
}

.LIemptyPanel .LINew {
	color: #fff;
	background-color: #2b2b2b;
}

.LIemptyPanel .LISports {
	color: #979797;
}

.LIemptyPanel .LIWith {
	color: #999;
}
/*Express Combination start*/
.tg--express_combination {
	background-color: #333;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.checkedStakes_eventNames {
	color: #fff;
}

.checkedStakes-fullName {
	color: #979797;
}

.tg--express_btn {
	background-color: #ffb700;
	;
}

.tg--pos_comb_row {
	border-color: #333;
	background-color: #3d3d3d;
}
/*Express Combination End*/
.posCombItem {
	background-color: #1d1d1d;
}

/*Withdraw Panel*/
.body_panel .tg_input--value-374 input {
	position: relative;
}

/*.body_panel .tg-ico-arrow {
	color: #fff;
}*/

.body_panel .tg_input--value-374 input {
	padding-left: 40px;
}

.body_panel .tg_input--value-374::after {
	content: '+374';
	left: 8px;
	position: absolute;
	top: 11px;
	color: #8d8d8d;
}

/*Switcher Colors*/

.tg__switch input:checked + .tg__switch_ico:before {
	background-color: #f14100;
}


/*Slider pre-match*/
.tg__step_slider .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #6e6e6e;
}

.tg__step_slider .tg__chb .tg__checkbox_ico.checked,
.tg__coupon_switches .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #ffb700;
}

.tg__coupon .btn_bet {
	background-color: #e2330d;
	color: #fff;
}

.tg__coupon_switches .tg__chb .tg__checkbox_ico.checked {
	background-color: #333;
	color: #ffb700;
}

.tg__coupon_switches .tg__switch_cont, .tg--border-r {
	border-color: #999
}
/*MyPage*/
.maPageMenu .tab_selector {
	border: 1px solid #666;
	border-bottom: 2px solid #666;
	border-top: 0;
	background-color: #333;
	color: #ccc;
}

	.maPageMenu .tab_selector.tab_selector_active,
	.maPageMenu .tab_selector:hover {
		background-color: #2B2B2B;
		color: #ccc;
		border-bottom: 2px solid #ffb700;
	}

.maPageMenu .tg__home_game_heading {
	background-color: #1a1a1a;
	color: #999;
}
/*Bet history*/
.bethistory_betnew {
	color: #ffb801
}

.bethistory_betwin {
	color: #00cb00
}

.bethistory_betlose {
	color: #e20002
}

.maPageMenu .tg-ico,
.maPageMenu .tg-ico-arrow {
	color: #7f7f7f;
}
/*Calculator*/
.calcTitle,
.tg__switch_cont {
	text-transform: uppercase;
}

.tg--show-calc .tg__switch {
	display: flex;
	flex-direction: row-reverse;
}

#calcBtn .tg-ico:hover {
	color: #ef411c;
}

.calc_content .tg__btn-ternary {
	color: #000;
	background-color: #ffb700;
}

.calcButtons .tg__btn-secundary:hover {
	background-color: #ffb700;
	color: #2b2b2b;
}

.calc_content .dramm {
	color: #ffb700;
}

#simpCalcResInp {
	text-align: right;
	background-color: #505050;
	color: #fff;
}
/*Tournament Page*/
.tg__tournament .tg__promo__logo,
.tg__tournament .tg__promo_text {
	color: #ffb700;
}

.tg--horizontal-line {
	border: 1px solid #1a1a1a;
}

.tg__tournament .tg--trn_label,
.tg__tournament-result .tg--trn_label {
	color: #979797;
}

.tg__tournament .tg__dropdown_value,
.tg__tournament-result .tg__dropdown_value {
	color: #fff;
}

.tg__tournament-tabs .tg__tab_name {
	background-color: #474747;
	box-shadow: 0px 4px 20px -3px #000;
}

	.tg__tournament-tabs .tg__tab_name::before {
		border-color: transparent #2b2b2b transparent transparent;
	}

	.tg__tournament-tabs .tg__tab_name::after {
		border-color: transparent #2b2b2b transparent transparent;
	}

.tg__tournament-result .tg__home_game_heading {
	background-color: #1a1a1a;
}

.tg__tournament-result .tg__list_row:nth-of-type(odd) {
	background-color: #2B2B2B;
}

.tg__tournament-tabs .tg--prize-shadow {
	box-shadow: 0 0 3px 2px #fff, 0 0 18px 4px #ff8f43, 0 0 0 1px #885533;
}

	.tg__tournament-tabs .tg--prize-shadow:after,
	.tg__tournament-tabs .tg--prize-shadow:before {
		background-color: #333;
	}

.tg__tournament-tabs .tg--prize-text span {
	background-color: #343333;
}
/*Tournament info popup*/
.tg__tournament-popup {
	border: 1px solid #000;
}

	.tg__tournament-popup .tg__popup_container {
		background-color: rgba(255, 255, 255, .95);
		color: #2b2b2b;
	}

		.tg__tournament-popup .tg__popup_container:before {
			border-top: 14px solid rgba(255, 255, 255, .9);
			border-right: 10px solid transparent;
			border-bottom: 14px solid transparent;
			border-left: 10px solid transparent;
		}

	.tg__tournament-popup .tg__popup_anchor {
		color: #009900;
	}

.tg__list_row_highlighted {
	color: #f9b301;
}

.tg__list_row_highlighted_border {
	border: 1px solid #f9b301;
}

/*Footer*/
.tg--footer-btn:before {
	background-color: #666;
}
/*partner popups*/
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}
.tg__iframe_popup--draggable {
	transform: none !important;
}
.tg__modal_account {
	height: 700px;
}

	.tg__modal_account .my_acc {
		height: 100%;
	}

	.tg__modal_account .maPageMenu {
		height: calc((100%) - 30px);
	}

		.tg__modal_account .maPageMenu .body_panel {
			height: calc((100%) - 40px);
		}

			.tg__modal_account .maPageMenu .body_panel .tab_body_active,
			.tg__bet_history {
				height: 100%;
			}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}

/*partner popups*****************************/
/*SKINNING END*****************************************************************************************************************/
.tg__prematch_header .prematch_champ_expand, .tg__prematch_header .tg-ico,
.tg__prematch_header .prematch_event_caption, .liveEventChemp .title,
#live_bets_header_body, .live_short_id, .mvtitle .tg-ico, .mvtitle .tg__text_with_shadow,
.tg__multiview_header .tg-ico {
	background: rgba(51,51,51,0.6);
}

.liveEventChemp {
	padding: 0 8px;
}

.live_short_id,
.mvtitle .tg__text_with_shadow {
	padding: 4px;
}

.mvtitle .tg__text_with_shadow {
	margin-left: 0;
	margin-right: 0;
}

.mvtitle {
	padding-left: 0;
	padding-right: 0;
}

/*bet generator*/
.bet_generator_wrapper .tg_widget_header_2,
.bet_generator_wrapper .tg_widget_header_2 .tg-ico-arrow {
    background-color: #292929;
    color: #fff;
}

.bet_generator_wrapper .tg_widget_bg_2,
.bet_advanced_option .tg-ico-arrow {
    background-color: #e6e6e6;
    color: #707070;
} 
  /*coin styles*/
    .tg_coin{
      background: #f14100;
      color: #333;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #333;
      color: #fff;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #f14100;
      color: #000;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #333;
      color: #fff;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #000;
      color: #fff;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #1a1a1a;
      color: #fff;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #f14100;
    }
    .tg_left_tabs {
      background-color: #1a1a1a;
      border-bottom-color: #f14100;
      color: #fff;
  }

   
  /*multibet of the day 2019-11-06*/
    .tg__exp_of_day_header{
      border-color:#333;
    }
    .tg__exp_of_day_header,
    .es__express_slider_arrow {
      background-color: #1a1a1a;
      color: #fff;
    }
    .es__express_day_coupon {
      background-color: #333;
      color: #fff;
    }
    .es__express_day_coupon .l_od, .es__express_day_coupon .l_od_empty{
      border-color:#fff;
    }
    .es__express_slider_arrow:hover{
      background-color: #333;
      color: #fff;
    }
    

   
  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#333;
      color:#fff;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#f14100;
    }
    .tg--prize-text span {
      background-color:#333;
      color:#f14100;
    }
    .tg__tour_tab_name {
      background-color:#262626;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #262626 transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #262626 transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #262626;
      color: #ccc;
    }
    .tg__tournament-result .tg--trn_label {
      color: #ccc;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #1a1a1a;
      color: #fff;
    }
    .tg__tournament-vl:before {
      border-color:#262626;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#333;
  color:#e6e6e6;
}
.tg_modal_header {
	background-color:#1a1a1a;
  color:#fff;
}
.tg__cashout--input {
	background-color:#1a1a1a;
	color:#fff;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#f14100;
}
.tg__cashout--value {
  color:#e6e6e6;
}
 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #f14100 !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #1A1A1A;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #f14100;
      color: #fff;
    }

   
  /* Betslip Cashout 2019-12-24*/
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #333;
    color: #fff;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #262626;
    color: #fff;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #f14100;
    color: #fff;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(51, 51, 51, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(241, 65, 0, 0.5);
  }
  
  .tg__loader-pulse {
    color: #f14100;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #f14100;
   }
  
   
  
  
  
  
   
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #333;
    color: #fff;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #f14100;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #f14100;
        color: #fff;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #1A1A1A;
    color: #999;
  }
  .component_tax_data .tg-ico {
      color:#f14100;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #fff;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #f14100;
      color: #fff;
    }
    .tg__modal_confirm:hover {
        background-color: #8b2500;
    }
    .tg__modal_header {
      background-color: #262626;
    }
    .tg__modal_special_content {
      background-color: #333;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #333333;
  color: #cccccc;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #333333;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #262626;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #333333;
	color: #cccccc;
	border-bottom: 1px solid #1a1a1a !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #1a1a1a;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #262626;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb700;
}
.es__express_day_coupon {
	background-color: #333333;
	color: #cccccc;
}
/*multi bet of the day skinning*/
