:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#040404;
--bodyBg2:#1d1d1d;
--bodyBg3:#2a2a2a;
--bodyBgHover:#0c0c0c;
--bodyBg2Hover:#252525;
--bodyBg3Hover:#323232;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffffff;
--bodyAccentTxt:#000;
--bodyBorder:#0c0c0c;
--bodyG:#040404;
--bodyRGBA:rgba(4, 4, 4, 0.7);
--bodyRGBA2:rgba(4, 4, 4, 0.5);
--bodyRGBA3:rgba(4, 4, 4, 0.3);
--dominantBg:#2a2a2a;
--dominantBg2:#434343;
--dominantBg3:#505050;
--dominantBgHover:#323232;
--dominantBg2Hover:#4b4b4b;
--dominantBg3Hover:#585858;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb600;
--dominantAccentTxt:#000;
--dominantBorder:#323232;
--dominantG:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--dominantRGBA:rgba(42, 42, 42, 0.7);
--dominantRGBA2:rgba(42, 42, 42, 0.5);
--dominantRGBA3:rgba(42, 42, 42, 0.3);
--accentBg:#ffb600;
--accentBg2:#cc9200;
--accentBg3:#b37f00;
--accentBgHover:#f0ab00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47400;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ab00;
--accentG:#ffb600;
--inputBg:#353535;
--inputBg2:#4e4e4e;
--inputBg3:#5b5b5b;
--inputBgHover:#3d3d3d;
--inputBg2Hover:#565656;
--inputBg3Hover:#636363;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffb600;
--inputAccentTxt:#000;
--inputBorder:#787878;
--inputG:#353535;
--inputSecondaryBg:#373737;
--inputSecondaryBg2:#505050;
--inputSecondaryBg3:#5d5d5d;
--inputSecondaryBgHover:#3f3f3f;
--inputSecondaryBg2Hover:#585858;
--inputSecondaryBg3Hover:#656565;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffb600;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--headerBg:#191919;
--headerBg2:#323232;
--headerBg3:#3f3f3f;
--headerBgHover:#212121;
--headerBg2Hover:#3a3a3a;
--headerBg3Hover:#474747;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffb600;
--headerAccentTxt:#000;
--headerBorder:#212121;
--headerG:#191919;
--subHeaderBg:#242424;
--subHeaderBg2:#3d3d3d;
--subHeaderBg3:#4a4a4a;
--subHeaderBgHover:#2c2c2c;
--subHeaderBg2Hover:#454545;
--subHeaderBg3Hover:#525252;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffb600;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#2c2c2c;
--subHeaderG:#242424;
--eventBg:#353535;
--eventBg2:#4e4e4e;
--eventBg3:#5b5b5b;
--eventBgHover:#3d3d3d;
--eventBg2Hover:#565656;
--eventBg3Hover:#636363;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ffb700;
--eventAccentTxt:#000;
--eventBorder:#3d3d3d;
--eventG:#353535;
--buttonBg:#ae0000;
--buttonBg2:#e10000;
--buttonBg3:#fa0000;
--buttonBgHover:#bd0000;
--buttonBg2Hover:#f00000;
--buttonBg3Hover:#ff0a0a;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#bd0000;
--buttonG:#ae0000;
--buttonSecondaryBg:#373737;
--buttonSecondaryBg2:#505050;
--buttonSecondaryBg3:#5d5d5d;
--buttonSecondaryBgHover:#3f3f3f;
--buttonSecondaryBg2Hover:#585858;
--buttonSecondaryBg3Hover:#656565;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#3f3f3f;
--buttonSecondaryG:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffb600;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#2a2a2a;
--oddBg2:#434343;
--oddBg3:#505050;
--oddBgHover:#323232;
--oddBg2Hover:#4b4b4b;
--oddBg3Hover:#585858;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb600;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--oddActiveBg:#ae0000;
--oddActiveBg2:#e10000;
--oddActiveBg3:#fa0000;
--oddActiveBgHover:#bd0000;
--oddActiveBg2Hover:#f00000;
--oddActiveBg3Hover:#ff0a0a;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#ae0000;
--oddActiveG:#ae0000;
--showMoreBg:#353535;
--showMoreBg2:#4e4e4e;
--showMoreBg3:#5b5b5b;
--showMoreBgHover:#3d3d3d;
--showMoreBg2Hover:#565656;
--showMoreBg3Hover:#636363;
--showMoreTxt:rgba(42, 197, 25, 0.9);
--showMoreTxt2:rgba(42, 197, 25, 0.6);
--showMoreTxt3:rgba(42, 197, 25, 0.4);
--showMoreAccent:#ffb600;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#ffffff;
--showMoreG:#ffffff;
--tabBg:#191915;
--tabBg2:#35352c;
--tabBg3:#434338;
--tabBgHover:#21211c;
--tabBg2Hover:#3d3d33;
--tabBg3Hover:#4b4b3f;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffb600;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#21211c;
--tabG:#191915;
--tabActiveBg:#7a0000;
--tabActiveBg2:#ad0000;
--tabActiveBg3:#c60000;
--tabActiveBgHover:#890000;
--tabActiveBg2Hover:#bc0000;
--tabActiveBg3Hover:#d50000;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb600;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#890000;
--tabActiveG:#7a0000;
--tabSecondaryActiveBg:#272721;
--tabSecondaryActiveBg2:#434338;
--tabSecondaryActiveBg3:#505044;
--tabSecondaryActiveBgHover:#2f2f28;
--tabSecondaryActiveBg2Hover:#4b4b3f;
--tabSecondaryActiveBg3Hover:#58584b;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffb600;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#191915;
--filterBg:#3c3c3c;
--filterBg2:#555555;
--filterBg3:#626262;
--filterBgHover:#444444;
--filterBg2Hover:#5d5d5d;
--filterBg3Hover:#6a6a6a;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb600;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#444444;
--filterG:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--menu_1Bg:#2a2a2a;
--menu_1Bg2:#434343;
--menu_1Bg3:#505050;
--menu_1BgHover:#323232;
--menu_1Bg2Hover:#4b4b4b;
--menu_1Bg3Hover:#585858;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb600;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#323232;
--menu_1G:linear-gradient(rgb(42, 42, 42), rgb(30, 30, 30));
--menu_2Bg:#191915;
--menu_2Bg2:#35352c;
--menu_2Bg3:#434338;
--menu_2BgHover:#21211c;
--menu_2Bg2Hover:#3d3d33;
--menu_2Bg3Hover:#4b4b3f;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffb600;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#21211c;
--menu_2G:#191915;
--menu_3Bg:#191915;
--menu_3Bg2:#35352c;
--menu_3Bg3:#434338;
--menu_3BgHover:#21211c;
--menu_3Bg2Hover:#3d3d33;
--menu_3Bg3Hover:#4b4b3f;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffb600;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#21211c;
--menu_3G:#191915;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb600;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#787878;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #040404;
    --primaryBg3: #030303;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #ffb600;
    --accentG: #ffb600;
    --accentRGBA: rgba(255, 182, 0, 0.6);
    --accentTxt: #000;

    --brandG: #ae0000;
    --brandBg: #ae0000;
    --brandTxt: #fff;

    --actionButtonG: #ffb600;
    --actionButtonTxt: #000;

    --widgetG: #353535;
    --widgetBg: #353535;
    --widgetBgHover: #282828;
    --widgetBg2: #1b1b1b;
    --widgetBg2Hover: #0e0e0e;
    --widgetBg3: #010101;
    --widgetBg3Hover: #0e0e0e;
    --widgetRGBA: rgba(53, 53, 53, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #000000;
    --oddBg: #000000;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #ae0000;
    --oddActiveBg: #ae0000;
    --oddActiveBg2: #7b0000;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #000000;
    --showMoreBg: #000000;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #191919;
    --headerBg: #191919;
    --headerTxt: #fff;

    --popupHeaderG: #191919;
    --popupHeaderBg: #191919;
    --popupHeaderTxt: #fff;

    --popupBg: #353535;
    --popupG: #353535;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #191915;
    --tabBg: #191915;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #ae0000;
    --activeTabBg: #ae0000;
    --activeTabTxt: #fff;

    --sideBarTabG: #191915;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #ae0000;
    --sideBarActiveTabTxt: #fff;

    --inputG: #353535;
    --inputBg: #353535;
    --inputBg2: #1b1b1b;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#787878;
    --menuItemTxt:#fff;

}
/*---*/

/*BetPluton*/
/*shadow or border*/
.tg--shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

/*close btn*/
.tg--close {
	background-color: #151517;
	color: #fff;
}

	.tg--close:hover {
		color: #999;
	}

/*btn search icon*/
.btn_search, .tg-ico-date {
	color: #999;
}
/*akcent clr*/
.tg-clr-akcent2 {
	color: #ffb700;
}

/*issues*/
.tg--issue {
	background-color: #ffb700;
	color: #000;
}

/*tabs*/
.tab_selector {
	background-color: #191915;
	color: #fff;
}

	.tab_selector_active, .tab_selector:hover {
		background-color: #7A0000;
		color: #fff;
	}
/*odds*/
.l_od, .l_od_empty {
	background: linear-gradient(#2A2A2A, #1E1E1E);
	color: #fff;
}

	.l_od:hover, .odCnt:hover .l_od {
		background: #AE0000;
		color: #fff;
	}

	.l_od.selectedOdd {
		background: #AE0000;
		color: #fff;
	}

		.l_od.selectedOdd:hover, .odCnt:hover .l_od.selectedOdd {
			background: #7A0000;
			color: #fff;
		}

/*switch*/
.tg__switch .tg__switch_ico {
	background-color: #858585;
}

.tg__switch > input:checked + .tg__switch_ico {
	background-color: #7A0000;
}

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tg__switch_text {
	color: #999;
	text-transform: uppercase;
}

/*buttons*/
.tg__btn-ternary,
.tg__btn-primary {
	background-color: #AE0000;
	color: #fff;
}

	.tg__btn-ternary:hover, .tg__btn-primary:hover {
		background-color: #CC0000;
	}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

/*dropdowns*/
.tg__dropdown_value {
	background-color: #353535;
	color: #fff;
}

.scout_panel .tg__dropdown_value {
	background-color: #000
}

.tg__subhead .tg__btn-ico {
	color: #fff;
	background-color: #353535
}

.tg__dropdown_content {
	background-color: #2b2b2b;
}

.tg__dropdown__item,
.tg__calendar_cont .tg__control.tg__checkbox {
	background-color: #333;
	color: #999;
	margin-bottom:1px;
}

	
	.tg__dropdown__item-active {
		background-color: #474747;
		color: #fff;
	}

	.tg__dropdown__item:hover,
	.tg__calendar_cont .tg__control.tg__checkbox:hover {
		color:#fff;
	}
/*header*/

.tg__subhead .tg__input {
	background-color: #353535;
	border: 1px solid #787878;
	color: #fff;
}


.tg__subhead {
	background-color: #000;
}

/*left menu*/
.sportLeftPane {
	background-color: #000;
	color: #2a7394;
}

	.sportLeftPane .tab_selector_active,
	.sportLeftPane .tab_selector:hover {
		background-color: #AE0000;
	}

.tg__badge_live {
	color: #fff;
	background-color: #7A0000;
}

.sportLeftPane .tab_selector:hover .tg__badge_live {
	background-color: #fff;
	color: #7A0000;
}

.sportLeftPane .tab_selector_active .tg__badge_live {
	background-color: #fff;
    color: #7A0000;
}

.sportLeftPane .tab_selector:first-child {
	border-right: 1px solid #111;
}

.sportLeftPane .tab_selector:last-child {
	border-left: 1px solid #111;
}
/*slider*/
.ss__label,
.tg__left_menu_item .ss__label .tg-clr-akcent2 {
	color: #fff;
}

.tg__step_slider .tg-clr-akcent2 {
	color: #ffb600;
}

.ss__step_slider .ss__slider, .ss__step_slider .ss__slider:hover,
.ss__step_slider .ss__ruller > div {
	background-color: #AE0000;
}

	.ss__step_slider .ss__ruller > div.off {
		background-color: #333
	}
/*left menu rows*/
.tg__left_menu_item {
	background-color: #191915;
}

.sportLeftPane .tg-clr-akcent2 {
	color: #ffb600;
}

/*lvl1*/
.tg__left_menu_item--lvl1 {
	color: #fff;
	background: linear-gradient(#2A2A2A, #1E1E1E);
}


/*lvl2*/
.tg__left_menu_item--lvl2 {
	color: #fff;
	background-color: #191915;
}

	.tg__left_menu_item--lvl2:hover {
		background-color: #2d2d2d;
	}

/*lvl3*/
.tg__left_menu_item--lvl3 {
	background-color: #191915;
	color: #fff;
}

.live_menu_item_left .tg__left_menu_item--lvl3 {
	background-color: #2b2b2b;
}

.tg__left_menu_item--lvl3:hover {
	background-color: #7A0000;
}

.live_sport_list .tg__left_menu_item--lvl3:hover .liveSportNamesContainer {
	color: #FFB238;
}

.left_menu_line_active {
	background-color: #7A0000;
	color: #fff;
}
/*left menu live filter*/
.liveFilterContainer {
	background-color: #000;
}

.tg__live_filter_item {
	background-color: #000;
	color: #999;
}

.event_data_panel .tg__open_event_stat {
	background-color: #787878;
}

.tg__live_filter_item.checked {
	color: #fff;
	background-color: #333;
}

/*live tab game*/
.tg__left_menu_item--lvl3 .liveSportScoreContainer {
	color: #ffb700;
}

.liveSportDate {
	color: #2AC519;
}

.liveGameSelected .tg__left_menu_item--lvl3 {
	color: #fff;
	border-top: 1px solid #ffb700;
}

	.liveGameSelected .tg__left_menu_item--lvl3 .liveSportname {
		color: #ffb700
	}
/*left menu end******************************************************/
/*home page center content*/
/*banners*/
.tg__banner {
	color: #fff;
	background-color: #353535;
}

.tg-bg-1 {
	background-color: #040404;
}

.tg__banner__heading,
.tg__banner__date {
	color: #fff;
}

.anbSliderHeadContainer,
.newsSliderHeadContainer,
.tg-clr-odd-name {
	color: #999;
}

.tg__slider__btn:hover {
	background-color: #444;
	color: #fff;
}

.news_slider .tg__home_game_heading {
	background-color: #242424;
	color: #fff;
}

.oddsContainer {
	background-color: #333;
	color: #fff;
}

/*live games*/
.tg__home_game_item .tabSelectorHeading {
	color: #fff;
}

.tg__one_game:last-child {
	border: none;
}


.tg__home_game_time,
.tg__one_game .tg-ico-sm {
	color: #999;
}

.tg__home_game_heading .tg__home_game_time {
	color: #fff;
}

/*live game title*/
.gameContentTitle {
	background-color: #191919;
	color: #fff;
}

.tg__home_game_item .tg__home_game_heading {
	background-color: #242424;
	color: #fff;
}

/*one game row*/
.tg__one_game {
	color: #fff;
	background-color: #353535;
	border-color: #414141;
}

	.tg__one_game:hover {
		background-color: #333;
	}

.tg__one_game_score {
	color: #ffb700;
}

.tg__more {
	background-color: transparent;
	color: #2AC519;
}

/*show more btn*/
.tg__home_game_item .tg-chb-only_icon {
	color: #999;
	background-color: #353535;
}

/*home page center content end******************************************************/

/*home right panel*/
/*info panel*/
.tg__info_panel {
	background-color: #333;
}

	.tg__info_panel .selectorWrapper {
		background-color: #7A0000;
		color: #fff;
	}

.info_panel .tg__fix_btn {
	color: #999;
}

.infoPanelDragger {
	background-color: #333;
}

	.infoPanelDragger:hover {
		background-color: #313131;
	}

/*coupon*/
.tg__coupon {
	background-color: #e6e6e6;
	color: #707070;
}

.tg__coupon_header {
	background-color: #AE0000;
	color: #fff;
}

.betCouponRow .tg__coupon_lbl {
	text-transform: uppercase
}
/*tabs*/

.tg__coupon_tabs_cont .tab_cupon {
	background-color: #fff;
	color: #374047;
}

	.tg__coupon_tabs_cont .tab_selected,
	.tg__coupon_tabs_cont .tab_cupon:hover {
		background-color: #cfcfcf;
		color: #707070;
	}

/*bets*/
.stake_item_panel {
	background-color: #cfcfcf;
	border-top-color: #e6e6e6;
	border-bottom-color: #000;
	color: #707070;
}

	.stake_item_panel .tg__coupon_factor {
		color: #fff;
		background-color: #707070;
	}

.close_cupon {
	color: #707070;
}

	.close_cupon:hover {
		color: #cb0000;
	}
/*btns*/
.tg__btn-coupon {
	background-color: #767676;
	color: #fff;
}

	.tg__btn-coupon:hover {
		background-color: #808080;
		color: #fff;
	}

.tg__coupon .tg_input {
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #a4a4a4;
}

	.tg__coupon .tg_input:focus {
		border-color: #014568;
	}

.tg__coupon_square {
	background-color: #fff;
	color: #707070;
}

/*error clr*/
.tg--red-bg {
	background-color: red;
	color: #fff;
}

.tg--red-clr {
	color: red;
}
/*right menu end ****************************************************************************/



.lineEventHeaderWide .tg__match_header {
	color: #999;
}
/*prematch event*/
.tg__prematch_header {
	color: #fff;
	background-color: #191919;
}

	.tg__prematch_header .tg-ico {
		color: #fff;
	}

/*match item*/
.tg__match_item {
	color: #999;
	background-color: #333;
	padding: 0
}

.tg__teams + .tg--ns {
	color: #999;
}

.tg__match_header {
	background-color: #242424;
	color: #fff;
}

.prematch_name {
	color: #fff;
}

.tg__match_item_btn {
	background-color: #999;
	color: #2b2b2b;
}

.tg--selected_prem_game .tg__match_item_btn {
	background-color: #242424;
	color: #2AC519;
}

.tg__match_item .tg-ico-arrow,
.tg__teams {
	color: #fff;
}
/*prematch event end****************************************************************************/
/*prem open game*/

.tg__open_event_img {
	background-color: #353535;
}

.tg__open_event_heading {
	color: #fff;
}

.tg__back {
	background-color: #fff;
	color: #374047;
	border-radius: 2px;
}

	.tg__back:hover {
		color: #ffb700;
	}

.tg-bg_transparent {
	background-color: rgba(0,0,0,0.4);
	color: #fff;
}

.tg--selected_prem_game {
	border: 0;
}

.live_bets_header {
	color: #999;
}

.live_tabs_header .tg__match_item_odd_name {
	color: #fff;
}

.live_tabs_header .tg__cashout {
	color: #999;
}

.tg__open_event_stat .tg-clr-akcent2 {
	color: #ffb700
}

.liveHeaderName .tg__open_event_stat {
	border-right: 0;
}

.liveHeaderTitleRow {
	color: #fff;
}

.liveHeaderScore .tg__open_event_stat {
	border-left: 0;
	color: #fff;
}

.tg__open_event_info {
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}


/*prem open game end*************************************************************************/

/*overview*/
.tg__live_list_header {
	color: #fff;
	background-color: #2b2b2b;
}

.tg__live_list_body {
	background-color: #fff;
	color: #374047;
}

.tg__live_list_header .tg__text_with_shadow {
	color: #fff;
	text-shadow: 1px 1px #000;
	font-weight: bold;
}

.overviewEventHeader .tg__home_game_heading {
	background-color: #212121;
	color: #fff;
}

	.overviewEventHeader .tg__home_game_heading:last-child {
		background-color: #2b2b2b;
		border-bottom: 1px solid #2b2b2b;
	}

.overviewEventBody {
	background-color: #333;
	color: #fff;
}

.tg__open_event_img  .tg--cp {
	color: #999;
}

.datesWrapper {
	color: #fff;
}

	.overviewEventBody .tg__more {
		height: 36px;
		line-height: 35px;
	}

	.overviewEventBody .tg--cashout {
		color: #999;
	}

.tg__live_list_body .tg__score_box {
	background-color: #000;
	color: #ffb700;
}

.tg__live_list_body .tg--srv {
	color: #2a7394;
}

.tg__btn_arrow {
	background-color: #212121;
	color: #999;
}

	.tg__btn_arrow:hover {
		background-color: #212121;
		color: #fff;
	}

.comm_game {
	color: #fff
}

.liveEventChemp {
	color: #999;
}

/*overview end ******************************************************************/
/*multiview*/
.tg__multiview_content {
	color: #999;
	background-color: #353535;
}

	.tg__multiview_content .tg-ico, .live_event_name {
		color: #fff;
	}

.multiViewStatusPanel .last {
	background-color: #191915;
	color: #fff;
}

.tg__multiview_header {
	color: #fff;
	background-color: #191915;
}

	.tg__multiview_header .tg__text_with_shadow {
		color: #fff;
		text-shadow: 1px 1px #000;
		font-weight: bold;
	}

	.tg__text_with_shadow {
		text-shadow: 0px 0px transparent;
	}

.tg__multiview_content .tg__score_box {
	color: #ffb700;
	background-color: #1a1a1a;
}

.tg__multiview_content .tg__home_game_heading {
	background-color: #2b2b2b;
	color: #999;
}
/*multiview end ******************************************************************/

/*live Calendar*/
.live_calendar .selector_panel {
	background-color: #191915;
	padding: 0 5px;
}

.tg__calendar_cont .tg-ico-sm {
	color: #999;
}


.tg__calendar_header {
	color: #999;
	background-color: #191919;
}

	.tg__calendar_header .tg__dropdown_value {
		background-color: transparent;
	}

.tg__calendar_item {
	background-color: #353535;
	color: #999;
}

	.tg__calendar_item .event .tn {
		font-weight: bold;
		color: #fff;
		text-decoration: underline;
	}

	.tg__calendar_item .event .tn:hover {
		color: #ffb700;
	}


/*live Calendar*******************************************************************/

/*results*/
.tg__results_header {
	background-color: #191919;
}

.tg__result_group_heading {
	background-color: #333;
	color: #FDDA06
}

	.tg__result_group_heading .tg-ico-arrow {
		color: #999;
	}

.tg__result_item .tg__home_game_heading {
	background-color: #242424;
	color: #fff;
}

#calcBtn:hover {
	color: #AE0000
}

.tg__result_item .resRowItem {
	background-color: #333;
	color: #999;
	border-bottom: 1px solid #000;
}

	.tg__result_item .resRowItem:last-child {
		border-bottom: 0;
	}

.tg__results .l_od:hover,
.tg__results .l_od_empty:hover {
	background-color: #171717;
	color: #fff;
}
/*results end ******************************************************************/
/*popups*/
.tg__modal, .tg__modal--drag {
	color: #999;
	background-color: #333;
}

.calc_content .tg__dropdown_value, .calc_content .tg_input {
	background-color: #0C0C0C;
	color: #999
}

.tg__modal_header {
	background-color: #0C0C0C;
	color: #fff;
	text-transform: uppercase;
}

.tg_input {
	background-color: #353535;
	color: #fff;
}

.tg__subheading {
	background-color: #0c0c0c;
	color: #999;
}

.tg__panel_issue--warning {
	background-color: #009900;
	color: #fff;
}

/*calculator*/
.tg__subhead .tg__btn_calc {
	background-color: #2b2b2b;
	color: #fff;
}

.saveFav {
	background-color: #009900;
	color: #000;
}

.tg__btn_calc:hover {
	color: #ffb700;
}

#calc_new_winSum,
.sum.tg-clr-akcent2 {
	color: #ffb700;
}

.calcLbl.tg__subheading {
	background-color: transparent;
}

.calcRes .tg_input {
	background-color: #2b2b2b;
	color: #fff;
}

#simpCalcRes.calcRes .tg_input {
	background-color: #505050;
	color: #EBEBEB;
}

.calcLblAkc {
	color: #fff;
}

.tg__search_page {
	color: #fff
}
#srch_page_srch_res .tg-clr-akcent2 {
	color: #fff;
}



#srch_text {
	color: #999;
}

	.tg__search_page .tg-clr-akcent {
		color: #999
	}

	.tg__search_page .tg__home_game_heading {
		text-transform: uppercase;
	}

		.tg__search_page .tg__home_game_heading .r {
			text-transform: capitalize;
			color: #999;
		}

	.tg__search_page .tg__list_row {
		background-color: #333
	}

.tg__calc_buttons_cont .tg__btn-secundary {
	background-color: #2b2b2b;
	color: #999;
}

	.tg__calc_buttons_cont .tg__btn-secundary:hover {
		background-color: #AE0000;
		color: #fff;
	}

/*my acc*/
.tg__modal_big {
	color: #999;
	background-color: #333;
}

	.tg__modal_big .tg__home_game_heading {
		background-color: #040404;
		color: #999;
	}

	.tg__modal_big .tg__dropdown_value, .tg__modal_big .tg_input {
		color: #fff;
		background-color: #000;
	}

.maPageMenu .tab_selector {
	background-color: #262626;
	border-bottom: 2px solid #666;
	color: #fff;
}

	.maPageMenu .tab_selector_active, .maPageMenu .tab_selector:hover {
		background-color: #181818;
		color: #fff;
		border-bottom-color: #AE0000;
	}

.tg__bet_history_row {
	color: #fff;
	background-color: #2b2b2b;
}

	.tg__bet_history_row[data-flag="true"] {
		border-left: 3px solid #D08B12;
	}

	.tg__bet_history_row:nth-child(even) {
		background-color: #333;
	}


	
.tg__list_row_sub {
	background-color: #242424;
	color: #fff;
}

	.tg__list_row_sub:nth-child(even) {
		background-color: #333;
	}

.tg__bet_history_row .tg-clr-akcent {
	color: #ffb700;
}

/*my acc end***************************************************************************/

/*express combinations popup*/
.tg--express_combination {
	background-color: #333;
	color: #fff;
}

.tg--possComb_ordering.tg-clr-akcent2 {
	color: #ffb700;
}

.tg--pos_comb_row {
	background-color: #3d3d3d;
	border-color: #333
}

.posCombItem {
	background-color: #1d1d1d;
}

/*datapicker*/
.ui-datepicker .ui-datepicker-header {
	background-color: #1b1b1b;
	border-color: #333333;
}

.ui-widget-content {
	background-color: rgb(51, 51, 51);
	border-color: rgb(27, 27, 27);
	box-shadow: rgb(27, 27, 27) 4px 4px 15px;
}

.ui-datepicker-calendar th {
	color: #fff;
}

.ui-state-hover,
.ui-state-hover:hover {
	background-color: #666;
	border-color: #666;
}

.ui-state-highlight {
	border: 1px solid #333;
	background: #1b1b1b;
	color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #666;
	color: #fff;
	border: none;
}
.tg-ico-fav--active {
	color: #ffb703;
}

.tg__left_menu_item--no_height .livesecScore {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #333333;
	background: #1b1b1b;
	color: #ffffff;
}

.scoutDDCont .tg__checkbox_ico.checked {
	color: #ffb700;
}

.selectorWrapper .tg__checkbox_ico:hover {
	color: #ffb700;
}

.news_description.tg__show_title[data-title]:hover:after {
	color: #000;
}

.tg__list_row_sub  .tg-clr_result,
.tg__list_row_sub  .tg-clr_odds {
	color: #999;
}


#calcSwitch .tg__switch {
	flex-direction: row-reverse;
}

.checkedStakes-fullName  {
	color: #999;
}

.tg--pos_comb_row .l.tg-flex-grow {
	color: #999;
}

.tg__bet_history_row .tg-ico {
	color: #999;
} 

/*partner popups*/
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}
.tg__iframe_popup--draggable {
	transform: none !important;
}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}
/*partner popups*****************************/
/*horisontal position:sticky tabs*/
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper {
	background-color: #040404;
}

/*bet generator*/
.bet_generator_wrapper .tg_widget_header_2,
.bet_generator_wrapper .tg_widget_header_2 .tg-ico-arrow {
    background-color: #7A0000;
    color: #fff;
}

.bet_generator_wrapper .tg_widget_bg_2,
.bet_advanced_option .tg-ico-arrow {
    background-color: #e6e6e6;
    color: #707070;
}
 
  /*coin styles*/
    .tg_coin{
      background: #7A0000;
      color: #353535;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #353535;
      color: #fff;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #7A0000;
      color: #fff;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #353535;
      color: #fff;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #020202;
      color: #fff;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #1c1c1c;
      color: #fff;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #7A0000;
    }
    .tg_left_tabs {
      background-color: #1c1c1c;
      border-bottom-color: #7A0000;
      color: #fff;
  }

   
  /*multibet of the day 2019-11-06*/
    .tg__exp_of_day_header{
      border-color:#353535;
    }
    .tg__exp_of_day_header,
    .es__express_slider_arrow {
      background-color: #1c1c1c;
      color: #fff;
    }
    .es__express_day_coupon {
      background-color: #353535;
      color: #fff;
    }
    .es__express_day_coupon .l_od, .es__express_day_coupon .l_od_empty{
      border-color:#fff;
    }
    .es__express_slider_arrow:hover{
      background-color: #353535;
      color: #fff;
    }
    

   
  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#353535;
      color:#fff;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#7A0000;
    }
    .tg--prize-text span {
      background-color:#353535;
      color:#7A0000;
    }
    .tg__tour_tab_name {
      background-color:#282828;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #282828 transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #282828 transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #282828;
      color: #ccc;
    }
    .tg__tournament-result .tg--trn_label {
      color: #ccc;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #1c1c1c;
      color: #fff;
    }
    .tg__tournament-vl:before {
      border-color:#282828;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#353535;
  color:#e6e6e6;
}
.tg_modal_header {
	background-color:#1c1c1c;
  color:#fff;
}
.tg__cashout--input {
	background-color:#1c1c1c;
	color:#fff;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#7A0000;
}
.tg__cashout--value {
  color:#e6e6e6;
}
 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #7A0000 !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #040404;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #7A0000;
      color: #fff;
    }

 
  
  /* Betslip Cashout 2019-12-24*/
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #353535;
    color: #fff;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #282828;
    color: #fff;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #7A0000;
    color: #fff;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(53, 53, 53, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(122, 0, 0, 0.5);
  }
  
  .tg__loader-pulse {
    color: #7A0000;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #7A0000;
   }
  
   
  
  
  
  
   
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #353535;
    color: #fff;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #7A0000;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #7A0000;
        color: #fff;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #040404;
    color: #999;
  }
  .component_tax_data .tg-ico {
      color:#7A0000;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #fff;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #7A0000;
      color: #fff;
    }
    .tg__modal_confirm:hover {
        background-color: #140000;
    }
    .tg__modal_header {
      background-color: #282828;
    }
    .tg__modal_special_content {
      background-color: #353535;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #353535;
  color: #cccccc;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #353535;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #282828;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #353535;
	color: #cccccc;
	border-bottom: 1px solid #040404 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #040404;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #282828;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb600;
}
.es__express_day_coupon {
	background-color: #353535;
	color: #cccccc;
}
/*multi bet of the day skinning*/
