:root,
:root[data-theme="light"],
:root [data-theme="light"] {
--bodyBg:#d0d0d0;
--bodyBg2:#b6b6b6;
--bodyBg3:#aaaaaa;
--bodyBgHover:#c8c8c8;
--bodyBg2Hover:#aeaeae;
--bodyBg3Hover:#a2a2a2;
--bodyTxt:rgba(0, 0, 0, 0.9);
--bodyTxt2:rgba(0, 0, 0, 0.6);
--bodyTxt3:rgba(0, 0, 0, 0.4);
--bodyAccent:#347131;
--bodyAccentTxt:#fff;
--bodyBorder:#c8c8c8;
--bodyG:#d0d0d0;
--bodyRGBA:rgba(208, 208, 208, 0.7);
--bodyRGBA2:rgba(208, 208, 208, 0.5);
--bodyRGBA3:rgba(208, 208, 208, 0.3);
--dominantBg:#848484;
--dominantBg2:#6a6a6a;
--dominantBg3:#5e5e5e;
--dominantBgHover:#7c7c7c;
--dominantBg2Hover:#626262;
--dominantBg3Hover:#565656;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb700;
--dominantAccentTxt:#000;
--dominantBorder:#7c7c7c;
--dominantG:linear-gradient(rgb(132, 132, 132), rgb(118, 118, 118));
--dominantRGBA:rgba(132, 132, 132, 0.7);
--dominantRGBA2:rgba(132, 132, 132, 0.5);
--dominantRGBA3:rgba(132, 132, 132, 0.3);
--accentBg:#ffb700;
--accentBg2:#cc9200;
--accentBg3:#b38000;
--accentBgHover:#f0ac00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47500;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ac00;
--accentG:#ffb700;
--inputBg:#ffffff;
--inputBg2:#e6e6e6;
--inputBg3:#d9d9d9;
--inputBgHover:#f7f7f7;
--inputBg2Hover:#dedede;
--inputBg3Hover:#d1d1d1;
--inputTxt:rgba(0, 0, 0, 0.9);
--inputTxt2:rgba(0, 0, 0, 0.6);
--inputTxt3:rgba(0, 0, 0, 0.4);
--inputAccent:#ffb700;
--inputAccentTxt:#000;
--inputBorder:#5c5c5c;
--inputG:#ffffff;
--inputSecondaryBg:#777777;
--inputSecondaryBg2:#5d5d5d;
--inputSecondaryBg3:#515151;
--inputSecondaryBgHover:#6f6f6f;
--inputSecondaryBg2Hover:#555555;
--inputSecondaryBg3Hover:#494949;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffb700;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:linear-gradient(rgb(132, 132, 132), rgb(118, 118, 118));
--headerBg:#5dcc57;
--headerBg2:#3eb838;
--headerBg3:#38a532;
--headerBgHover:#52c84b;
--headerBg2Hover:#3aac34;
--headerBg3Hover:#34992e;
--headerTxt:rgba(0, 0, 0, 0.9);
--headerTxt2:rgba(0, 0, 0, 0.6);
--headerTxt3:rgba(0, 0, 0, 0.4);
--headerAccent:#ffb700;
--headerAccentTxt:#000;
--headerBorder:#52c84b;
--headerG:#5dcc57;
--subHeaderBg:#a1a1a1;
--subHeaderBg2:#878787;
--subHeaderBg3:#7b7b7b;
--subHeaderBgHover:#999999;
--subHeaderBg2Hover:#7f7f7f;
--subHeaderBg3Hover:#737373;
--subHeaderTxt:rgba(0, 0, 0, 0.9);
--subHeaderTxt2:rgba(0, 0, 0, 0.6);
--subHeaderTxt3:rgba(0, 0, 0, 0.4);
--subHeaderAccent:#ffb700;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#999999;
--subHeaderG:#a1a1a1;
--eventBg:#e6e6e6;
--eventBg2:#cccccc;
--eventBg3:#c0c0c0;
--eventBgHover:#dedede;
--eventBg2Hover:#c4c4c4;
--eventBg3Hover:#b8b8b8;
--eventTxt:rgba(0, 0, 0, 0.9);
--eventTxt2:rgba(0, 0, 0, 0.6);
--eventTxt3:rgba(0, 0, 0, 0.4);
--eventAccent:#347131;
--eventAccentTxt:#fff;
--eventBorder:#dedede;
--eventG:#e6e6e6;
--buttonBg:#5dcc57;
--buttonBg2:#3eb838;
--buttonBg3:#38a532;
--buttonBgHover:#52c84b;
--buttonBg2Hover:#3aac34;
--buttonBg3Hover:#34992e;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#52c84b;
--buttonG:#5dcc57;
--buttonSecondaryBg:#777777;
--buttonSecondaryBg2:#5d5d5d;
--buttonSecondaryBg3:#515151;
--buttonSecondaryBgHover:#6f6f6f;
--buttonSecondaryBg2Hover:#555555;
--buttonSecondaryBg3Hover:#494949;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#6f6f6f;
--buttonSecondaryG:linear-gradient(rgb(132, 132, 132), rgb(118, 118, 118));
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffb700;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#777777;
--oddBg2:#909090;
--oddBg3:#9d9d9d;
--oddBgHover:#7f7f7f;
--oddBg2Hover:#989898;
--oddBg3Hover:#a5a5a5;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb700;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#777777;
--oddActiveBg:#5dcc57;
--oddActiveBg2:#3eb838;
--oddActiveBg3:#38a532;
--oddActiveBgHover:#52c84b;
--oddActiveBg2Hover:#3aac34;
--oddActiveBg3Hover:#34992e;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#5dcc57;
--oddActiveG:#5dcc57;
--showMoreBg:#e6e6e6;
--showMoreBg2:#cccccc;
--showMoreBg3:#c0c0c0;
--showMoreBgHover:#dedede;
--showMoreBg2Hover:#c4c4c4;
--showMoreBg3Hover:#b8b8b8;
--showMoreTxt:rgba(0, 0, 0, 0.9);
--showMoreTxt2:rgba(0, 0, 0, 0.6);
--showMoreTxt3:rgba(0, 0, 0, 0.4);
--showMoreAccent:#ffb700;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#000000;
--showMoreG:#e6e6e6;
--tabBg:#7aaf77;
--tabBg2:#5d995a;
--tabBg3:#548951;
--tabBgHover:#71a96d;
--tabBg2Hover:#578f54;
--tabBg3Hover:#4e7f4b;
--tabTxt:rgba(0, 0, 0, 0.9);
--tabTxt2:rgba(0, 0, 0, 0.6);
--tabTxt3:rgba(0, 0, 0, 0.4);
--tabAccent:#ffb700;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#71a96d;
--tabG:#7aaf77;
--tabActiveBg:#347131;
--tabActiveBg2:#449540;
--tabActiveBg3:#4da648;
--tabActiveBgHover:#397c36;
--tabActiveBg2Hover:#49a045;
--tabActiveBg3Hover:#52b14d;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb700;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#397c36;
--tabActiveG:#347131;
--tabSecondaryActiveBg:#6aa667;
--tabSecondaryActiveBg2:#538950;
--tabSecondaryActiveBg3:#497947;
--tabSecondaryActiveBgHover:#61a05e;
--tabSecondaryActiveBg2Hover:#4d7f4a;
--tabSecondaryActiveBg3Hover:#436f41;
--tabSecondaryActiveTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveTxt2:rgba(0, 0, 0, 0.6);
--tabSecondaryActiveTxt3:rgba(0, 0, 0, 0.4);
--tabSecondaryAccent:#ffb700;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#7aaf77;
--filterBg:#727272;
--filterBg2:#585858;
--filterBg3:#4c4c4c;
--filterBgHover:#6a6a6a;
--filterBg2Hover:#505050;
--filterBg3Hover:#444444;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb700;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#6a6a6a;
--filterG:linear-gradient(rgb(132, 132, 132), rgb(118, 118, 118));
--menu_1Bg:#848484;
--menu_1Bg2:#6a6a6a;
--menu_1Bg3:#5e5e5e;
--menu_1BgHover:#7c7c7c;
--menu_1Bg2Hover:#626262;
--menu_1Bg3Hover:#565656;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb700;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#7c7c7c;
--menu_1G:linear-gradient(rgb(132, 132, 132), rgb(118, 118, 118));
--menu_2Bg:#7aaf77;
--menu_2Bg2:#5d995a;
--menu_2Bg3:#548951;
--menu_2BgHover:#71a96d;
--menu_2Bg2Hover:#578f54;
--menu_2Bg3Hover:#4e7f4b;
--menu_2Txt:rgba(0, 0, 0, 0.9);
--menu_2Txt2:rgba(0, 0, 0, 0.6);
--menu_2Txt3:rgba(0, 0, 0, 0.4);
--menu_2Accent:#ffb700;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#71a96d;
--menu_2G:#7aaf77;
--menu_3Bg:#7aaf77;
--menu_3Bg2:#5d995a;
--menu_3Bg3:#548951;
--menu_3BgHover:#71a96d;
--menu_3Bg2Hover:#578f54;
--menu_3Bg3Hover:#4e7f4b;
--menu_3Txt:rgba(0, 0, 0, 0.9);
--menu_3Txt2:rgba(0, 0, 0, 0.6);
--menu_3Txt3:rgba(0, 0, 0, 0.4);
--menu_3Accent:#ffb700;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#71a96d;
--menu_3G:#7aaf77;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb700;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#696969;
--menuItemTxt:#0e4d0b;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #d0d0d0;
    --primaryBg3: #9c9c9c;
    --primaryTxt: #000;
    --primaryTxt2: #4d4d4d;
    --primaryTxt3: #666666;

    --accentBg: #ffb700;
    --accentG: #ffb700;
    --accentRGBA: rgba(255, 183, 0, 0.6);
    --accentTxt: #000;

    --brandG: #5dcc57;
    --brandBg: #5dcc57;
    --brandTxt: #fff;

    --actionButtonG: #ffb700;
    --actionButtonTxt: #000;

    --widgetG: #e6e6e6;
    --widgetBg: #e6e6e6;
    --widgetBgHover: #d9d9d9;
    --widgetBg2: #cccccc;
    --widgetBg2Hover: #bfbfbf;
    --widgetBg3: #b3b3b3;
    --widgetBg3Hover: #a6a6a6;
    --widgetRGBA: rgba(230, 230, 230, 0.6);
    --widgetTxt: #000;
    --widgetTxt2: #4d4d4d;
    --widgetTxt3: #666666;

    --oddG: #777777;
    --oddBg: #777777;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #5dcc57;
    --oddActiveBg: #5dcc57;
    --oddActiveBg2: #3eb838;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #000000;
    --showMoreBg: #000000;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #5dcc57;
    --headerBg: #5dcc57;
    --headerTxt: #fff;

    --popupHeaderG: #5dcc57;
    --popupHeaderBg: #5dcc57;
    --popupHeaderTxt: #fff;

    --popupBg: #e6e6e6;
    --popupG: #e6e6e6;
    --popupTxt: #000;
    --popupTxt2: #4d4d4d;

    --tabG: #7aaf77;
    --tabBg: #7aaf77;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #5dcc56;
    --activeTabBg: #5dcc56;
    --activeTabTxt: #fff;

    --sideBarTabG: #7aaf77;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #5dcc56;
    --sideBarActiveTabTxt: #fff;

    --inputG: #ffffff;
    --inputBg: #ffffff;
    --inputBg2: #e6e6e6;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#696969;
    --menuItemTxt:#0e4d0b;

}
/*---*/

/*BetPerform Colors*/
/*SKINNING START*****************************************************************************************************************/
/*buttons*/

.tg__btn-primary {
	background-color: #009900;
	color: #fff;
}

.saveFav {
	color: #000;
}

.tg__btn-secundary,
#odd_format_container .tg__dropdown_value {
	background-color: #E6E6E6;
	color: #696969;
}

.tg__btn-ternary {
	background-color: #5DCC57;
	color: #fff;
}

.tg__btn-ternary:hover {
	background-color: #6DD168;
}

.tg__btn-ternary1 {
	background-color: #ffb700;
	color: #161415;
}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

.tg__btn-transparent {
	background-color: transparent;
	color: #979797;
}

.tg__btn-coupon {
	background-color: #767676;
	color: #fff;
}

.systemType .tg__btn-coupon {
	background-color: transparent;
	color: #696969;
}

.tg__btn-coupon:hover {
	background-color: #808080;
}

.tg__switch_text {
	color: #979797;
	text-transform: uppercase;
}


/*odds*/

.l_od,
.l_od_empty {
	background-color: #777777;
	color: #fff;
	font-weight: bold;
}

.l_od:hover,
.odCnt:hover .l_od {
	background-color: #5DCC57;
}

.l_od.selectedOdd {
	color: #000;
	background-color: #5DCC57;
}

.tg__one_game .tg__home_game_time {
	color: #111
}


/*tabs*/

.tab_selector {
	background-color: #7AAF77;
	color: #fff;
}

.tab_selector_active {
	background-color: #347131;
}

.sportLeftPane .tab_selector_active,
.sportLeftPane .tab_selector:hover {
	background-color: #5dcc56
}

.sportLeftPane .tab_selector {
	margin-right: 1px;
	margin-left: 1px;
}

.sportRightPane .tab_selector {
	background-color: #5dcc57;
}


.tg__info_panel .selectorWrapper {
	background-color: #5DCC57;
	color: #fff;
}

.sportRightPane .tab_selector {
	background-color: #5DCC57;
}

.sportRightPane .tab_selector.tab_selector_active,
.sportRightPane .tab_selector:hover{
	background-color: #347131;
}

.tg__home_game_item .tabSelectorHeading {
	color: #347131;
}


/*inputs*/

.tg_input--white {
	background-color: #f5f5f5;
	border-bottom: 1px solid #a4a4a4;
}

.tg_input--white:focus {
	border-bottom-color: #7db47a;
	border-width: 2px;
}

.tg_input--dark {
	background-color: #fff;
	color: #000;
}

.coeffsTitle.tg__subheading {
	background-color: #A1A1A1;
	color: #fff;
}

.calcLbl.tg__subheading {
	background-color: transparent;
	color: #111;
}

#calc_new_winSum,
#calc_new_winSum .tg-clr-akcent2 {
	color: #505050;
	font-weight: bold;
}

.tg--input-status-ico--red:after {
	color: red;
}

#calc_new .tg_input--dark {
	background-color: #A1A1A1;
	color: #cfcfcf;
}

#simpCalcRes .tg_input--dark,
#simpCalc .tg__btn-secundary {
	background-color: #fff;
	color: #001025;
}

.tg__dropdown_value {
	background-color: #A1A1A1;
    color: #fff;
}

.tg--tal {
	color: #4e4e4e;
}

.datepickericon:after {
	color: #979797;
}

.ui-datepicker-trigger {
	color: #696969;
}

.tg__switch .tg__switch_ico {
	background-color: #979797;
}

.tg__switch-bright {
	color: #666;
}

#simpCalc .tg__btn-secundary:hover {
	background-color: #5DCC57;
	color: #fff;
}

.tg--loading {
	color: #fff;
}

.tg__btn-arrow:after {
	border-top-color: #666;
}

.tg-notification {
	border-color: #2b2b2b;
	background-color: #24ba9d;
	color: #fff;
}

.tg-ico-arrow {
	color: #fff;
}

.tg--multiselect-radio-container .tg__control {
	background-color: #E6E6E6;
    color: #696969;
    margin-bottom: 0px;
    border-bottom: 1px solid #696969;
}



.tg--multiselect-radio-container .tg__control:hover,
.tg__checkbox.tg__dropdown__item:hover {
	background-color: #fff;
}

/*colors*/

.tg-clr-akcent {
	color: #f1e495;
}

.tg__myacc_7 .tg__btn-ternary {
	background: #535353;
	color: #ffb700;
}

.tg__myacc_7 .tg__btn-ternary:hover {
	background: #056500;
	color: #fff;
}

.tg__bet_history .tg-ico {
	color: #056500;
}

.tg-clr-akcent2 {
	color: #ffb700;
}

.bethistory_betnew {
	color: #ffb801;
}

.bethistory_betwin {
	color: #00cb00;
}

.bethistory_betlose {
	color: #e20002;
}

.tg--heading-bg {
	background-color: #181f29;
	color: #fff;
}

.ds--myacc-history_list_cont .tg__home_game_heading {
	background: #5DCC57;
	color: #fff;
}

.tg__list_row .tg-ico-arrow {
	color: #7f7f7f;
}

.newsSliderMarketName.tg__home_game_heading,
.liHeading.tg__home_game_heading {
	background: #A1A1A1;
	color: #fff;
}

.newsSliderMarketName.tg__home_game_heading {
	color: #EAEAEA;
}

.tg__result_item .tg__home_game_heading {
	background-color: #023870;
	color: #999;
}

.tg__chb.tg__fix_btn {
	color: #A1A1A1;
}

.resRowItem .tg--row-bg-1 {
	color: #111;
	background-color: #fff;
}

.tg__search_page .tg__home_game_heading .r {
	color: #e00029;
	text-transform: capitalize
}

.resBody {
	background-color: #dedede;
}

.tg--row-bg-1 {
	background-color: #333;
	color: #979797;
}

.tg--row-bg-2 {
	background-color: #222;
	color: #979797;
}

.tg-bg-1 {
	background-color: #D0D0D0;
}

.tg__calendar_header.tg-bg-1 {
	background-color: #A1A1A1
}

.tg-bg-2 {
	background-color: #A1A1A1;
}

.tg-bg-3 {
	background-color: #e6e6e6;
	color: #686868;
}

.tg-clr-1 {
	color: #000;
}

.tg--red-bg {
	background-color: red;
	color: #fff;
}

.tg--red-clr {
	color: red;
}

.tg--green-clr {
	color: green;
}


/*header*/

.tg__header__nav__item {
	color: #979797;
}

.tg__header__nav__item:hover {
	color: #24ba9d;
}


/*dropdowns*/

.tg__dropdown_content {
	background-color: #2b2b2b;
}

.tg__dropdown__item {
	background-color: #E6E6E6;
	color: #535353;
}

.tg__dropdown__item:hover {
	background-color: #f0f0f0;
	color: #696969;
}

.tg__dropdown__item-active {
	background-color: #c2c2c2;
    color: #696969;
}


#multi_select_object .tg__dropdown_content {
	background-color: #333;
}


.tg--shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

#leftScroll.tg--shadow {
	-moz-box-shadow: none;
	box-shadow: none;
}

.tg__calendar_cont .tg__dropdown_value {
	background-color: #E6E6E6;
	color: #696969;
	border: 1px solid #5C5C5C;
}

.tg__dropdown_content {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.tg__dropdown_value--bright {
	background-color: #fff;
	color: #979797;
}


/*inputs*/

.tg__input-ico-dark {
	color: #5DCC57;
}

.tg__input-dark {
	background-color: #fff;
	color: #999;
}

.tg__search_cont .tg__input-dark {
	background-color: #fff;
	border: 1px solid #5C5C5C;
	color: #999;
}

.tg__badge_live {
	color: #fff;
	background-color: #333;
}

.tab_selector_active .tg__badge_live {
	color: #fff;
	background-color: red;
}

.tg__left_menu_item--lvl1 {
	background-image: linear-gradient(#848484, #767676);
	color: #fff;
}

.tg__left_menu_item--lvl1:hover {
	background-image: linear-gradient(#A1A1A1, #A1A1A1);
}

.tg__step_slider .tg-clr-akcent2 {
	color: #fff;
}

.tg__left_menu_item--lvl2,
.tg__left_menu_item--lvl3 {
	border-bottom: 1px solid #AAAAAA;
	color: #fff;
	background-color: #7AAF77;
	margin-bottom: 0;
}

.sportLeftPane .tg-ico-fav,
.sportLeftPane .tg-ico-fav--active {
	color: #ccc;
}

.tg__left_menu_item--lvl2:hover,
.tg__left_menu_item--lvl3:hover,
.tg__left_menu_item--lvl3.left_menu_line_active {
	background-color: #347131;
}

.live_sport_list .tg__left_menu_item--lvl3 {
	background-color: #E6E6E6;
	color: #313131;
}

.live_sport_list .tg__left_menu_item--lvl3:hover {
	background-color: #232323;
	color: #fff;
}

.live_sport_list .tg__left_menu_item--lvl3 .livesecScore {
	color: #999;
	padding-top: 5px;
	padding-bottom: 5px;
}

.liveGameSelected .tg__left_menu_item--lvl3 {
	color: #FFB238
}

.liveGameSelected .tg__left_menu_item--lvl3:hover {
	color: #FFB238;
}

.tg__left_menu_item--lvl3.left_menu_line_active .tg-ico-fav {
	color: #fff;
}

.liveSportScore,
.liveSportDate {
	color: #347131
}

.tg__text_with_shadow {
	text-shadow: none;
}

.tg__left_menu_item--lvl3.left_menu_line_active .liveSportname {
	color: #ffb700;
}


/*slider*/

.ss__label {
	color: #fff;
}

.ss__step_slider .ss__ruller>div.off {
	background-color: #5e758a;
}

.ss__step_slider .ss__ruller>div,
.ss__step_slider .ss__slider {
	background-color: #FFB238;
}

.ss__step_slider:hover .ss__slider {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}


/*favorites*/

.tg-ico-fav--active {
	color: #fff;
}

.tg__multiview_header {
	background-color: #5DCC57;
}

.multiViewLiveEventPanel .tg__multiview_header .tg-ico,
.tg__multiview_header .tg__one_game_team {
	color: #fff;
}

.tg__fix_btn.checked {
	color: #e00029;
}

.tg__live_filter_item {
	color: #9E9E9E;
}

.tg__live_filter_item.checked {
	background-color: #7f7f7f;
	color: #fff
}


/*banners*/

.tg__banner__img {
	background-color: #979797;
}

.tg__slider__btn {
	background-color: transparent;
	color: #979797;
}

.tg__slider__btn:hover {
	background-color: #bac2cd;
	color: #999;
}


/*one game*/

.gameContentTitle {
	background-color: #5DCC57;
	color: #fff;
}

.gameContentTitle .tg-ico-arrow {
	color: #fff;
}

.tg__home_game_heading {
	background-color: #5DCC57;
	color: #fff;
}

.tg__one_game {
	background-color: #E6E6E6;
	color: #000;
	border-color: #fff
}

.tg__one_game:last-child {
	border: none;
}

.tg__onegame_wrapper+.tg-chb-only_icon {
	background-color: #E6E6E6;
	color: #999;
}

.tg__one_game .tg-ico-sm:hover {
	color: #fff;
}

.tg__one_game .tg-ico-sm {
	color: #999
}

.tg__one_game .tg--tar.tg-clr-akcent2 {
	color: #347131
}

.multiViewLiveEventPanel .tg-ico,
.tg__one_game_team {
	color: #535353;
}

.multiViewStatusPanel .tg-ico-arrow {
	color: #fff;
}

.liveMultiviewBody .multiViewLiveEventPanel .d .stt {
	background: #7A7A7A;
	color: #fff;
}

.multiViewHeaderCont {
	background-color: #fff;
}

.tg__home_game_heading+.s {
	background-color: #E6E6E6;
	color: #696969;
}

.last {
	background-color: #5DCC57;
	color: #fff;
}

.tg__more {
	background-color: transparent;
	color: #686868;
	border: 1px solid #000;
}

.news_slider .oddsContainer {
	background-color: #e6e6e6;
}

.favAmmButtons .tg__btn.tg__btn-text {
	padding-left: 10px;
	padding-right: 10px;
}

.oddsContainer a {
	color: #535353;
}

.tg__block_header {
	background-color: #5DCC57;
	color: #fff;
}

.newsSliderTextContainer {
	color: #686868;
}

.tg--coupon-bg {
	background-color: #fff;
	color: #707070;
}


/*errors*/

.tg--issue,
.tg--issue--inline {
	background-color: #ffb700;
	color: #000;
}

.tg--issue-hint {
	color: #161415;
}

.tg--issue-error {
	color: red;
}

.tg--issue-success {
	color: green;
}

.tg--border-bot-1 {
	border-color: #666;
}

.tg__coupon_tabs_cont .tab_cupon.tab_selected {
	background-color: #ebebeb;
	color: #707070;
}

.tab_cupon:hover,
.tab_cupon.tab_selected:hover {
	background-color: #cfcfcf;
}

.close_cupon:hover {
	color: #cb0000;
}
.stake_item_panel {
	border-top: #d0d0d0;
	border-bottom-color: #b8b8b8;
	background-color: #e6e6e6;
}

.tg__coupon_factor {
	background-color: #707070;
	color: #fff;
}

.tg__panel_issue--warning {
	background-color: #ffb700;
	color: #161415;
}

.tg__panel_issue--success {
	background-color: green;
	color: #fff;
}

.tg__match_item .tg-ico-fav,
.tg__match_item .tg-ico-arrow {
	color: #fff;
}

#live_bets_header_body .tg-bg_transparent {
	background-color: transparent;
	color: #696969;
}

.live_tabs_header .tg__match_header {
	background-color: #A1A1A1;
	color: #fff;
}

.live_tabs_header .tg__match_item {
	background-color: #e6e6e6;
	color: #696969;
	padding: 0;
}

.live_tabs_header .tg-ico-fav--active {
	color: #ffb703;
}

.gameInfo.tg-bg_transparent {
	color: #fff;
}

.tg__back.tg-bg_transparent {
	background-color: #fff;
	color: #000;
}

.tg__back.tg-bg_transparent:hover {
	color: #ffb700;
}

.tg--calendar-tab {
	background-color: #7AAF77;
	color: #fff;
}

.tg__calendar_item.tg-bg-3,
.tg__calendar_item .event .tn {
	background-color: #fff;
	color: #535353;
}

.tg__calendar_item .event .cn {
	color: #999;
}

.tg__calendar_item .tg-ico-sm {
	color: #999;
}

#betcheckerhead .tg--coupon-bg,
#bookingContainer .tg--coupon-bg {
	background-color: #e6e6e6;
}

.tg__coupon_square {
	background-color: #fff;
	color: #707070;
}

.tg__coupon .tg-chb-only_icon .tg__chb_lbl .tg__checkbox_ico {
	color: #4C4C4C;
}


.selectPanel {
	color: #707070;
}

.tg__coupon_lbl {
	text-transform: uppercase;
}

.tg__dropdown_coupon {
	background-color: #fff;
	color: #666;
}


/*prematch*/

.tg__prematch_header {
	background-color: #5DCC57;
	color: #fff;
}

.stakesContainerPrematch .tg__match_item {
	background-color: #E6E6E6;
	color: #696969;
}

.tg__match_item {
	background-color: #A1A1A1;
	color: #fff;
}

.tg--horisontal-tab .tab_selector {
	background-color: #A1A1A1;
}

.tg--horisontal-tab .tab_selector_active {
	background-color: #777;
}

#lineEventHeaderWide .tg__match_header,
.tg__match_header {
	background-color: #5DCC57;
	color: #fff;
}

.stakesContainerPrematch .tg__match_header {
	background-color: #A1A1A1;
	color: #fff
}

.tg__match_item_btn {
	background-color: #fff;
	color: #535353;
}

.tg--selected_prem_game {
	border-left: none;
}

.tg-bg_transparent {
	background-color: rgba(105, 105, 105, 0.7);
	color: #fff;
}

.datesWrapper {
	color: #fff;
}

.tg__open_event_img {
	background-color: #E6E6E6;
	color: #000;
}

.tg__live_list_header {
	background-color: #5DCC57;
	color: #fff;
}

.teamName.tg-clr-akcent2,
.liveHeaderScore .tg-clr-akcent2 {
	color: #ffb700;
}

.live_bets_header {
	color: #333
}

.overviewEventHeader .tg__home_game_heading {
	background-color: #A1A1A1;
	color: #fff;
}

.tg__home_game_heading_border.tg__home_game_heading {
	background: #E6E6E6;
	color: #696969;
}

.tg__live_list_body .tg__more {
	background: transparent;
    color: #72839c;
    border: 1px solid #72839c;
}
.tg--srv {
	color: #ffb700;
}

.tg__score_box--dark {
	background-color: #fff;
	color: #e3002a;
	font-weight: bold;
}

.live_event_name {
	color: #535353;
}

.overviewEventBody {
	background-color: #fff;
	color: #535353;
}

.tg__live_list_body {
	background-color: #333;
	color: #fff;
}

.tg__btn_arrow--dark {
	background-color: #7B7B7B;
	color: #fff;
}

.tg__btn_arrow--dark:hover {
	background-color: #979797;
}

.tg__btn_arrow--dark.tg__btn_arrow:before {
	color: #fff;
}

.tg__btn_arrow:before {
	color: #979797;
}

.tg__multiview_item {
	color: #fff;
}


.tg--close {
	background-color: #161415;
	color: #fff;
}

.tg--close:hover {
	color: #999;
}

.calc_content .tg__dropdown_value {
	color: #fff
}


/*live calendar*/

.ui-widget-content {
	border: 0;
	background: #c2c2c2;
	color: #111;
}

.ui-widget-header {
	border: 0;
	background: #727272;
	color: #000;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 0;
	color: #f8f8f8;
	background-color: #727272;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
	background: #161415;
	color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-hover {
	background: #666;
	color: #fff;
	border: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
	background: #1b1b1b;
	color: #fff;
}

.tg__show_title[data-title]:hover:after {
	background-color: #999;
	color: #000;
}

.live_calendar {
	color: #fff;
}

.live_calendar {

}

/*results*/

.tg__results_header {
	background-color: #EBEBEB;
}


/*modals*/

.tg__modal_wrapper {
	background-color: rgba(0, 0, 0, 0.5);
}

.tg__modal--drag {
	background-color: #d0d0d0;
	color: #787878;
}

.tg__subheading {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__modal {
	background-color: #333;
	color: #979797;
}

.tg--input-error {
	background-color: #fff;
}

.tg--input-show-error {
	border-color: red;
}

.calcTitle.tg__modal_header {
	background-color: #5DCC57
}

.tg__modal_header {
	background-color: #2b2b2b;
	color: #fff;
}

.drag_header.tg__modal_header {
	background-color: #5DCC57;
	color: #fff;
}

.tg__modal_heading {
	text-transform: uppercase;
}

#calcSwitch .tg__switch {
	flex-direction: row-reverse;
}

.tg__modal_header-sm,
.tg__modal_big {
	background-color: #D0D0D0;
	color: #fff;
}

.maPageMenu .tab_selector.tab_selector_active {
	background-color: #5dcc56;
	border-bottom-color: #D0D0D0;
}

.maPageMenu .tab_selector {
	border-bottom: 1px solid #c2c2c2;
	background-color: #e6e6e6;
	color: #686868;
	transition: All .3s ease;
}

.maPageMenu .tab_selector:hover {
	color: #fff;
	background-color: #a1a1a1;
	border-bottom-color: #c2c2c2;
}

.tg__modal_issue {
	background-color: #fff;
	color: #161415;
}

.tg__modal_issue:before {
	border-bottom-color: #fff;
}

.tg__congratulations {
	color: green;
}

.tg__modal_big {}

.tg__filter,
.tg__list_bg {
	background-color: #d0d0d0;
	color: #000
}

.tg__filter .tg_input--dark,
.tg__filter .tg__dropdown_value {
	background-color: #e6e6e6;
	color: #696969;
}

.tg__list_bg .tg-clr-akcent {
	color: #e63245
}

.tg__list_row_heading {
	background-color: #2b2b2b;
	color: #24ba9d;
}

.tg__list_row .tg__btn {
	background-color: #4c4c4c;
	color: #fff;
}

.tg__list_row_sub {
	background-color: #f3f3f3;
	color: #42643f;
}

.tg__list_row_sub .tg-ico {
	color: #979797;
}

.tg__list_row_sub .tg-clr-akcent2 {
	color: #ffb700;
}

.tg__list_row {
	background-color: #e6e6e6;
	color: #456444;
}

.tg__list_row:nth-child(even) {
	background-color: #d0d0d0;
}

.tg__custom_title {
	background-color: #fff;
}

.tg__payment_item {
	background-color: #161415;
}

.tg__show_data_error[data-error] .tg_input {
	border-color: red;
}

.tg__show_data_error[data-error]:hover:after {
	background-color: #fff;
	color: red;
}


/*transfer to casino*/

.tg_hint--error .tg-ico-sm:before {
	color: red;
}

.tg_hint--success .tg-ico-sm:before {
	color: green;
}

.tg__super_number {
	background-color: #979797;
	border-color: #24ba9d;
	color: #fff;
}

.tg__border--color-akcent {
	border-color: #24ba9d;
}


/*footer*/

.tg--footer-btn:before {
	background-color: #666;
}

.tg__footer {
	background-color: #161415;
}

.tg__footer_txt--clr {
	color: #979797;
}

.tg__footer_heading {
	color: #979797;
}

.tg__footer_link {
	color: #666;
}


/*scout empty panel*/

.LIemptyPanel .LItop {
	color: #979797;
}

.LIemptyPanel .LINew {
	color: #fff;
	background-color: #2b2b2b;
}

.LIemptyPanel .LISports {
	color: #979797;
}

.LIemptyPanel .LIWith {
	color: #999;
}

.tg__prematch_games_cont .tg-ico-sm {
	color: #7f7f7f;
}


/*Express Combination start*/

.tg--express_combination {
	background-color: #c2c2c2;
}

.checkedStakes_eventNames {
	color: #000;
}

.checkedStakes-fullName {
	color: #000;
}

.tg--pos_comb_row {
	border-color: #c2c2c2;
	color: #000;
	background-color: #fff;
}


/*Express Combination End*/

.posCombItem {
	background-color: #fff;
}


/*Withdraw Panel*/

.body_panel .tg_input--value-374 input {
	position: relative;
}

.body_panel .tg_input--value-374 input {
	padding-left: 40px;
}

.body_panel .tg_input--value-374::after {
	content: '+374';
	left: 8px;
	position: absolute;
	top: 11px;
	color: #8d8d8d;
}


/*Switcher Colors*/

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tg__switch input:checked+.tg__switch_ico {
	background-color: #4C4C4C;
}


/*Slider pre-match*/

.tg__step_slider .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #6e6e6e;
}

.tg__step_slider .tg__chb .tg__checkbox_ico.checked,
.tg__coupon_switches .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #ffb700;
}

.tg__coupon_switches .tg__chb .tg__checkbox_ico.checked {
	background-color: #333;
	color: #ffb700;
}

.selectorWrapper .tg__checkbox_ico.checked {
	color: #4c4c4c;
}


.selectorWrapper .tg__checkbox_ico.unchecked {
	color: #9E9E9E;
}


.tg__coupon_switches .tg__switch_cont,
.tg--border-r {
	border-color: #999
}


/*Tournament Page*/

.tg__tournament .tg__promo__logo,
.tg__tournament .tg__promo_text {
	color: #ffb700;
}

.tg__tournament.tg--horizontal-line {
	border: 1px solid #1a1a1a;
}

.tg__tournament .tg--trn_label,
.tg__tournament-result .tg--trn_label {
	color: #979797;
}

.tg__tournament .tg__dropdown_value,
.tg__tournament-result .tg__dropdown_value {
	color: #fff;
}

.tg__results .tg__dropdown_value,
.tg__results .tg_input--dark {
	background-color: #A1A1A1;
	color: #fff;
}

.tg__results .tg_input--dark::placeholder {
	color: #fff;
}

.tg__tournament-tabs .tg__tab_name {
	background-color: #474747;
	box-shadow: 0px 4px 20px -3px #000;
}

.tg__tournament-tabs .tg__tab_name::before {
	border-color: transparent #2b2b2b transparent transparent;
}

.tg__tournament-tabs .tg__tab_name::after {
	border-color: transparent #2b2b2b transparent transparent;
}

.tg__tournament-result .tg__home_game_heading {
	background-color: #1a1a1a;
}

.tg__tournament-result .tg__list_row:nth-of-type(odd) {
	background-color: #2B2B2B;
}

.tg__tournament-tabs .tg--prize-shadow {
	box-shadow: 0 0 3px 2px #fff, 0 0 18px 4px #ff8f43, 0 0 0 1px #885533;
}

.tg__tournament-tabs .tg--prize-shadow:after,
.tg__tournament-tabs .tg--prize-shadow:before {
	background-color: #333;
}

.tg__tournament-tabs .tg--prize-text span {
	background-color: #343333;
}


/*Tournament info popup*/

.tg__tournament-popup {
	border: 1px solid #000;
}

.tg__tournament-popup .tg__popup_container {
	background-color: rgba(255, 255, 255, .95);
	color: #2b2b2b;
}

.tg__tournament-popup .tg__popup_container:before {
	border-top: 14px solid rgba(255, 255, 255, .9);
	border-right: 10px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 10px solid transparent;
}

.tg__tournament-popup .tg__popup_anchor {
	color: #009900;
}

.tg__search_page.tg-bg-3 {
	background-color: transparent;
}

#srch_page_srch_res .tg-clr-akcent {
	color: #999;
}

#srch_page_srch_res .tg-clr-akcent2 {
	color: #fff;
}

.tg__search_page .tg__home_game_heading {
	text-transform: uppercase;
	color: #444;
	color: #fff;
	background-color: transparent;
}


#Cashoutpopup .tg__modal {
	background-color: #fff;
}

#Cashoutpopup .tg__modal_header {
    background-color:#5DCC57;
    color: #fff;
}

#Cashoutpopup .co_amount {
    width: 190px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    margin: 28px;
    border: 1px solid rgba(255,255,255,0);
    background-color: #000000;
    color: #f8951d;
}

#Cashoutpopup .tg-chb-ico_with_text .tg__checkbox_ico {
	color: #000;
}

/*partner popups*/

.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}

.tg__iframe_popup--draggable {
	transform: none !important;
}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}


/*partner popups*****************************/
/*horisontal position:sticky tabs*/
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper {
	background-color: #d0d0d0;
}
/*bet generator*/
.bet_generator_wrapper .tg_widget_header_2,
.bet_generator_wrapper .tg_widget_header_2 .tg-ico-arrow {
    background-color: #5DCC57;
    color: #fff;
}

.bet_generator_wrapper .tg_widget_bg_2,
.bet_advanced_option .tg-ico-arrow {
    background-color: #e6e6e6;
    color: #686868;
}

/*SKINNING END*****************************************************************************************************************/ 
  /*coin styles*/
    .tg_coin{
      background: #347131;
      color: #E6E6E6;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #E6E6E6;
      color: #000;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #347131;
      color: #fff;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #E6E6E6;
      color: #000;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #b3b3b3;
      color: #000;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #cdcdcd;
      color: #000;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #347131;
    }
    .tg_left_tabs {
      background-color: #cdcdcd;
      border-bottom-color: #347131;
      color: #000;
  }

   
  /*multibet of the day 2019-11-06*/
    .tg__exp_of_day_header{
      border-color:#E6E6E6;
    }
    .tg__exp_of_day_header,
    .es__express_slider_arrow {
      background-color: #cdcdcd;
      color: #000;
    }
    .es__express_day_coupon {
      background-color: #E6E6E6;
      color: #000;
    }
    .es__express_day_coupon .l_od, .es__express_day_coupon .l_od_empty{
      border-color:#000;
    }
    .es__express_slider_arrow:hover{
      background-color: #E6E6E6;
      color: #000;
    }
    

   
  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#E6E6E6;
      color:#000;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#347131;
    }
    .tg--prize-text span {
      background-color:#E6E6E6;
      color:#347131;
    }
    .tg__tour_tab_name {
      background-color:#d9d9d9;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #d9d9d9 transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #d9d9d9 transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #d9d9d9;
      color: #000;
    }
    .tg__tournament-result .tg--trn_label {
      color: #000;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #cdcdcd;
      color: #000;
    }
    .tg__tournament-vl:before {
      border-color:#d9d9d9;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#E6E6E6;
  color:#000;
}
.tg_modal_header {
	background-color:#cdcdcd;
  color:#000;
}
.tg__cashout--input {
	background-color:#cdcdcd;
	color:#000;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#347131;
}
.tg__cashout--value {
  color:#000;
}
 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #347131 !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #D0D0D0;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #347131;
      color: #fff;
    }

   
 
  /* Betslip Cashout 2019-12-20*/
  
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #E6E6E6;
    color: #000;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #d9d9d9;
    color: #000;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #347131;
    color: #fff;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(230, 230, 230, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(52, 113, 49, 0.5);
  }
  
  .tg__loader-pulse {
    color: #347131;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #347131;
   }
  
   
  
  
  
  
   
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #E6E6E6;
    color: #000;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #347131;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #347131;
        color: #fff;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #D0D0D0;
    color: #000;
  }
  .component_tax_data .tg-ico {
      color:#347131;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #000;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #347131;
      color: #fff;
    }
    .tg__modal_confirm:hover {
        background-color: #132a12;
    }
    .tg__modal_header {
      background-color: #d9d9d9;
    }
    .tg__modal_special_content {
      background-color: #E6E6E6;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #e6e6e6;
  color: #333333;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #e6e6e6;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #d9d9d9;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #e6e6e6;
	color: #333333;
	border-bottom: 1px solid #d0d0d0 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #d0d0d0;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #d9d9d9;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb700;
}
.es__express_day_coupon {
	background-color: #e6e6e6;
	color: #333333;
}
/*multi bet of the day skinning*/
