:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#1c315f;
--bodyBg2:#284586;
--bodyBg3:#2d4f9a;
--bodyBgHover:#1f376b;
--bodyBg2Hover:#2c4b92;
--bodyBg3Hover:#3055a6;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffffff;
--bodyAccentTxt:#000;
--bodyBorder:#1f376b;
--bodyG:#1c315f;
--bodyRGBA:rgba(28, 49, 95, 0.7);
--bodyRGBA2:rgba(28, 49, 95, 0.5);
--bodyRGBA3:rgba(28, 49, 95, 0.3);
--dominantBg:#101d39;
--dominantBg2:#1b3161;
--dominantBg3:#213b75;
--dominantBgHover:#132345;
--dominantBg2Hover:#1e376d;
--dominantBg3Hover:#244181;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#fcb501;
--dominantAccentTxt:#000;
--dominantBorder:#132345;
--dominantG:#101d39;
--dominantRGBA:rgba(16, 29, 57, 0.7);
--dominantRGBA2:rgba(16, 29, 57, 0.5);
--dominantRGBA3:rgba(16, 29, 57, 0.3);
--accentBg:#fcb501;
--accentBg2:#c99001;
--accentBg3:#b07e01;
--accentBgHover:#edaa01;
--accentBg2Hover:#ba8501;
--accentBg3Hover:#a17301;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#edaa01;
--accentG:#fcb501;
--inputBg:#ffffff;
--inputBg2:#e6e6e6;
--inputBg3:#d9d9d9;
--inputBgHover:#f7f7f7;
--inputBg2Hover:#dedede;
--inputBg3Hover:#d1d1d1;
--inputTxt:rgba(0, 0, 0, 0.9);
--inputTxt2:rgba(0, 0, 0, 0.6);
--inputTxt3:rgba(0, 0, 0, 0.4);
--inputAccent:#fcb501;
--inputAccentTxt:#000;
--inputBorder:#f7f7f7;
--inputG:#ffffff;
--inputSecondaryBg:#16274d;
--inputSecondaryBg2:#213b75;
--inputSecondaryBg3:#274588;
--inputSecondaryBgHover:#192d59;
--inputSecondaryBg2Hover:#244181;
--inputSecondaryBg3Hover:#2a4b94;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#fcb501;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#101d39;
--headerBg:#101d39;
--headerBg2:#1b3161;
--headerBg3:#213b75;
--headerBgHover:#132345;
--headerBg2Hover:#1e376d;
--headerBg3Hover:#244181;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#fcb501;
--headerAccentTxt:#000;
--headerBorder:#132345;
--headerG:#101d39;
--subHeaderBg:#f5f5f5;
--subHeaderBg2:#dbdbdb;
--subHeaderBg3:#cfcfcf;
--subHeaderBgHover:#ededed;
--subHeaderBg2Hover:#d3d3d3;
--subHeaderBg3Hover:#c7c7c7;
--subHeaderTxt:rgba(0, 0, 0, 0.9);
--subHeaderTxt2:rgba(0, 0, 0, 0.6);
--subHeaderTxt3:rgba(0, 0, 0, 0.4);
--subHeaderAccent:#fcb501;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#ededed;
--subHeaderG:#f5f5f5;
--eventBg:#ffffff;
--eventBg2:#e6e6e6;
--eventBg3:#d9d9d9;
--eventBgHover:#f7f7f7;
--eventBg2Hover:#dedede;
--eventBg3Hover:#d1d1d1;
--eventTxt:rgba(0, 0, 0, 0.9);
--eventTxt2:rgba(0, 0, 0, 0.6);
--eventTxt3:rgba(0, 0, 0, 0.4);
--eventAccent:#dac927;
--eventAccentTxt:#000;
--eventBorder:#f7f7f7;
--eventG:#ffffff;
--buttonBg:#38a1da;
--buttonBg2:#2386bc;
--buttonBg3:#1f77a7;
--buttonBgHover:#2b9bd8;
--buttonBg2Hover:#217daf;
--buttonBg3Hover:#1d6e9a;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#c99001;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#2b9bd8;
--buttonG:#38a1da;
--buttonSecondaryBg:#16274d;
--buttonSecondaryBg2:#213b75;
--buttonSecondaryBg3:#274588;
--buttonSecondaryBgHover:#192d59;
--buttonSecondaryBg2Hover:#244181;
--buttonSecondaryBg3Hover:#2a4b94;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#c99001;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#192d59;
--buttonSecondaryG:#101d39;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#fcb501;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#101d39;
--oddBg2:#1b3161;
--oddBg3:#213b75;
--oddBgHover:#132345;
--oddBg2Hover:#1e376d;
--oddBg3Hover:#244181;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#fcb501;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#101d39;
--oddActiveBg:#38a1da;
--oddActiveBg2:#2386bc;
--oddActiveBg3:#1f77a7;
--oddActiveBgHover:#2b9bd8;
--oddActiveBg2Hover:#217daf;
--oddActiveBg3Hover:#1d6e9a;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#38a1da;
--oddActiveG:#38a1da;
--showMoreBg:#ffffff;
--showMoreBg2:#e6e6e6;
--showMoreBg3:#d9d9d9;
--showMoreBgHover:#f7f7f7;
--showMoreBg2Hover:#dedede;
--showMoreBg3Hover:#d1d1d1;
--showMoreTxt:rgba(0, 0, 0, 0.9);
--showMoreTxt2:rgba(0, 0, 0, 0.6);
--showMoreTxt3:rgba(0, 0, 0, 0.4);
--showMoreAccent:#fcb501;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#ffffff;
--showMoreG:#ffffff;
--tabBg:#ffffff;
--tabBg2:#e6e6e6;
--tabBg3:#d9d9d9;
--tabBgHover:#f7f7f7;
--tabBg2Hover:#dedede;
--tabBg3Hover:#d1d1d1;
--tabTxt:rgba(0, 0, 0, 0.9);
--tabTxt2:rgba(0, 0, 0, 0.6);
--tabTxt3:rgba(0, 0, 0, 0.4);
--tabAccent:#fcb501;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#f7f7f7;
--tabG:#ffffff;
--tabActiveBg:#101d39;
--tabActiveBg2:#1b3161;
--tabActiveBg3:#213b75;
--tabActiveBgHover:#132345;
--tabActiveBg2Hover:#1e376d;
--tabActiveBg3Hover:#244181;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#fcb501;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#132345;
--tabActiveG:#101d39;
--tabSecondaryActiveBg:#f2f2f2;
--tabSecondaryActiveBg2:#d8d8d8;
--tabSecondaryActiveBg3:#cccccc;
--tabSecondaryActiveBgHover:#eaeaea;
--tabSecondaryActiveBg2Hover:#d0d0d0;
--tabSecondaryActiveBg3Hover:#c4c4c4;
--tabSecondaryActiveTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveTxt2:rgba(0, 0, 0, 0.6);
--tabSecondaryActiveTxt3:rgba(0, 0, 0, 0.4);
--tabSecondaryAccent:#fcb501;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#ffffff;
--filterBg:#182b55;
--filterBg2:#233f7d;
--filterBg3:#294991;
--filterBgHover:#1b3161;
--filterBg2Hover:#264589;
--filterBg3Hover:#2c4f9d;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#fcb501;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#1b3161;
--filterG:#101d39;
--menu_1Bg:#101d39;
--menu_1Bg2:#1b3161;
--menu_1Bg3:#213b75;
--menu_1BgHover:#132345;
--menu_1Bg2Hover:#1e376d;
--menu_1Bg3Hover:#244181;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#fcb501;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#132345;
--menu_1G:#101d39;
--menu_2Bg:#ffffff;
--menu_2Bg2:#e6e6e6;
--menu_2Bg3:#d9d9d9;
--menu_2BgHover:#f7f7f7;
--menu_2Bg2Hover:#dedede;
--menu_2Bg3Hover:#d1d1d1;
--menu_2Txt:rgba(0, 0, 0, 0.9);
--menu_2Txt2:rgba(0, 0, 0, 0.6);
--menu_2Txt3:rgba(0, 0, 0, 0.4);
--menu_2Accent:#fcb501;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#f7f7f7;
--menu_2G:#ffffff;
--menu_3Bg:#101d39;
--menu_3Bg2:#1b3161;
--menu_3Bg3:#213b75;
--menu_3BgHover:#132345;
--menu_3Bg2Hover:#1e376d;
--menu_3Bg3Hover:#244181;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#fcb501;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#132345;
--menu_3G:#101d39;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#fcb501;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#CCCCCC;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #1c315f;
    --primaryBg3: #050810;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #38A1DA;
    --accentG: #38A1DA;
    --accentRGBA: rgba(56, 161, 218, 0.6);
    --accentTxt: #fff;

    --brandG: #38A1DA;
    --brandBg: #38A1DA;
    --brandTxt: #fff;

    --actionButtonG: #38A1DA;
    --actionButtonTxt: #fff;

    --widgetG: #101D39;
    --widgetBg: #101D39;
    --widgetBgHover: #0a1325;
    --widgetBg2: #050911;
    --widgetBg2Hover: #0b1325;
    --widgetBg3: #111e38;
    --widgetBg3Hover: #0b1424;
    --widgetRGBA: rgba(16, 29, 57, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #101d39;
    --oddBg: #101d39;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #38A1DA;
    --oddActiveBg: #38A1DA;
    --oddActiveBg2: #2386bc;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #000000;
    --showMoreBg: #000000;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #101d39;
    --headerBg: #101d39;
    --headerTxt: #fff;

    --popupHeaderG: #1c315f;
    --popupHeaderBg: #1c315f;
    --popupHeaderTxt: #fff;

    --popupBg: #101D39;
    --popupG: #101D39;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #fff;
    --tabBg: #fff;
    --tabTxt: #000;
    --tabTxt2: #4d4d4d;

    --activeTabG: #101d39;
    --activeTabBg: #101d39;
    --activeTabTxt: #fff;

    --sideBarTabG: #fff;
    --sideBarTabTxt: #000;

    --sideBarActiveTabG: #101d39;
    --sideBarActiveTabTxt: #fff;

    --inputG: #fff;
    --inputBg: #fff;
    --inputBg2: #e6e6e6;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#CCCCCC;

}
/*---*/

/* MojaBetTZ */
.tg__submenu__item.active {
    color: #fff;
}
.tab_selector {
    background: #FFFFFF;
    color: #212121;
}
.tab_selector_active {
    background: #101D39;
    color: #FFFFFF;
}
.tg__badge_live {
    background: #101D39;
    color: #fff;
}
.ss__label .tg_sidebar_text_akcent {
    color: #212121;
}
.ss__label .tg_sidebar_text_2 {
    color: #212121;
}
.ss__step_slider .ss__ruller > div,
.ss__step_slider .ss__slider {
    background-color: #101D39;
}
.ss__step_slider .ss__ruller > .off {
    background-color: rgba(16, 29, 57, .27);
}

.liveSportDate {
    color: #999999;
}
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper {
    background-color: #1C315F;
}
.odd_format_container {
    background-color: #101D39;
    color: #fff;
}
.tg__dropdown_content {
    background-color: #101D39;
}
.tg__dropdown__item {
    background-color: #F5F5F5;
    color: #212121;
}
.tg__dropdown__item-active,
.tg__dropdown__item:hover {
    background-color: #CCCCCC;
    color: #212121;
}
.tg--home2__stakeTypes {
    background: #fff;
}
.tg--home2__stakeItem {
    text-transform: uppercase;
    background-color: #16274C;
    color: #fff;
}
.tg--home2__stakeItem:hover,
.active .tg--home2__stakeItem,
.stItem_active {
    background-color: #38A1DA;
    color: #fff;
}
.tg__one_game {
    background: #FFFFFF;
    color: #212121;
    font-weight:bold;
}
.tg__home2_game_odd .l_od,
.tg__home2_game_odd .l_od_empty,
.l_od,
.l_od_empty,
.l_od_empty_argument {
    background: #101D39;
    color: #fff;
    border-radius: 2px;
}
.tg__home2_game_odd .l_od:hover,
.l_od:hover{
    background: #FBBD18;
    color: #212121;
}
.l_od.selectedOdd {
    background: #38A1DA;
    color: #fff;
}
.tg__more {
    color: #212121;
    font-weight: bold;
}

.scoutDDCont {
    background: #fff;
}
.scoutDDCont .tg__dropdown_control {
    background: #EBEBEB;
    color: #212121;
}
.scoutDDCont .tg__checkbox_ico {
    color: #A2A3A3;
}
.scoutDDCont .tg__checkbox_ico.checked {
    color: #38A1DA;
}
.tg__coupon_tabs_cont .tab_cupon {
    background: #EBEBEB;
    color: #A2A3A3;
}
.tg__coupon_tabs_cont .tab_selected.tab_cupon {
    background: #C1C1C1;
    color: #666666;
}
.stake_item_panel {
    background: #C1C1C1;
    color: #666666;
    border-bottom-color: #fff;
    border-top: none;
}
.tg__coupon-repeated,
.betslip_noexpress{
    color: #CC0000!important;
}
.SBcpNameCnt{
    color:#000;
}
.tg__coupon_factor {
    background: #A2A3A3;
    color: #fff;
}
.tg__coupon_square {
    background: #EBEBEB;
    color: #A2A3A3;
}
.tg-ico-sm{
    color:#666;
}
.totalOddsLbl {
    color: #666666;
}
.betCouponRow .tg__btn-text {
    width:114px;
    background: #666666;
    color: #fff;
}
.betCouponRow .tg__coupon_lbl {
    text-transform: uppercase;
}
.favAmmButtons .btn_favorit_amount {
    background: #EBEBEB;
    color: #212121;
}
.tg__btn-ternary,
.tg__btn-primary {
    background: #38A1DA;
    color: #fff;
}
    .tg__btn-ternary:hover,
    .tg__btn-primary:hover {
        background: #FBBD18;
        color: #212121;
    }
.liveFilterContainer {
    background-color: #1C315F!important;
}
.tg-clr-akcent2 {
    color: #FFB700;
}
.tg--horisontal-tab .tab_selector {
    background: #38A1DA;
    color: #fff
}
.tg--horisontal-tab .tab_selector_active {
    background: #101D39;
    color:#fff;
}
.overViewDataPanel .SBheader.tg__home2_game_heading {
    background: #EEEEEE;
    color: #083154;
    font-weight: bold;
}
.tg-bg_transparent {
    background: rgba(0,0,0,.6);
}
.tg__match_item_stake {
    background: #fff;
    color: #212121;
}
.tg--issue {
    background-color: #ffb700;
    border: 1px solid #999;
    color: #000;
}
.livesecScore .tg_live_score_tems{
    color: #999999;
}
#res_cmb_sp,
#res_cmb_ev,
#res_cmb_evChamp {
    border-radius: 2px;
    background-color: #F5F5F5;
    color: #000000;
}
.tg__home2_game_heading-top {
    background: #CCCCCC;
    color: #212121;
}
.tg__switch .tg__switch_ico {
    background: #666666;
}
.tg__switch .tg__switch_ico:before {
    background: #F1F1F1;
}
.tg__multiview_scroll_height {
    background: #fff;
}
.live_calendar{
    background:#fff;
}
.live_calendar .tab_selector {
    background: #fff;
    color: #444444;
}
.live_calendar .tab_selector_active {
    background: #16274C;
    color: #fff;
}
.tg__calendar_header {
    background-color: #EEEEEE !important;
}
.tg__calendar_item {
    background: #fff;
    color: #000;
}
#canal_filter {
    background: #38A1DA;
    color:#fff;
}
.tg--multiselect-radio-container .tg__control {
    background-color: #F5F5F5;
    color: #212121;
    margin-bottom:1px;
}
.tg--multiselect-radio-container .tg__control .tg__checkbox_ico {
    color: #666;
}
.calcTitle .tg__modal_header {
    background-color: #1C315F;
    color: #fff;
}
#calc_new {
    background-color: #fff;
    color: #212121;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
#calc_new_systemType,
#calc_new_totalSum,
.tg__calcOddItem_input .tg_input,
#simpCalcResInp {
    background: #CCCCCC;
    color: #212121;
}
#calc_new .tg-chb-only_icon .tg__chb_lbl .tg__checkbox_ico {
    color: #707070;
}
.coeffsTitle {
    background: #999999;
    color: #fff;
}
.calcLbl{
    color:#999;
}
.calcButtons .tg__btn-text {
    background: #101D39;
    color:#fff;
}
.tg__modal_account {
    background: #fff;
}
#ma_md_date_type,
#ma_mb_time_period,
#ma_mb_bet_status,
#ma_mbon_time_period,
#ma_mbon_bonus_type {
    background: #EBEBEB;
    color: #212121;
    border-radius: 2px;
}
.maPageMenu .tg--account-tab {
    background: #101D39;
}
.maPageMenu .tab_selector {
    background: #101D39;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 1px;
}
.maPageMenu .tab_selector_active {
    background: #38A1DA;
    color: #fff;
    border-bottom: 1px solid #FFB700;
}
.maPageMenu .tg__filter {
    border-top: 2px solid #101D39;
}
.tg__list_row,
.tg__list_row_sub {
    background: #EBEBEB;
    color: #212121;
}
.tg__list_row:nth-child(even),
.tg__list_row_sub:nth-child(even) {
    background: #fff;
    color: #212121;
}
.tg__list_row .tg-clr-akcent {
    color: #38A1DA;
}
.tg--close {
    background: #CCCCCC;
    color: #fff;
}
#variantsScrollBox {
    background: #fff;
    color: #212121;
}
.tg--pos_comb_row {
    background: #101D39;
    color:#fff;
}
.posCombItem{
    background:#eee;
}
.tg__switch input:checked + .tg__switch_ico:before {
   background: #38A1DA;
}
/*layout african*/
.tg__champ_header {
    height: 40px;
    line-height: 40px;
}

.tg__left_menu_item {
    margin-bottom: 0;
}
/*skinning v2*/
.tg__text_with_shadow {
    text-shadow: none;
}

.tg_input {
    border-radius: 2px;
    background-color: #F5F5F5;
    color: #000000;
}

.tg_bg {
    background-color: #1C315F;
}

.tg_widget_header {
    background-color: #101D39;
    color: #fff;
}

.tg_widget_header_2 {
    background-color: #101D39;
    color: #fff;
}

.tg_widget_bg {
    background-color: #fff;
    color: #000;
}

.tg_widget_bg_2 {
    background-color: #fff;
    color: #A2A3A3;
}

.tg_widget_tab_text {
    color: #fff;
}

.tg_widget_row {
    border-bottom: 1px solid #1C315F;
}

.tg_widget_heading {
    font-weight: bold;
    background-color: #F5F5F5;
    color: #212121;
}

.tg_widget_heading_1 {
    background-color: #CCCCCC;
    color: #212121;
}

.tg__open_event_img {
    background-color: #101D39;
    color: #fff;
}

.tg_widget_text_akcent {
    color: #DAC927;
}
/*sub header*/
.tg_search_bg {
    background-color: #fff;
}

    .tg_search_text,
    .tg_search_bg::placeholder {
        color: #999;
    }

.tg_subheader_btn {
    background-color: #101D39;
    color: #fff;
}

    .tg_subheader_btn:hover {
        background-color: #38A1DA;
        color: #fff;
    }

/*sidebar*/
/*left menu live filter*/
.tg__live_filter_item {
    color: #fff;
}

    .tg__live_filter_item.checked {
        background-color: #101D39;
    }

.tg_sidebar_bg {
    background-color: #101D39;
    color: #fff;
}

.tg_sidebar_bg_2 {
    background-color: #FFFFFF;
    color: #000;
}

.tg_sidebar_bg_3 {
    background-color: #101D39;
    color: #fff;
}

.tg_sidebar_text_akcent {
    color: #FCB501;
}

.tg__sticky_market_header {
    background-color: #fff;
    color: #133A31;
}
/* modal */
.tg__modal {
    background-color: #1C315F;
    color: #fff;
}
.tg__modal_header {
    background-color: #101D39;
    color: #fff;
}
.tg__border--color-akcent {
    border-color: #FCB501;
}
/* tabs */
.tg_left_filter_tabs input:checked + label + label,
.tg--home-2-up-ev .tg__control input:checked ~ .tg__checkbox_text {
    color: #38A1DA;
}

#MaPage{
    background:#fff;
}
#dramm,
.sum {
    color: #212121;
    font-weight:bold;
}
@media (max-width: 1400px) {
    .betCouponRow .tg__btn-text {
        width:auto;
    }
} 
  /*coin styles*/
    .tg_coin{
      background: #FCB501;
      color: #fff;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #fff;
      color: #000;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #FCB501;
      color: #000;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #fff;
      color: #000;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #ccc;
      color: #000;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #e6e6e6;
      color: #000;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #FCB501;
    }
    .tg_left_tabs {
      background-color: #e6e6e6;
      border-bottom-color: #FCB501;
      color: #000;
  }

   
  /*multibet of the day 2019-11-06*/
    .tg__exp_of_day_header{
      border-color:#fff;
    }
    .tg__exp_of_day_header,
    .es__express_slider_arrow {
      background-color: #e6e6e6;
      color: #000;
    }
    .es__express_day_coupon {
      background-color: #fff;
      color: #000;
    }
    .es__express_day_coupon .l_od, .es__express_day_coupon .l_od_empty{
      border-color:#000;
    }
    .es__express_slider_arrow:hover{
      background-color: #fff;
      color: #000;
    }
    

   
  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#fff;
      color:#000;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#FCB501;
    }
    .tg--prize-text span {
      background-color:#fff;
      color:#FCB501;
    }
    .tg__tour_tab_name {
      background-color:#f2f2f2;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #f2f2f2 transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #f2f2f2 transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #f2f2f2;
      color: #000;
    }
    .tg__tournament-result .tg--trn_label {
      color: #000;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #e6e6e6;
      color: #000;
    }
    .tg__tournament-vl:before {
      border-color:#f2f2f2;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#fff;
  color:#000;
}
.tg_modal_header {
	background-color:#e6e6e6;
  color:#000;
}
.tg__cashout--input {
	background-color:#e6e6e6;
	color:#000;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#FCB501;
}
.tg__cashout--value {
  color:#000;
}
.betslip_info {
	background-color: #fff;
	color: #999;
	box-shadow: 0 2px 4px rgba(0,0,0,.075);
} 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #FCB501 !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #1C315F;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #FCB501;
      color: #000;
    }

   
  /* Betslip Cashout 2019-12-24*/
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #fff;
    color: #000;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #f2f2f2;
    color: #000;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #FCB501;
    color: #000;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(255, 255, 255, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(252, 181, 1, 0.5);
  }
  
  .tg__loader-pulse {
    color: #FCB501;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #FCB501;
   }
  
   
  
  
  
  
   
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #fff;
    color: #000;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #FCB501;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #FCB501;
        color: #000;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #1C315F;
    color: #000;
  }
  .component_tax_data .tg-ico {
      color:#FCB501;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #000;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }

.tg_widget_header_2,
.tg--cashout-row,
.tg--cashout-pagination-item,
.tg_widget_header_2 .tab_selector_active,
.tg--coupon-container .selector_panel,
.tg__info_panel .selectorWrapper,
.tg__match_header.tg_widget_header,
.tg__prematch_header.tg_widget_bg,
.lineEventHeaderWide.tg_widget_bg,
.tg__live_list_header.tg_widget_header,
.tg__multiview_header.tg_widget_header,
.tg__calendar_header.tg_widget_heading,
.tg__results_header.tg_widget_bg {
    background-color: #101D39;
     color: #fff;
}

.news_description.tg__show_title[data-title]:hover:after {
    color: #000;
}

.tg__match_item_btn{
    background-color: #fff;
    color: #000;
}

.tg__bet_history .tg__list_row.tg_sticky_bot {
    background-color: #101D39;
    color: #fff;
}

.tg_sidebar_bg .tg__left_menu_item_text, 
.tg__left_menu_item [class*='sport_front_icon-'] {
    color: #fff;
}

.tg_sidebar_bg_2{
    color: #000;
}

.tg_sidebar_bg_3.left_menu_line_active .tg__left_menu_item_text,
.liveGameSelected .tg_sidebar_bg_3 .liveSportNamesContainer,
.liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent {
    color: #FFB700;
}

.liveGameSelected .tg_sidebar_bg_3 .tg-ico-fav--active {
    color: #FFB700;
} 
    .tg__modal_confirm {
      background-color: #FCB501;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #966c01;
    }
    .tg__modal_header {
      background-color: #f2f2f2;
    }
    .tg__modal_special_content {
      background-color: #fff;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #ffffff;
  color: #333333;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #ffffff;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #f2f2f2;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #ffffff;
	color: #333333;
	border-bottom: 1px solid #1c315f !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #1c315f;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #f2f2f2;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffffff;
}
.es__express_day_coupon {
	background-color: #ffffff;
	color: #333333;
}
/*multi bet of the day skinning*/
