:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#0a102b;
--bodyBg2:#141f54;
--bodyBg3:#182769;
--bodyBgHover:#0d1537;
--bodyBg2Hover:#172460;
--bodyBg3Hover:#1b2c75;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#fecb00;
--bodyAccentTxt:#000;
--bodyBorder:#0d1537;
--bodyG:#0a102b;
--bodyRGBA:rgba(10, 16, 43, 0.7);
--bodyRGBA2:rgba(10, 16, 43, 0.5);
--bodyRGBA3:rgba(10, 16, 43, 0.3);
--dominantBg:#181f3d;
--dominantBg2:#263262;
--dominantBg3:#2e3b74;
--dominantBgHover:#1c2548;
--dominantBg2Hover:#2a386d;
--dominantBg3Hover:#32417f;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#fecb00;
--dominantAccentTxt:#000;
--dominantBorder:#1c2548;
--dominantG:#181f3d;
--dominantRGBA:rgba(24, 31, 61, 0.7);
--dominantRGBA2:rgba(24, 31, 61, 0.5);
--dominantRGBA3:rgba(24, 31, 61, 0.3);
--accentBg:#fecb00;
--accentBg2:#cba200;
--accentBg3:#b18e00;
--accentBgHover:#efbf00;
--accentBg2Hover:#bc9600;
--accentBg3Hover:#a28200;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#efbf00;
--accentG:#fecb00;
--inputBg:#242f5c;
--inputBg2:#324281;
--inputBg3:#3a4b93;
--inputBgHover:#283567;
--inputBg2Hover:#36488c;
--inputBg3Hover:#3e519e;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#fecb00;
--inputAccentTxt:#000;
--inputBorder:#283567;
--inputG:#242f5c;
--inputSecondaryBg:#1f284f;
--inputSecondaryBg2:#2d3b74;
--inputSecondaryBg3:#354486;
--inputSecondaryBgHover:#232e5a;
--inputSecondaryBg2Hover:#31417f;
--inputSecondaryBg3Hover:#394a91;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#fecb00;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#181f3d;
--headerBg:#242f5c;
--headerBg2:#324281;
--headerBg3:#3a4b93;
--headerBgHover:#283567;
--headerBg2Hover:#36488c;
--headerBg3Hover:#3e519e;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#fecb00;
--headerAccentTxt:#000;
--headerBorder:#283567;
--headerG:#242f5c;
--subHeaderBg:#0e1530;
--subHeaderBg2:#1a2657;
--subHeaderBg3:#1f2f6b;
--subHeaderBgHover:#111a3c;
--subHeaderBg2Hover:#1e2b63;
--subHeaderBg3Hover:#223477;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#fecb00;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#111a3c;
--subHeaderG:#0e1530;
--eventBg:#181f3d;
--eventBg2:#263262;
--eventBg3:#2e3b74;
--eventBgHover:#1c2548;
--eventBg2Hover:#2a386d;
--eventBg3Hover:#32417f;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#fecb00;
--eventAccentTxt:#000;
--eventBorder:#1c2548;
--eventG:#181f3d;
--buttonBg:#fecb00;
--buttonBg2:#cba200;
--buttonBg3:#b18e00;
--buttonBgHover:#efbf00;
--buttonBg2Hover:#bc9600;
--buttonBg3Hover:#a28200;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#cba200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#efbf00;
--buttonG:#fecb00;
--buttonSecondaryBg:#1f284f;
--buttonSecondaryBg2:#2d3b74;
--buttonSecondaryBg3:#354486;
--buttonSecondaryBgHover:#232e5a;
--buttonSecondaryBg2Hover:#31417f;
--buttonSecondaryBg3Hover:#394a91;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cba200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#232e5a;
--buttonSecondaryG:#181f3d;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#fecb00;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#37457b;
--oddBg2:#47599e;
--oddBg3:#4f63b0;
--oddBgHover:#3c4b86;
--oddBg2Hover:#4c5fa9;
--oddBg3Hover:#5a6cb5;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#fecb00;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#37457b;
--oddActiveBg:#fecb00;
--oddActiveBg2:#cba200;
--oddActiveBg3:#b18e00;
--oddActiveBgHover:#efbf00;
--oddActiveBg2Hover:#bc9600;
--oddActiveBg3Hover:#a28200;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#fecb00;
--oddActiveG:#fecb00;
--showMoreBg:#181f3d;
--showMoreBg2:#263262;
--showMoreBg3:#2e3b74;
--showMoreBgHover:#1c2548;
--showMoreBg2Hover:#2a386d;
--showMoreBg3Hover:#32417f;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#fecb00;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#181f3d;
--showMoreG:#181f3d;
--tabBg:#0a102b;
--tabBg2:#141f54;
--tabBg3:#182769;
--tabBgHover:#0d1537;
--tabBg2Hover:#172460;
--tabBg3Hover:#1b2c75;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#fecb00;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#0d1537;
--tabG:#0a102b;
--tabActiveBg:#242f5c;
--tabActiveBg2:#324281;
--tabActiveBg3:#3a4b93;
--tabActiveBgHover:#283567;
--tabActiveBg2Hover:#36488c;
--tabActiveBg3Hover:#3e519e;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#fecb00;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#283567;
--tabActiveG:#242f5c;
--tabSecondaryActiveBg:#0f1840;
--tabSecondaryActiveBg2:#192769;
--tabSecondaryActiveBg3:#1e2f7e;
--tabSecondaryActiveBgHover:#121d4c;
--tabSecondaryActiveBg2Hover:#1c2c75;
--tabSecondaryActiveBg3Hover:#21348a;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#fecb00;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#0a102b;
--filterBg:#222c57;
--filterBg2:#303f7c;
--filterBg3:#37488e;
--filterBgHover:#263262;
--filterBg2Hover:#344587;
--filterBg3Hover:#3b4e99;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#fecb00;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#263262;
--filterG:#181f3d;
--menu_1Bg:#181f3d;
--menu_1Bg2:#263262;
--menu_1Bg3:#2e3b74;
--menu_1BgHover:#1c2548;
--menu_1Bg2Hover:#2a386d;
--menu_1Bg3Hover:#32417f;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#fecb00;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#1c2548;
--menu_1G:#181f3d;
--menu_2Bg:#212a53;
--menu_2Bg2:#303c77;
--menu_2Bg3:#37468a;
--menu_2BgHover:#25305e;
--menu_2Bg2Hover:#344182;
--menu_2Bg3Hover:#3b4c95;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#fecb00;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#25305e;
--menu_2G:#212a53;
--menu_3Bg:#293569;
--menu_3Bg2:#37488e;
--menu_3Bg3:#3e51a0;
--menu_3BgHover:#2d3b74;
--menu_3Bg2Hover:#3b4e99;
--menu_3Bg3Hover:#4257ab;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#fecb00;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#2d3b74;
--menu_3G:#293569;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#fecb00;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#999999;
--menuItemTxt:#FFFFFF;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #0a102b;
    --primaryBg3: #001a35;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #fecb00;
    --accentG: #fecb00;
    --accentRGBA: rgba(254, 203, 0, 0.6);
    --accentTxt: #000;

    --brandG: #fecb00;
    --brandBg: #fecb00;
    --brandTxt: #000;

    --actionButtonG: #fecb00;
    --actionButtonTxt: #000;

    --widgetG: #181F3D;
    --widgetBg: #181F3D;
    --widgetBgHover: #11162b;
    --widgetBg2: #0a0c18;
    --widgetBg2Hover: #020306;
    --widgetBg3: #191e3c;
    --widgetBg3Hover: #11152a;
    --widgetRGBA: rgba(24, 31, 61, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #37457b;
    --oddBg: #37457b;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #fecb00;
    --oddActiveBg: #fecb00;
    --oddActiveBg2: #cba200;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #181f3d;
    --showMoreBg: #181f3d;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #242f5c;
    --headerBg: #242f5c;
    --headerTxt: #fff;

    --popupHeaderG: #242f5c;
    --popupHeaderBg: #242f5c;
    --popupHeaderTxt: #fff;

    --popupBg: #000000;
    --popupG: #000000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #0a102b;
    --tabBg: #0a102b;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #242f5c;
    --activeTabBg: #242f5c;
    --activeTabTxt: #fff;

    --sideBarTabG: #0a102b;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #242f5c;
    --sideBarActiveTabTxt: #fff;

    --inputG: #242f5c;
    --inputBg: #242f5c;
    --inputBg2: #161c37;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#999999;
    --menuItemTxt:#FFFFFF;

}
/*---*/


/*CryptoBet skinning*/

/*coupon*/
.tg_widget_bg_2, .tg--cashout-body, .tg__cashout_popup {
    background-color: #1E274D;
    color: #ccc;
}

.stake_item_panel {
    background-color: #141a33;
    color: #ccc;
    border-color: #1E274D;
}

.coupon_sport_name_container {
    color: #fff;
}
/*input inside widget2*/
.tg_widget_bg_2 .tg_input,
.tg_widget_bg_2 .tg__dropdown_coupon {
    background-color: #141a33;
    color: #ccc;
}

.tg__btn-coupon {
    background-color: #ccc;
    color: #1E274D;
}

    .tg__btn-coupon:hover {
        background-color: #fff;
        color: #1E274D;
    }

.tab_cupon {
    background-color: #141a33;
    color: #ccc;
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background-color: #1E274D;
        color: #fff;
    }

.tg__coupon_factor,
.tg__coupon_square {
    background-color: #1E274D;
    color: #fff;
}

/*input inside widget*/
.tg_widget_bg .tg_input {
    background-color: #212a53;
    color: #ccc;
}
/*mainBg*/
.tg_bg,
.tg__modal_close,
.tg--close,
.tg__info_panel .selector_panel {
    background-color: #0A102B;
    color: #fff;
}

.tg__live_filter_item.checked {
    background-color: #181F3D;
    color: #fff;
}

.gameContentTitle.tg_widget_header {
    background-color: #242F5C;
    color: #fff;
}

    .gameContentTitle.tg_widget_header .tg-ico-arrow {
        color: #fff;
    }

.tg_widget_heading {
    background-color: #0E1530;
    color: #e6e6e6;
}

/*widget*/
/*sidebar*/
.tg_sidebar_bg {
    background-color: #181F3D
}

.tg__left_menu_item [class*='sport_front_icon-'].tg_sidebar_text_akcent,
.tg_sidebar_text_akcent,
.tg-bg_transparent .teamName,
.tg-bg_transparent .tg_team_name,
.tg__open_event_img .tg-clr-akcent2.tg_score {
    color: #FECB00;
}

.tg_sidebar_bg .tg__left_menu_item_text,
.tg__left_menu_item [class*='sport_front_icon-'] {
    color: #fff;
}

.tg_sidebar_bg_2 .tg__left_menu_item_text,
.tg_sidebar_bg_3 .tg__left_menu_item_text {
    color: #ccc;
}

.tg_sidebar_bg_2 {
    background-color: #212a53;
}

.tg_sidebar_bg_3 {
    background-color: #293569;
    color: #ccc;
}

    .tg_sidebar_bg_3.left_menu_line_active .tg__left_menu_item_text,
    .liveGameSelected .tg_sidebar_bg_3 .liveSportNamesContainer,
    .liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent {
        color: #FECB00;
    }

.liveGameSelected .tg_sidebar_bg_3 .tg-ico-fav--active {
    color: #FECB00;
}

/*end of sidebar*****************************************/

.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
    background-color: #181F3D;
    color: #fff;
}

.tg__coupon_tabs_cont {
    padding-bottom: 5px;
}

.tg--issue {
    background-color: #fff;
    color: #000;
}

.tg__text_with_shadow {
    text-shadow: none;
}

.tg__match_item {
    padding: 0;
}

.tg__left_menu_item,
.live_menu_item_left {
    margin-bottom: 0;
}

.tsModalContent,
.tg__dropdown_content,
.tg__modal_big,
.tg--express_combination {
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
}

.tg__banner__date {
    color: #ccc;
}

.tg_team_name,
.tg__open_event_img .title {
    color: #ccc;
}

.tab_selector {
    background-color: #0A102B;
    color: #ccc;
}

.ss__step_slider .ss__ruller > div.off {
    background-color: #0A102B;
}

#line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper {
    background-color: #0A102B;
}

.tg__banner__heading,
.tg__one_game_team,
.tg_sidebar_bg_3 .liveSportNamesContainer,
.tg__open_event_img .tg_score {
    color: #fff;
}

.tab_selector.tab_selector_active,
.tab_selector:hover {
    background: #242F5C;
    color: #fff;
}

.tg__step_slider,
.tg_widget_bg,
.tg_subheader_btn {
    background-color: #181F3D;
    color: #ccc;
}

.tg_widget_row {
    border-bottom: 1px solid #0A102B;
}

.tg__match_item_stake,
.tg--pos_comb_row,
.tg__coupon_switches .tg__switch_cont,
.tg--border-bot-1 {
    border-color: #0A102B;
}

/*sidebar*/
.tg_sidebar_bg_2.tg__step_slider {
    background-color: #0E1530;
    color: #e6e6e6;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: currentColor;
}

.tg_widget_header {
    background-color: #242F5C;
    color: #fff;
}

    .tg_widget_header .tg-ico-arrow {
        color: #fff;
    }

.tg_widget_sub_row,
.tg__dropdown_value,
.tg__input,
.tg_input,
.tg__input-ico,
.posCombItem,
.tg__slider__btn:hover,
#calc_new .tg__btn {
    background-color: #212a53;
    color: #ccc;
}

.tg_input_coupon_amount {
    color: #fff;
}

.tg__dropdown__item {
    border-bottom: 1px solid #0A102B;
    margin-bottom: 0;
}

    .tg__dropdown__item:hover,
    .tg__dropdown__item.activeItem {
        color: #fff;
    }

.tg__dropdown_content {
    background-color: #212a53;
    color: #ccc;
}

.tg__subhead .tg__dropdown_value {
    background-color: #181F3D;
}

.tg__input,
.tg_input,
.tg__btn {
    transition: all 0.2s;
}

    .tg__input:focus,
    .tg_input:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(10,16,43,0.3);
    }

.tg__modal_wrapper {
    background-color: rgba(10,16,43,0.3);
}

.tg-ico-date {
    color: #fff;
}

.tg__score_box {
    background-color: #0A102B;
}

.tg__more {
    background-color: #181F3D;
    color: #fff;
}

    .tg__more:hover {
        background-color: #181F3D;
        color: #FECB00;
    }

.tg_widget_header_2, .tg--cashout-row,
.tg--cashout-pagination-item,
.tg--coupon-container .selector_panel,
.tg__info_panel .selectorWrapper,
.tg__match_header.tg_widget_header,
.tg__prematch_header.tg_widget_bg,
.lineEventHeaderWide.tg_widget_bg,
.tg__live_list_header.tg_widget_header,
.tg__multiview_header.tg_widget_header,
.tg__calendar_header.tg_widget_heading,
.tg__results_header.tg_widget_bg {
    background-color: #242F5C;
    color: #fff;
}

    .tg_widget_header_2 .tab_selector_active {
        background: #242F5C !important;
        color: #fff !important;
    }

.l_od,
.l_od_empty {
    background-color: #37457B;
    color: #fff;
}

    .l_od:hover,
    .odCnt:hover .l_od,
    .l_od.selectedOdd, .tg--cashout-item-cashout, .tg--cashout-pagination-item.active {
        background: #FECB00;
        color: #000;
    }

.tab_selector.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tab_selector .tg__badge_live {
    background-color: #181F3D;
    color: #ccc;
}

.tg_widget_tab_text,
.tg__srv {
    color: #FECB00;
}

.tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .selectorWrapper .tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .tg__dropdown_value {
    background-color: #141a33;
    color: #fff;
}

.tg_widget_text_akcent {
    color: #FECB00;
}

.tg__fix_btn.checked {
    color: #fff;
}

.tg_widget_bg .tg-ico.active {
    color: #FECB00 !important;
}

#calc_new .tg__btn-ternary,
.tg__btn-ternary {
    background: #FECB00;
    color: #000;
}

.tg_widget_bg .tg__btn .tg-ico {
    color: #000;
}

#calc_new .tg__btn-ternary:hover,
.tg__btn-ternary:hover {
    background-color: #cba200;
    color: #000;
}

.digi_scroll_dragger {
    background-color: #0A102B;
}

.tg_widget_row .tg__one_game_icons,
.tg_widget_row .tg__home_game_time,
.tg-ico-arrow,
.tg_widget_bg .tg__chb {
    color: #ccc;
}

.tg-bg_transparent {
    background-color: rgba(10,16,43,0.3);
}

.tg__switch .tg__switch_ico {
    background-color: #999999;
}

.tg__switch .tg__switch_ico:before {
    background-color: #fff;
}

.tg__switch input:checked + .tg__switch_ico:before {
    background: #FECB00;
}
/*calendar*/
.ui-widget-content {
    border: none;
    background: #212a53;
    color: #ccc;
}

.ui-widget-header {
    border: none;
    background: #212a53;
    color: #ccc;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: none;
        background: #293569;
        color: #ccc;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: none;
        background: #FECB00;
        color: #000;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: none;
        background-color: #cba200;
        color: #000;
    }
/*calendar end*/

/*border radius (roundness)*/
.tab_selector_active, .tab_selector:hover {
    border-radius: 0px 0px 0 0;
}

.tg__btn,
.l_od_empty,
.l_od,
.tg__dropdown_value,
.tg__dropdown_content,
.tg__input,
.tg_input {
    border-radius: 0px;
}

@keyframes lightbox {
    from {
        color: #fff;
    }

    to {
        color: #FECB00
    }
}

.tg__tournament_ico_switch .tg__switch_text:before {
    content: 'ÿ';
    background: none;
    font-family: TotoFont;
    font-size: 38px;
    line-height: 16px;
    color: #FECB00
}

.tg_coin {
    background: #FECB00;
    color: #000;
}

.tg__match_item_btn {
    background-color: #0A102B;
    color: #fff;
}

.overviewEventSlider .tg__btn_arrow {
    background-color: #242F5C;
    color: #fff;
}

.sportLeftPane .liveFilterContainer {
    background-color: #0A102B;
    color: #fff;
}

/* Bet history */
.tg__modal_big {
    top: 30px;
}

.tg__bet_history_row .tg-clr-akcent,
.tg__list_row_sub .tg-clr-akcent2,
.tg__partial_cashout--icon,
.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: #FECB00;
}

.tg__bet_history .tg__list_row.tg_sticky_bot {
    background-color: #0A102B;
}

/* book a bet skinning */
.tg__modal_book_bet {
    top: 150px;
    background-color: #181F3D;
    color: #ccc;
}

    .tg__modal_book_bet .tg__modal_header {
        background-color: #242F5C;
        color: #fff;
    }

    .tg__modal_book_bet .tg__list_bg {
        background-color: #0A102B;
    }

    .tg__modal_book_bet .tg__list_row {
        background-color: #212a53;
    }

        .tg__modal_book_bet .tg__list_row:nth-child(even) {
            background-color: #181F3D;
        }

    .tg__modal_book_bet .tg__border--color-akcent {
        border-color: #FECB00;
    }

    .tg__modal_book_bet .tg-clr-akcent {
        color: #FECB00;
    }

/* Right banner styles */
.tg__custom_rightBanner_line,
.tg__custom_rightBanner_desc {
    border-top-color: #FECB00;
}

.tg__rightBanner_seeMore {
    background: #FECB00;
    color: #000;
}

.component_tax_data {
    background-color: #0A102B;
    color: #ccc;
}

    .component_tax_data .tg-ico {
        color: #FECB00;
    }

.component_tax_data_wrapper .component_tax_data_row strong {
    color: #fff;
}

.tg__show_title[data-title]:hover:after {
    background-color: #0A102B;
    color: #fff;
}

.tg_badge_transparent {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.tg__coupon_switches {
    border-bottom: 1px solid #0A102B;
}



/*paper view skinning*/

/*paper view headers bg*/
.paperView .es__home_bet_header,
.paperView .es__live_page .es__text_heading,
.paperView .es__event_detail_header {
    background: #242F5C;
    color: #fff;
}

/*paper view widget bg*/
.paperView .es__home_bet_item,
.paperView .es--Live_page_collapse_panel,
.paperView .es__live_sub_item_event,
.paperView .es__home_one_game,
.paperView .es__home_bet_show_hide,
.paperView .es__event_row,
.paperView .es--live_ingame_odds_cont,
.paperView .es__fixed_panel,
.paperView .es__event_detail_item,
.paperView .es__paper_odds,
.paperView .es__home_bet_item .es__event_row,
.paperView .es__home_bet_item .es__home_tab,
.paperView .es__home_bet_item .tab_selector,
.paperView .live_tabs_header .selectorWrapper {
    background: #181F3D;
    color: #fff;
}


    .paperView .es__home_bet_item .tab_selector.tab_selector_active,
    .paperView .es__home_bet_item .tab_selector:hover,
    .paperView .es__home_bet_item .es__event_subhead,
    .paperView .es__paper_name {
        background: #0E1530;
        color: #e6e6e6;
    }

.paperView .es__event_subhead,
.paperView .es--live_tabular_sub_row {
    background: #212a53;
    color: #ccc;
}

/*paper view headers bg*/
.paperView .es__expanded_heading,
.paperView .es__home_one_game_header,
.paperView .es__live_expanded_row,
.paperView .es__expanded_info_left,
.paperView .es__paper_name,
.paperView .es__header_with_border,
.paperView .es__filter_container,
.paperView .es__event_sub_row {
    background: #293569;
    color: #ccc;
}

    /*paper view border bg*/
    .paperView .stakeContainer + .stakeContainer,
    .paperView .es__live_expanded_row + .es__live_expanded_row,
    .paperView .EU-li-cont + .EU-li-cont,
    .paperView .es__paper_name,
    .paperView .es__live_page .es__expanded_info_cont,
    .paperView .es__header_with_border,
    .paperView .es__home_row + .es__home_row,
    .paperView .es--live_sport_row_cont,
    .paperView .es__filter_container,
    .paperView .paper_home_games_wrapper > div > div + div {
        border-color: #0A102B;
    }

/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background-color: #37457B;
    color: #fff;
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: #FECB00;
        color: #000;
    }

.paperView .es__show_more_btn .tg__chb_text {
    background: #FECB00;
    color: #000;
    height: 36px;
    line-height: 36px;
    border-radius: 0px;
}

    .paperView .es__show_more_btn .tg__chb_text:hover {
        background: #cba200;
        color: #000;
    }


/*temp*/
.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
    display: none;
}

/* custom changes */
.tg__subhead .tg__input,
.tg__subhead .tg__input-ico,
.tg__subhead .tg__btn-secundary,
.tg__subhead .tg__dropdown_value {
    background-color: #242F5C;
    color: #999999;
}

.tg__results_header.tg_widget_bg {
    background-color: #37457B;
}

/* betslip */
.stake_item_panel {
    background-color: #181F3D;
    color: #666666;
}
.tg__btn-coupon {
    background-color: #37457B;
    color: #999999;
}
.tg__btn-coupon:hover{
    background-color: #37457B;
    color: #FFFFFF;
}
.tg__coupon .tg_input_coupon_amount {
    background-color: #0E1530;
    color: #FFFFFF;
}
.tab_cupon {
    background-color: #181F3D;
    color: #999999;
}
.tab_cupon.tab_selected,
.tab_cupon:hover {
    background-color: #1E274D;
    color: #FFFFFF;
}
.tg__coupon_factor {
    background-color: #666666;
    color: #FFFFFF;
}
.tg__coupon_square {
    background-color: #303A63;
    color: #FECB00;
}

/* african view */
.africanView .tg--home2__stakeItem {
    background-color: #242F5C;
    color: #FFFFFF;
}

.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background-color: #FECB00;
    color: #262626;
}

.africanView .tg__home2_game_heading-top {
    background-color: #1E274D;
}

.tg--ico-tab .tab_selector {
    background-color: #242F5C;
    color: #999999;
}

.tg--ico-tab .tab_selector:hover,
.tg--ico-tab .tab_selector_active {
    color: #fff;
}

.sportLeftPane .tg_left_filter_tabs input:checked + label + label {
    color: #FECB00;
}
 
    .tg__modal_confirm {
      background-color: #FECB00;
      color: #262626;
    }
    .tg__modal_confirm:hover {
        background-color: #987900;
    }
    .tg__modal_header {
      background-color: #242F5C;
    }
    .tg__modal_special_content {
      background-color: #181F3D;
    }

.tg__banner,
.newsSliderMarketContainer {
    background-color: #181F3D;
    color: #ccc;
} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #181F3D;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #11162b;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #181F3D;
	color: #cccccc;
	border-bottom: 1px solid #0a102b !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #0a102b;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #11162b;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #fecb00;
}
.es__express_day_coupon {
	background-color: #181F3D;
	color: #cccccc;
}
/*multi bet of the day skinning*/
