:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#e6e6e6;
--bodyBg2:#cccccc;
--bodyBg3:#c0c0c0;
--bodyBgHover:#dedede;
--bodyBg2Hover:#c4c4c4;
--bodyBg3Hover:#b8b8b8;
--bodyTxt:rgba(0, 0, 0, 0.9);
--bodyTxt2:rgba(0, 0, 0, 0.6);
--bodyTxt3:rgba(0, 0, 0, 0.4);
--bodyAccent:#c7373d;
--bodyAccentTxt:#fff;
--bodyBorder:#dedede;
--bodyG:#e6e6e6;
--bodyRGBA:rgba(230, 230, 230, 0.7);
--bodyRGBA2:rgba(230, 230, 230, 0.5);
--bodyRGBA3:rgba(230, 230, 230, 0.3);
--dominantBg:#184276;
--dominantBg2:#215aa0;
--dominantBg3:#2566b6;
--dominantBgHover:#1b4983;
--dominantBg2Hover:#2461ad;
--dominantBg3Hover:#286dc3;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb700;
--dominantAccentTxt:#000;
--dominantBorder:#1b4983;
--dominantG:#184276;
--dominantRGBA:rgba(24, 66, 118, 0.7);
--dominantRGBA2:rgba(24, 66, 118, 0.5);
--dominantRGBA3:rgba(24, 66, 118, 0.3);
--accentBg:#ffb700;
--accentBg2:#cc9200;
--accentBg3:#b38000;
--accentBgHover:#f0ac00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47500;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ac00;
--accentG:#ffb700;
--inputBg:#ffffff;
--inputBg2:#e6e6e6;
--inputBg3:#d9d9d9;
--inputBgHover:#f7f7f7;
--inputBg2Hover:#dedede;
--inputBg3Hover:#d1d1d1;
--inputTxt:rgba(0, 0, 0, 0.9);
--inputTxt2:rgba(0, 0, 0, 0.6);
--inputTxt3:rgba(0, 0, 0, 0.4);
--inputAccent:#ffb700;
--inputAccentTxt:#000;
--inputBorder:#f7f7f7;
--inputG:#ffffff;
--inputSecondaryBg:#1c4e8b;
--inputSecondaryBg2:#2566b5;
--inputSecondaryBg3:#2972cb;
--inputSecondaryBgHover:#1f5598;
--inputSecondaryBg2Hover:#286dc2;
--inputSecondaryBg3Hover:#2e79d5;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffb700;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#184276;
--headerBg:#13355e;
--headerBg2:#1c4d88;
--headerBg3:#20599e;
--headerBgHover:#163c6b;
--headerBg2Hover:#1f5495;
--headerBg3Hover:#2360ab;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffb700;
--headerAccentTxt:#000;
--headerBorder:#163c6b;
--headerG:#13355e;
--subHeaderBg:#e6e6e6;
--subHeaderBg2:#cccccc;
--subHeaderBg3:#c0c0c0;
--subHeaderBgHover:#dedede;
--subHeaderBg2Hover:#c4c4c4;
--subHeaderBg3Hover:#b8b8b8;
--subHeaderTxt:rgba(0, 0, 0, 0.9);
--subHeaderTxt2:rgba(0, 0, 0, 0.6);
--subHeaderTxt3:rgba(0, 0, 0, 0.4);
--subHeaderAccent:#ffb700;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#dedede;
--subHeaderG:#e6e6e6;
--eventBg:#ffffff;
--eventBg2:#e6e6e6;
--eventBg3:#d9d9d9;
--eventBgHover:#f7f7f7;
--eventBg2Hover:#dedede;
--eventBg3Hover:#d1d1d1;
--eventTxt:rgba(0, 0, 0, 0.9);
--eventTxt2:rgba(0, 0, 0, 0.6);
--eventTxt3:rgba(0, 0, 0, 0.4);
--eventAccent:#c7373d;
--eventAccentTxt:#fff;
--eventBorder:#f7f7f7;
--eventG:#ffffff;
--buttonBg:#c7373d;
--buttonBg2:#d35e63;
--buttonBg3:#d87277;
--buttonBgHover:#cb4248;
--buttonBg2Hover:#d66a6f;
--buttonBg3Hover:#db7e83;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#cb4248;
--buttonG:#c7373d;
--buttonSecondaryBg:#1c4e8b;
--buttonSecondaryBg2:#2566b5;
--buttonSecondaryBg3:#2972cb;
--buttonSecondaryBgHover:#1f5598;
--buttonSecondaryBg2Hover:#286dc2;
--buttonSecondaryBg3Hover:#2e79d5;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#1f5598;
--buttonSecondaryG:#184276;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffb700;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#13355e;
--oddBg2:#1c4d88;
--oddBg3:#20599e;
--oddBgHover:#163c6b;
--oddBg2Hover:#1f5495;
--oddBg3Hover:#2360ab;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb700;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#13355e;
--oddActiveBg:#c7373d;
--oddActiveBg2:#d35e63;
--oddActiveBg3:#d87277;
--oddActiveBgHover:#cb4248;
--oddActiveBg2Hover:#d66a6f;
--oddActiveBg3Hover:#db7e83;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#c7373d;
--oddActiveG:#c7373d;
--showMoreBg:#e6e6e6;
--showMoreBg2:#cccccc;
--showMoreBg3:#c0c0c0;
--showMoreBgHover:#dedede;
--showMoreBg2Hover:#c4c4c4;
--showMoreBg3Hover:#b8b8b8;
--showMoreTxt:rgba(0, 0, 0, 0.9);
--showMoreTxt2:rgba(0, 0, 0, 0.6);
--showMoreTxt3:rgba(0, 0, 0, 0.4);
--showMoreAccent:#ffb700;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#e6e6e6;
--showMoreG:#e6e6e6;
--tabBg:#d9d9d9;
--tabBg2:#bfbfbf;
--tabBg3:#b3b3b3;
--tabBgHover:#d1d1d1;
--tabBg2Hover:#b7b7b7;
--tabBg3Hover:#ababab;
--tabTxt:rgba(0, 0, 0, 0.9);
--tabTxt2:rgba(0, 0, 0, 0.6);
--tabTxt3:rgba(0, 0, 0, 0.4);
--tabAccent:#ffb700;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#d1d1d1;
--tabG:#d9d9d9;
--tabActiveBg:#13355e;
--tabActiveBg2:#1c4d88;
--tabActiveBg3:#20599e;
--tabActiveBgHover:#163c6b;
--tabActiveBg2Hover:#1f5495;
--tabActiveBg3Hover:#2360ab;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb700;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#163c6b;
--tabActiveG:#13355e;
--tabSecondaryActiveBg:#cccccc;
--tabSecondaryActiveBg2:#b3b3b3;
--tabSecondaryActiveBg3:#a6a6a6;
--tabSecondaryActiveBgHover:#c4c4c4;
--tabSecondaryActiveBg2Hover:#ababab;
--tabSecondaryActiveBg3Hover:#9e9e9e;
--tabSecondaryActiveTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveTxt2:rgba(0, 0, 0, 0.6);
--tabSecondaryActiveTxt3:rgba(0, 0, 0, 0.4);
--tabSecondaryAccent:#ffb700;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#d9d9d9;
--filterBg:#1e5394;
--filterBg2:#276bbe;
--filterBg3:#2b77d4;
--filterBgHover:#215aa1;
--filterBg2Hover:#2a72cb;
--filterBg3Hover:#387fd7;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb700;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#215aa1;
--filterG:#184276;
--menu_1Bg:#184276;
--menu_1Bg2:#215aa0;
--menu_1Bg3:#2566b6;
--menu_1BgHover:#1b4983;
--menu_1Bg2Hover:#2461ad;
--menu_1Bg3Hover:#286dc3;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb700;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#1b4983;
--menu_1G:#184276;
--menu_2Bg:#153966;
--menu_2Bg2:#1e5190;
--menu_2Bg3:#225ca5;
--menu_2BgHover:#184073;
--menu_2Bg2Hover:#21589d;
--menu_2Bg3Hover:#2563b2;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffb700;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#184073;
--menu_2G:#153966;
--menu_3Bg:#123057;
--menu_3Bg2:#1b4781;
--menu_3Bg3:#1f5396;
--menu_3BgHover:#153764;
--menu_3Bg2Hover:#1e4e8e;
--menu_3Bg3Hover:#225aa3;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffb700;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#153764;
--menu_3G:#123057;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb700;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemTxt:#000;
--menuItemActiveTxt:#B3B3B3;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #e6e6e6;
    --primaryBg3: #b3b3b3;
    --primaryTxt: #000;
    --primaryTxt2: #4d4d4d;
    --primaryTxt3: #666666;

    --accentBg: #ffb700;
    --accentG: #ffb700;
    --accentRGBA: rgba(255, 183, 0, 0.6);
    --accentTxt: #000;

    --brandG: #c7373d;
    --brandBg: #c7373d;
    --brandTxt: #fff;

    --actionButtonG: #ffb700;
    --actionButtonTxt: #000;

    --widgetG: #184276;
    --widgetBg: #184276;
    --widgetBgHover: #143661;
    --widgetBg2: #0f2a4c;
    --widgetBg2Hover: #0b1e37;
    --widgetBg3: #071221;
    --widgetBg3Hover: #03070c;
    --widgetRGBA: rgba(24, 66, 118, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #13355e;
    --oddBg: #13355e;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #c7373d;
    --oddActiveBg: #c7373d;
    --oddActiveBg2: #9f2c31;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #e6e6e6;
    --showMoreBg: #e6e6e6;
    --showMoreTxt: #000;
    --showMoreTxt2: #4d4d4d;

    --headerG: #13355e;
    --headerBg: #13355e;
    --headerTxt: #fff;

    --popupHeaderG: #e6e6e6;
    --popupHeaderBg: #e6e6e6;
    --popupHeaderTxt: #000;

    --popupBg: #184276;
    --popupG: #184276;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #d9d9d9;
    --tabBg: #d9d9d9;
    --tabTxt: #000;
    --tabTxt2: #4d4d4d;

    --activeTabG: #13355e;
    --activeTabBg: #13355e;
    --activeTabTxt: #fff;

    --sideBarTabG: #d9d9d9;
    --sideBarTabTxt: #000;

    --sideBarActiveTabG: #13355e;
    --sideBarActiveTabTxt: #fff;

    --inputG: #ffffff;
    --inputBg: #ffffff;
    --inputBg2: #e6e6e6;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemTxt:#000;
    --menuItemActiveTxt:#B3B3B3;

}
/*---*/

/*4bet skinning*/

/*coupon*/
.tg_widget_bg_2 {
    background-color: #FFFFFF;
    color: #333;
}

    .tg_widget_bg_2 .tg--border-bot-1 {
        border: none;
    }

.stake_item_panel {
    background-color: #ededed;
    color: #333;
    border-color: #FFFFFF;
}

.coupon_sport_name_container {
    color: #000;
}
/*input inside widget2*/
.tg_widget_bg_2 .tg_input,
.tg_widget_bg_2 .tg__dropdown_coupon {
    background-color: #ededed;
    color: #333;
}

.tg_widget_bg_2 .tg__switch .tg__switch_ico:before {
    background-color: #FFFFFF;
}

.tg__btn-coupon {
    background-color: #333;
    color: #FFFFFF;
}

    .tg__btn-coupon:hover {
        background-color: #000;
        color: #FFFFFF;
    }

.tab_cupon {
    background-color: #ededed;
    color: #333;
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background-color: #FFFFFF;
        color: #000;
    }

.tg__coupon_factor,
.tg__coupon_square {
    background-color: #FFFFFF;
    color: #000;
    border: 1px solid #ededed;
}

/*input inside widget*/
.tg_widget_bg .tg_input {
    background-color: #f0f0f0;
    color: #333;
}

.tg_widget_bg .tg__switch .tg__switch_ico:before {
    background-color: #FFFFFF;
}

/*mainBg*/
.tg_bg,
.tg__modal_close,
.tg--close,
.tg__live_filter_item.checked,
.tg__info_panel .selector_panel {
    background-color: #E6E6E6;
    color: #000;
}

.gameContentTitle.tg_widget_header {
    background-color: #13355E;
    color: #fff;
}

    .gameContentTitle.tg_widget_header .tg-ico-arrow {
        color: #fff;
    }

.tg_widget_heading {
    background-color: #E6E6E6;
    color: #1a1a1a;
}

/*widget*/
/*sidebar*/
.tg_sidebar_bg {
    background-color: #FFFFFF
}

.tg__left_menu_item [class*='sport_front_icon-'].tg_sidebar_text_akcent,
.tg_sidebar_text_akcent,
.tg-bg_transparent .teamName,
.tg-bg_transparent .tg_team_name,
.tg__open_event_img .tg-clr-akcent2.tg_score {
    color: #FFB700 !important;
}

.tg_sidebar_bg .tg__left_menu_item_text,
.tg__left_menu_item [class*='sport_front_icon-'] {
    color: #000;
}

.tg_sidebar_bg_2 .tg__left_menu_item_text,
.tg_sidebar_bg_3 .tg__left_menu_item_text {
    color: #333;
}

.tg_sidebar_bg_2 {
    background-color: #f0f0f0;
}

.tg_sidebar_bg_3 {
    background-color: #e0e0e0;
    color: #333;
}

    .tg_sidebar_bg_3.left_menu_line_active,
    .liveGameSelected .tg_sidebar_bg_3 {
        background-color: #C7373D;
        color: #fff;
    }

        .tg_sidebar_bg_3.left_menu_line_active .tg-ico,
        .tg_sidebar_bg_3.left_menu_line_active .tg_sidebar_text,
        .liveGameSelected .tg_sidebar_bg_3 .tg-ico,
        .liveGameSelected .tg_sidebar_bg_3 .liveSportNamesContainer,
        .liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent,
        .liveGameSelected .tg_sidebar_bg_3 .liveSportDateStream {
            color: #fff;
        }

/*end of sidebar*****************************************/

.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
    background-color: #FFFFFF;
    color: #000;
}

.tg__coupon_tabs_cont {
    padding-bottom: 5px;
}

.tg--issue {
    background-color: #fff;
    color: #000;
}

.tg__text_with_shadow {
    text-shadow: none;
}

.tg__match_item {
    padding: 0;
}

.tg__left_menu_item,
.live_menu_item_left {
    margin-bottom: 0;
}

.tsModalContent,
.tg__dropdown_content,
.tg__modal_big,
.tg--express_combination {
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
}

.tg_team_name,
.tg__open_event_img .title {
    color: #333;
}

.tab_selector {
    background-color: #D9D9D9;
    color: #666666;
}

.ss__step_slider .ss__ruller > div.off {
    background-color: #E6E6E6;
}

#line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper {
    background-color: #E6E6E6;
}

.tg__banner__heading,
.tg__one_game_team,
.tg_sidebar_bg_3 .liveSportNamesContainer,
.tg__open_event_img .tg_score {
    color: #000;
}

.tab_selector_active {
    background-color: #13355E;
    color: #fff;
}

.tg__step_slider,
.tg_widget_bg,
.tg_subheader_btn {
    background-color: #FFFFFF;
    color: #333;
}

.tab_selector:hover {
    background-color: #13355E;
    color: #fff;
}

.tg_widget_row {
    border-bottom: 1px solid #E6E6E6;
}

.tg__match_item_stake,
.tg--pos_comb_row,
.tg__coupon_switches .tg__switch_cont,
.tg--border-bot-1 {
    border-color: #E6E6E6;
}

/*sidebar*/
.tg_sidebar_bg_2.tg__step_slider {
    background-color: #E6E6E6;
    color: #1a1a1a;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: currentColor;
}

.tg_widget_header {
    background-color: #13355E;
    color: #fff;
}

    .tg_widget_header .tg-ico-arrow {
        color: #fff;
    }

.tg__more {
    background-color: #E6E6E6;
    color: #000;
}

.tg_widget_sub_row,
.tg__dropdown_value,
.tg__input,
.tg_input,
.tg__input-ico,
.posCombItem,
.tg__slider__btn:hover,
#calc_new .tg__btn {
    background-color: #f0f0f0;
    color: #333;
}

.tg_input_coupon_amount {
    color: #000;
}

.tg__dropdown__item {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 0;
}

    .tg__dropdown__item:hover,
    .tg__dropdown__item.activeItem {
        color: #000;
    }

.tg__dropdown_content {
    background-color: #f0f0f0;
    color: #333;
}

.tg__subhead .tg__dropdown_value {
    background-color: #FFFFFF;
}

.tg__input,
.tg_input,
.tg__btn {
    transition: all 0.2s;
}

    .tg__input:focus,
    .tg_input:focus {
        outline: 0;
    }

.tg__modal_wrapper {
    background-color: rgba(230,230,230,0.4);
}

.tg-ico-date {
    color: #000;
}

.tg__score_box {
    background-color: #E6E6E6;
}

.tg__more:hover {
    background-color: #FFB700;
    color: #000;
}

.tg_widget_header_2,
.tg_widget_header_2 .tab_selector_active,
.tg--coupon-container .selector_panel,
.tg__info_panel .selectorWrapper,
.tg__match_header.tg_widget_header,
.tg__prematch_header.tg_widget_bg,
.lineEventHeaderWide.tg_widget_bg,
.tg__live_list_header.tg_widget_header,
.tg__multiview_header.tg_widget_header,
.tg__calendar_header.tg_widget_heading,
.tg__results_header.tg_widget_bg {
    background-color: #13355E;
    color: #fff;
}

.l_od,
.l_od_empty {
    background-color: #13355E;
    color: #fff;
}

    .l_od:hover,
    .odCnt:hover .l_od,
    .l_od.selectedOdd,
    .tab_selector.tab_selector_active .tg__badge_live {
        background-color: #C7373D;
        color: #fff;
    }

.tab_selector .tg__badge_live {
    background-color: #FFFFFF;
    color: #333;
}

.tg_widget_tab_text,
.tg__srv {
    color: #C7373D;
}

.tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .selectorWrapper .tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .tg__fix_btn {
    color: #000;
}

.tg_widget_bg_2 .tg__dropdown_value {
    background-color: #ededed;
    color: #000;
}

.tg_widget_text_akcent,
.tg__fix_btn.checked {
    color: #FFB700 !important;
}

.tg_widget_bg .tg-ico.active {
    color: #FFB700 !important;
}

.tg__btn-ternary {
    background-color: #C7373D;
    color: #fff;
}

.tg_widget_bg .tg__btn .tg-ico {
    color: #fff;
}

.tg__btn-ternary:hover {
    background-color: #b33137;
    color: #fff;
}

.digi_scroll_dragger {
    background-color: #333;
}

.tg_widget_row .tg__one_game_icons,
.tg_widget_row .tg__home_game_time,
.tg-ico-arrow,
.tg_widget_bg .tg__chb {
    color: #333;
}

.tg-bg_transparent {
    background-color: rgba(230, 230, 230, 0.6);
}

.tg__switch .tg__switch_ico {
    background-color: #E6E6E6;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #FFFFFF;
    }

.tg__switch input:checked + .tg__switch_ico:before {
    background-color: #C7373D;
}
/*calendar*/
.ui-widget-content {
    border: none;
    background: #f0f0f0;
    color: #333;
}

.ui-widget-header {
    border: none;
    background: #f0f0f0;
    color: #333;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: none;
        background: #e0e0e0;
        color: #333;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: none;
        background-color: #C7373D;
        color: #fff;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: none;
        background-color: #b33137;
        color: #fff;
    }
/*calendar end*/

/*border radius (roundness)*/
.tab_selector_active {
    border-radius: 0px 0px 0 0;
}

.tg__btn,
.l_od_empty,
.l_od,
.tg__dropdown_value,
.tg__dropdown_content,
.tg__input,
.tg_input {
    border-radius: 0px;
}

@keyframes lightbox {
    from {
        color: #000;
    }

    to {
        color: #C7373D
    }
}

.tg__tournament_ico_switch .tg__switch_text:before {
    content: 'ÿ';
    background: none;
    font-family: TotoFont;
    font-size: 38px;
    line-height: 16px;
    color: #C7373D
}

.tg_coin {
    background: #C7373D;
    color: #fff;
}


/*custom skining*/
.tg_search_bg {
    background-color: #fff;
    color: #B3B3B3;
}
.tg_search_bg::placeholder,
.tg_search_text {
    background-color: #fff;
    color: #B3B3B3;
}
.tg__subhead .tg__dropdown_value{
    background-color: #FFFFFF;
    color: #666666;
}
.tg_subheader_btn {
    background-color: #fff;
    color: #B3B3B3;
}
.tg__btn-coupon {
    background-color: #B3B3B3;
    color: #FFFFFF;
}
.tg__info_panel .selector_panel {
    background-color: #13355E;
}
.tg_widget_bg_2 .tg__dropdown_value {
    background-color: #E6E6E6;
    color: #666666;
}
.tg_widget_bg_2 .tg__fix_btn {
    color: #B3B3B3;
}
.tg__dropdown__item:hover, 
.tg__dropdown__item.activeItem {
    color: #000;
    background: #B3B3B3;
}
.tg__fix_btn,
.tg_widget_bg_2 .selectorWrapper .tg__fix_btn,
.totalOddsLbl {
    color: #B3B3B3;
}
.tg__coupon_switches {
    color: #B3B3B3;
    box-shadow: inset 0px 0px 4px #c7c4c4;
}
.tg__switch .tg__switch_ico {
    background-color: #B3B3B3;
}
.tab_cupon {
    background-color: #fff;
    color: #666666;
}
    .tab_cupon.tab_selected, .tab_cupon:hover {
        background-color: #E6E6E6;
        color: #000000;
    }
.stake_item_panel {
    background-color: #E6E6E6;
    color: #000000;
}
    .stake_item_panel  .tg-ico-sm {
        color: #666666;
    }
.tg__home_game_heading{
    border-top: 2px solid #fff;
}
.tg--coupon-bg .ms_panel {
    color: #666666;
}
.tg__step_slider {
    background-color: #184276;
    color: #B3B3B3;
}
.tg_sidebar_bg {
    background-color: #184276;
}
    .tg_sidebar_bg .tg__left_menu_item_text, .tg__left_menu_item [class*='sport_front_icon-'] {
        color: #fff;
    }
.tg_widget_row .tg__one_game_icons, .tg_widget_row .tg__home_game_time, .tg-ico-arrow, .tg_widget_bg .tg__chb,
.gameContentTitle.tg_widget_header .tg-ico-arrow,
.tg_sidebar_bg_2 .tg__left_menu_item_text {
    color: #B3B3B3;
}
.champ_container .tg__left_menu_item {
    background-color: #153966;
}
.champ_container ul .leftSLLi .tg__left_menu_item,
.champ_fav_menu_item .tg__left_menu_item,
.live_sport_list .champ_list .tg__left_menu_item {
    background-color: #123057;
    color: #B3B3B3;
}
.tg_sidebar_bg_3 .tg__left_menu_item_text {
    color: #B3B3B3;
}
.tg__one_game_score,
.tg-bg_transparent .teamName, .tg-bg_transparent .tg_team_name,
.tg__open_event_img .tg-clr-akcent2.tg_score {
    color: #C7373D !important;
}
.tg__live_filter_item {
    color: #fff;
}
    .tg__live_filter_item.checked {
        background-color: #E6E6E6;
        color: #B3B3B3;
    }
.tg__left_menu_item--no_height {
    background-color: #123057;
    color: #fff;
}
.tg_sidebar_bg_3 .liveSportNamesContainer{
    color:#fff;
}
.tg__left_menu_item--no_height .tg-ico,
.liveGameSelected .tg_sidebar_bg_3 .tg-ico {
    color: #B3B3B3;
}
.liveGameSelected .tg_sidebar_bg_3 {
    background-color: #123057;
    color: #fff;
    border-top: 2px solid #C7373D;
}
.liveGameSelected .liveSportNamesContainer,
.liveSportScoreContainer.tg_sidebar_text_akcent,
.tg__score_box,
.tg-clr-akcent {
    color: #C7373D !important;
}
.livesecScore,
.liveSportDate,
.tg-ico-fav,
.tg_widget_header .tg-ico-arrow,
.tg__match_header.tg_widget_header .tg__cashout {
    color: #B3B3B3;
}
.tg__open_event_img {
    background-color: #13355E;
    color: #fff;
}

    .tg__multiview_header.tg_widget_header .tg__one_game_team {
        color: #fff;
    }
.tg__open_event_info {
    background-color: rgba(43, 43, 43, 0.5019607843137255);
}
.tg__open_event_stat_filter{
    background-color: transparent;
    color:#fff;
}
#srch_page_srch_res {
    background: #13355E;
}
    #srch_page_srch_res .tg__home_game_heading {
        border-top: none;
        background: #fff;
        color: #000000;
    }
.tg__result_group_heading {
    height: 30px;
    background: #13355E;
    color: #fff;
}
.calcTitle {
    background-color: #E6E6E6;
    color: #000000;
}
.tg__modal_close, 
.tg--close {
    background-color: #B3B3B3;
    color: #E6E6E6;
}
#calc_new .tg__dropdown_value,
#calc_new .tg_input {
    background-color: #E6E6E6;
    color: #666666;
}
#calc_new .tg__btn {
    background-color: #C7373D;
    color: #fff;
}
#calc_new .tg__subheading {
    background: #E6E6E6;
    color: #000000;
}
#ma_sections_tab .tab_selector {
    background-color: #184276;
    color: #FFFFFF;
    border-bottom: 2px solid #757575;
    margin:0 1px;
}
#ma_sections_tab .tab_selector_active {
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: 2px solid #C7373D;
}
#ma_sections_tab .tg__dropdown_value {
    background-color: #E6E6E6;
    color: #666666;
}
#ma_sections_tab .tg-ico-date {
    color: #666666;
}
#ma_sections_tab  .tg__home_game_heading{
    height: 28px;
    background-color: #184276;
}
.tg__list_row {
    background: #E6E6E6;
    margin: 0;
}
.tg__list_row:nth-child(even) {
    background: #fff
}
    .tg__list_row .tg-ico {
        color: #B3B3B3;
    }
    .tg__list_row .tg-ico:hover {
        color: #000;
    }
.tg__list_row_sub {
    background-color: #EBEBEB;
}
.tg__list_row_sub:nth-child(even) {
    background-color: #fff;
}
.tg-clr-akcent2{
    color:#FFB700;
} 
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(255, 255, 255, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(255, 183, 0, 0.5);
  }
  
  .tg__loader-pulse {
    color: #C7373D;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #C7373D;
   }

.tg__left_menu_item.tg_sidebar_bg_3:hover {
	background-color: #184276;
}

.tg__left_menu_item.tg_sidebar_bg_3:hover .tg-ico-fav,
.tg__left_menu_item.tg_sidebar_bg_3:hover .tg__left_menu_item_text{
	color: #fff;
}

/*partner popups*/
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}

.tg__iframe_popup--draggable {
	transform: none !important;
}

.tg__modal_account {
	height: 400px;
}

	.tg__modal_account .my_acc {
		height: 100%;
	}

	.tg__modal_account .maPageMenu {
		height: calc((100%) - 30px);
	}

		.tg__modal_account .maPageMenu .body_panel {
			height: calc((100%) - 40px);
		}

			.tg__modal_account .maPageMenu .body_panel .tab_body_active,
			.tg__bet_history {
				height: 100%;
			}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}
 
  
  
  

.tg__left_menu_item--lvl2:hover {
	background-color: #285084
} 
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #fff;
    color: #000;
}

.tg__left_menu_item--lvl2:hover {
	background-color: #285084
}
.live_menu_item_left .tg_sidebar_bg_3:hover {
	background-color: #1f5192;
} 
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #C7373D;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #C7373D;
        color: #fff;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #E6E6E6;
    color: #999;
  }
  .component_tax_data .tg-ico {
      color:#FFB700;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #000;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #FFB700;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #996e00;
    }
    .tg__modal_header {
      background-color: #13355E;
    }
    .tg__modal_special_content {
      background-color: #FFFFFF;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #ffffff;
  color: #333333;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #ffffff;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #f2f2f2;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #ffffff;
	color: #333333;
	border-bottom: 1px solid #e6e6e6 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #e6e6e6;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #f2f2f2;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb700;
}
.es__express_day_coupon {
	background-color: #ffffff;
	color: #333333;
}
/*multi bet of the day skinning*/
