:root,
:root[data-theme="light"],
:root [data-theme="light"] {
--bodyBg:#ababab;
--bodyBg2:#919191;
--bodyBg3:#858585;
--bodyBgHover:#a3a3a3;
--bodyBg2Hover:#898989;
--bodyBg3Hover:#7d7d7d;
--bodyTxt:rgba(0, 0, 0, 0.9);
--bodyTxt2:rgba(0, 0, 0, 0.6);
--bodyTxt3:rgba(0, 0, 0, 0.4);
--bodyAccent:#f26f21;
--bodyAccentTxt:#fff;
--bodyBorder:#a3a3a3;
--bodyG:#ababab;
--bodyRGBA:rgba(171, 171, 171, 0.7);
--bodyRGBA2:rgba(171, 171, 171, 0.5);
--bodyRGBA3:rgba(171, 171, 171, 0.3);
--dominantBg:#f3f3f3;
--dominantBg2:#d9d9d9;
--dominantBg3:#cdcdcd;
--dominantBgHover:#ebebeb;
--dominantBg2Hover:#d1d1d1;
--dominantBg3Hover:#c5c5c5;
--dominantTxt:rgba(0, 0, 0, 0.9);
--dominantTxt2:rgba(0, 0, 0, 0.6);
--dominantTxt3:rgba(0, 0, 0, 0.4);
--dominantTxtInverse:#fff;
--dominantAccent:#ffab00;
--dominantAccentTxt:#000;
--dominantBorder:#ebebeb;
--dominantG:#f3f3f3;
--dominantRGBA:rgba(243, 243, 243, 0.7);
--dominantRGBA2:rgba(243, 243, 243, 0.5);
--dominantRGBA3:rgba(243, 243, 243, 0.3);
--accentBg:#ffab00;
--accentBg2:#cc8900;
--accentBg3:#b37800;
--accentBgHover:#f0a100;
--accentBg2Hover:#bd7f00;
--accentBg3Hover:#a46e00;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0a100;
--accentG:#ffab00;
--inputBg:#e4e4e4;
--inputBg2:#cacaca;
--inputBg3:#bebebe;
--inputBgHover:#dcdcdc;
--inputBg2Hover:#c2c2c2;
--inputBg3Hover:#b6b6b6;
--inputTxt:rgba(0, 0, 0, 0.9);
--inputTxt2:rgba(0, 0, 0, 0.6);
--inputTxt3:rgba(0, 0, 0, 0.4);
--inputAccent:#ffab00;
--inputAccentTxt:#000;
--inputBorder:#dcdcdc;
--inputG:#e4e4e4;
--inputSecondaryBg:#e6e6e6;
--inputSecondaryBg2:#cccccc;
--inputSecondaryBg3:#c0c0c0;
--inputSecondaryBgHover:#dedede;
--inputSecondaryBg2Hover:#c4c4c4;
--inputSecondaryBg3Hover:#b8b8b8;
--inputSecondaryTxt:rgba(0, 0, 0, 0.9);
--inputSecondaryTxt2:rgba(0, 0, 0, 0.6);
--inputSecondaryTxt3:rgba(0, 0, 0, 0.4);
--inputSecondaryAccent:#ffab00;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#f3f3f3;
--headerBg:#f3f3f3;
--headerBg2:#d9d9d9;
--headerBg3:#cdcdcd;
--headerBgHover:#ebebeb;
--headerBg2Hover:#d1d1d1;
--headerBg3Hover:#c5c5c5;
--headerTxt:rgba(0, 0, 0, 0.9);
--headerTxt2:rgba(0, 0, 0, 0.6);
--headerTxt3:rgba(0, 0, 0, 0.4);
--headerAccent:#ffab00;
--headerAccentTxt:#000;
--headerBorder:#ebebeb;
--headerG:#f3f3f3;
--subHeaderBg:#cbcbcb;
--subHeaderBg2:#b1b1b1;
--subHeaderBg3:#a5a5a5;
--subHeaderBgHover:#c3c3c3;
--subHeaderBg2Hover:#a9a9a9;
--subHeaderBg3Hover:#9d9d9d;
--subHeaderTxt:rgba(0, 0, 0, 0.9);
--subHeaderTxt2:rgba(0, 0, 0, 0.6);
--subHeaderTxt3:rgba(0, 0, 0, 0.4);
--subHeaderAccent:#ffab00;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#c3c3c3;
--subHeaderG:#cbcbcb;
--eventBg:#f3f3f3;
--eventBg2:#d9d9d9;
--eventBg3:#cdcdcd;
--eventBgHover:#ebebeb;
--eventBg2Hover:#d1d1d1;
--eventBg3Hover:#c5c5c5;
--eventTxt:rgba(0, 0, 0, 0.9);
--eventTxt2:rgba(0, 0, 0, 0.6);
--eventTxt3:rgba(0, 0, 0, 0.4);
--eventAccent:#ffab00;
--eventAccentTxt:#000;
--eventBorder:#ebebeb;
--eventG:#f3f3f3;
--buttonBg:#f26f21;
--buttonBg2:#d4570c;
--buttonBg3:#bc4d0b;
--buttonBgHover:#f16613;
--buttonBg2Hover:#c6510b;
--buttonBg3Hover:#ad470a;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#cc8900;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#f16613;
--buttonG:#f26f21;
--buttonSecondaryBg:#e6e6e6;
--buttonSecondaryBg2:#cccccc;
--buttonSecondaryBg3:#c0c0c0;
--buttonSecondaryBgHover:#dedede;
--buttonSecondaryBg2Hover:#c4c4c4;
--buttonSecondaryBg3Hover:#b8b8b8;
--buttonSecondaryTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryTxt2:rgba(0, 0, 0, 0.6);
--buttonSecondaryTxt3:rgba(0, 0, 0, 0.4);
--buttonSecondaryAccent:#cc8900;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#dedede;
--buttonSecondaryG:#f3f3f3;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffab00;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#d4d4d4;
--oddBg2:#bababa;
--oddBg3:#aeaeae;
--oddBgHover:#cccccc;
--oddBg2Hover:#b2b2b2;
--oddBg3Hover:#a6a6a6;
--oddTxt:rgba(0, 0, 0, 0.9);
--oddTxt2:rgba(0, 0, 0, 0.6);
--oddTxt3:rgba(0, 0, 0, 0.4);
--oddAccent:#ffab00;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#f36f26;
--oddG:#d4d4d4;
--oddActiveBg:#f26f21;
--oddActiveBg2:#d4570c;
--oddActiveBg3:#bc4d0b;
--oddActiveBgHover:#f16613;
--oddActiveBg2Hover:#c6510b;
--oddActiveBg3Hover:#ad470a;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#f26f21;
--oddActiveG:#f26f21;
--showMoreBg:#cbcbcb;
--showMoreBg2:#b1b1b1;
--showMoreBg3:#a5a5a5;
--showMoreBgHover:#c3c3c3;
--showMoreBg2Hover:#a9a9a9;
--showMoreBg3Hover:#9d9d9d;
--showMoreTxt:rgba(0, 0, 0, 0.9);
--showMoreTxt2:rgba(0, 0, 0, 0.6);
--showMoreTxt3:rgba(0, 0, 0, 0.4);
--showMoreAccent:#ffab00;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#cbcbcb;
--showMoreG:#cbcbcb;
--tabBg:#cbcbcb;
--tabBg2:#b1b1b1;
--tabBg3:#a5a5a5;
--tabBgHover:#c3c3c3;
--tabBg2Hover:#a9a9a9;
--tabBg3Hover:#9d9d9d;
--tabTxt:rgba(0, 0, 0, 0.9);
--tabTxt2:rgba(0, 0, 0, 0.6);
--tabTxt3:rgba(0, 0, 0, 0.4);
--tabAccent:#ffab00;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#c3c3c3;
--tabG:#cbcbcb;
--tabActiveBg:#f3f3f3;
--tabActiveBg2:#d9d9d9;
--tabActiveBg3:#cdcdcd;
--tabActiveBgHover:#ebebeb;
--tabActiveBg2Hover:#d1d1d1;
--tabActiveBg3Hover:#c5c5c5;
--tabActiveTxt:rgba(0, 0, 0, 0.9);
--tabActiveTxt2:rgba(0, 0, 0, 0.6);
--tabActiveTxt3:rgba(0, 0, 0, 0.4);
--tabActiveAccent:#ffab00;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#ebebeb;
--tabActiveG:#f3f3f3;
--tabSecondaryActiveBg:#bebebe;
--tabSecondaryActiveBg2:#a4a4a4;
--tabSecondaryActiveBg3:#989898;
--tabSecondaryActiveBgHover:#b6b6b6;
--tabSecondaryActiveBg2Hover:#9c9c9c;
--tabSecondaryActiveBg3Hover:#909090;
--tabSecondaryActiveTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveTxt2:rgba(0, 0, 0, 0.6);
--tabSecondaryActiveTxt3:rgba(0, 0, 0, 0.4);
--tabSecondaryAccent:#ffab00;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#cbcbcb;
--filterBg:#e1e1e1;
--filterBg2:#c7c7c7;
--filterBg3:#bbbbbb;
--filterBgHover:#d9d9d9;
--filterBg2Hover:#bfbfbf;
--filterBg3Hover:#b3b3b3;
--filterTxt:rgba(0, 0, 0, 0.9);
--filterTxt2:rgba(0, 0, 0, 0.6);
--filterTxt3:rgba(0, 0, 0, 0.4);
--filterAccent:#ffab00;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#d9d9d9;
--filterG:#f3f3f3;
--menu_1Bg:#f3f3f3;
--menu_1Bg2:#d9d9d9;
--menu_1Bg3:#cdcdcd;
--menu_1BgHover:#ebebeb;
--menu_1Bg2Hover:#d1d1d1;
--menu_1Bg3Hover:#c5c5c5;
--menu_1Txt:rgba(0, 0, 0, 0.9);
--menu_1Txt2:rgba(0, 0, 0, 0.6);
--menu_1Txt3:rgba(0, 0, 0, 0.4);
--menu_1Accent:#ffab00;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#ebebeb;
--menu_1G:#f3f3f3;
--menu_2Bg:#e4e4e4;
--menu_2Bg2:#cacaca;
--menu_2Bg3:#bebebe;
--menu_2BgHover:#dcdcdc;
--menu_2Bg2Hover:#c2c2c2;
--menu_2Bg3Hover:#b6b6b6;
--menu_2Txt:rgba(0, 0, 0, 0.9);
--menu_2Txt2:rgba(0, 0, 0, 0.6);
--menu_2Txt3:rgba(0, 0, 0, 0.4);
--menu_2Accent:#ffab00;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#dcdcdc;
--menu_2G:#e4e4e4;
--menu_3Bg:#d4d4d4;
--menu_3Bg2:#bababa;
--menu_3Bg3:#aeaeae;
--menu_3BgHover:#cccccc;
--menu_3Bg2Hover:#b2b2b2;
--menu_3Bg3Hover:#a6a6a6;
--menu_3Txt:rgba(0, 0, 0, 0.9);
--menu_3Txt2:rgba(0, 0, 0, 0.6);
--menu_3Txt3:rgba(0, 0, 0, 0.4);
--menu_3Accent:#ffab00;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#cccccc;
--menu_3G:#d4d4d4;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffab00;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#333;
--menuItemTxt:#000;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #ababab;
    --primaryBg3: #777777;
    --primaryTxt: #000;
    --primaryTxt2: #4d4d4d;
    --primaryTxt3: #666666;

    --accentBg: #ffab00;
    --accentG: #ffab00;
    --accentRGBA: rgba(255, 171, 0, 0.6);
    --accentTxt: #000;

    --brandG: #f26f21;
    --brandBg: #f26f21;
    --brandTxt: #fff;

    --actionButtonG: #ffab00;
    --actionButtonTxt: #000;

    --widgetG: #F3F3F3;
    --widgetBg: #F3F3F3;
    --widgetBgHover: #e6e6e6;
    --widgetBg2: #d9d9d9;
    --widgetBg2Hover: #cccccc;
    --widgetBg3: #bfbfbf;
    --widgetBg3Hover: #b2b2b2;
    --widgetRGBA: rgba(243, 243, 243, 0.6);
    --widgetTxt: #000;
    --widgetTxt2: #4d4d4d;
    --widgetTxt3: #666666;

    --oddG: #d4d4d4;
    --oddBg: #d4d4d4;
    --oddTxt: #000;
    --oddTxt2: #4d4d4d;

    --oddActiveG: #f26f21;
    --oddActiveBg: #f26f21;
    --oddActiveBg2: #d4570c;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #cbcbcb;
    --showMoreBg: #cbcbcb;
    --showMoreTxt: #000;
    --showMoreTxt2: #4d4d4d;

    --headerG: #f3f3f3;
    --headerBg: #f3f3f3;
    --headerTxt: #000;

    --popupHeaderG: #f3f3f3;
    --popupHeaderBg: #f3f3f3;
    --popupHeaderTxt: #000;

    --popupBg: #000000;
    --popupG: #000000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #cbcbcb;
    --tabBg: #cbcbcb;
    --tabTxt: #000;
    --tabTxt2: #4d4d4d;

    --activeTabG: #f3f3f3;
    --activeTabBg: #f3f3f3;
    --activeTabTxt: #000;

    --sideBarTabG: #cbcbcb;
    --sideBarTabTxt: #000;

    --sideBarActiveTabG: #f3f3f3;
    --sideBarActiveTabTxt: #000;

    --inputG: #e4e4e4;
    --inputBg: #e4e4e4;
    --inputBg2: #cacaca;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#333;
    --menuItemTxt:#000;

}
/*---*/


   /*NovinBet*/

  /*coupon*/
  .tg_widget_bg_2, .tg--cashout-body, .tg__cashout_popup{
      background-color: #F3F3F3;
      color: #333;
  }
  .tg_widget_bg_2 .tg--border-bot-1{
    border:none;
  }
  .stake_item_panel{
    background-color: #e1e1e1;
    color: #333;
    border-color: #F3F3F3;
  }
  .coupon_sport_name_container{
    color: #000;
  }
  /*input inside widget2*/
  .tg_widget_bg_2 .tg_input,
  .tg_widget_bg_2 .tg__dropdown_coupon{
    background-color: #e1e1e1;
    color: #333;
  }
  .tg_widget_bg_2 .tg__switch .tg__switch_ico:before{
    background-color: #F3F3F3;
  }
  .tg__btn-coupon{
    background-color: #333;
    color: #F3F3F3;
  }
  .tg__btn-coupon:hover{
    background-color: #000;
    color: #F3F3F3;
  }
  .tab_cupon{
    background-color: #e1e1e1;
    color: #333;
  }
  .tab_cupon.tab_selected,
  .tab_cupon:hover {
    background-color: #F3F3F3;
    color: #000;
  }
  .tg__coupon_factor,
  .tg__coupon_square{
    background-color: #F3F3F3;
    color: #000;
    border:1px solid #e1e1e1;
  }

  /*input inside widget*/
  .tg_widget_bg .tg_input{
    background-color: #e4e4e4;
    color: #333;
  }
  .tg_widget_bg .tg__switch .tg__switch_ico:before{
    background-color: #F3F3F3;
  }

  /*mainBg*/
  .tg_bg,
  .tg__modal_close,
  .tg--close,
  .tg__live_filter_item.checked,
  .tg__info_panel .selector_panel {
      background-color: #ABABAB;
      color: #000;
  }

  .gameContentTitle.tg_widget_header{
    background-color: #F3F3F3;
    color: #000;
  }
  .gameContentTitle.tg_widget_header .tg-ico-arrow{
    color: #000;
  }

  .tg_widget_heading{
      background-color: #CBCBCB;
      color: #1a1a1a;
  }

  /*widget*/
    /*sidebar*/
  .tg_sidebar_bg{
    background-color:#F3F3F3
  }
  .tg__left_menu_item [class*='sport_front_icon-'].tg_sidebar_text_akcent,
  .tg_sidebar_text_akcent,
  .tg-bg_transparent .teamName,
  .tg-bg_transparent .tg_team_name,
  .tg__open_event_img .tg-clr-akcent2.tg_score{
    color: #FFAB00;
  }
  .tg_sidebar_bg .tg__left_menu_item_text,
  .tg__left_menu_item [class*='sport_front_icon-'] {
    color: #000;
  }
  .tg_sidebar_bg_2 .tg__left_menu_item_text,
  .tg_sidebar_bg_3 .tg__left_menu_item_text{
    color: #333;
  }
  .tg_sidebar_bg_2{
    background-color: #e4e4e4;
  }
  .tg_sidebar_bg_3{
    background-color: #d4d4d4;
    color: #333;
  }
  
  .tg_sidebar_bg_3.left_menu_line_active .tg__left_menu_item_text,
  .liveGameSelected .tg_sidebar_bg_3 .liveSportNamesContainer,
  .liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent{
      color: #FFAB00;
  }

  /*end of sidebar*****************************************/

  .sportHeaderPaneUpperRow,
  .sportHeaderPaneLowerRow,
  .tg__footer {
    background-color: #F3F3F3;
    color: #000;
  }
  .tg__coupon_tabs_cont {
    padding-bottom: 5px;
  }
  .tg--issue {
    background-color: #fff;
    color: #000;
  }
  .tg__text_with_shadow{
      text-shadow:none;    
  }
  .tg__match_item{
    padding:0;
  }
  .tg__left_menu_item,
  .live_menu_item_left{
    margin-bottom: 0;
  }
  .tsModalContent,
  .tg__dropdown_content,
  .tg__modal_big,
  .tg--express_combination{
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
  }
  
  .tg_team_name,
  .tg__open_event_img .title {
    color: #333;
  }
.tab_selector {
    background-color: #CBCBCB;
    color: #666666;
}
  
  .ss__step_slider .ss__ruller > div.off{
    background-color: #ABABAB;
  }
  #line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper{
      background-color: #ABABAB;
  }

  .tg__banner__heading,
  .tg__one_game_team,
  .tg_sidebar_bg_3 .liveSportNamesContainer,
  .tg__open_event_img .tg_score {
    color: #000;
  }
  
  .tab_selector_active{
    background-color: #F3F3F3;
    color: #000;
  }
  
  .tg__step_slider,
  .tg_widget_bg,
  .tg_subheader_btn{
    background-color: #F3F3F3;
    color: #333;
  }
  .tab_selector:hover{
    color:#000;
  }
  
  .tg_widget_row {
  	  border-bottom: 1px solid #ABABAB;
  }
  .tg__match_item_stake,
  .tg--pos_comb_row,
  .tg__coupon_switches .tg__switch_cont,
  .tg--border-bot-1{
      border-color: #ABABAB;
  }

  /*sidebar*/
  .tg_sidebar_bg_2.tg__step_slider{
      background-color: #CBCBCB;
      color: #1a1a1a;
  }
  .ss__step_slider .ss__slider,
  .ss__step_slider .ss__ruller > div{
      background: currentColor;
  }

  .tg_widget_header{
    background-color: #CBCBCB;
    color: #000;
  }
  .tg_widget_header .tg-ico-arrow{
    color: #000;
  }

  .tg__more{
    background-color: #CBCBCB;
    color: #000;
  }

  .tg_widget_sub_row,
  .tg__dropdown_value,
  .tg__input,
  .tg_input,
  .tg__input-ico,
  .posCombItem,
  .tg__slider__btn:hover,
  #calc_new .tg__btn {
  	  background-color: #e4e4e4;
  	  color: #333;
  }
  #calc_new .tg__btn-ternary {
  	 background-color: #F26F21;
     color: #fff;
  }
  .tg_input_coupon_amount{
    color:#000;
  }
  .tg__dropdown__item{
    border-bottom:1px solid #ABABAB;
    margin-bottom:0;
  }
  .tg__dropdown__item:hover,
  .tg__dropdown__item.activeItem{
    color:#000;
  }
  .tg__dropdown_content{
      background-color: #e4e4e4;
  	  color: #333;
  }
  .tg__subhead .tg__dropdown_value {
      background-color: #F3F3F3;
  }
  .tg__input,
  .tg_input,
  .tg__btn{
    transition: all 0.2s;
  }
  .tg__input:focus,
  .tg_input:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgba(242,111,33,0.5);
  }
  .tg__modal_wrapper{
    background-color: rgba(171,171,171,0.4);
  }
  .tg-ico-date{
    color: #000;
  }
  .tg__score_box{
      background-color: #ABABAB;
  }
  .tg__more:hover{
      background-color: #FFAB00;
      color: #000;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item,
  .tg_widget_header_2 .tab_selector_active,
  .tg--coupon-container .selector_panel,
  .tg__info_panel .selectorWrapper,
  .tg__match_header.tg_widget_header,
  .tg__prematch_header.tg_widget_bg,
  .lineEventHeaderWide.tg_widget_bg,
  .tg__live_list_header.tg_widget_header,
  .tg__multiview_header.tg_widget_header,
  .tg__calendar_header.tg_widget_heading,
  .tg__results_header.tg_widget_bg      
   {
      background-color: #CBCBCB;
      color: #000;
  }
  .l_od,
  .l_od_empty{
  	  background-color: #D4D4D4;
  	  color: #F36F26;
  }
  .l_od:hover,
  .odCnt:hover .l_od,
  .l_od.selectedOdd, .tg--cashout-item-cashout, .tg--cashout-pagination-item.active,
  .tab_selector.tab_selector_active .tg__badge_live{
    background-color: #F26F21;
    color: #fff;
  }
  .tab_selector .tg__badge_live{
    background-color: #F3F3F3;
    color: #333;
  }
  .tg_widget_tab_text,
  .tg__srv{
    color: #F26F21;
  }
  .tg__fix_btn{
    color: #000;
  }
  .tg_widget_bg_2 .selectorWrapper .tg__fix_btn{
    color: #000;
  }
  .tg_widget_bg_2 .tg__fix_btn{
    color: #000;
  }
  .tg_widget_bg_2 .tg__dropdown_value{
    background-color: #e1e1e1;
    color: #000;
  }
  .tg_widget_text_akcent,
  .tg__fix_btn.checked{
    color: #FFAB00;
  }
   .tg_widget_bg .tg-ico.active{
    color: #FFAB00 !important;
   }
  .tg__btn-ternary{
    background-color: #F26F21;
    color: #fff;
  }
  .tg_widget_bg .tg__btn .tg-ico{
    color: #fff;
  }
  .tg__btn-ternary:hover{
    background-color: #ec610e;
    color: #fff;
  }
  .digi_scroll_dragger{
    background-color: #333;
  }
    
  .tg_widget_row .tg__one_game_icons, 
  .tg_widget_row .tg__home_game_time,
  .tg-ico-arrow,
  .tg_widget_bg .tg__chb{
    color: #333;
  }
  .tg-bg_transparent{
    background-color: rgba(171,171,171,0.85);
  }
  .tg__switch .tg__switch_ico{
    background-color: #ABABAB;
  }
  .tg__switch .tg__switch_ico:before{
    background-color: #F3F3F3;
  }
  .tg__switch input:checked + .tg__switch_ico:before{
    background-color: #F26F21;
  }
  /*calendar*/
  .ui-widget-content {
    border: none;
    background: #e4e4e4;
    color: #333;
  }
  .ui-widget-header {
    border: none;
    background: #e4e4e4;
    color: #333;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: #d4d4d4;
    color: #333;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background-color: #F26F21;
    color: #fff;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background-color: #ec610e;
    color: #fff;
  }
  /*calendar end*/
   
  /*border radius (roundness)*/
  .tab_selector_active{
      border-radius: 0px 0px 0 0;
  }
  .tg__btn,
  .l_od_empty,
  .l_od,
  .tg__dropdown_value,
  .tg__dropdown_content,
  .tg__input,
  .tg_input{
    border-radius: 0px;
  }

  @keyframes lightbox {
    from {
        color: #000;
    }

    to {
        color: #F26F21
    }
  }

  .tg__tournament_ico_switch .tg__switch_text:before {
    content: 'ÿ';
    background: none;
    font-family: TotoFont;
    font-size: 38px;
    line-height: 16px;
    color: #F26F21
  }

  .tg_coin {
    background: #F26F21;
    color: #fff;
  }
  
    .tg__results_header.tg_widget_bg, .sportRightPane .info_panel.tg__info_panel .selector_panel,
    .sportRightPane .info_panel.tg__info_panel .selector_panel .tab_selector, #live_sched_data .selector_panel .tab_selector,
    #live_sched_data .selector_panel, .tg_calendar_subtab_wrapper .tab_selector {
      border-radius: 0;
    }

    .tg__main_left .selector_panel,
    .home_page_data_panel .selector_panel, #live_sched_data .selector_panel,
    .sportRightPane .info_panel.tg__info_panel .selector_panel, .tg_calendar_subtab_wrapper {
      background-color: #ABABAB;
      color: #333;
    }

    .selector_panel, #lineEventHeaderWide {
      margin-bottom: 4px;
    }

    .tg_widget_bg, #bookingContainer, .tg--coupon-container,
    .betchecker, #betgenerator_wrapper, #searchPanel .tg__input_cont,
    #odd_format_container, .tg_subheader_btn, .tg__info_panel,
    .tab_selector, .selector_panel, .tg--horisontal-tab .tab_selector, .stake_item_panel,
    .tg__coupon_factor, .tg__coupon_square, .live_calendar, .tg__dropdown_value {
      border-radius: 0px;
      overflow: hidden;
    }


    .tg__step_slider, .sportRightPane .info_panel.tg__info_panel .selector_panel .tab_selector,
    #live_sched_data .selector_panel, .tg_calendar_subtab_wrapper .tab_selector {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      overflow: hidden;
    }

    .tg--coupon-container .tg_widget_bg_2 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      overflow: hidden;
    }
  
    /* custom changes */
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}

.tg__iframe_popup--draggable {
	transform: none !important;
}

.tg__modal_account {
	height: 600px !important;
}

.tg__modal_account .my_acc {
	height: 100%;
}

.tg__modal_account .maPageMenu {
	height: calc((100%) - 30px);
}

.tg__modal_account .maPageMenu .body_panel {
	height: calc((100%) - 40px);
}

.tg__modal_account .maPageMenu .body_panel .tab_body_active,
.tg__bet_history {
	height: 100%;
}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}
.tg__bet_history .tg-clr-akcent,
.tg__bet_history .tg-ico-fav{
	color: #F26F21;
}
.tg_sticky_bot, .tg__list_row_sub--total {
	background-color: #ccc;
}

.tg__btn-coupon {
    background-color: #ABABAB;
    color: #000000;
}

.stake_item_panel {
    background-color: #CBCBCB;
    color: #666666;
}

.tab_cupon {
    background-color: #CBCBCB;
    color: #666666;
}

.tab_cupon.tab_selected,
.tab_cupon:hover{
    background-color: #F3F3F3;
    color: #000000;
}

.calc_content .tg__subheading {
    background-color: #e4e4e4
}

.tg-bg_transparent .teamName {
    color: #F26F21;
}

/* book a bet skinning */
.tg__modal_book_bet {
    top: 150px;
    background-color: #F3F3F3;
    color: #000000;
}
.tg__modal_book_bet .tg__modal_header{
    background-color: #CBCBCB;
    color: #000000;
}
.tg__modal_book_bet .tg__list_bg{
    background-color: #ABABAB;
}
.tg__modal_book_bet .tg__list_row {
    background-color: #F3F3F3;
}
.tg__modal_book_bet .tg__list_row:nth-child(even) {
    background-color: #CBCBCB;
}
.tg__modal_book_bet .tg__border--color-akcent{
    border-color: #F26F21;
}
.tg__modal_book_bet .tg-clr-akcent{
    color: #F26F21;
}

/* live menu item header 2020-02-10*/
.live_menu_item_left_header {
    background-color: #F3F3F3;
    color: #000;
}


 
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #F26F21;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #F26F21;
        color: #000;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #ABABAB;
    color: #999;
  }
  .component_tax_data .tg-ico {
      color:#FFAB00;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #000;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #FFAB00;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #996700;
    }
    .tg__modal_header {
      background-color: #F3F3F3;
    }
    .tg__modal_special_content {
      background-color: #F3F3F3;
    }

.tg__banner,
.newsSliderMarketContainer {
    background-color: #F3F3F3;
    color: #000;
} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #F3F3F3;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #e6e6e6;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #F3F3F3;
	color: #333333;
	border-bottom: 1px solid #ababab !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #ababab;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #e6e6e6;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffab00;
}
.es__express_day_coupon {
	background-color: #F3F3F3;
	color: #333333;
}
/*multi bet of the day skinning*/
