:root[data-theme="dark"],
:root [data-theme="dark"] {
    --bodyBg: #101010;
    --bodyBg2: #292929;
    --bodyBg3: #363636;
    --bodyBgHover: #181818;
    --bodyBg2Hover: #313131;
    --bodyBg3Hover: #3e3e3e;
    --bodyRGBA: rgba(16, 16, 16, 0.7);
    --bodyRGBA2: rgba(16, 16, 16, 0.5);
    --bodyRGBA3: rgba(16, 16, 16, 0.3);
    --bodyTxt: rgba(255, 255, 255, 0.9);
    --bodyTxt2: rgba(255, 255, 255, 0.6);
    --bodyTxt3: rgba(255, 255, 255, 0.4);
    --bodyAccent: #D90038;
    --bodyAccentTxt: rgba(255, 255, 255, 0.9);
    --bodyBorder: #101010;
    --bodyRadius: 0px;
    --dominantG: #181818;
    --dominantRGBA: rgba(24, 24, 24, 0.7);
    --dominantRGBA2: rgba(24, 24, 24, 0.5);
    --dominantRGBA3: rgba(24, 24, 24, 0.3);
    --dominantBg: #181818;
    --dominantBg2: #313131;
    --dominantBg3: #3e3e3e;
    --dominantBgHover: #202020;
    --dominantBg2Hover: #393939;
    --dominantBg3Hover: #464646;
    --dominantTxt: rgba(255, 255, 255, 0.9);
    --dominantTxt2: rgba(255, 255, 255, 0.6);
    --dominantTxt3: rgba(255, 255, 255, 0.4);
    --dominantTxtInverse: #262626;
    --dominantRadius: 0px;
    --accentBg: #D90038;
    --accentBg2: #ff0d4b;
    --accentBg3: #ff265e;
    --accentBgHover: #e8003c;
    --accentBg2Hover: #ff1c56;
    --accentBg3Hover: #ff3569;
    --accentG: #D90038;
    --accentTxt: rgba(255, 255, 255, 0.9);
    --accentTxt2: rgba(255, 255, 255, 0.6);
    --accentTxt3: rgba(255, 255, 255, 0.4);
    --buttonG: #D90038;
    --buttonBg: #D90038;
    --buttonBg2: #ff0d4b;
    --buttonBg3: #ff265e;
    --buttonBgHover: #e8003c;
    --buttonBg2Hover: #ff1c56;
    --buttonBg3Hover: #ff3569;
    --buttonTxt: rgba(255, 255, 255, 0.9);
    --buttonTxt2: rgba(255, 255, 255, 0.6);
    --buttonTxt3: rgba(255, 255, 255, 0.4);
    --buttonAccent: #D90038;
    --buttonAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonBorder: #101010;
    --buttonRadius: 6px;
    --buttonSecondaryG: #3e3e3e;
    --buttonSecondaryBg: #3e3e3e;
    --buttonSecondaryBg2: #575757;
    --buttonSecondaryBg3: #646464;
    --buttonSecondaryBgHover: #464646;
    --buttonSecondaryBg2Hover: #5f5f5f;
    --buttonSecondaryBg3Hover: #6c6c6c;
    --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --buttonSecondaryAccent: #D90038;
    --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryBorder: #101010;
    --buttonSecondaryRadius: 0px;
    --inputG: #292929;
    --inputBg: #292929;
    --inputBg2: #424242;
    --inputBg3: #4f4f4f;
    --inputBgHover: #313131;
    --inputBg2Hover: #4a4a4a;
    --inputBg3Hover: #575757;
    --inputTxt: rgba(255, 255, 255, 0.9);
    --inputTxt2: rgba(255, 255, 255, 0.6);
    --inputTxt3: rgba(255, 255, 255, 0.4);
    --inputAccent: #D90038;
    --inputAccentTxt: rgba(255, 255, 255, 0.9);
    --inputRadius: 6px;
    --inputBorder: #101010;
    --inputSecondaryG: #4a4a4a;
    --inputSecondaryBg: #4a4a4a;
    --inputSecondaryBg2: #636363;
    --inputSecondaryBg3: #707070;
    --inputSecondaryBgHover: #525252;
    --inputSecondaryBg2Hover: #6b6b6b;
    --inputSecondaryBg3Hover: #787878;
    --inputSecondaryTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --inputSecondaryAccent: #D90038;
    --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryRadius: 6px;
    --inputSecondaryBorder: #101010;
    --headerG: #3E3E3E;
    --headerBg: #3E3E3E;
    --headerBg2: #575757;
    --headerBg3: #646464;
    --headerBgHover: #464646;
    --headerBg2Hover: #5f5f5f;
    --headerBg3Hover: #6c6c6c;
    --headerTxt: rgba(255, 255, 255, 0.9);
    --headerTxt2: rgba(255, 255, 255, 0.6);
    --headerTxt3: rgba(255, 255, 255, 0.4);
    --headerAccent: #D90038;
    --headerAccentTxt: rgba(255, 255, 255, 0.9);
    --headerBorder: #101010;
    --headerRadius: 0px;
    --subHeaderG: #313131;
    --subHeaderBg: #313131;
    --subHeaderBg2: #4a4a4a;
    --subHeaderBg3: #575757;
    --subHeaderBgHover: #393939;
    --subHeaderBg2Hover: #525252;
    --subHeaderBg3Hover: #5f5f5f;
    --subHeaderTxt: rgba(255, 255, 255, 0.9);
    --subHeaderTxt2: rgba(255, 255, 255, 0.6);
    --subHeaderTxt3: rgba(255, 255, 255, 0.4);
    --subHeaderAccent: #D90038;
    --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --subHeaderBorder: #101010;
    --subHeaderRadius: 0px;
    --eventG: #292929;
    --eventBg: #292929;
    --eventBg2: #424242;
    --eventBg3: #4f4f4f;
    --eventBgHover: #313131;
    --eventBg2Hover: #4a4a4a;
    --eventBg3Hover: #575757;
    --eventTxt: rgba(255, 255, 255, 0.9);
    --eventTxt2: rgba(255, 255, 255, 0.6);
    --eventTxt3: rgba(255, 255, 255, 0.4);
    --eventAccent: #D90038;
    --eventAccentTxt: rgba(255, 255, 255, 0.9);
    --eventBorder: #101010;
    --eventRadius: 0px;
    --modalG: #292929;
    --modalBg: #292929;
    --modalBg2: #424242;
    --modalBg3: #4f4f4f;
    --modalBgHover: #313131;
    --modalBg2Hover: #4a4a4a;
    --modalBg3Hover: #575757;
    --modalTxt: rgba(255, 255, 255, 0.9);
    --modalTxt2: rgba(255, 255, 255, 0.6);
    --modalTxt3: rgba(255, 255, 255, 0.4);
    --modalAccent: #D90038;
    --modalAccentTxt: rgba(255, 255, 255, 0.9);
    --modalRadius: 0px;
    --modalBorder: #101010;
    --oddG: #000000;
    --oddBg: #000000;
    --oddBg2: #1a1a1a;
    --oddBg3: #262626;
    --oddBgHover: #080808;
    --oddBg2Hover: #222222;
    --oddBg3Hover: #2e2e2e;
    --oddTxt: rgba(255, 255, 255, 0.9);
    --oddTxt2: rgba(255, 255, 255, 0.6);
    --oddTxt3: rgba(255, 255, 255, 0.4);
    --oddAccent: #D90038;
    --oddAccentTxt: rgba(255, 255, 255, 0.9);
    --oddRadius: 6px;
    --oddBorder: #000000;
    --oddActiveG: #D90038;
    --oddActiveBg: #D90038;
    --oddActiveBg2: #ff0d4b;
    --oddActiveBg3: #ff265e;
    --oddActiveBgHover: #e8003c;
    --oddActiveBg2Hover: #ff1c56;
    --oddActiveBg3Hover: #ff3569;
    --oddActiveTxt: rgba(255, 255, 255, 0.9);
    --oddActiveTxt2: rgba(255, 255, 255, 0.6);
    --oddActiveTxt3: rgba(255, 255, 255, 0.4);
    --oddActiveAccent: #D90038;
    --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --oddActiveRadius: 6px;
    --oddActiveBorder: #D90038;
    --showMoreG: #000000;
    --showMoreBg: #000000;
    --showMoreBg2: #1a1a1a;
    --showMoreBg3: #262626;
    --showMoreBgHover: #080808;
    --showMoreBg2Hover: #222222;
    --showMoreBg3Hover: #2e2e2e;
    --showMoreTxt: rgba(255, 255, 255, 0.9);
    --showMoreTxt2: rgba(255, 255, 255, 0.6);
    --showMoreTxt3: rgba(255, 255, 255, 0.4);
    --showMoreAccent: #D90038;
    --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
    --showMoreRadius: 6px;
    --showMoreBorder: #000000;
    --tabG: #292929;
    --tabBg: #292929;
    --tabBg2: #424242;
    --tabBg3: #4f4f4f;
    --tabBgHover: #313131;
    --tabBg2Hover: #4a4a4a;
    --tabBg3Hover: #575757;
    --tabTxt: rgba(255, 255, 255, 0.9);
    --tabTxt2: rgba(255, 255, 255, 0.6);
    --tabTxt3: rgba(255, 255, 255, 0.4);
    --tabAccent: #D90038;
    --tabAccentTxt: rgba(255, 255, 255, 0.9);
    --tabRadius: 0px;
    --tabBorder: #101010;
    --tabActiveG: #3E3E3E;
    --tabActiveBg: #3E3E3E;
    --tabActiveBg2: #575757;
    --tabActiveBg3: #646464;
    --tabActiveBgHover: #464646;
    --tabActiveBg2Hover: #5f5f5f;
    --tabActiveBg3Hover: #6c6c6c;
    --tabActiveTxt: rgba(255, 255, 255, 0.9);
    --tabActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabActiveAccent: #D90038;
    --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabActiveRadius: 0px;
    --tabActiveBorder: #101010;
    --tabSecondaryActiveG: #313131;
    --tabSecondaryActiveBg: #313131;
    --tabSecondaryActiveBg2: #4a4a4a;
    --tabSecondaryActiveBg3: #575757;
    --tabSecondaryActiveBgHover: #393939;
    --tabSecondaryActiveBg2Hover: #525252;
    --tabSecondaryActiveBg3Hover: #5f5f5f;
    --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabSecondaryActiveAccent: #D90038;
    --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveRadius: 0px;
    --tabSecondaryActiveBorder: #101010;
    --filterG: #4a4a4a;
    --filterBg: #4a4a4a;
    --filterBg2: #636363;
    --filterBg3: #707070;
    --filterBgHover: #525252;
    --filterBg2Hover: #6b6b6b;
    --filterBg3Hover: #787878;
    --filterTxt: rgba(255, 255, 255, 0.9);
    --filterTxt2: rgba(255, 255, 255, 0.6);
    --filterTxt3: rgba(255, 255, 255, 0.4);
    --filterAccent: #D90038;
    --filterAccentTxt: rgba(255, 255, 255, 0.9);
    --filterRadius: 6px;
    --filterBorder: #101010;
    --menu_1G: #292929;
    --menu_1Bg: #292929;
    --menu_1Bg2: #424242;
    --menu_1Bg3: #4f4f4f;
    --menu_1BgHover: #313131;
    --menu_1Bg2Hover: #4a4a4a;
    --menu_1Bg3Hover: #575757;
    --menu_1Txt: rgba(255, 255, 255, 0.9);
    --menu_1Txt2: rgba(255, 255, 255, 0.6);
    --menu_1Txt3: rgba(255, 255, 255, 0.4);
    --menu_1Accent: #D90038;
    --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_1Radius: 0px;
    --menu_1Border: #101010;
    --menu_2G: #313131;
    --menu_2Bg: #313131;
    --menu_2Bg2: #4a4a4a;
    --menu_2Bg3: #575757;
    --menu_2BgHover: #393939;
    --menu_2Bg2Hover: #525252;
    --menu_2Bg3Hover: #5f5f5f;
    --menu_2Txt: rgba(255, 255, 255, 0.9);
    --menu_2Txt2: rgba(255, 255, 255, 0.6);
    --menu_2Txt3: rgba(255, 255, 255, 0.4);
    --menu_2Accent: #D90038;
    --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_2Radius: 0px;
    --menu_2Border: #101010;
    --menu_3G: #363636;
    --menu_3Bg: #363636;
    --menu_3Bg2: #4f4f4f;
    --menu_3Bg3: #5c5c5c;
    --menu_3BgHover: #3e3e3e;
    --menu_3Bg2Hover: #575757;
    --menu_3Bg3Hover: #646464;
    --menu_3Txt: rgba(255, 255, 255, 0.9);
    --menu_3Txt2: rgba(255, 255, 255, 0.6);
    --menu_3Txt3: rgba(255, 255, 255, 0.4);
    --menu_3Accent: #D90038;
    --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_3Radius: 0px;
    --menu_3Border: #101010;
    --tooltipG: #292929;
    --tooltipBg: #292929;
    --tooltipBg2: #424242;
    --tooltipBg3: #4f4f4f;
    --tooltipBgHover: #313131;
    --tooltipBg2Hover: #4a4a4a;
    --tooltipBg3Hover: #575757;
    --tooltipTxt: rgba(255, 255, 255, 0.9);
    --tooltipTxt2: rgba(255, 255, 255, 0.6);
    --tooltipTxt3: rgba(255, 255, 255, 0.4);
    --tooltipAccent: #D90038;
    --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --tooltipRadius: 0px;
    --tooltipBorder: #101010;
    /* Old betslip */
    --betSlipBg: #292929;
    --betSlipBg2: #424242;
    --betSlipBorder: #101010;
    --betSlipTxt: rgba(255, 255, 255, 0.9);
    --betSlipTxt2: rgba(255, 255, 255, 0.6);
    --betSlipStakeG: #313131;
    --betSlipStakeBg: #313131;
    --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
    --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);
    --betSlipInputG: #313131;
    --betSlipInputTxt: rgba(255, 255, 255, 0.9);
    --betSlipButtonG: #313131;
    --betSlipButtonBg2: #4a4a4a;
    --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
    --betSlipButtonRadius: 0px;
    --spritePositionX: 0px;
    --menuItemActiveTxt: var(--bodyTxt2);
    --menuItemTxt: var(--bodyTxt);
}

:root,
:root[data-theme="light"],
:root [data-theme="light"] {
    --bodyBg: #F0F0F0;
    --bodyBg2: #e1e1e1;
    --bodyBg3: #d1d1d1;
    --bodyBgHover: #e8e8e8;
    --bodyBg2Hover: #d9d9d9;
    --bodyBg3Hover: #c9c9c9;
    --bodyRGBA: rgba(240, 240, 240, 0.7);
    --bodyRGBA2: rgba(240, 240, 240, 0.5);
    --bodyRGBA3: rgba(240, 240, 240, 0.3);
    --bodyTxt: rgba(0, 0, 0, 0.9);
    --bodyTxt2: rgba(0, 0, 0, 0.6);
    --bodyTxt3: rgba(0, 0, 0, 0.4);
    --bodyAccent: #D90038;
    --bodyAccentTxt: rgba(255, 255, 255, 0.9);
    --bodyBorder: #F0F0F0;
    --bodyRadius: 0px;
    --dominantG: #DCDCDC;
    --dominantRGBA: rgba(220, 220, 220, 0.7);
    --dominantRGBA2: rgba(220, 220, 220, 0.5);
    --dominantRGBA3: rgba(220, 220, 220, 0.3);
    --dominantBg: #DCDCDC;
    --dominantBg2: #cdcdcd;
    --dominantBg3: #bdbdbd;
    --dominantBgHover: #d4d4d4;
    --dominantBg2Hover: #c5c5c5;
    --dominantBg3Hover: #b5b5b5;
    --dominantTxt: rgba(0, 0, 0, 0.9);
    --dominantTxt2: rgba(0, 0, 0, 0.6);
    --dominantTxt3: rgba(0, 0, 0, 0.4);
    --dominantTxtInverse: #fff;
    --dominantRadius: 0px;
    --accentBg: #D90038;
    --accentBg2: #ff0d4b;
    --accentBg3: #ff265e;
    --accentBgHover: #e8003c;
    --accentBg2Hover: #ff1c56;
    --accentBg3Hover: #ff3569;
    --accentG: #D90038;
    --accentTxt: rgba(255, 255, 255, 0.9);
    --accentTxt2: rgba(255, 255, 255, 0.6);
    --accentTxt3: rgba(255, 255, 255, 0.4);
    --buttonG: #D90038;
    --buttonBg: #D90038;
    --buttonBg2: #ff0d4b;
    --buttonBg3: #ff265e;
    --buttonBgHover: #e8003c;
    --buttonBg2Hover: #ff1c56;
    --buttonBg3Hover: #ff3569;
    --buttonTxt: rgba(255, 255, 255, 0.9);
    --buttonTxt2: rgba(255, 255, 255, 0.6);
    --buttonTxt3: rgba(255, 255, 255, 0.4);
    --buttonAccent: #D90038;
    --buttonAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonBorder: #F0F0F0;
    --buttonRadius: 6px;
    --buttonSecondaryG: #c9c9c9;
    --buttonSecondaryBg: #c9c9c9;
    --buttonSecondaryBg2: #bababa;
    --buttonSecondaryBg3: #aaaaaa;
    --buttonSecondaryBgHover: #c1c1c1;
    --buttonSecondaryBg2Hover: #b2b2b2;
    --buttonSecondaryBg3Hover: #a2a2a2;
    --buttonSecondaryTxt: rgba(0, 0, 0, 0.9);
    --buttonSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --buttonSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --buttonSecondaryAccent: #D90038;
    --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryBorder: #F0F0F0;
    --buttonSecondaryRadius: 0px;
    --inputG: #E2E2E2;
    --inputBg: #E2E2E2;
    --inputBg2: #d3d3d3;
    --inputBg3: #c3c3c3;
    --inputBgHover: #dadada;
    --inputBg2Hover: #cbcbcb;
    --inputBg3Hover: #bbbbbb;
    --inputTxt: rgba(0, 0, 0, 0.9);
    --inputTxt2: rgba(0, 0, 0, 0.6);
    --inputTxt3: rgba(0, 0, 0, 0.4);
    --inputAccent: #D90038;
    --inputAccentTxt: rgba(255, 255, 255, 0.9);
    --inputRadius: 6px;
    --inputBorder: #F0F0F0;
    --inputSecondaryG: #cbcbcb;
    --inputSecondaryBg: #cbcbcb;
    --inputSecondaryBg2: #bcbcbc;
    --inputSecondaryBg3: #acacac;
    --inputSecondaryBgHover: #c3c3c3;
    --inputSecondaryBg2Hover: #b4b4b4;
    --inputSecondaryBg3Hover: #a4a4a4;
    --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
    --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
    --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
    --inputSecondaryAccent: #D90038;
    --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryRadius: 6px;
    --inputSecondaryBorder: #F0F0F0;
    --headerG: #E4E2E2;
    --headerBg: #E4E2E2;
    --headerBg2: #d5d2d2;
    --headerBg3: #c6c2c2;
    --headerBgHover: #dddada;
    --headerBg2Hover: #cecaca;
    --headerBg3Hover: #bfbaba;
    --headerTxt: rgba(0, 0, 0, 0.9);
    --headerTxt2: rgba(0, 0, 0, 0.6);
    --headerTxt3: rgba(0, 0, 0, 0.4);
    --headerAccent: #D90038;
    --headerAccentTxt: rgba(255, 255, 255, 0.9);
    --headerBorder: #F0F0F0;
    --headerRadius: 0px;
    --subHeaderG: #DCDCDC;
    --subHeaderBg: #DCDCDC;
    --subHeaderBg2: #cdcdcd;
    --subHeaderBg3: #bdbdbd;
    --subHeaderBgHover: #d4d4d4;
    --subHeaderBg2Hover: #c5c5c5;
    --subHeaderBg3Hover: #b5b5b5;
    --subHeaderTxt: rgba(0, 0, 0, 0.9);
    --subHeaderTxt2: rgba(0, 0, 0, 0.6);
    --subHeaderTxt3: rgba(0, 0, 0, 0.4);
    --subHeaderAccent: #D90038;
    --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --subHeaderBorder: #F0F0F0;
    --subHeaderRadius: 0px;
    --eventG: #FFFFFF;
    --eventBg: #FFFFFF;
    --eventBg2: #f0f0f0;
    --eventBg3: #e0e0e0;
    --eventBgHover: #f7f7f7;
    --eventBg2Hover: #e8e8e8;
    --eventBg3Hover: #d8d8d8;
    --eventTxt: rgba(0, 0, 0, 0.9);
    --eventTxt2: rgba(0, 0, 0, 0.6);
    --eventTxt3: rgba(0, 0, 0, 0.4);
    --eventAccent: #D90038;
    --eventAccentTxt: rgba(255, 255, 255, 0.9);
    --eventBorder: #F0F0F0;
    --eventRadius: 0px;
    --modalG: #cdcdcd;
    --modalBg: #cdcdcd;
    --modalBg2: #bebebe;
    --modalBg3: #aeaeae;
    --modalBgHover: #c5c5c5;
    --modalBg2Hover: #b6b6b6;
    --modalBg3Hover: #a6a6a6;
    --modalTxt: rgba(0, 0, 0, 0.9);
    --modalTxt2: rgba(0, 0, 0, 0.6);
    --modalTxt3: rgba(0, 0, 0, 0.4);
    --modalAccent: #D90038;
    --modalAccentTxt: rgba(255, 255, 255, 0.9);
    --modalRadius: 0px;
    --modalBorder: #F0F0F0;
    --oddG: #F0F0F0;
    --oddBg: #F0F0F0;
    --oddBg2: #e1e1e1;
    --oddBg3: #d1d1d1;
    --oddBgHover: #e8e8e8;
    --oddBg2Hover: #d9d9d9;
    --oddBg3Hover: #c9c9c9;
    --oddTxt: rgba(0, 0, 0, 0.9);
    --oddTxt2: rgba(0, 0, 0, 0.6);
    --oddTxt3: rgba(0, 0, 0, 0.4);
    --oddAccent: #D90038;
    --oddAccentTxt: rgba(255, 255, 255, 0.9);
    --oddRadius: 6px;
    --oddBorder: #F0F0F0;
    --oddActiveG: #D90038;
    --oddActiveBg: #D90038;
    --oddActiveBg2: #ff0d4b;
    --oddActiveBg3: #ff265e;
    --oddActiveBgHover: #e8003c;
    --oddActiveBg2Hover: #ff1c56;
    --oddActiveBg3Hover: #ff3569;
    --oddActiveTxt: rgba(255, 255, 255, 0.9);
    --oddActiveTxt2: rgba(255, 255, 255, 0.6);
    --oddActiveTxt3: rgba(255, 255, 255, 0.4);
    --oddActiveAccent: #D90038;
    --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --oddActiveRadius: 6px;
    --oddActiveBorder: #F0F0F0;
    --showMoreG: #F0F0F0;
    --showMoreBg: #F0F0F0;
    --showMoreBg2: #e1e1e1;
    --showMoreBg3: #d1d1d1;
    --showMoreBgHover: #e8e8e8;
    --showMoreBg2Hover: #d9d9d9;
    --showMoreBg3Hover: #c9c9c9;
    --showMoreTxt: rgba(0, 0, 0, 0.9);
    --showMoreTxt2: rgba(0, 0, 0, 0.6);
    --showMoreTxt3: rgba(0, 0, 0, 0.4);
    --showMoreAccent: #D90038;
    --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
    --showMoreRadius: 6px;
    --showMoreBorder: #F0F0F0;
    --tabG: #cdcdcd;
    --tabBg: #cdcdcd;
    --tabBg2: #bebebe;
    --tabBg3: #aeaeae;
    --tabBgHover: #c5c5c5;
    --tabBg2Hover: #b6b6b6;
    --tabBg3Hover: #a6a6a6;
    --tabTxt: rgba(0, 0, 0, 0.9);
    --tabTxt2: rgba(0, 0, 0, 0.6);
    --tabTxt3: rgba(0, 0, 0, 0.4);
    --tabAccent: #D90038;
    --tabAccentTxt: rgba(255, 255, 255, 0.9);
    --tabRadius: 0px;
    --tabBorder: #F0F0F0;
    --tabActiveG: #E4E2E2;
    --tabActiveBg: #E4E2E2;
    --tabActiveBg2: #d5d2d2;
    --tabActiveBg3: #c6c2c2;
    --tabActiveBgHover: #dddada;
    --tabActiveBg2Hover: #cecaca;
    --tabActiveBg3Hover: #bfbaba;
    --tabActiveTxt: rgba(0, 0, 0, 0.9);
    --tabActiveTxt2: rgba(0, 0, 0, 0.6);
    --tabActiveTxt3: rgba(0, 0, 0, 0.4);
    --tabActiveAccent: #D90038;
    --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabActiveRadius: 0px;
    --tabActiveBorder: #F0F0F0;
    --tabSecondaryActiveG: #c5c5c5;
    --tabSecondaryActiveBg: #c5c5c5;
    --tabSecondaryActiveBg2: #b6b6b6;
    --tabSecondaryActiveBg3: #a6a6a6;
    --tabSecondaryActiveBgHover: #bdbdbd;
    --tabSecondaryActiveBg2Hover: #aeaeae;
    --tabSecondaryActiveBg3Hover: #9e9e9e;
    --tabSecondaryActiveTxt: rgba(0, 0, 0, 0.9);
    --tabSecondaryActiveTxt2: rgba(0, 0, 0, 0.6);
    --tabSecondaryActiveTxt3: rgba(0, 0, 0, 0.4);
    --tabSecondaryActiveAccent: #D90038;
    --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveRadius: 0px;
    --tabSecondaryActiveBorder: #F0F0F0;
    --filterG: #cbcbcb;
    --filterBg: #cbcbcb;
    --filterBg2: #bcbcbc;
    --filterBg3: #acacac;
    --filterBgHover: #c3c3c3;
    --filterBg2Hover: #b4b4b4;
    --filterBg3Hover: #a4a4a4;
    --filterTxt: rgba(0, 0, 0, 0.9);
    --filterTxt2: rgba(0, 0, 0, 0.6);
    --filterTxt3: rgba(0, 0, 0, 0.4);
    --filterAccent: #D90038;
    --filterAccentTxt: rgba(255, 255, 255, 0.9);
    --filterRadius: 6px;
    --filterBorder: #F0F0F0;
    --menu_1G: #E4E2E2;
    --menu_1Bg: #E4E2E2;
    --menu_1Bg2: #d5d2d2;
    --menu_1Bg3: #c6c2c2;
    --menu_1BgHover: #dddada;
    --menu_1Bg2Hover: #cecaca;
    --menu_1Bg3Hover: #bfbaba;
    --menu_1Txt: rgba(0, 0, 0, 0.9);
    --menu_1Txt2: rgba(0, 0, 0, 0.6);
    --menu_1Txt3: rgba(0, 0, 0, 0.4);
    --menu_1Accent: #D90038;
    --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_1Radius: 0px;
    --menu_1Border: #F0F0F0;
    --menu_2G: #cecaca;
    --menu_2Bg: #cecaca;
    --menu_2Bg2: #bfbaba;
    --menu_2Bg3: #b1aaaa;
    --menu_2BgHover: #c7c2c2;
    --menu_2Bg2Hover: #b8b2b2;
    --menu_2Bg3Hover: #aaa2a2;
    --menu_2Txt: rgba(0, 0, 0, 0.9);
    --menu_2Txt2: rgba(0, 0, 0, 0.6);
    --menu_2Txt3: rgba(0, 0, 0, 0.4);
    --menu_2Accent: #D90038;
    --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_2Radius: 0px;
    --menu_2Border: #F0F0F0;
    --menu_3G: #c6c2c2;
    --menu_3Bg: #c6c2c2;
    --menu_3Bg2: #b7b2b2;
    --menu_3Bg3: #a8a2a2;
    --menu_3BgHover: #bfbaba;
    --menu_3Bg2Hover: #b0aaaa;
    --menu_3Bg3Hover: #a19a9a;
    --menu_3Txt: rgba(0, 0, 0, 0.9);
    --menu_3Txt2: rgba(0, 0, 0, 0.6);
    --menu_3Txt3: rgba(0, 0, 0, 0.4);
    --menu_3Accent: #D90038;
    --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_3Radius: 0px;
    --menu_3Border: #F0F0F0;
    --tooltipG: #cdcdcd;
    --tooltipBg: #cdcdcd;
    --tooltipBg2: #bebebe;
    --tooltipBg3: #aeaeae;
    --tooltipBgHover: #c5c5c5;
    --tooltipBg2Hover: #b6b6b6;
    --tooltipBg3Hover: #a6a6a6;
    --tooltipTxt: rgba(0, 0, 0, 0.9);
    --tooltipTxt2: rgba(0, 0, 0, 0.6);
    --tooltipTxt3: rgba(0, 0, 0, 0.4);
    --tooltipAccent: #D90038;
    --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --tooltipRadius: 0px;
    --tooltipBorder: #F0F0F0;
    /* Old betslip */
    --betSlipBg: #cdcdcd;
    --betSlipBg2: #bebebe;
    --betSlipBorder: #F0F0F0;
    --betSlipTxt: rgba(0, 0, 0, 0.9);
    --betSlipTxt2: rgba(0, 0, 0, 0.6);
    --betSlipStakeG: #c5c5c5;
    --betSlipStakeBg: #c5c5c5;
    --betSlipStakeTxt: rgba(0, 0, 0, 0.9);
    --betSlipStakeTxt2: rgba(0, 0, 0, 0.6);
    --betSlipInputG: #c5c5c5;
    --betSlipInputTxt: rgba(0, 0, 0, 0.9);
    --betSlipButtonG: #c5c5c5;
    --betSlipButtonBg2: #b6b6b6;
    --betSlipButtonTxt: rgba(0, 0, 0, 0.9);
    --betSlipButtonRadius: 0px;
    --spritePositionX: 0px;
    --menuItemActiveTxt: var(--bodyTxt2);
    --menuItemTxt: var(--bodyTxt);
}
  
  /*--*/

  /* PlanetBets365 */


[class^='digi_tournament_']:before, [class*='digi_tournament_']:before {
    background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
    margin-top: 0;
}

.tg__multi_game {
    padding: 0 !important;
}

.tg_input::placeholder {
    color: var(--inputTxt2);
}
/* - - - - body - - - - */

body,
.tg_bg,
.tg__result_item {
    background-color: var(--bodyBg);
    color: var(--bodyTxt);
}

.paperView .champ_list:last-child,
.tg--border-bot-1 {
    border-color: var(--bodyBg);
}

.tg--pos_comb_row {
    border-color: var(--modalBorder);
}

.tg__one_game,
.tg__match_item_stake {
    border-color: var(--eventBorder);
}

.tg__one_game_score {
    color: var(--eventAccent) !important;
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
    background-color: var(--bodyBg);
}

.tg__btn-action {
    background: var(--buttonG) !important;
    color: var(--buttonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header {
    background-color: var(--headerG);
    color: var(--headerTxt);
}

.tg__multiview_content {
    background-color: var(--eventG);
    color: var(--eventTxt);
}

.tg-hero {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg-bg_transparent {
    background-color: var(--dominantRGBA2);
    border: 1px solid var(--dominantRGBA3);
    border-radius: var(--dominantRadius);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
    background: var(--menu_1G);
    color: var(--menu_1Txt);
    border-color: var(--menu_1Border);
}

    .tg__left_menu_item--lvl1:hover {
        background: var(--menu_1BgHover);
        color: var(--menu_1Txt);
    }

    .tg__left_menu_item--lvl1 .tg__left_menu_item_text {
        color: var(--menu_1Txt);
    }

    .tg__left_menu_item--lvl1 .tg-ico-arrow {
        color: var(--menu_1Txt3);
    }

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: var(--dominantTxt2);
}

    .ss__step_slider .ss__slider:hover {
        background: var(--accentBg);
    }

.ss__step_slider .ss__ruller > .off {
    background: var(--dominantBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
    background: var(--menu_2G);
    color: var(--menu_2Txt);
    border-color: var(--menu_2Border);
}

    .tg__left_menu_item--lvl2:hover {
        background: var(--menu_2BgHover);
        color: var(--menu_2Txt);
    }

    .tg__left_menu_item--lvl2 .tg__left_menu_item_text {
        color: var(--menu_2Txt);
    }

    .tg__left_menu_item--lvl2 .tg-ico-arrow {
        color: var(--menu_2Txt3);
    }

/* africanView */
.africanView .SBhead {
    background: var(--headerG);
    color: var(--headerTxt);
}

.africanView .gameContentTitle {
    background: var(--bodyBg);
    color: var(--bodyTxt);
}

.africanView .champCont {
    background: var(--eventG);
    color: var(--eventTxt);
}

.africanView .tg_left_tabs {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
    color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading {
    background: var(--menu_3G);
    color: var(--menu_3Txt);
    border-color: var(--menu_3Border);
}

.live_menu_item_left_header {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
}

.live_menu_item_left {
    border-color: var(--menu_3Border);
}

.tg__left_menu_item--lvl3 .tg__left_menu_item_text {
    color: var(--menu_3Txt);
}

.tg__left_menu_item--lvl3 .tg-ico-arrow {
    color: var(--menu_3Txt3);
}

.dg_game_tabs {
    padding: 0 var(--headerRadius);
}

/* - - - - Passive Tab - - - - */
.tab_selector {
    background: var(--tabG);
    color: var(--tabTxt2);
    border-top-left-radius: var(--tabRadius);
    border-top-right-radius: var(--tabRadius);
}

.sportLeftPane .tab_selector {
    background: var(--tabG);
    color: var(--tabTxt);
}

.tg__coupon_tabs_cont {
    padding-top: 2px;
    margin-bottom: 2px;
}

.tab_cupon {
    background: var(--tabG);
    color: var(--tabTxt2);
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: var(--tabActiveG);
        color: var(--tabActiveTxt);
    }

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_subheader_btn,
.tg__live_filter_item {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
}

.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value,
.tg__results .tg_input {
    background: var(--filterG);
    color: var(--filterTxt);
    border-radius: var(--filterRadius);
}

    .tg__results .tg_input::placeholder {
        color: var(--filterTxt2);
    }

    .tg__results .tg_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--filterTxt2);
    }

    .tg__results .tg_input::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--filterTxt2);
    }

.tg__results_header .tg__dropdown_content,
.tg__calendar_header .tg__dropdown_content {
    background: var(--filterBg);
}

.tg__results_header .tg__dropdown__item,
.tg__calendar_header .tg__dropdown__item {
    background: var(--filterBg2);
    color: var(--filterTxt2);
}

    .tg__results_header .tg__dropdown__item:hover,
    .tg__calendar_header .tg__dropdown__item:hover {
        background: var(--filterBg2Hover);
        color: var(--filterTxt);
    }

.tg__live_filter_item.checked {
    background: var(--tabG);
    color: var(--tabTxt);
}

.tg__dropdown_control {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
}

.tg__step_slider {
    border-color: var(--menu_1Border);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
    background: var(--headerG);
    color: var(--headerTxt);
    border-top-left-radius: var(--headerRadius);
    border-top-right-radius: var(--headerRadius);
}

    .gameContentTitle .tg-ico-arrow {
        color: var(--headerTxt3);
    }

/* africanView */
.africanView .tg--home2__stakeItem {
    background: var(--tabG);
    color: var(--tabTxt);
}

.africanView .champCont {
    margin: 0px;
}

.tg--selected_prem_game {
    border: 0;
}

.tg__list_row {
    margin: 0;
    border-top: 1px solid var(--bodyBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
    background: var(--menu_1Bg);
    color: var(--menu_1Txt2);
    border-color: var(--menu_1Border);
}

    .ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
        background: var(--menu_1BgHover);
    }

.tg_bet_history_order_row .tg-clr-akcent {
    color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
    background: var(--menu_3Bg);
    color: var(--menu_3Txt2);
    border-color: var(--menu_3Border);
}

    .tg_bet_history_order_row_sub:nth-child(Odd) {
        background: var(--menu_3BgHover);
    }

/* - - - - SubHeader - - - - */
.tg__calendar_header,
.tg__calendar_cont,
.tg__res_rus,
.overViewDataDanel .tg__btn_arrow {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
    border-top-left-radius: var(--subHeaderRadius);
    border-top-right-radius: var(--subHeaderRadius);
}

.tg__results_header {
    background: var(--filterBg2);
    color: var(--filterTxt);
}

.tg__home_game_heading {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.tg_onegame_chb,
.news_slider .oddsContainer {
    background: var(--eventG);
    color: var(--eventTxt2);
}

.dg1 {
    background: var(--eventG);
    color: var(--eventTxt2);
    margin-bottom: 0;
    border-bottom: 1px solid var(--eventBorder);
}

.tg__one_game:hover {
    background: var(--eventBgHover);
    color: var(--eventTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
    background: var(--modalBg);
    color: var(--modalTxt);
    border-radius: var(--modalRadius);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header,
.tg__modal_header-sm {
    background: var(--modalBg2);
    color: var(--modalTxt);
    border-top-left-radius: var(--modalRadius);
    border-top-right-radius: var(--modalRadius);
}

.tg__custom-range-slider {
    color: var(--accentBg);
}

.tg--close {
    background: var(--bodyBg);
    color: var(--bodyTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
    border-radius: var(--inputSecondaryRadius);
}

.ui--dominant-content {
    border-color: var(--dominantBg2);
    background: var(--dominantBg);
    color: var(--dominantTxt);
}

.ui--dominant-header {
    border: 0;
    background: var(--dominantG);
    color: var(--dominantTxt);
}

    .ui-state-default,
    .ui--dominant-content .ui-state-default,
    .ui--dominant-header .ui-state-default,
    .ui-datepicker-title select,
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-nex {
        border: 0;
        background: var(--bodyBg);
        color: var(--bodyTxt);
    }

    .ui-state-highlight,
    .ui--dominant-content .ui-state-highlight,
    .ui--dominant-header .ui-state-highlight,
    .ui-state-active,
    .ui--dominant-content .ui-state-active,
    .ui--dominant-header .ui-state-active,
    .ui-datepicker-calendar .ui-state-hover {
        background: var(--accentG);
        color: var(--accentTxt);
    }

.tg__btn-text {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
}

.tg__one_game_team {
    color: var(--eventTxt);
}

.tg__one_game_col,
.tg__one_game_icons,
.tg__one_game .maIcons {
    color: var(--eventTxt2);
}

.tg__one_game .tg__home_game_time {
    color: var(--eventTxt3);
}

.posCombItem {
    background: var(--eventBg);
    color: var(--eventTxt);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
    background: var(--oddG);
    color: var(--oddTxt);
    border: 1px solid var(--oddBorder);
    border-radius: var(--oddRadius);
}

/* - - - - Show More - - - - */
.tg__more {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
    border-radius: var(--showMoreRadius);
    border: 1px solid var(--showMoreBorder);
}

    .tg__more:hover {
        background: var(--showMoreBg2);
        color: var(--showMoreTxt);
        border-radius: var(--showMoreRadius);
        border-color: var(--showMoreBorder);
    }

/* - - - - Betslip Header - - - - */
.tg__block_header {
    background: var(--dominantBg2);
    color: var(--dominantTxt);
}

/* - - - - Accent - - - - */
.liveGameSelected .liveSportNamesContainer,
.tg_widget_text_akcent {
    color: var(--accentBg);
}

.left_menu_line_active .tg__left_menu_item_text {
    color: var(--menu_3Accent);
}


.tg_sidebar_text_akcent {
    color: var(--menu_1Accent);
}

.tg_sidebar_bg_2 .tg_sidebar_text_akcent {
    color: var(--menu_2Accent);
}

.tg_sidebar_bg_3 .tg_sidebar_text_akcent {
    color: var(--menu_3Accent);
}

.liveGameSelected .tg__left_menu_item--lvl3 .liveSportNamesContainer {
    color: var(--menu_3Accent);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
    border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active,
.tg-ico-fav--active {
    color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
    color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd {
    background: var(--oddActiveG);
    color: var(--oddActiveTxt);
    border-radius: var(--oddActiveRadius);
    border-color: var(--oddActiveBorder);
}

.tg__btn-ternary {
    background: var(--buttonG);
    color: var(--buttonTxt);
}

.tabSelectorHeading {
    color: var(--bodyAccent);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background: var(--eventAccent);
    color: var(--eventAccentTxt);
    border-radius: var(--eventRadius);
}

/* - - - - BetSlip - - - - */
.tg__coupon .tg--coupon-bg {
    background: var(--betSlipBg);
    color: var(--betSlipTxt2)
}

.tg--coupon-bg {
    background: var(--dominantBg);
    color: var(--dominantTxt);
}

#info_panel_block .selectorWrapper {
    background: var(--dominantBg2);
    color: var(--dominantTxt);
}

.tg__info_panel .selectorWrapper {
    background: var(--betSlipBg2);
    color: var(--betSlipTxt);
}

.stake_item_panel {
    background: var(--betSlipStakeG);
    color: var(--betSlipStakeTxt2);
    border-color: var(--betSlipBorder);
    border-top: 0;
}

.coupon_sport_name_container {
    color: var(--betSlipStakeTxt);
}

.tg__btn.tg__btn-coupon {
    background: var(--betSlipButtonG);
    color: var(--betSlipButtonTxt);
    border-radius: var(--betSlipButtonRadius);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, #bookingBody {
    background: var(--modalG);
    color: var(--modalTxt);
}

.bet_generator_wrapper, .scout_panel, #betcheckerWrapper, .player_panel {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg_coin {
    background: var(--accentBg);
    color: var(--accentTxt);
}

.tg__match_item_btn {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
    border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
    color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
    background: var(--inputSecondaryBorder);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
}

.sportRightPane .tg_input {
    border-radius: var(--inputSecondaryRadius);
}

.tg__dropdown__item:hover {
    background: var(--inputSecondaryBg2);
}

.sportRightPane .tg_input::placeholder {
    color: var(--inputSecondaryTxt2);
}

.tg__search_cont .tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.tg__search_cont .tg__input::placeholder {
    color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
    color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
    background: var(--betSlipInputG);
    color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.tg__btn {
    border-radius: var(--buttonRadius);
}

/* - - - - Accent - - - - */
.liveGameSelected .liveSportNamesContainer,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__btn-coupon:hover {
    color: var(--accentBg);
}

.tg_score.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg__coupon_square {
    background: var(--betSlipInputG);
}

.tg__coupon_factor {
    background: var(--betSlipButtonBg2);
    color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__badge_live {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg-ico-date {
    color: var(--filterTxt);
}

.tg__switch input:checked + .tg__switch_ico {
    background: var(--accentBg);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #fff;
    }



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
    background: transparent !important;
    color: var(--modalTxt);
}




.paperView .es__home_bet_header {
    background: var(--headerG);
    color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: var(--oddG);
    color: var(--oddTxt);
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: var(--oddActiveG);
        color: var(--oddActiveTxt);
    }

.showC {
    background: var(--menu_1G);
    color: var(--menu_1Txt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
    background-color: var(--dominantBg);
    color: var(--dominantTxt2);
}

    .es__express_slider_arrow:hover {
        background-color: var(--dominantBg2);
        color: var(--dominantTxt);
    }

.tg__exp_of_day_one_game {
    background-color: var(--eventG);
    color: var(--eventTxt2);
    border-bottom: 1px solid var(--eventBorder) !important;
}

.es__total_odd_container .tg-clr-secondary {
    color: var(--eventTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
    color: var(--eventTxt);
}

.es__express_day_odd {
    border-color: var(--eventBorder);
    color: var(--eventTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
    background-color: var(--eventBg2);
    color: var(--eventTxt2);
}

    .es__bonus_odd_container i,
    .es__express_day_odd--total {
        color: var(--accentBg);
    }

.es__express_day_coupon {
    background-color: var(--eventBg);
    color: var(--eventTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
    color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--dominantBg3Hover);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
    border-bottom: 6px solid var(--tabActiveBg);
}

.tg--calendar-tab {
    border-bottom: 6px solid var(--tabActiveBg);
}

.live_calendar .body_panel {
    height: calc((100%) - 92px);
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--dominantBg3Hover);
}

/*stakes event list*/
.tg__match_header {
    background: var(--headerG);
    color: var(--headerTxt2);
    border-bottom: 1px solid var(--headerBorder);
    border-top-left-radius: var(--headerRadius);
    border-top-right-radius: var(--headerRadius);
}

.tg__prematch_header {
    background: var(--headerG);
    color: var(--headerTxt2);
    border-radius: var(--headerRadius);
}

.tg__match_header .tg__teams {
    color: var(--headerTxt);
}

.tg__multibet_heading {
    border-bottom: 1px solid var(--subHeaderBorder);
}

.tg__live_list_header {
    background: var(--headerG);
    color: var(--headerTxt2);
}

    .tg__live_list_header .sport_type {
        color: var(--headerTxt);
    }

.overviewEventBody {
    background: var(--eventG);
    color: var(--eventTxt2);
}

.tg__score_box {
    background: var(--eventBg2);
    color: var(--accentBg);
}

.overviewEventBody .tg_team_name {
    color: var(--eventTxt);
}

.globalInactiveState {
    background: var(--bodyRGBA);
}



/*Search page*/
.sr-odd {
    border: 1px solid var(--oddBorder);
    border-radius: var(--oddRadius);
}

    .sr-odd.selected,
    .sr-odd:hover {
        border-radius: var(--oddActiveRadius);
        border: 1px solid var(--oddActiveBorder);
    }

