:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#021e01;
--bodyBg2:#054f03;
--bodyBg3:#076803;
--bodyBgHover:#032d01;
--bodyBg2Hover:#065e04;
--bodyBg3Hover:#087703;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#f3a817;
--bodyAccentTxt:#000;
--bodyBorder:#032d01;
--bodyG:#021e01;
--bodyRGBA:rgba(2, 30, 1, 0.7);
--bodyRGBA2:rgba(2, 30, 1, 0.5);
--bodyRGBA3:rgba(2, 30, 1, 0.3);
--dominantBg:#2a2a2a;
--dominantBg2:#434343;
--dominantBg3:#505050;
--dominantBgHover:#323232;
--dominantBg2Hover:#4b4b4b;
--dominantBg3Hover:#585858;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#f4de00;
--dominantAccentTxt:#000;
--dominantBorder:#323232;
--dominantG:#2a2a2a;
--dominantRGBA:rgba(42, 42, 42, 0.7);
--dominantRGBA2:rgba(42, 42, 42, 0.5);
--dominantRGBA3:rgba(42, 42, 42, 0.3);
--accentBg:#f4de00;
--accentBg2:#c1b000;
--accentBg3:#a79800;
--accentBgHover:#e5d000;
--accentBg2Hover:#b2a200;
--accentBg3Hover:#988a00;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#e5d000;
--accentG:#f4de00;
--inputBg:#131313;
--inputBg2:#2c2c2c;
--inputBg3:#393939;
--inputBgHover:#1b1b1b;
--inputBg2Hover:#343434;
--inputBg3Hover:#414141;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#f4de00;
--inputAccentTxt:#000;
--inputBorder:#1b1b1b;
--inputG:#131313;
--inputSecondaryBg:#373737;
--inputSecondaryBg2:#505050;
--inputSecondaryBg3:#5d5d5d;
--inputSecondaryBgHover:#3f3f3f;
--inputSecondaryBg2Hover:#585858;
--inputSecondaryBg3Hover:#656565;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#f4de00;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#2a2a2a;
--headerBg:#2a2a2a;
--headerBg2:#434343;
--headerBg3:#505050;
--headerBgHover:#323232;
--headerBg2Hover:#4b4b4b;
--headerBg3Hover:#585858;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#f4de00;
--headerAccentTxt:#000;
--headerBorder:#323232;
--headerG:#2a2a2a;
--subHeaderBg:#131313;
--subHeaderBg2:#2c2c2c;
--subHeaderBg3:#393939;
--subHeaderBgHover:#1b1b1b;
--subHeaderBg2Hover:#343434;
--subHeaderBg3Hover:#414141;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#f4de00;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#1b1b1b;
--subHeaderG:#131313;
--eventBg:#2a2a2a;
--eventBg2:#434343;
--eventBg3:#505050;
--eventBgHover:#323232;
--eventBg2Hover:#4b4b4b;
--eventBg3Hover:#585858;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#f4de00;
--eventAccentTxt:#000;
--eventBorder:#323232;
--eventG:#2a2a2a;
--buttonBg:#f3a817;
--buttonBg2:#cc8a0b;
--buttonBg3:#b47a09;
--buttonBgHover:#eea10c;
--buttonBg2Hover:#bd800a;
--buttonBg3Hover:#a57008;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#c1b000;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#eea10c;
--buttonG:#f3a817;
--buttonSecondaryBg:#373737;
--buttonSecondaryBg2:#505050;
--buttonSecondaryBg3:#5d5d5d;
--buttonSecondaryBgHover:#3f3f3f;
--buttonSecondaryBg2Hover:#585858;
--buttonSecondaryBg3Hover:#656565;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#c1b000;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#3f3f3f;
--buttonSecondaryG:#2a2a2a;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#f4de00;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#021e01;
--oddBg2:#054f03;
--oddBg3:#076803;
--oddBgHover:#032d01;
--oddBg2Hover:#065e04;
--oddBg3Hover:#087703;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#f4de00;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#021e01;
--oddActiveBg:#f3a817;
--oddActiveBg2:#cc8a0b;
--oddActiveBg3:#b47a09;
--oddActiveBgHover:#eea10c;
--oddActiveBg2Hover:#bd800a;
--oddActiveBg3Hover:#a57008;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#f3a817;
--oddActiveG:#f3a817;
--showMoreBg:#131313;
--showMoreBg2:#2c2c2c;
--showMoreBg3:#393939;
--showMoreBgHover:#1b1b1b;
--showMoreBg2Hover:#343434;
--showMoreBg3Hover:#414141;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#f4de00;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#131313;
--showMoreG:#131313;
--tabBg:#131313;
--tabBg2:#2c2c2c;
--tabBg3:#393939;
--tabBgHover:#1b1b1b;
--tabBg2Hover:#343434;
--tabBg3Hover:#414141;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#f4de00;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#1b1b1b;
--tabG:#131313;
--tabActiveBg:#2a2a2a;
--tabActiveBg2:#434343;
--tabActiveBg3:#505050;
--tabActiveBgHover:#323232;
--tabActiveBg2Hover:#4b4b4b;
--tabActiveBg3Hover:#585858;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#f4de00;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#323232;
--tabActiveG:#2a2a2a;
--tabSecondaryActiveBg:#202020;
--tabSecondaryActiveBg2:#393939;
--tabSecondaryActiveBg3:#464646;
--tabSecondaryActiveBgHover:#282828;
--tabSecondaryActiveBg2Hover:#414141;
--tabSecondaryActiveBg3Hover:#4e4e4e;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#f4de00;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#131313;
--filterBg:#3c3c3c;
--filterBg2:#555555;
--filterBg3:#626262;
--filterBgHover:#444444;
--filterBg2Hover:#5d5d5d;
--filterBg3Hover:#6a6a6a;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#f4de00;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#444444;
--filterG:#2a2a2a;
--menu_1Bg:#2a2a2a;
--menu_1Bg2:#434343;
--menu_1Bg3:#505050;
--menu_1BgHover:#323232;
--menu_1Bg2Hover:#4b4b4b;
--menu_1Bg3Hover:#585858;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#f4de00;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#323232;
--menu_1G:#2a2a2a;
--menu_2Bg:#404040;
--menu_2Bg2:#595959;
--menu_2Bg3:#666666;
--menu_2BgHover:#484848;
--menu_2Bg2Hover:#616161;
--menu_2Bg3Hover:#6e6e6e;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#f4de00;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#484848;
--menu_2G:#404040;
--menu_3Bg:#4d4d4d;
--menu_3Bg2:#666666;
--menu_3Bg3:#737373;
--menu_3BgHover:#555555;
--menu_3Bg2Hover:#6e6e6e;
--menu_3Bg3Hover:#7b7b7b;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#f4de00;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#555555;
--menu_3G:#4d4d4d;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#f4de00;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#999999;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #021e01;
    --primaryBg3: #021e01;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #f4de00;
    --accentG: #f4de00;
    --accentRGBA: rgba(244, 222, 0, 0.6);
    --accentTxt: #000;

    --brandG: #f3a817;
    --brandBg: #f3a817;
    --brandTxt: #000;

    --actionButtonG: #f4de00;
    --actionButtonTxt: #000;

    --widgetG: #2a2a2a;
    --widgetBg: #2a2a2a;
    --widgetBgHover: #1d1d1d;
    --widgetBg2: #101010;
    --widgetBg2Hover: #030303;
    --widgetBg3: #292929;
    --widgetBg3Hover: #1c1c1c;
    --widgetRGBA: rgba(42, 42, 42, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #021e01;
    --oddBg: #021e01;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #f3a817;
    --oddActiveBg: #f3a817;
    --oddActiveBg2: #cc8a0b;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #131313;
    --showMoreBg: #131313;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #2a2a2a;
    --headerBg: #2a2a2a;
    --headerTxt: #fff;

    --popupHeaderG: #2a2a2a;
    --popupHeaderBg: #2a2a2a;
    --popupHeaderTxt: #fff;

    --popupBg: #2a2a2a;
    --popupG: #2a2a2a;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #131313;
    --tabBg: #131313;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #2a2a2a;
    --activeTabBg: #2a2a2a;
    --activeTabTxt: #fff;

    --sideBarTabG: #131313;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #2a2a2a;
    --sideBarActiveTabTxt: #fff;

    --inputG: #131313;
    --inputBg: #131313;
    --inputBg2: #2c2c2c;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#999999;
    --menuItemTxt:#fff;

}
/*---*/


/*MsBahis skinning*/

.sportLeftPane .selectorWrapper {
	margin-bottom: 1px;
}
/*coupon*/
.tg_widget_bg_2 {
	background: #2a2a2a;
	color: #fff;
}

.tg--cashout-body, .tg__cashout_popup, .booking_number {
	background-color: #2a2a2a;
	color: #fff;
}

.tg--coupon-bg {
	background: #2a2a2a;
	color: #999999;
}

.stake_item_panel {
	background: #131313;
	color: #999999;
	border-color: #2a2a2a;
}

.coupon_sport_name_container {
	color: #fff;
}
/*input inside widgetBg3*/
.tg_widget_bg_2 .tg__dropdown_coupon {
	background-color: #2a2a2a;
	color: #cccccc;
}

.tg__btn-coupon {
	background-color: #021E01;
	color: #999999;
}

	.tg__btn-coupon:hover {
		color: #f4de00;
		box-shadow: 0 0 3px 0 #f4de00;
	}

.tg__coupon .tg_input {
	background-color: #131313;
	color: #fff;
}

.tab_cupon {
	background-color: #131313;
	color: #666666;
}

	.tab_cupon.tab_selected,
	.tab_cupon:hover {
		background-color: #2A2A2A;
		color: #fff;
	}

.tg__coupon_tabs_cont {
	border-bottom: 2px solid #2A2A2A;
}

.tg__coupon_factor,
.tg__coupon_square {
	background-color: #2a2a2a;
	color: #fff;
}

/*mainBg*/
.tg_bg,
.tg__modal_close,
.tg--close,
.tg__info_panel .selector_panel {
	background-color: #021e01;
	color: #fff;
}

.tg__info_panel .selector_panel {
	background-color: #131313;
}

.gameContentTitle.tg_widget_header {
	background: #2a2a2a;
	color: #fff;
}

	.gameContentTitle.tg_widget_header .tg-ico-arrow {
		color: #fff;
	}

.tg_widget_heading {
	background: #131313;
	color: #fff;
}

/*sidebar*/
.tg__left_menu_item:hover {
	background: #2f2f2f;
}

.tg__left_menu_item.tg__left_menu_item-active {
	background: #f4de00;
	color: #000;
}

.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text {
	color: #f4de00;
}

.tg__left_menu_item.tg__left_menu_item-active .tg_sidebar_text_akcent,
.liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent,
.left_menu_line_active .tg_sidebar_text_akcent {
	color: #f4de00;
}

.tg_sidebar_text_akcent,
.tg-bg_transparent .teamName,
.tg-bg_transparent .tg_team_name,
.tg__open_event_img .tg-clr-akcent2.tg_score {
	color: #f4de00;
}

.tg__left_menu_item--lvl1 {
	background: #2a2a2a;
	color: #fff;
}

.tg__left_menu_item--lvl2 {
	background: #404040;
	color: #cccccc;
}

.tg__left_menu_item--lvl3 {
	background: #4d4d4d;
	color: #cccccc;
}

.live_sport_list .tg__left_menu_item--lvl3 {
	background-color: #131313;
}

.live_sport_list .tg--left_live_odds {
	background-color: #2A2A2A;
}

.live_menu_item_left_header {
	background-color: #021e01;
}
/*end of sidebar*****************************************/
.tg--issue {
	background-color: #fff;
	color: #000;
}

.tg__left_menu_item,
.live_menu_item_left {
	border-bottom-color: #021e01;
}

.tsModalContent,
.tg__dropdown_content,
.tg__modal_big,
.tg--express_combination {
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
}

.tg__banner__date {
	color: #cccccc;
}

.tg_team_name,
.tg__open_event_img .title {
	color: #cccccc;
}

.tab_selector {
	background-color: #131313;
	color: #fff;
}

.ss__step_slider .ss__ruller > div.off {
	background-color: #021e01;
}

#line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper {
	background-color: #021e01;
}

.tg__banner__heading,
.tg__open_event_img .tg_score {
	color: #fff;
}

.tab_selector.tab_selector_active,
.tab_selector:hover {
	background: #2a2a2a;
	color: #fff;
}

.tg__step_slider,
.tg_widget_bg {
	background-color: #2a2a2a;
	color: #cccccc;
}

.tg_subheader_btn,
.tg__live_filter_item.checked {
	background: #2A2A2A;
	color: #999999;
}

.tg__one_game,
.live_menu_item,
.tg__multi_game,
.prematch_event_odds_container {
	background: #2a2a2a;
	color: #fff;
}

.tg__one_game_team {
	color: #fff;
}

.tg_widget_row {
	border-bottom: 1px solid #021e01;
}

.tg__match_item_stake,
.tg--pos_comb_row,
.tg__coupon_switches .tg__switch_cont,
.tg--border-bot-1 {
	border-color: #021e01;
}

/*sidebar*/
.tg_sidebar_bg_2.tg__step_slider {
	background-color: #131313;
	color: #fff;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #fff;
}

.tg_widget_header {
	background-color: #2a2a2a;
	color: #fff;
}

	.tg_widget_header .tg-ico-arrow {
		color: #fff;
	}

.tg_widget_sub_row,
.tg_input,
.posCombItem,
.tg__slider__btn:hover,
#calc_new .tg__btn {
	background-color: #393939;
	color: #cccccc;
}

.calc_content, .simpleCalc {
	background-color: #2a2a2a;
}

.tg_input_coupon_amount {
	color: #fff;
}

	.tg__dropdown__item:hover,
	.tg__dropdown__item.activeItem {
		color: #fff;
	}

.tg__input:focus,
.tg_input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px undefined;
}

.tg__modal_wrapper {
	background-color: undefined;
}

.tg-ico-date {
	color: #fff;
}

.tg__score_box {
	background-color: #021e01;
}

.tg__more {
	background: #131313;
	color: #fff;
}

	.tg__more:hover {
		background: #131313;
		color: #f4de00;
	}

.tg--cashout-row,
.tg--cashout-pagination-item,
.tg__prematch_header.tg_widget_bg,
.lineEventHeaderWide.tg_widget_bg,
.tg__live_list_header.tg_widget_header,
.tg__multiview_header.tg_widget_header,
.tg__calendar_header.tg_widget_heading,
.tg__results_header.tg_widget_bg {
	background-color: #2a2a2a;
	color: #fff;
}

.tg__results_header .tg__dropdown_control,
.tg__calendar_header .tg__dropdown_control {
	background-color: #393939;
}

.tg__bet_history .tg__dropdown_control,
.tg__bet_history .tg_input {
	background-color: #131313;
}

.tg__calendar_header {
	margin-bottom: 1px;
}

.tg__match_header.tg_widget_header {
	background-color: #131313;
}
.tg_widget_header_2 {
	background-color: #2a2a2a;
}

.tg__multiview_header.tg_widget_header .tg__one_game_team {
	color: #fff;
}

.tg_widget_header_2 .tab_selector_active {
	background: #2a2a2a !important;
	color: #fff !important;
}

.tg__accordion__header,
.tg__info_panel .tg_betslip_header {
	background: #131313;
	color: #fff;
}

.l_od,
.l_od_empty {
	background: #021e01;
	color: #fff;
}

	.l_od:hover,
	.odCnt:hover .l_od,
	.l_od.selectedOdd, .tg--cashout-item-cashout, .tg--cashout-pagination-item.active {
		background: #f3a817;
		color: #000;
	}

.tab_selector.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tab_selector .tg__badge_live {
	background-color: #2a2a2a;
	color: #cccccc;
}

.tg_widget_tab_text,
.tg__srv {
	color: #f3a817;
}

.tg__fix_btn {
	color: #fff;
}

.tg_widget_bg_2 .tg__fix_btn {
	color: #fff;
}

.tg_widget_text_akcent {
	color: #f4de00;
}

.tg__fix_btn.checked {
	color: #f4de00;
}

.tg_widget_bg .tg-ico.active {
	color: #f4de00 !important;
}

#calc_new .tg__btn-ternary,
.tg__btn-ternary {
	background: #f3a817;
	color: #000;
}

.tg_widget_bg .tg__btn .tg-ico {
	color: #000;
}

#calc_new .tg__btn-ternary:hover,
.tg__btn-ternary:hover {
	background-color: #f4b334;
	color: #000;
}

.digi_scroll_dragger {
	background-color: #f4de00;
}

.tg_widget_row .tg__one_game_icons,
.tg_widget_row .tg__home_game_time,
.tg-ico-arrow {
	color: #cccccc;
}

.tg-bg_transparent {
	background-color: rgba(0, 0, 0, 0.5);
}

.tg__switch .tg__switch_ico {
	background-color: #999;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}

.tg__switch input:checked + .tg__switch_ico:before {
	background: #f3a817;
}

.tg__step_slider {
	background-color: #131313;
}
/*calendar*/
.ui-widgetBg-content {
	background: #393939;
	color: #cccccc;
}

.ui-widgetBg-header {
	background: #393939;
	color: #cccccc;
}

	.ui-state-default, .ui-widgetBg-content .ui-state-default, .ui-widgetBg-header .ui-state-default {
		background: #414141;
		color: #cccccc;
	}

	.ui-state-highlight, .ui-widgetBg-content .ui-state-highlight, .ui-widgetBg-header .ui-state-highlight {
		background: #f3a817;
		color: #000;
	}

	.ui-state-active, .ui-widgetBg-content .ui-state-active, .ui-widgetBg-header .ui-state-active {
		background-color: #f4b334;
		color: #000;
	}
/*calendar end*/
.tg__btn,
.l_od_empty,
.l_od,
.tg__dropdown_value,
.tg__dropdown_content,
.tg__dropdown_control,
.tg_input {
	border-radius: 2px;
}

.tg__input,
.tg__input-ico {
	background: #131313;
	color: #999999;
}

@keyframes lightbox {
	from {
		color: #fff;
	}

	to {
		color: #f3a817
	}
}

.tg__tournament_ico_switch .tg__switch_text:before {
	color: #f3a817
}

.tg_coin {
	background: #f3a817;
	color: #000;
}

.tg__match_item_btn {
	background-color: #021e01;
	color: #fff;
}

.overviewEventSlider .tg__btn_arrow {
	background-color: #2a2a2a;
	color: #fff;
}

/* Bet history */
.tg__bet_history_row .tg-clr-akcent,
.tg__list_row_sub .tg-clr-akcent2,
.tg__partial_cashout--icon,
.tg-ico-cheque_redact.tg-clr-akcent2 {
	color: #f4de00;
}

.tg__bet_history .tg__list_row.tg_sticky_bot {
	background-color: #021e01;
}

/* book a bet skinning */
.tg__modal_book_bet {
	background-color: #2a2a2a;
	color: #cccccc;
}

	.tg__modal_book_bet .tg__modal_header {
		background-color: #2a2a2a;
		color: #fff;
	}

	.tg__modal_book_bet .tg__list_bg {
		background-color: #021e01;
	}

	.tg__modal_book_bet .tg__list_row {
		background-color: #393939;
	}

		.tg__modal_book_bet .tg__list_row:nth-child(even) {
			background-color: #2a2a2a;
		}

	.tg__modal_book_bet .tg__border--color-akcent {
		border-color: #f3a817;
	}

	.tg__modal_book_bet .tg-clr-akcent {
		color: #f3a817;
	}

/* Right banner styles */
.tg__custom_rightBanner_line,
.tg__custom_rightBanner_desc {
	border-top-color: #f3a817;
}

.tg__rightBanner_seeMore {
	background: #f3a817;
	color: #000;
}

.component_tax_data {
	background-color: #021e01;
	color: #cccccc;
}

	.component_tax_data .tg-ico {
		color: #f4de00;
	}

.component_tax_data_wrapper .component_tax_data_row strong {
	color: #fff;
}

.tg__show_title[data-title]:hover:after {
	background-color: #021e01;
	color: #fff;
}

.tg_badge_transparent {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

.tg__coupon_switches {
	border-bottom-color: #021e01;
}

/*paper view skinning*/

/*paper view headers bg*/
.paperView .es__home_bet_header,
.paperView .es__live_page .es__text_heading,
.paperView .es__event_detail_header {
	background: #2a2a2a;
	color: #fff;
}

/*paper view widgetBg bg*/
.paperView .es__home_bet_item,
.paperView .es--Live_page_collapse_panel,
.paperView .es__live_sub_item_event,
.paperView .es__home_one_game,
.paperView .es__home_bet_show_hide,
.paperView .es__event_row,
.paperView .es--live_ingame_odds_cont,
.paperView .es__fixed_panel,
.paperView .es__event_detail_item,
.paperView .es__paper_odds,
.paperView .es__home_bet_item .es__event_row,
.paperView .es__home_bet_item .es__home_tab,
.paperView .es__home_bet_item .tab_selector,
.paperView .live_tabs_header .selectorWrapper {
	background: #2a2a2a;
	color: #fff;
}

	.paperView .es__home_bet_item .tab_selector.tab_selector_active,
	.paperView .es__home_bet_item .tab_selector:hover,
	.paperView .es__home_bet_item .es__event_subhead,
	.paperView .es__paper_name,
	.paperView .es__filter_container {
		background: #131313;
		color: #fff;
	}

		.paperView .es__filter_container .tg__dropdown_value {
			background: #2f2f2f;
			color: #fff;
		}

.paperView .es__event_subhead,
.paperView .es--live_tabular_sub_row {
	background: #393939;
	color: #cccccc;
}

.paperView .es__home_one_game_header {
	background: #393939;
	color: #fff;
}

/*paper view headers bg*/
.paperView .es__expanded_heading,
.paperView .es__live_expanded_row,
.paperView .es__expanded_info_left,
.paperView .es__paper_name,
.paperView .es__header_with_border,
.paperView .es__event_sub_row {
	background: #414141;
	color: #cccccc;
}

	/*paper view border bg*/
	.paperView .stakeContainer + .stakeContainer,
	.paperView .es__live_expanded_row + .es__live_expanded_row,
	.paperView .EU-li-cont + .EU-li-cont,
	.paperView .es__paper_name,
	.paperView .es__live_page .es__expanded_info_cont,
	.paperView .es__header_with_border,
	.paperView .es__home_row + .es__home_row,
	.paperView .es--live_sport_row_cont,
	.paperView .es__filter_container,
	.paperView .paper_home_games_wrapper > div > div + div {
		border-color: #021e01;
	}

/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	background: #021e01;
	color: #fff;
}

	.paperView .component_odd:hover,
	.paperView .component_odd_empty:hover,
	.paperView .EUodds:hover,
	.paperView .EUodds.selectedOdd,
	.paperView .component_odd.selectedOdd {
		background: #f3a817;
		color: #000;
	}

.paperView .es__show_more_btn .tg__chb_text {
	background: #f3a817;
	color: #000;
	border-radius: undefinedpx;
}

	.paperView .es__show_more_btn .tg__chb_text:hover {
		background: #f4b334;
		color: #000;
	}

/* AfricanView */

.africanView .tg__home2_game_heading,
.africanView .SBhead {
	background: #131313;
	color: #fff;
}

.africanView .tg__live_list_header {
	background: #2a2a2a;
	color: #fff;
}

.africanView .tg--home2__stakeTypes {
	background: #2a2a2a;
}

.africanView .tg--home2__stakeItem {
	background: #2a2a2a;
}

	.africanView .tg--home2__stakeItem:hover {
		background: #f3a817;
	}

.africanView .tg_widget_heading {
	background: #2a2a2a;
}

.sportLeftPane .liveFilterContainer {
	background-color: #021e01;
	color: #999999;
}

/*temp*/
.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
	display: none;
}

/* Bet History */
.tg__bet_history .tg__filter {
	background: #2a2a2a;
}

.tg__bet_history .tg__home_game_heading,
.tg__bonus .tg__home_game_heading {
	background: #131313;
}

.tg__bet_history .tg__list_row:nth-child(odd) {
	background: #2a2a2a;
}

.tg__bet_history .tg__list_row:nth-child(even) {
	background: #393939;
}

/* dropdown */
.tg__dropdown_control {
	background-color: #2A2A2A;
}

.tg__dropdown_content {
	background-color: #131313;
}

.tg__dropdown__item {
	background-color: #393939;
	color: #eee;
}

.tg__info_panel .tg__dropdown_control {
	background-color: #131313;
}

.calc_content .tg__dropdown_control {
	background-color: #393939;
}

/* Modal */

.tg__modal_confirm {
	background-color: #f3a817;
	color: #000;
}

	.tg__modal_confirm:hover {
		background-color: #f4b334;
	}

.tg__modal_header {
	background-color: #2a2a2a;
}

.tg__modal_special_content {
	background-color: #131313;
}

.maPageMenu .tab_selector {
	background-color: #021E01;
}

.maPageMenu .tab_selector.tab_selector_active,
.maPageMenu .tab_selector:hover {
	background-color: #2A2A2A;
}

.tg__banner,
.newsSliderMarketContainer {
	background: #2a2a2a;
	color: #fff;
} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #2a2a2a;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #1d1d1d;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #2a2a2a;
	color: #cccccc;
	border-bottom: 1px solid #021e01 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #021e01;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #1d1d1d;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #f4de00;
}
.es__express_day_coupon {
	background-color: #2a2a2a;
	color: #cccccc;
}
/*multi bet of the day skinning*/
