:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#004b24;
--bodyBg2:#007e3c;
--bodyBg3:#009749;
--bodyBgHover:#005a2b;
--bodyBg2Hover:#008d43;
--bodyBg3Hover:#00a650;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffffff;
--bodyAccentTxt:#000;
--bodyBorder:#005a2b;
--bodyG:#004b24;
--bodyRGBA:rgba(0, 75, 36, 0.7);
--bodyRGBA2:rgba(0, 75, 36, 0.5);
--bodyRGBA3:rgba(0, 75, 36, 0.3);
--dominantBg:#009145;
--dominantBg2:#00c45d;
--dominantBg3:#00dd69;
--dominantBgHover:#00a04c;
--dominantBg2Hover:#00d364;
--dominantBg3Hover:#00ec70;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#fecb00;
--dominantAccentTxt:#000;
--dominantBorder:#00a04c;
--dominantG:#009145;
--dominantRGBA:rgba(0, 145, 69, 0.7);
--dominantRGBA2:rgba(0, 145, 69, 0.5);
--dominantRGBA3:rgba(0, 145, 69, 0.3);
--accentBg:#fecb00;
--accentBg2:#cba200;
--accentBg3:#b18e00;
--accentBgHover:#efbf00;
--accentBg2Hover:#bc9600;
--accentBg3Hover:#a28200;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#efbf00;
--accentG:#fecb00;
--inputBg:#007337;
--inputBg2:#00a64f;
--inputBg3:#00bf5c;
--inputBgHover:#00823e;
--inputBg2Hover:#00b556;
--inputBg3Hover:#00ce63;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#fecb00;
--inputAccentTxt:#000;
--inputBorder:#00823e;
--inputG:#007337;
--inputSecondaryBg:#00aa51;
--inputSecondaryBg2:#00dd69;
--inputSecondaryBg3:#00f675;
--inputSecondaryBgHover:#00b958;
--inputSecondaryBg2Hover:#00ec70;
--inputSecondaryBg3Hover:#06ff7d;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#fecb00;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#009145;
--headerBg:#00632f;
--headerBg2:#009647;
--headerBg3:#00af53;
--headerBgHover:#007236;
--headerBg2Hover:#00a54e;
--headerBg3Hover:#00be5a;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#fecb00;
--headerAccentTxt:#000;
--headerBorder:#007236;
--headerG:#00632f;
--subHeaderBg:#007337;
--subHeaderBg2:#00a64f;
--subHeaderBg3:#00bf5c;
--subHeaderBgHover:#00823e;
--subHeaderBg2Hover:#00b556;
--subHeaderBg3Hover:#00ce63;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#fecb00;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#00823e;
--subHeaderG:#007337;
--eventBg:#009145;
--eventBg2:#00c45d;
--eventBg3:#00dd69;
--eventBgHover:#00a04c;
--eventBg2Hover:#00d364;
--eventBg3Hover:#00ec70;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#fecb00;
--eventAccentTxt:#000;
--eventBorder:#00a04c;
--eventG:#009145;
--buttonBg:#ffd632;
--buttonBg2:#fecb00;
--buttonBg3:#e4b700;
--buttonBgHover:#ffd323;
--buttonBg2Hover:#efbf00;
--buttonBg3Hover:#d5ab00;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#cba200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#ffd323;
--buttonG:#ffd632;
--buttonSecondaryBg:#00aa51;
--buttonSecondaryBg2:#00dd69;
--buttonSecondaryBg3:#00f675;
--buttonSecondaryBgHover:#00b958;
--buttonSecondaryBg2Hover:#00ec70;
--buttonSecondaryBg3Hover:#06ff7d;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cba200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#00b958;
--buttonSecondaryG:#009145;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#fecb00;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#004822;
--oddBg2:#007b3a;
--oddBg3:#009446;
--oddBgHover:#005729;
--oddBg2Hover:#008a41;
--oddBg3Hover:#00a34d;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#fecb00;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#004822;
--oddActiveBg:#ffd632;
--oddActiveBg2:#fecb00;
--oddActiveBg3:#e4b700;
--oddActiveBgHover:#ffd323;
--oddActiveBg2Hover:#efbf00;
--oddActiveBg3Hover:#d5ab00;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#ffd632;
--oddActiveG:#ffd632;
--showMoreBg:#009145;
--showMoreBg2:#00c45d;
--showMoreBg3:#00dd69;
--showMoreBgHover:#00a04c;
--showMoreBg2Hover:#00d364;
--showMoreBg3Hover:#00ec70;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreBorder:#00a04c;
--showMoreAccent:#fecb00;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreG:#009145;
--tabBg:#00632f;
--tabBg2:#009647;
--tabBg3:#00af53;
--tabBgHover:#007236;
--tabBg2Hover:#00a54e;
--tabBg3Hover:#00be5a;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#fecb00;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#007236;
--tabG:#00632f;
--tabActiveBg:#007c3b;
--tabActiveBg2:#00af53;
--tabActiveBg3:#00c85f;
--tabActiveBgHover:#008b42;
--tabActiveBg2Hover:#00be5a;
--tabActiveBg3Hover:#00d766;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#fecb00;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#008b42;
--tabActiveG:#00632f;
--tabSecondaryActiveBg:#007c3b;
--tabSecondaryActiveBg2:#00af53;
--tabSecondaryActiveBg3:#00c85f;
--tabSecondaryActiveBgHover:#008b42;
--tabSecondaryActiveBg2Hover:#00be5a;
--tabSecondaryActiveBg3Hover:#00d766;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#fecb00;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#00632f;
--filterBg:#00b556;
--filterBg2:#00e86e;
--filterBg3:#02ff7a;
--filterBgHover:#00c45d;
--filterBg2Hover:#00f775;
--filterBg3Hover:#11ff82;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#fecb00;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#00c45d;
--filterG:#009145;
--menu_1Bg:#009145;
--menu_1Bg2:#00c45d;
--menu_1Bg3:#00dd69;
--menu_1BgHover:#00a04c;
--menu_1Bg2Hover:#00d364;
--menu_1Bg3Hover:#00ec70;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#fecb00;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#00a04c;
--menu_1G:#009145;
--menu_2Bg:#00823e;
--menu_2Bg2:#00b556;
--menu_2Bg3:#00ce62;
--menu_2BgHover:#009145;
--menu_2Bg2Hover:#00c45d;
--menu_2Bg3Hover:#00dd69;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#fecb00;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#009145;
--menu_2G:#00823e;
--menu_3Bg:#007337;
--menu_3Bg2:#00a64f;
--menu_3Bg3:#00bf5c;
--menu_3BgHover:#00823e;
--menu_3Bg2Hover:#00b556;
--menu_3Bg3Hover:#00ce63;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#fecb00;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#00823e;
--menu_3G:#007337;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#fecb00;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#cccccc;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #004B24;
    --primaryBg3: #004b25;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #ffd632;
    --accentG: #ffd632;
    --accentRGBA: rgba(255, 214, 50, 0.6);
    --accentTxt: #000;

    --brandG: #ffd632;
    --brandBg: #ffd632;
    --brandTxt: #000;

    --actionButtonG: #ffd632;
    --actionButtonTxt: #000;

    --widgetG: #009145;
    --widgetBg: #009145;
    --widgetBgHover: #007739;
    --widgetBg2: #005e2d;
    --widgetBg2Hover: #004421;
    --widgetBg3: #002b15;
    --widgetBg3Hover: #001109;
    --widgetRGBA: rgba(0, 145, 69, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #004822;
    --oddBg: #004822;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #ffd632;
    --oddActiveBg: #ffd632;
    --oddActiveBg2: #fecb00;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #009145;
    --showMoreBg: #009145;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #007337;
    --headerBg: #007337;
    --headerTxt: #fff;

    --popupHeaderG: #007337;
    --popupHeaderBg: #007337;
    --popupHeaderTxt: #fff;

    --popupBg: #009145;
    --popupG: #009145;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #00632F;
    --tabBg: #00632F;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #009145;
    --activeTabBg: #009145;
    --activeTabTxt: #fff;

    --sideBarTabG: #00632F;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #009145;
    --sideBarActiveTabTxt: #fff;

    --inputG: #007337;
    --inputBg: #007337;
    --inputBg2: #00401f;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#cccccc;
    --menuItemTxt:#fff;

}
/*---*/


/* - - - - Primary - - - - */

.tg__result_item,
.tg__live_filter_item {
	background-color: #1A1A1A;
	color: #fff
}

body,
.tg_bg {
	background-color: #004B24;
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.paperView .champ_list:last-child {
	border-color: #1A1A1A;
}

/* - - - - Widget - - - - - */
.tg__live_list_header {
	background-color: #009145;
	color: #fff;
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: #009145;
	color: #fff;
}

	.tg__left_menu_item--lvl1 .tg-ico-arrow {
		color: #cccccc;
	}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #cccccc;
}

	.ss__step_slider .ss__slider:hover {
		background: #FECB00;
	}

.ss__step_slider .ss__ruller > .off {
	background: #009145;
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2,
.tg_bet_history_order_row_sub {
	background: #00823E;
	color: #fff;
}

	.tg__left_menu_item--lvl2 .tg__left_menu_item_text,
	.tg__left_menu_item--lvl2 .tg-ico-arrow {
		color: #cccccc;
	}

/* africanView */
.africanView .SBhead {
	background: #00632F;
	color: #fff;
}

.africanView .gameContentTitle {
	background: #00632F;
	color: #fff;
}

.tabSelectorHeading {
	color: #fff;
}

.africanView .champCont {
	background: #009145;
	color: #fff;
}

.africanView .tg_left_tabs {
	background: #007337;
	color: #cccccc;
	border-bottom-color: #FECB00;
}

.africanView .tg_left_filter_tabs_active {
	color: #FECB00;
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading,
.tg_bet_history_order_row_sub:nth-child(even) {
	background: #007337;
	color: #fff;
}

	.tg__left_menu_item--lvl3 .tg__left_menu_item_text,
	.tg__left_menu_item--lvl3 .tg-ico-arrow {
		color: #cccccc;
	}

/* - - - - Passive Tab - - - - */
.tab_selector {
	background: #00632F;
	color: #999999;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.sportLeftPane .tab_selector {
	background: #007337;
	color: #999999;
}

.tab_cupon {
	background: #00632F;
	color: #ccc;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

	.tab_cupon.tab_selected,
	.tab_cupon:hover {
		background: #00823E;
		color: #fff;
	}

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg__dropdown_control,
.tg_input,
.tg_subheader_btn,
.tg_live_center-wrapper .selectorWrapper,
.tg__live_filter_item.checked {
	background: #00632F;
	color: #fff;
}

.sportLeftPane .tab_selector.tab_selector_active {
	background: #00632F;
	color: #fff;
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
	background: #00632F;
	color: #fff;
}

/* africanView */
.africanView .tg--home2__stakeItem {
	background: #00632F;
	color: #fff;
}

.africanView .champCont {
	margin: 0px;
}

/* - - - - SubHeader - - - - */
.tg__match_header,
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow,
.tg__modal_header,
.tg__modal_heading,
.tg_bet_history_order_row {
	background: #007337;
	color: #fff;
}

.tg__home_game_heading {
	background: #007337;
	color: #cccccc;
	border-top: 1px solid #009145;
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_popup_body_static,
.tg__modal,
.tg_bet_history_order_row:nth-child(even),
.tg_av_more {
	background: #009145;
	color: #cccccc;
}

.tg_av_more:hover {
	color: #fff;
}

.tg__one_game_team {
	color: #fff;
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
	color: #cccccc;
}

.posCombItem {
	background: #007337;
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: #004822;
	color: #fff;
}

/* - - - - Show More - - - - */
.tg__more {
	color: #CCCCCC;
}

	.tg__more:hover {
		color: #fff;
	}
	/* - - - - Betslip Header - - - - */
	.tg__block_header,
	.tg__info_panel .selectorWrapper {
		background: #007337;
		color: #fff;
	}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
	color: #FECB00;
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
	color: #FECB00;
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid #FECB00;
}

.tg-ico-fav.active {
	color: #FECB00;
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
	color: #FECB00;
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary {
	background: #ffd632;
	color: #000;
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
	background: #ffd632;color: #000;
}

/* - - - - BetSlip - - - - */
.tg__coupon {
	background: #00632F;
	color: #cccccc
}

.stake_item_panel {
	background: #00823E;
	color: #cccccc;
	border-color: #1A1A1A;
}

.coupon_sport_name_container {
	color: #fff;
}

.tg__btn-coupon {
	background: #00823E;
	color: #fff;
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper {
	background: #00632F;
	color: #fff;
}

.tg_coin {
	background: #FECB00;
	color: #000;
}

.tg__match_item_btn {
	background: #00632F;
	color: #fff;
}

.tg__modal_book_bet .tg__border--color-akcent {
	border-color: #FECB00;
}

.tg__modal_book_bet .tg-clr-akcent {
	color: #FECB00;
}

/* - - - - DropDown - - - - */
.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
	background: #004822;
	color: #999999;
	border-radius: 1px;
}

	.tg__dropdown__item:hover,
	.tg__dropdown__item.activeItem {
		color: #fff;
	}

	.sportRightPane .tg_input::placeholder {
		color: #999999;
	}

.sportRightPaneRow .tg__dropdown_control,
.sportRightPaneRow .tg_subheader_btn {
	background: #007337;
	color: #ccc;
}

.tg__search_cont .tg__input::placeholder {
	color: #999999;
}

.tg__search_cont .tg__input-ico {
	color: #999999;
}

.tg__info_panel .tg_input_coupon_amount {
	background: #004822;
	color: #fff;
}

.tg__dropdown_content {
	background: #009145;
}

/* - - - - Input - - - - */
.tg__input {
	background: #007337;
	color: #ccc;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__btn-coupon:hover {
	color: #FECB00;
}

.tg__coupon_square {
	background: #007337;
}

.tg__coupon_factor {
	background: #666666;
	color: #fff
}

.es__stepped_slider_cont {
	background: #007337;
	color: #fff;
}

.tg__badge_live {
	background-color: #00632F;
	color: #999999;
}

.tg-ico-date {
	color: #fff;
}

.tg__switch input:checked + .tg__switch_ico:before {
	background: #ffd632;
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__switch .tg__switch_ico {
	background-color: #999;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}


.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
	background: transparent !important;
	color: #fff;
}


.paperView .es__home_bet_header {
	background: #00632F;
	color: #fff;
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	background: #004822;
	color: #fff;
}

	.paperView .component_odd:hover,
	.paperView .component_odd_empty:hover,
	.paperView .EUodds:hover,
	.paperView .EUodds.selectedOdd,
	.paperView .component_odd.selectedOdd {
		background: #ffd632;
		color: #000;
	}

.showC {
	background: #009145;
	color: #fff;
}


/*border radius*/
.tg__btn,
.l_od, .l_od_empty,
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	border-radius: 0px;
}


.sportHeaderPane,
#header_fix,
.tg__footer {
	display: none !important;
}

/*esport*/
#e-sport-root .esp_layout_main {
	background: #1A1A1A !important;
	color: #fff !important;
}

#e-sport-root .esp_main_header {
	background: #00632F !important;
	color: #fff !important;
}

.tg__home2_game_heading-top,
.tg__champ_header {
	background-color: #00823E;
	color: #fff;
}

.africanView .tg--home2__stakeTypes {
	background-color: #007337;
}

.tg__calc_buttons_cont .tg__btn {
	background-color: #004822;
}

	.tg__calc_buttons_cont .tg__btn:hover {
		color: #fff;
	}

.tg__home2_game_heading {
	background-color: #00632F;
}

.tg__multibet_heading {
	background-color: #009145;
}

.tg__open_event_img {
	background-color: #00823E;
	color: #fff;
}

.tg__match_item_stake {
	color: #fff;
	border-color: #000;
}

.tg__match_item {
	background-color: #009145;
}

.africanView #home_day_of_multi_bets .EUHeader {
	height: auto;
}

.es__express_day_slider_pagination {
	background-color: #00632F;
}
.africanView .es__express_slider_arrow {
	color: #ccc;
}

.africanView .es__express_slider_arrow:hover {
	color: #fff;
}

.es__total_odd_container {
	background-color: #00823E;
}

.player_panel {
	background-color: #009145;
}

.tg--scroll-betchecker {
	background-color: #009145;
}

.tg__list_row {
	border-bottom: 1px solid #fff;
}
	.tg__list_row_sub:nth-child(odd) {
		background-color: #00823E;
	}

	.tg__list_row_sub:nth-child(even) {
		background-color: #007337;
	}
.tg-clr-akcent2 {
	color: #FECB00;
}
.sportRightPane .tab_selector {
	background-color: #007337;
}
	.sportRightPane .tab_selector.tab_selector_active {
		background-color: #00632F;
	} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #009145;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #007739;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #009145;
	color: #cccccc;
	border-bottom: 1px solid #004B24 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #004B24;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #007739;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffd632;
}
.es__express_day_coupon {
	background-color: #009145;
	color: #cccccc;
}
/*multi bet of the day skinning*/
