:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#060606;
--bodyBg2:#1f1f1f;
--bodyBg3:#2c2c2c;
--bodyBgHover:#0e0e0e;
--bodyBg2Hover:#272727;
--bodyBg3Hover:#343434;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffc505;
--bodyAccentTxt:#000;
--bodyBorder:#0e0e0e;
--bodyG:#060606;
--bodyRGBA:rgba(6, 6, 6, 0.7);
--bodyRGBA2:rgba(6, 6, 6, 0.5);
--bodyRGBA3:rgba(6, 6, 6, 0.3);
--dominantBg:#000000;
--dominantBg2:#1a1a1a;
--dominantBg3:#262626;
--dominantBgHover:#080808;
--dominantBg2Hover:#222222;
--dominantBg3Hover:#2e2e2e;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffc505;
--dominantAccentTxt:#000;
--dominantBorder:#080808;
--dominantG:#000000;
--dominantRGBA:rgba(0, 0, 0, 0.7);
--dominantRGBA2:rgba(0, 0, 0, 0.5);
--dominantRGBA3:rgba(0, 0, 0, 0.3);
--accentBg:#ffc505;
--accentBg2:#d1a100;
--accentBg3:#b78d00;
--accentBgHover:#f5bc00;
--accentBg2Hover:#c29500;
--accentBg3Hover:#a88100;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f5bc00;
--accentG:#ffc505;
--inputBg:#0f0f0f;
--inputBg2:#282828;
--inputBg3:#353535;
--inputBgHover:#171717;
--inputBg2Hover:#303030;
--inputBg3Hover:#3d3d3d;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffc505;
--inputAccentTxt:#000;
--inputBorder:#171717;
--inputG:#0f0f0f;
--inputSecondaryBg:#0d0d0d;
--inputSecondaryBg2:#262626;
--inputSecondaryBg3:#333333;
--inputSecondaryBgHover:#151515;
--inputSecondaryBg2Hover:#2e2e2e;
--inputSecondaryBg3Hover:#3b3b3b;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffc505;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#000000;
--headerBg:#ffc505;
--headerBg2:#d1a100;
--headerBg3:#b78d00;
--headerBgHover:#f5bc00;
--headerBg2Hover:#c29500;
--headerBg3Hover:#a88100;
--headerTxt:rgba(0, 0, 0, 0.9);
--headerTxt2:rgba(0, 0, 0, 0.6);
--headerTxt3:rgba(0, 0, 0, 0.4);
--headerAccent:#ffc505;
--headerAccentTxt:#000;
--headerBorder:#f5bc00;
--headerG:#ffc505;
--subHeaderBg:#0f0f0f;
--subHeaderBg2:#282828;
--subHeaderBg3:#353535;
--subHeaderBgHover:#171717;
--subHeaderBg2Hover:#303030;
--subHeaderBg3Hover:#3d3d3d;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffc505;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#171717;
--subHeaderG:#0f0f0f;
--eventBg:#000000;
--eventBg2:#1a1a1a;
--eventBg3:#262626;
--eventBgHover:#080808;
--eventBg2Hover:#222222;
--eventBg3Hover:#2e2e2e;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ffc505;
--eventAccentTxt:#000;
--eventBorder:#080808;
--eventG:#000000;
--buttonBg:#ffc505;
--buttonBg2:#d1a100;
--buttonBg3:#b78d00;
--buttonBgHover:#f5bc00;
--buttonBg2Hover:#c29500;
--buttonBg3Hover:#a88100;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#d1a100;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#f5bc00;
--buttonG:#ffc505;
--buttonSecondaryBg:#0d0d0d;
--buttonSecondaryBg2:#262626;
--buttonSecondaryBg3:#333333;
--buttonSecondaryBgHover:#151515;
--buttonSecondaryBg2Hover:#2e2e2e;
--buttonSecondaryBg3Hover:#3b3b3b;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#d1a100;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#151515;
--buttonSecondaryG:#000000;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffc505;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#0f0f0f;
--oddBg2:#282828;
--oddBg3:#353535;
--oddBgHover:#171717;
--oddBg2Hover:#303030;
--oddBg3Hover:#3d3d3d;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffc505;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#0f0f0f;
--oddActiveBg:#ffc505;
--oddActiveBg2:#d1a100;
--oddActiveBg3:#b78d00;
--oddActiveBgHover:#f5bc00;
--oddActiveBg2Hover:#c29500;
--oddActiveBg3Hover:#a88100;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#ffc505;
--oddActiveG:#ffc505;
--showMoreBg:#262626;
--showMoreBg2:#3f3f3f;
--showMoreBg3:#4c4c4c;
--showMoreBgHover:#2e2e2e;
--showMoreBg2Hover:#474747;
--showMoreBg3Hover:#545454;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#ffc505;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#262626;
--showMoreG:#262626;
--tabBg:#1f1f1f;
--tabBg2:#383838;
--tabBg3:#454545;
--tabBgHover:#272727;
--tabBg2Hover:#404040;
--tabBg3Hover:#4d4d4d;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffc505;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#272727;
--tabG:#1f1f1f;
--tabActiveBg:#ffc505;
--tabActiveBg2:#d1a100;
--tabActiveBg3:#b78d00;
--tabActiveBgHover:#f5bc00;
--tabActiveBg2Hover:#c29500;
--tabActiveBg3Hover:#a88100;
--tabActiveTxt:rgba(0, 0, 0, 0.9);
--tabActiveTxt2:rgba(0, 0, 0, 0.6);
--tabActiveTxt3:rgba(0, 0, 0, 0.4);
--tabActiveAccent:#ffc505;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#f5bc00;
--tabActiveG:#ffc505;
--tabSecondaryActiveBg:#2c2c2c;
--tabSecondaryActiveBg2:#454545;
--tabSecondaryActiveBg3:#525252;
--tabSecondaryActiveBgHover:#343434;
--tabSecondaryActiveBg2Hover:#4d4d4d;
--tabSecondaryActiveBg3Hover:#5a5a5a;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffc505;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#1f1f1f;
--filterBg:#121212;
--filterBg2:#2b2b2b;
--filterBg3:#383838;
--filterBgHover:#1a1a1a;
--filterBg2Hover:#333333;
--filterBg3Hover:#404040;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffc505;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#1a1a1a;
--filterG:#000000;
--menu_1Bg:#000000;
--menu_1Bg2:#1a1a1a;
--menu_1Bg3:#262626;
--menu_1BgHover:#080808;
--menu_1Bg2Hover:#222222;
--menu_1Bg3Hover:#2e2e2e;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffc505;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#080808;
--menu_1G:#000000;
--menu_2Bg:#0f0f0f;
--menu_2Bg2:#282828;
--menu_2Bg3:#353535;
--menu_2BgHover:#171717;
--menu_2Bg2Hover:#303030;
--menu_2Bg3Hover:#3d3d3d;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffc505;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#171717;
--menu_2G:#0f0f0f;
--menu_3Bg:#1f1f1f;
--menu_3Bg2:#383838;
--menu_3Bg3:#454545;
--menu_3BgHover:#272727;
--menu_3Bg2Hover:#404040;
--menu_3Bg3Hover:#4d4d4d;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffc505;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#272727;
--menu_3G:#1f1f1f;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffc505;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#cccccc;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #060606;
    --primaryBg3: #050505;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #FFC505;
    --accentG: #FFC505;
    --accentRGBA: rgba(255, 197, 5, 0.6);
    --accentTxt: #000;

    --brandG: #FFC505;
    --brandBg: #FFC505;
    --brandTxt: #000;

    --actionButtonG: #FFC505;
    --actionButtonTxt: #000;

    --widgetG: #000;
    --widgetBg: #000;
    --widgetBgHover: #0d0d0d;
    --widgetBg2: #1a1a1a;
    --widgetBg2Hover: #0d0d0d;
    --widgetBg3: #333333;
    --widgetBg3Hover: #262626;
    --widgetRGBA: rgba(0, 0, 0, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #0f0f0f;
    --oddBg: #0f0f0f;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #FFC505;
    --oddActiveBg: #FFC505;
    --oddActiveBg2: #d1a100;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #262626;
    --showMoreBg: #262626;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #FFC505;
    --headerBg: #FFC505;
    --headerTxt: #000;

    --popupHeaderG: #FFC505;
    --popupHeaderBg: #FFC505;
    --popupHeaderTxt: #000;

    --popupBg: #000;
    --popupG: #000;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #1f1f1f;
    --tabBg: #1f1f1f;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #FFC505;
    --activeTabBg: #FFC505;
    --activeTabTxt: #000;

    --sideBarTabG: #1f1f1f;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #FFC505;
    --sideBarActiveTabTxt: #000;

    --inputG: #0F0F0F;
    --inputBg: #0F0F0F;
    --inputBg2: #282828;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#cccccc;
    --menuItemTxt:#fff;

}
/*---*/


/* - - - - Primary - - - - */
.tg_bg,
.tg__result_item,
.sportLeftPane .liveFilterContainer,
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
	background-color: #060606;
	color: #fff
}

.ss__step_slider .ss__ruller > div.off {
	background: #060606;
}

.tg__step_slider {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.tg__match_item_stake,
.tg__step_slider {
	border-color: #060606;
}

/* - - - - Widget - - - - - */
.tg_widget_bg,
.tg__live_list_header,
.tg__banner,
.newsSliderMarketContainer,
.tg_left_tabs {
	background: #0F0F0F;
	color: #cccccc;
}

.tg--pos_comb_row {
	border-color: #0F0F0F;
}

.tg__input-ico,
.tg__live_filter_item,
.africanView .tg_left_filter_tabs,
.tg__step_slider,
.tg__banner__date {
	color: #cccccc;
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: #000000;
	color: #fff;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #999999;
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2,
.tg_bet_history_order_row_sub,
.africanView .SBhead,
.africanView .tg__home2_game_heading-top {
	background: #0F0F0F;
	color: #cccccc;
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading {
	background: #1F1F1F;
	color: #cccccc;
}

.tg_bet_history_order_row_sub:nth-child(even) {
	background: #1F1F1F;
}

/* - - - - Passive Tab - - - - */
.tab_selector,
.tab_cupon {
	background: #1F1F1F;
	color: #999999;
}

	/* - - - - Active Tab - - - - */
	.tab_selector.tab_selector_active,
	.tab_selector:hover,
	.tg__subhead .tg__dropdown_control,
	.tg_subheader_btn,
	.tg__step_slider,
	.tg_live_center-wrapper .selectorWrapper,
	.tab_cupon:hover {
		background: #FFC505;
		color: #000;
	}

.tg__live_filter_item.checked {
	background: #FFC505;
	color: #000;
}
.tg__left_menu_item.tg__step_slider {
	background: #262626;
}


.tg__step_slider .ss__label {
	color: #999;
}

.tg__subhead .tg__input {
	background-color: #0F0F0F;
}
/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading,
.tg__modal_header,
.africanView .tg--home2__stakeItem,
.tg__multibet_heading {
	background: #FFC505;
	color: #000;
}

/* - - - - SubHeader - - - - */
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__res_rus,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow,
.tg__cashout--header,
.live_menu_item_left_header,
.tg__match_header,
.tg__home_game_heading,
.posCombItemCont {
	background: #0F0F0F;
	color: #999999;
}

.tg_bet_history_order_row {
	background: #0F0F0F;
	color: #fff;
}

	.tg_bet_history_order_row .tg_table_icons_wrpper,
	.tg_bet_history_order_row .tg_table_ico,
	.tg_widget_header.tg_bet_history_order_row {
		color: #fff;
	}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__banner,
.news_slider .oddsContainer,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_popup_body_static,
.tg__modal,
.matchListWrapper,
.multiViewHeaderCont,
.posCombGridItem,
.tg__match_item_btn,
.africanView .tg--home2__stakeTypes {
	background: #000000;
	color: #fff;
}

	.tg__match_item_btn:hover {
		color: #FFC505;
	}
.tg_bet_history_order_row:nth-child(even) {
	background: #000000;
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
	color: #cccccc;
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: #0F0F0F;
	color: #fff;
}

/* - - - - Show More - - - - */
.tg__more {
	background: #262626;
	color: #fff;
}

/* - - - - Accordion Header - - - - */
.tg__block_header {
	background: #FFC505;
	color: #000;
}

.tg__block_header .tg__checkbox_ico.checked {
	color: #000;
}

/* - - - - BetSlip Bg - - - - */
.tg__coupon .tg--coupon-bg {
	background: #000000;
	color: #666666
}

.tab_cupon.tab_selected {
	background: #000000;
	color: #fff;
}

/* - - - - BetSlip Line - - - - */
.stake_item_panel {
	background: #1F1F1F;
	color: #666666;
	border-color: #000000;
}

/* - - - - BetSlip Input - - - - */
.tg_input.tg_input_coupon_amount {
	background: #1F1F1F;
	color: #fff;
}

.tg__coupon_square {
	background: #1F1F1F;
}

/* - - - - BetSlip Button - - - - */
.tg__btn-coupon,
.tg__btn-text {
	background: #0F0F0F;
	color: #999999;
}

.tg--cashout-body, .tg__cashout_popup, .booking_number {
	background-color: #000000;
	color: #666666;
}

/* - - - - DropDown - - - - */
.tg__input,
.tg_input,
.tg__dropdown_control,
.tg_input + .ui-datepicker-trigger {
	background: #1F1F1F;
	color: #fff;
}

.ss__step_slider .ss__ruller > div.off {
	color: #1F1F1F;
}

.tg__dropdown__item {
	background: #1F1F1F;
	color: #cccccc
}

	.tg__dropdown__item:hover,
	.tg__dropdown__item-active {
		color: #fff;
	}

.tg__dropdown_content {
	background: #060606;
	box-shadow: 0px 0px 1px 0px #cccccc;
}

/* - - - - Sections - - - - */
.tg--coupon-bg,
.tg__info_panel,
.tg__results_header,
.tg__cashout--wrapper,
.bet_generator_wrapper .tg_widget_bg_2 {
	background: #000000;
	color: #fff;
}

.tg__match_header [class*="tg-ico"] {
	color: #999999;
}
/* Styles we don't usually change */
.tg__badge_live {
	background-color: #333333;
	color: #999999;
}

.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__coupon_factor {
	background-color: #666;
	color: #fff;
}

.tg__switch_ico {
	background-color: #999;
}

.tg__open_event_img {
	color: #fff;
}

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tab_cupon {
	text-transform: uppercase;
}

.tg_sidebar_text_akcent.digi_tournament {
	color: #FCB601;
}

/* - + - - - - + - > AFRICAN VIEW < - + - - - - + - */
.africanView .tabSelectorHeading {
	color: #000;
}

.africanView .tg_left_filter_tabs.tg_left_filter_tabs_active {
	color: #fff;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg-ico-fav--active,
.tg-ico-fav.active,
.tg-ico-fav.tg-ico-fav--active,
.tg__coupon_square,
.tg-clr-akcent,
.tg-clr-akcent2,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover,
.tg__fix_btn.checked {
	color: #FFC505;
}

.tg__fix_btn:hover {
	color: #fff;
}
.tg_coin {
	background-color: #000;
	color: #FFC505;
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid #FFC505;
}

.live_calendar .tab_selector{
	border-bottom: 2px solid;
}
.tg__coupon_tabs_cont {
	border-bottom: 2px solid #000;
	border-top: 1px solid #000000;
}

.live_calendar .tab_selector:not(:last-child) {
	margin-right: 1px;
}

.live_menu_item_left_header {
	border-bottom: 1px solid;
}

.live_calendar .tab_selector.tab_selector_active,
.live_menu_item_left_header {
	border-bottom-color: #FFC505;
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary,
.tg__modal_confirm:hover,
.africanView .tg--home2__stakeItem:hover,
.africanView .stItem_active.tg--home2__stakeItem,
.africanView .active .tg--home2__stakeItem,
.sportRightPane .tg__btn-ternary,
.tg__btn-coupon.tg__login {
	background: #FFC505;
	color: #000;
}

.tabSelectorHeading {
	color: #FFC505;
}

input:checked + .tg__switch_ico {
	background-color: #FFC505;
}

.tg__bet_history .tg__filter {
	background-color: #000000;
}

.maPageMenu .tab_selector {
	background-color: #0F0F0F;
	border-bottom: 2px solid #757575;
}

	.maPageMenu .tab_selector.tab_selector_active {
		background-color: #000;
		color: #fff;
		border-bottom: 2px solid #FFC505;
	}

.tg__list_row_sub {
	background-color: #000;
	border-bottom: 1px solid #0F0F0F;
}

.tg__list_row {
	border-bottom: 1px solid #0F0F0F;
}

.tg__btn {
	transition: 300ms ease-in-out;
}
.tg__btn:hover {
	background-color: #FFB805;
	box-shadow: 0 0 4px 1px #FFB805;
}