:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#0e1727;
--bodyBg2:#1b2d4d;
--bodyBg3:#22385f;
--bodyBgHover:#121e32;
--bodyBg2Hover:#1f3458;
--bodyBg3Hover:#263f6a;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#2cb56d;
--bodyAccentTxt:#fff;
--bodyBorder:#121e32;
--bodyG:#0e1727;
--bodyRGBA:rgba(14, 23, 39, 0.7);
--bodyRGBA2:rgba(14, 23, 39, 0.5);
--bodyRGBA3:rgba(14, 23, 39, 0.3);
--dominantBg:#1b2d4d;
--dominantBg2:#284373;
--dominantBg3:#2f4e86;
--dominantBgHover:#1f3458;
--dominantBg2Hover:#2c4a7e;
--dominantBg3Hover:#335591;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#2cb56d;
--dominantAccentTxt:#fff;
--dominantBorder:#1f3458;
--dominantG:#1b2d4d;
--dominantRGBA:rgba(27, 45, 77, 0.7);
--dominantRGBA2:rgba(27, 45, 77, 0.5);
--dominantRGBA3:rgba(27, 45, 77, 0.3);
--accentBg:#2cb56d;
--accentBg2:#228c54;
--accentBg3:#1d7748;
--accentBgHover:#29a966;
--accentBg2Hover:#1f804d;
--accentBg3Hover:#1a6b41;
--accentTxt:rgba(255, 255, 255, 0.9);
--accentTxt2:rgba(255, 255, 255, 0.8);
--accentTxt3:rgba(255, 255, 255, 0.6);
--accentBorder:#29a966;
--accentG:#2cb56d;
--inputBg:#284373;
--inputBg2:#355999;
--inputBg3:#3c64ac;
--inputBgHover:#2c4a7e;
--inputBg2Hover:#3960a4;
--inputBg3Hover:#406bb7;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#2cb56d;
--inputAccentTxt:#fff;
--inputBorder:#2c4a7e;
--inputG:#284373;
--inputSecondaryBg:#223860;
--inputSecondaryBg2:#2f4e86;
--inputSecondaryBg3:#365998;
--inputSecondaryBgHover:#263f6b;
--inputSecondaryBg2Hover:#335591;
--inputSecondaryBg3Hover:#3a60a3;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#2cb56d;
--inputSecondaryAccentTxt:#fff;
--inputSecondaryG:#1b2d4d;
--headerBg:#1b2d4d;
--headerBg2:#284373;
--headerBg3:#2f4e86;
--headerBgHover:#1f3458;
--headerBg2Hover:#2c4a7e;
--headerBg3Hover:#335591;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#2cb56d;
--headerAccentTxt:#fff;
--headerBorder:#1f3458;
--headerG:#1b2d4d;
--subHeaderBg:#284373;
--subHeaderBg2:#355999;
--subHeaderBg3:#3c64ac;
--subHeaderBgHover:#2c4a7e;
--subHeaderBg2Hover:#3960a4;
--subHeaderBg3Hover:#406bb7;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#2cb56d;
--subHeaderAccentTxt:#fff;
--subHeaderBorder:#2c4a7e;
--subHeaderG:#284373;
--eventBg:#1b2d4d;
--eventBg2:#284373;
--eventBg3:#2f4e86;
--eventBgHover:#1f3458;
--eventBg2Hover:#2c4a7e;
--eventBg3Hover:#335591;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#2cb56d;
--eventAccentTxt:#fff;
--eventBorder:#1f3458;
--eventG:#1b2d4d;
--buttonBg:#2cb56d;
--buttonBg2:#228c54;
--buttonBg3:#1d7748;
--buttonBgHover:#29a966;
--buttonBg2Hover:#1f804d;
--buttonBg3Hover:#1a6b41;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#228c54;
--buttonAccentTxt:rgba(255, 255, 255, 0.9);
--buttonBorder:#29a966;
--buttonG:#2cb56d;
--buttonSecondaryBg:#223860;
--buttonSecondaryBg2:#2f4e86;
--buttonSecondaryBg3:#365998;
--buttonSecondaryBgHover:#263f6b;
--buttonSecondaryBg2Hover:#335591;
--buttonSecondaryBg3Hover:#3a60a3;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#228c54;
--buttonSecondaryAccentTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryBorder:#263f6b;
--buttonSecondaryG:#1b2d4d;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#2cb56d;
--modalAccentTxt:rgba(255, 255, 255, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#0e1727;
--oddBg2:#1b2d4d;
--oddBg3:#22385f;
--oddBgHover:#121e32;
--oddBg2Hover:#1f3458;
--oddBg3Hover:#263f6a;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#2cb56d;
--oddAccentTxt:rgba(255, 255, 255, 0.9);
--oddBorder:#ffffff;
--oddG:#0e1727;
--oddActiveBg:#2cb56d;
--oddActiveBg2:#228c54;
--oddActiveBg3:#1d7748;
--oddActiveBgHover:#29a966;
--oddActiveBg2Hover:#1f804d;
--oddActiveBg3Hover:#1a6b41;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#2cb56d;
--oddActiveG:#2cb56d;
--showMoreBg:#0e1727;
--showMoreBg2:#1b2d4d;
--showMoreBg3:#22385f;
--showMoreBgHover:#121e32;
--showMoreBg2Hover:#1f3458;
--showMoreBg3Hover:#263f6a;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#2cb56d;
--showMoreAccentTxt:rgba(255, 255, 255, 0.9);
--showMoreBorder:#0e1727;
--showMoreG:#0e1727;
--tabBg:#284373;
--tabBg2:#355999;
--tabBg3:#3c64ac;
--tabBgHover:#2c4a7e;
--tabBg2Hover:#3960a4;
--tabBg3Hover:#406bb7;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#2cb56d;
--tabAccentTxt:rgba(255, 255, 255, 0.9);
--tabBorder:#2c4a7e;
--tabG:#284373;
--tabActiveBg:#1b2d4d;
--tabActiveBg2:#284373;
--tabActiveBg3:#2f4e86;
--tabActiveBgHover:#1f3458;
--tabActiveBg2Hover:#2c4a7e;
--tabActiveBg3Hover:#335591;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#2cb56d;
--tabActiveAccentTxt:rgba(255, 255, 255, 0.9);
--tabActiveBorder:#1f3458;
--tabActiveG:#1b2d4d;
--tabSecondaryActiveBg:#2f4e86;
--tabSecondaryActiveBg2:#3c64ac;
--tabSecondaryActiveBg3:#446fbd;
--tabSecondaryActiveBgHover:#335591;
--tabSecondaryActiveBg2Hover:#406bb7;
--tabSecondaryActiveBg3Hover:#4f78c1;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#2cb56d;
--tabSecondaryAccentTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveG:#284373;
--filterBg:#243c67;
--filterBg2:#31528d;
--filterBg3:#385da0;
--filterBgHover:#284372;
--filterBg2Hover:#355998;
--filterBg3Hover:#3c64ab;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#2cb56d;
--filterAccentTxt:rgba(255, 255, 255, 0.9);
--filterBorder:#284372;
--filterG:#1b2d4d;
--menu_1Bg:#1b2d4d;
--menu_1Bg2:#284373;
--menu_1Bg3:#2f4e86;
--menu_1BgHover:#1f3458;
--menu_1Bg2Hover:#2c4a7e;
--menu_1Bg3Hover:#335591;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#2cb56d;
--menu_1AccentTxt:rgba(255, 255, 255, 0.9);
--menu_1Border:#1f3458;
--menu_1G:#1b2d4d;
--menu_2Bg:#284373;
--menu_2Bg2:#355999;
--menu_2Bg3:#3c64ac;
--menu_2BgHover:#2c4a7e;
--menu_2Bg2Hover:#3960a4;
--menu_2Bg3Hover:#406bb7;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#2cb56d;
--menu_2AccentTxt:rgba(255, 255, 255, 0.9);
--menu_2Border:#2c4a7e;
--menu_2G:#284373;
--menu_3Bg:#355999;
--menu_3Bg2:#436fbe;
--menu_3Bg3:#567ec4;
--menu_3BgHover:#3960a4;
--menu_3Bg2Hover:#4e78c2;
--menu_3Bg3Hover:#6187c8;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#2cb56d;
--menu_3AccentTxt:rgba(255, 255, 255, 0.9);
--menu_3Border:#3960a4;
--menu_3G:#355999;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#2cb56d;
--tooltipAccentTxt:rgba(255, 255, 255, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#cccccc;
--menuItemTxt:#fff;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #0E1727;
    --primaryBg3: #1a1a1a;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #2CB56D;
    --accentG: #2CB56D;
    --accentRGBA: rgba(44, 181, 109, 0.6);
    --accentTxt: #fff;

    --brandG: #2CB56D;
    --brandBg: #2CB56D;
    --brandTxt: #fff;

    --actionButtonG: #2CB56D;
    --actionButtonTxt: #fff;

    --widgetG: #1b2d4d;
    --widgetBg: #1b2d4d;
    --widgetBgHover: #14223a;
    --widgetBg2: #0e1727;
    --widgetBg2Hover: #070c14;
    --widgetBg3: #010101;
    --widgetBg3Hover: #0e0e0e;
    --widgetRGBA: rgba(27, 45, 77, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #0E1727;
    --oddBg: #0E1727;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #2CB56D;
    --oddActiveBg: #2CB56D;
    --oddActiveBg2: #228c54;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #0E1727;
    --showMoreBg: #0E1727;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #1b2d4d;
    --headerBg: #1b2d4d;
    --headerTxt: #fff;

    --popupHeaderG: #0E1727;
    --popupHeaderBg: #0E1727;
    --popupHeaderTxt: #fff;

    --popupBg: #1b2d4d;
    --popupG: #1b2d4d;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #284373;
    --tabBg: #284373;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #1b2d4d;
    --activeTabBg: #1b2d4d;
    --activeTabTxt: #fff;

    --sideBarTabG: #284373;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #1b2d4d;
    --sideBarActiveTabTxt: #fff;

    --inputG: #284373;
    --inputBg: #284373;
    --inputBg2: #1b2d4d;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#cccccc;
    --menuItemTxt:#fff;

}
/*---*/


.tg_widget_heading_1 {
	margin-top: 0;
}

.tg__multi_game {
	padding: 0 !important;
}

.tg_input::placeholder {
	color: #cccccc;
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item,
.tg__live_filter_item {
	background-color: #0E1727;
	color: #fff
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.paperView .champ_list:last-child,
.tg__match_item_stake,
.tg--pos_comb_row,
.tg--border-bot-1 {
	border-color: #0E1727;
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
	background-color: #0E1727;
}

/* - - - - Widget - - - - - */
.tg__live_list_header,
.tg__multiview_content {
	background-color: #1b2d4d;
	color: #fff;
}

.tg-hero {
	background-color: #1b2d4d;
	color: #fff;
}

.tg-bg_transparent {
	background-color: rgba(40, 67, 115, 0.5);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: #1b2d4d;
	color: #fff;
}

	.tg__left_menu_item--lvl1 .tg__left_menu_item_text,
	.tg__left_menu_item--lvl1 .tg-ico-arrow {
		color: #cccccc;
	}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #cccccc;
}

	.ss__step_slider .ss__slider:hover {
		background: #2CB56D;
	}

.ss__step_slider .ss__ruller > .off {
	background: #1b2d4d;
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
	background: #284373;
	color: #fff;
}

	.tg__left_menu_item--lvl2 .tg__left_menu_item_text,
	.tg__left_menu_item--lvl2 .tg-ico-arrow {
		color: #cccccc;
	}

/* africanView */
.africanView .SBhead {
	background: #1b2d4d;
	color: #fff;
}

.africanView .gameContentTitle {
	background: #0E1727;
	color: #fff;
}

.africanView .champCont {
	background: #1b2d4d;
	color: #fff;
}

.africanView .tg_left_tabs {
	background: #284373;
	color: #cccccc;
	border-bottom-color: #2CB56D;
}

.africanView .tg_left_filter_tabs_active {
	color: #2CB56D;
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading,
.tg_bet_history_order_row_sub:nth-child(even) {
	background: #355999;
	color: #fff;
}

	.tg__left_menu_item--lvl3 .tg__left_menu_item_text,
	.tg__left_menu_item--lvl3 .tg-ico-arrow {
		color: #cccccc;
	}

/* - - - - Passive Tab - - - - */
.tab_selector {
	background: #284373;
	color: #cccccc;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.sportLeftPane .tab_selector {
	background: #355999;
	color: #fff;
}

.tab_cupon {
	background: #284373;
	color: #cccccc;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

	.tab_cupon.tab_selected,
	.tab_cupon:hover {
		background: #1b2d4d;
		color: #fff;
	}

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_input,
.tg_subheader_btn,
.tg_live_center-wrapper .selectorWrapper,
.tg__live_filter_item.checked,
.tg__results_header .tg__dropdown_value {
	background: #1b2d4d;
	color: #fff;
}

.tg__dropdown_control {
	background: #284373;
	color: #fff;
}

.sportLeftPane .tab_selector.tab_selector_active {
	background: #1b2d4d;
	color: #fff;
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
	background: #1b2d4d;
	color: #fff;
}

/* africanView */
.africanView .tg--home2__stakeItem {
	background: #284373;
	color: #fff;
}

.africanView .champCont {
	margin: 0px;
}

.tg--selected_prem_game {
	border-color: #2CB56D;
}

.tg__list_row {
	margin: 0;
	border-top: 1px solid #0E1727;
}

.ds--myacc-history_list .tg_bet_history_order_row {
	background: #284373;
	color: #fff;
	border: 0 !important;
}

	.ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
		background: #1b2d4d;
		color: #fff;
	}

.tg_bet_history_order_row .tg-clr-akcent {
	color: #2CB56D;
}

.tg_bet_history_order_row_sub {
	background: #284373;
	color: #fff;
}

.tg__list_row_sub {
	background: #2f4e86;
	color: #fff;
	border-bottom: 1px solid #0E1727;
}

/* - - - - SubHeader - - - - */
.tg__match_header,
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow,
.tg__step_slider,
.liveFilterContainer {
	background: #284373;
	color: #fff;
}

.tg__home_game_heading {
	background: #284373;
	color: #cccccc;
	border-top: 1px solid #1b2d4d;
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_onegame_chb,
.news_slider .oddsContainer {
	background: #1b2d4d;
	color: #cccccc;
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
	background: #1b2d4d;
	color: #fff;
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header {
	background: #284373;
	color: #fff;
}

.tg__custom-range-slider {
	color: #2CB56D;
}

.tg--close {
	background: #0E1727;
	color: #fff;
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
	background: #22385f;
	color: #fff;
}

.ui-widget-content {
	border-color: #284373;
	background: #1b2d4d;
	color: #fff;
}

.ui-widget-header {
	border: 0;
	background: #1b2d4d;
	color: #fff;
}

	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default,
	.ui-datepicker-title select {
		border: 0;
		background: #0E1727;
		color: #fff;
	}

	.ui-state-highlight,
	.ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight,
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	.ui-datepicker-calendar .ui-state-hover {
		background: #2CB56D;
		color: #fff;
	}


.tg__btn-text {
	background: #22385f;
	color: #fff;
}

.tg__one_game_team {
	color: #fff;
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
	color: #cccccc;
}

.posCombItem {
	background: #284373;
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: #0E1727;
	color: #fff;
}

/* - - - - Show More - - - - */
.tg__more {
	background: #0E1727;
	color: #fff;
}

/* - - - - Betslip Header - - - - */
.tg__block_header,
.tg__info_panel .selectorWrapper {
	background: #192842;
	color: #fff;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
	color: #2CB56D;
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
	color: #2CB56D;
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid #2CB56D;
}

.tg-ico-fav.active {
	color: #2CB56D;
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
	color: #2CB56D;
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary {
	background: #2CB56D;
	color: #fff;
}

.tabSelectorHeading {
	color: #2CB56D;
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
	background: #2CB56D;
	color: #fff;
}

/* - - - - BetSlip - - - - */
.tg__coupon {
	background: #1b2d4d;
	color: #cccccc
}

.stake_item_panel {
	background: #284373;
	color: #cccccc;
	border-color: #0E1727;
	border-top: 0;
}

.coupon_sport_name_container {
	color: #fff;
}

.tg__btn-coupon {
	background: #284373;
	color: #fff;
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper {
	background: #1b2d4d;
	color: #fff;
}

.tg_coin {
	background: #2CB56D;
	color: #fff;
}

.tg__match_item_btn {
	background: #0E1727;
	color: #fff;
}

.tg--selected_prem_game .tg__match_item_btn {
	background: #2CB56D;
	color: #fff;
}

.tg__modal_book_bet .tg__border--color-akcent {
	border-color: #2CB56D;
}

.tg__modal_book_bet .tg-clr-akcent {
	color: #2CB56D;
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
	background: #0E1727;
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
	background: #22385f;
	color: #fff;
	border-radius: 0px;
}

	.tg__dropdown__item:hover {
		background: #2f4e85;
	}

	.sportRightPane .tg_input::placeholder {
		color: #cccccc;
	}

.tg__search_cont .tg__input {
	background: #284373;
	color: #fff;
}

.sportRightPaneRow .tg_subheader_btn {
	background: #284373;
	color: #fff;
}

.tg__search_cont .tg__input::placeholder {
	color: #cccccc;
}

.tg__search_cont .tg__input-ico {
	color: #fff;
}

.tg__info_panel .tg_input_coupon_amount {
	background: #284373;
	color: #fff;
}

.tg__dropdown_content {
	background: undefined;
}

/* - - - - Input - - - - */
.tg__input {
	background: #284373;
	color: #fff;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover {
	color: #2CB56D;
}

.tg__coupon_square {
	background: #284373;
}

.tg__coupon_factor {
	background: #355999;
	color: #fff
}

.es__stepped_slider_cont {
	background: #284373;
	color: #fff;
}

.tg__badge_live {
	background-color: #1b2d4d;
	color: #fff;
}

.tg-ico-date {
	color: #fff;
}

.tg__switch input:checked + .tg__switch_ico:before {
	background: #2CB56D;
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__switch .tg__switch_ico {
	background-color: #999;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
	background: transparent !important;
	color: #fff;
}







.paperView .es__home_bet_header {
	background: #1b2d4d;
	color: #fff;
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	background: #0E1727;
	color: #fff;
}

	.paperView .component_odd:hover,
	.paperView .component_odd_empty:hover,
	.paperView .EUodds:hover,
	.paperView .EUodds.selectedOdd,
	.paperView .component_odd.selectedOdd {
		background: #2CB56D;
		color: #fff;
	}

.showC {
	background: #1b2d4d;
	color: #fff;
}


/*border radius*/
.tg__btn,
.l_od, .l_od_empty,
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	border-radius: 0px;
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
	background-color: #1b2d4d;
	color: #cccccc;
}

	.es__express_slider_arrow:hover {
		background-color: #284373;
		color: #fff;
	}

.tg__exp_of_day_one_game {
	background-color: #1b2d4d;
	color: #cccccc;
	border-bottom: 1px solid #0E1727 !important;
}

.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}

.es__express_day_odd {
	border-color: #0E1727;
	color: #cccccc;
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #284373;
	color: #cccccc;
}

	.es__bonus_odd_container i,
	.es__express_day_odd--total {
		color: #2CB56D;
	}

.es__express_day_coupon {
	background-color: #1b2d4d;
	color: #cccccc;
}
/*multi bet of the day skinning*/