:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#102234;
--bodyBg2:#1c3b5b;
--bodyBg3:#22486e;
--bodyBgHover:#142a40;
--bodyBg2Hover:#204367;
--bodyBg3Hover:#26507a;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffa300;
--bodyAccentTxt:#000;
--bodyBorder:#142a40;
--bodyG:#102234;
--bodyRGBA:rgba(16, 34, 52, 0.7);
--bodyRGBA2:rgba(16, 34, 52, 0.5);
--bodyRGBA3:rgba(16, 34, 52, 0.3);
--dominantBg:#1c3b5b;
--dominantBg2:#285482;
--dominantBg3:#2e6195;
--dominantBgHover:#204367;
--dominantBg2Hover:#2c5c8e;
--dominantBg3Hover:#3269a1;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffa300;
--dominantAccentTxt:#000;
--dominantBorder:#204367;
--dominantG:#1c3b5b;
--dominantRGBA:rgba(28, 59, 91, 0.7);
--dominantRGBA2:rgba(28, 59, 91, 0.5);
--dominantRGBA3:rgba(28, 59, 91, 0.3);
--accentBg:#ffa300;
--accentBg2:#cc8200;
--accentBg3:#b37200;
--accentBgHover:#f09900;
--accentBg2Hover:#bd7800;
--accentBg3Hover:#a46800;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f09900;
--accentG:#ffa300;
--inputBg:#285482;
--inputBg2:#346da9;
--inputBg3:#3a7abc;
--inputBgHover:#2c5c8e;
--inputBg2Hover:#3875b5;
--inputBg3Hover:#4182c4;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffa300;
--inputAccentTxt:#000;
--inputBorder:#2c5c8e;
--inputG:#285482;
--inputSecondaryBg:#22486e;
--inputSecondaryBg2:#2e6195;
--inputSecondaryBg3:#346ea8;
--inputSecondaryBgHover:#26507a;
--inputSecondaryBg2Hover:#3269a1;
--inputSecondaryBg3Hover:#3876b4;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffa300;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#1c3b5b;
--headerBg:#1c3b5b;
--headerBg2:#285482;
--headerBg3:#2e6195;
--headerBgHover:#204367;
--headerBg2Hover:#2c5c8e;
--headerBg3Hover:#3269a1;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffa300;
--headerAccentTxt:#000;
--headerBorder:#204367;
--headerG:#1c3b5b;
--subHeaderBg:#285482;
--subHeaderBg2:#346da9;
--subHeaderBg3:#3a7abc;
--subHeaderBgHover:#2c5c8e;
--subHeaderBg2Hover:#3875b5;
--subHeaderBg3Hover:#4182c4;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffa300;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#2c5c8e;
--subHeaderG:#285482;
--eventBg:#1c3b5b;
--eventBg2:#285482;
--eventBg3:#2e6195;
--eventBgHover:#204367;
--eventBg2Hover:#2c5c8e;
--eventBg3Hover:#3269a1;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ffa300;
--eventAccentTxt:#000;
--eventBorder:#204367;
--eventG:#1c3b5b;
--buttonBg:#ffa300;
--buttonBg2:#cc8200;
--buttonBg3:#b37200;
--buttonBgHover:#f09900;
--buttonBg2Hover:#bd7800;
--buttonBg3Hover:#a46800;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#cc8200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#f09900;
--buttonG:#ffa300;
--buttonSecondaryBg:#22486e;
--buttonSecondaryBg2:#2e6195;
--buttonSecondaryBg3:#346ea8;
--buttonSecondaryBgHover:#26507a;
--buttonSecondaryBg2Hover:#3269a1;
--buttonSecondaryBg3Hover:#3876b4;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc8200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#26507a;
--buttonSecondaryG:#1c3b5b;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffa300;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#102234;
--oddBg2:#1c3b5b;
--oddBg3:#22486e;
--oddBgHover:#142a40;
--oddBg2Hover:#204367;
--oddBg3Hover:#26507a;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffa300;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#102234;
--oddActiveBg:#ffa300;
--oddActiveBg2:#cc8200;
--oddActiveBg3:#b37200;
--oddActiveBgHover:#f09900;
--oddActiveBg2Hover:#bd7800;
--oddActiveBg3Hover:#a46800;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#ffa300;
--oddActiveG:#ffa300;
--showMoreBg:#102234;
--showMoreBg2:#1c3b5b;
--showMoreBg3:#22486e;
--showMoreBgHover:#142a40;
--showMoreBg2Hover:#204367;
--showMoreBg3Hover:#26507a;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#ffa300;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#102234;
--showMoreG:#102234;
--tabBg:#285482;
--tabBg2:#346da9;
--tabBg3:#3a7abc;
--tabBgHover:#2c5c8e;
--tabBg2Hover:#3875b5;
--tabBg3Hover:#4182c4;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffa300;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#2c5c8e;
--tabG:#285482;
--tabActiveBg:#1c3b5b;
--tabActiveBg2:#285482;
--tabActiveBg3:#2e6195;
--tabActiveBgHover:#204367;
--tabActiveBg2Hover:#2c5c8e;
--tabActiveBg3Hover:#3269a1;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffa300;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#204367;
--tabActiveG:#1c3b5b;
--tabSecondaryActiveBg:#2e6195;
--tabSecondaryActiveBg2:#3a7abc;
--tabSecondaryActiveBg3:#4987c7;
--tabSecondaryActiveBgHover:#3269a1;
--tabSecondaryActiveBg2Hover:#4182c4;
--tabSecondaryActiveBg3Hover:#558fcb;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffa300;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#285482;
--filterBg:#244d76;
--filterBg2:#30669d;
--filterBg3:#3673b1;
--filterBgHover:#285582;
--filterBg2Hover:#346ea9;
--filterBg3Hover:#3a7bbd;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffa300;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#285582;
--filterG:#1c3b5b;
--menu_1Bg:#1c3b5b;
--menu_1Bg2:#285482;
--menu_1Bg3:#2e6195;
--menu_1BgHover:#204367;
--menu_1Bg2Hover:#2c5c8e;
--menu_1Bg3Hover:#3269a1;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffa300;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#204367;
--menu_1G:#1c3b5b;
--menu_2Bg:#285482;
--menu_2Bg2:#346da9;
--menu_2Bg3:#3a7abc;
--menu_2BgHover:#2c5c8e;
--menu_2Bg2Hover:#3875b5;
--menu_2Bg3Hover:#4182c4;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffa300;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#2c5c8e;
--menu_2G:#285482;
--menu_3Bg:#346da9;
--menu_3Bg2:#4986c7;
--menu_3Bg3:#5c93cd;
--menu_3BgHover:#3875b5;
--menu_3Bg2Hover:#558ecb;
--menu_3Bg3Hover:#689bd1;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffa300;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#3875b5;
--menu_3G:#346da9;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffa300;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:var(--primaryTxt2);
--menuItemTxt:var(--primaryTxt);
}/*
*/:root {
    --primaryBg: #102234;
    --primaryBgHover: #162f47;
    --primaryBg2: #1c3b5b;
    --primaryBg2Hover: #22486e;
    --primaryBg3: #22486e;
    --primaryBg3Hover: #285581;
    --primaryTxt: #fff;
    --primaryTxt2: #cccccc;
    --accentBg: #FFA300;
    --accentBgHover: #ffac1a;
    --accentG: #FFA300;
    --accentTxt: #000;
    --brandBg: #FFA300;
    --brandBgHover: #ffac1a;
    --brandG: #FFA300;
    --brandTxt: #000;
    --actionButtonG: #FFA300;
    --actionButtonTxt: #000;
    --widgetG: #1C3B5B;
    --widgetRGBA: rgba(40, 84, 130, 0.5);
    --widgetBg: #1C3B5B;
    --widgetBgHover: #22486e;
    --widgetBg2: #285482;
    --widgetBg2Hover: #2e6195;
    --widgetBg3: #2e6195;
    --widgetBg3Hover: #346ea8;
    --widgetTxt: #fff;
    --widgetTxt2: #cccccc;
    --oddG: #102234;
    --oddBg: #102234;
    --oddTxt: #fff;
    --oddActiveG: #FFA300;
    --oddActiveTxt: #000;
    --showMoreG: #102234;
    --showMoreBgHover: #162f47;
    --showMoreTxt: #fff;
    --headerBgHover: #22486e;
    --headerBgHover: #22486e;
    --headerG: #1C3B5B;
    --headerTxt: #fff;
    --subHeaderG: #285482;
    --subHeaderBg: #285482;
    --subHeaderTxt: #fff;
    --subHeaderTxt2: #cccccc;
    --tabG: #285482;
    --tabBg: #285482;
    --tabTxt: #fff;
    --tabTxt2: #cccccc;
    --activeTabG: #1C3B5B;
    --activeTabBg: #1C3B5B;
    --activeTabTxt: #fff;
    --sideBarTabG: #346da9;
    --sideBarTabTxt: #fff;
    --sideBarActiveTabG: #1C3B5B;
    --sideBarActiveTabTxt: #fff;
    --inputG: #285482;
    --inputTxt: #fff;
    --inputTxt2: #cccccc;
    --singleGameG: #1C3B5B;
    --singleGameBg: #1C3B5B;
    --singleGameBgHover: #22486e;
    --singleGameTxt: #fff;
    --singleGameTxt2: #cccccc;
    --MenuLevel_ABg: #1C3B5B;
    --MenuLevel_AG: #1C3B5B;
    --MenuLevel_ATxt: #fff;
    --MenuLevel_ATxt2: #cccccc;
    --MenuLevel_BBg: #285482;
    --MenuLevel_BG: #285482;
    --MenuLevel_BTxt: #fff;
    --MenuLevel_BTxt2: #cccccc;
    --MenuLevel_CBg: #346da9;
    --MenuLevel_CG: #346da9;
    --MenuLevel_CTxt: #fff;
    --MenuLevel_CTxt2: #cccccc;
    --betSlipBg: #1C3B5B;
    --betSlipTxt2: #cccccc;
    --betSlipStakeG: #285482;
    --betSlipStakeBg: #285482;
    --betSlipStakeTxt: #fff;
    --betSlipStakeTxt2: #cccccc;
    --betSlipInputG: #285482;
    --betSlipInputTxt: #fff;
    --betSlipButtonG: #285482;
    --betSlipButtonBg2: #346da9;
    --betSlipButtonTxt: #fff;
    --popupHeaderG: #285482;
    --popupHeaderTxt: #fff;
    --popupBg: #1C3B5B;
    --popupBgHover: #22486e;
    --popupG: #1C3B5B;
    --popupTxt: #fff;
    --popupTxt2: #cccccc;
    --widgetInputG: #22486e;
    --widgetInputBg2: #2e6195;
    --widgetInputTxt: #fff;
    --widgetInputTxt2: #cccccc;
    --borderRadius: 0px;
    --inputBorderRadius: 0px;
    --bottomBorderRadius: 20px;
    --spritePositionX: 0px;
    --menuItemActiveTxt:var(--primaryTxt2);
    --menuItemTxt:var(--primaryTxt);
}

[class^='digi_tournament_']:before, [class*=' digi_tournament_']:before {
    background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
    margin-top: 0;
}

.tg__multi_game {
    padding: 0 !important;
}

.tg_input::placeholder {
    color: var(--inputTxt2);
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item {
    background-color: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.paperView .champ_list:last-child,
.tg__match_item_stake,
.tg--pos_comb_row,
.tg--border-bot-1 {
    border-color: var(--primaryBg);
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
    background-color: var(--primaryBg);
}

.tg__btn-action {
    background: var(--actionButtonG) !important;
    color: var(--actionButtonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header,
.tg__multiview_content {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-hero {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-bg_transparent {
    background-color: var(--widgetRGBA);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

    .tg__left_menu_item--lvl1 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl1 .tg-ico-arrow {
        color: var(--MenuLevel_ATxt2);
    }

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: var(--widgetTxt2);
}

    .ss__step_slider .ss__slider:hover {
        background: var(--accentBg);
    }

.ss__step_slider .ss__ruller > .off {
    background: var(--widgetBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
    background: var(--MenuLevel_BG);
    color: var(--MenuLevel_BTxt);
}

    .tg__left_menu_item--lvl2 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl2 .tg-ico-arrow {
        color: var(--MenuLevel_BTxt2);
    }

/* africanView */
.africanView .SBhead {
    background: var(--headerG);
    color: var(--headerTxt);
}

.africanView .gameContentTitle {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.africanView .champCont {
    background: var(--singleGameG);
    color: var(--singleGameTxt);
}

.africanView .tg_left_tabs {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
    color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading,
.tg_bet_history_order_row_sub:nth-child(even) {
    background: var(--MenuLevel_CG);
    color: var(--MenuLevel_CTxt);
}

    .tg__left_menu_item--lvl3 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl3 .tg-ico-arrow {
        color: var(--MenuLevel_CTxt2);
    }

/* - - - - Passive Tab - - - - */
.tab_selector {
    background: var(--tabG);
    color: var(--tabTxt2);
}

.sportLeftPane .tab_selector {
    background: var(--sideBarTabG);
    color: var(--sideBarTabTxt);
}

.tg__coupon_tabs_cont {
    padding-top: 2px;
}

.tab_cupon {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: var(--tabG);
        color: var(--tabTxt2);
    }

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_input,
.tg_subheader_btn,
.tg_live_center-wrapper .selectorWrapper,
.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value,
.tg__live_filter_item {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

    .tg__live_filter_item.checked {
        background: var(--tabG);
        color: var(--tabTxt);
    }

.tg__dropdown_control {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
    background: var(--sideBarActiveTabG);
    color: var(--sideBarActiveTabTxt);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
    background: var(--headerG);
    color: var(--headerTxt);
}

/* africanView */
.africanView .tg--home2__stakeItem {
    background: var(--tabG);
    color: var(--tabTxt);
}

.africanView .champCont {
    margin: 0px;
}

.tg--selected_prem_game {
    border-left: 2px solid;
    border-color: var(--accentBg);
}

.tg__list_row {
    margin: 0;
    border-top: 1px solid var(--primaryBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
    border: 0 !important;
}

    .ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
        background: var(--widgetBg);
        color: var(--widgetTxt);
    }

.tg_bet_history_order_row .tg-clr-akcent {
    color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
}

.tg__list_row_sub {
    background: var(--widgetBg3);
    color: var(--widgetTxt);
    border-bottom: 1px solid var(--primaryBg);
}

/* - - - - SubHeader - - - - */
.tg__match_header,
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__home_game_heading {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-top: 1px solid var(--widgetBg);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_onegame_chb,
.news_slider .oddsContainer {
    background: var(--singleGameG);
    color: var(--singleGameTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
    background: var(--popupBg);
    color: var(--popupTxt);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

.tg__custom-range-slider {
    color: var(--accentBg);
}

.tg--close {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.ui-widget-content {
    border-color: var(--widgetBg2);
    background: var(--widgetBg);
    color: var(--widgetTxt);
}

.ui-widget-header {
    border: 0;
    background: var(--widgetG);
    color: var(--widgetTxt);
}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-datepicker-title select {
        border: 0;
        background: var(--primaryBg);
        color: var(--primaryTxt);
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight,
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    .ui-datepicker-calendar .ui-state-hover {
        background: var(--accentG);
        color: var(--accentTxt);
    }


.tg__btn-text {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.tg__one_game_team {
    color: var(--singleGameTxt);
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
    color: var(--singleGameTxt2);
}

.posCombItem {
    background: var(--subHeaderG);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
    background: var(--oddG);
    color: var(--oddTxt);
}

/* - - - - Show More - - - - */
.tg__more {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

/* - - - - Betslip Header - - - - */
.tg__block_header,
.tg__info_panel .selectorWrapper {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
    color: var(--accentBg);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
    border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active {
    color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
    color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary {
    background: var(--brandG);
    color: var(--brandTxt);
}

.tabSelectorHeading {
    color: var(--brandBg);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background: var(--brandG);
    color: var(--brandTxt);
}

/* - - - - BetSlip - - - - */
.tg__coupon .tg--coupon-bg {
    background: var(--betSlipBg);
    color: var(--betSlipTxt2)
}

.tg--coupon-bg {
    background: var(--popupG);
    color: var(--popupTxt);
}

.stake_item_panel {
    background: var(--betSlipStakeG);
    color: var(--betSlipStakeTxt2);
    border-color: var(--primaryBg);
    border-top: 0;
}

.coupon_sport_name_container {
    color: var(--betSlipStakeTxt);
}

.tg__btn-coupon {
    background: var(--betSlipButtonG);
    color: var(--betSlipButtonTxt);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper {
    background: var(--popupG);
    color: var(--popupTxt);
}

.tg_coin {
    background: var(--accentBg);
    color: var(--accentTxt);
}

.tg__match_item_btn {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
    border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
    color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
    background: var(--primaryBg);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

    .tg__dropdown__item:hover {
        background: var(--widgetInputBg2);
    }

    .sportRightPane .tg_input::placeholder {
        color: var(--widgetInputTxt2);
    }

.tg__search_cont .tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
    background: var(--inputG);
    color: var(--inputTxt);
}

.tg__search_cont .tg__input::placeholder {
    color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
    color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
    background: var(--betSlipInputG);
    color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover {
    color: var(--accentBg);
}

.tg__coupon_square {
    background: var(--betSlipInputG);
}

.tg__coupon_factor {
    background: var(--betSlipButtonBg2);
    color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__badge_live {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-ico-date {
    color: var(--widgetTxt);
}

.tg__switch input:checked + .tg__switch_ico {
    background: var(--brandG);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #fff;
    }



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
    background: transparent !important;
    color: var(--popupHeaderTxt);
}




.paperView .es__home_bet_header {
    background: var(--headerG);
    color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: var(--oddG);
    color: var(--oddTxt);
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: var(--brandG);
        color: var(--brandTxt);
    }

.showC {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}

    .es__express_slider_arrow:hover {
        background-color: var(--widgetBg2);
        color: var(--widgetTxt);
    }

.tg__exp_of_day_one_game {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
    border-bottom: 1px solid var(--primaryBg) !important;
}

.es__total_odd_container .tg-clr-secondary {
    color: var(--widgetTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
    color: var(--widgetTxt);
}

.es__express_day_odd {
    border-color: var(--primaryBg);
    color: var(--widgetTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
    background-color: var(--widgetBg2);
    color: var(--widgetTxt2);
}

    .es__bonus_odd_container i,
    .es__express_day_odd--total {
        color: var(--accentBg);
    }

.es__express_day_coupon {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
    color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--primaryBg3);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
    border-bottom: 6px solid var(--activeTabBg);
}

.tg--calendar-tab {
    border-bottom: 6px solid var(--activeTabBg);
}

.live_calendar .body_panel {
    height: calc((100%) - 92px);
}
/*roundness*/
.tg_calendar_subtab_wrapper {
    margin-right: -1px;
    margin-left: -1px;
}

    .tg_calendar_subtab_wrapper .tab_selector {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        margin: 0 1px;
    }

.gameContentTitle, .tg__result_group_heading,
.tg__block_header,
.tg__modal_header,
.tg__cashout--header,
.tg__info_panel .selectorWrapper,
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper,
.tg__match_header,
.tg-hero,
.tg-hero-image,
.tg__live_list_header,
.tg__multiview_content,
.tab_cupon,
.tab_selector,
.tg__banner {
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}

.tg__home_game_item .tg--2-tab {
    margin-left: var(--borderRadius);
    margin-right: var(--borderRadius);
}
/*input roundness*/
.tg__dropdown_control,
.tg__input,
.tg_input,
.tg__info_panel .tg__dropdown_control,
.sportRightPane .tg_input,
.tg__dropdown_value {
    border-radius: var(--inputBorderRadius);
}
/*button roundness*/
.tg__more,
.tg__btn,
.l_od, .l_od_empty,
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    border-radius: var(--bottomBorderRadius);
}
