:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#1a0531;
--bodyBg2:#330a5f;
--bodyBg3:#3f0c76;
--bodyBgHover:#21063f;
--bodyBg2Hover:#3a0b6d;
--bodyBg3Hover:#460d84;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffa727;
--bodyAccentTxt:#000;
--bodyBorder:#21063f;
--bodyG:#1a0531;
--bodyRGBA:rgba(26, 5, 49, 0.7);
--bodyRGBA2:rgba(26, 5, 49, 0.5);
--bodyRGBA3:rgba(26, 5, 49, 0.3);
--dominantBg:#330a5f;
--dominantBg2:#4c0f8d;
--dominantBg3:#5811a4;
--dominantBgHover:#3a0b6d;
--dominantBg2Hover:#53109b;
--dominantBg3Hover:#5f12b2;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffa727;
--dominantAccentTxt:#000;
--dominantBorder:#3a0b6d;
--dominantG:#330a5f;
--dominantRGBA:rgba(51, 10, 95, 0.7);
--dominantRGBA2:rgba(51, 10, 95, 0.5);
--dominantRGBA3:rgba(51, 10, 95, 0.3);
--accentBg:#ffa727;
--accentBg2:#f39000;
--accentBg3:#d98100;
--accentBgHover:#ffa118;
--accentBg2Hover:#e48700;
--accentBg3Hover:#ca7800;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#ffa118;
--accentG:#ffa727;
--inputBg:#4c0f8d;
--inputBg2:#6514bb;
--inputBg3:#7116d2;
--inputBgHover:#53109b;
--inputBg2Hover:#6c15c9;
--inputBg3Hover:#7817e0;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffa727;
--inputAccentTxt:#000;
--inputBorder:#53109b;
--inputG:#4c0f8d;
--inputSecondaryBg:#3f0c76;
--inputSecondaryBg2:#5811a4;
--inputSecondaryBg3:#6413bb;
--inputSecondaryBgHover:#460d84;
--inputSecondaryBg2Hover:#5f12b2;
--inputSecondaryBg3Hover:#6b14c9;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffa727;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#330a5f;
--headerBg:#330a5f;
--headerBg2:#4c0f8d;
--headerBg3:#5811a4;
--headerBgHover:#3a0b6d;
--headerBg2Hover:#53109b;
--headerBg3Hover:#5f12b2;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffa727;
--headerAccentTxt:#000;
--headerBorder:#3a0b6d;
--headerG:#330a5f;
--subHeaderBg:#4c0f8d;
--subHeaderBg2:#6514bb;
--subHeaderBg3:#7116d2;
--subHeaderBgHover:#53109b;
--subHeaderBg2Hover:#6c15c9;
--subHeaderBg3Hover:#7817e0;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffa727;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#53109b;
--subHeaderG:#4c0f8d;
--eventBg:#330a5f;
--eventBg2:#4c0f8d;
--eventBg3:#5811a4;
--eventBgHover:#3a0b6d;
--eventBg2Hover:#53109b;
--eventBg3Hover:#5f12b2;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ffa727;
--eventAccentTxt:#000;
--eventBorder:#3a0b6d;
--eventG:#330a5f;
--buttonBg:#ffa727;
--buttonBg2:#f39000;
--buttonBg3:#d98100;
--buttonBgHover:#ffa118;
--buttonBg2Hover:#e48700;
--buttonBg3Hover:#ca7800;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#f39000;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#ffa118;
--buttonG:#ffa727;
--buttonSecondaryBg:#3f0c76;
--buttonSecondaryBg2:#5811a4;
--buttonSecondaryBg3:#6413bb;
--buttonSecondaryBgHover:#460d84;
--buttonSecondaryBg2Hover:#5f12b2;
--buttonSecondaryBg3Hover:#6b14c9;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#f39000;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#460d84;
--buttonSecondaryG:#330a5f;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffa727;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#1a0531;
--oddBg2:#330a5f;
--oddBg3:#3f0c76;
--oddBgHover:#21063f;
--oddBg2Hover:#3a0b6d;
--oddBg3Hover:#460d84;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffa727;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#1a0531;
--oddActiveBg:#ffa727;
--oddActiveBg2:#f39000;
--oddActiveBg3:#d98100;
--oddActiveBgHover:#ffa118;
--oddActiveBg2Hover:#e48700;
--oddActiveBg3Hover:#ca7800;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#ffa727;
--oddActiveG:#ffa727;
--showMoreBg:#1a0531;
--showMoreBg2:#330a5f;
--showMoreBg3:#3f0c76;
--showMoreBgHover:#21063f;
--showMoreBg2Hover:#3a0b6d;
--showMoreBg3Hover:#460d84;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#ffa727;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#1a0531;
--showMoreG:#1a0531;
--tabBg:#4c0f8d;
--tabBg2:#6514bb;
--tabBg3:#7116d2;
--tabBgHover:#53109b;
--tabBg2Hover:#6c15c9;
--tabBg3Hover:#7817e0;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffa727;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#53109b;
--tabG:#4c0f8d;
--tabActiveBg:#330a5f;
--tabActiveBg2:#4c0f8d;
--tabActiveBg3:#5811a4;
--tabActiveBgHover:#3a0b6d;
--tabActiveBg2Hover:#53109b;
--tabActiveBg3Hover:#5f12b2;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffa727;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#3a0b6d;
--tabActiveG:#330a5f;
--tabSecondaryActiveBg:#5811a4;
--tabSecondaryActiveBg2:#7116d2;
--tabSecondaryActiveBg3:#7d1ae7;
--tabSecondaryActiveBgHover:#5f12b2;
--tabSecondaryActiveBg2Hover:#7817e0;
--tabSecondaryActiveBg3Hover:#8528e8;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffa727;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#4c0f8d;
--filterBg:#440d7f;
--filterBg2:#5d12ad;
--filterBg3:#6914c4;
--filterBgHover:#4b0e8d;
--filterBg2Hover:#6413bb;
--filterBg3Hover:#7015d2;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffa727;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#4b0e8d;
--filterG:#330a5f;
--menu_1Bg:#330a5f;
--menu_1Bg2:#4c0f8d;
--menu_1Bg3:#5811a4;
--menu_1BgHover:#3a0b6d;
--menu_1Bg2Hover:#53109b;
--menu_1Bg3Hover:#5f12b2;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffa727;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#3a0b6d;
--menu_1G:#330a5f;
--menu_2Bg:#4c0f8d;
--menu_2Bg2:#6514bb;
--menu_2Bg3:#7116d2;
--menu_2BgHover:#53109b;
--menu_2Bg2Hover:#6c15c9;
--menu_2Bg3Hover:#7817e0;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffa727;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#53109b;
--menu_2G:#4c0f8d;
--menu_3Bg:#6514bb;
--menu_3Bg2:#7e1be7;
--menu_3Bg3:#8b32e9;
--menu_3BgHover:#6c15c9;
--menu_3Bg2Hover:#8629e8;
--menu_3Bg3Hover:#9340ea;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffa727;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#6c15c9;
--menu_3G:#6514bb;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffa727;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:var(--primaryTxt2);
--menuItemTxt:var(--primaryTxt);
}/*
*/:root {
    --primaryBg: #1A0531;
    --primaryTxt: #fff;
    --primaryTxt2: #cccccc;
    --primaryBg3: #3f0c76;
    --accentBg: #FFA727;
    --accentG: #FFA727;
    --accentTxt: #000;
    --brandG: #FFA727;
    --brandBg: #FFA727;
    --brandTxt: #000;
    --actionButtonG: #FFA727;
    --actionButtonTxt: #000;
    --widgetG: #330a5f;
    --widgetBg: #330a5f;
    --widgetBgHover: #2b0950;

    --widgetBg2: #4c0f8d;
    --widgetBg2Hover: #230642;

    --widgetBg3: #5811a4;
    --widgetRGBA: rgba(76, 15, 141, 0.5);
    --widgetTxt: #fff;
    --widgetTxt2: #cccccc;
    --oddG: #1A0531;
    --oddBg: #1A0531;
    --oddTxt: #fff;

    --oddActiveG: #FFA727;
    --oddActiveBg: #FFA727;
    --oddActiveBg2: #f89701;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #666;

    --showMoreG: #1A0531;
    --showMoreTxt: #fff;
    --headerBG: undefined;
    --headerG: #330a5f;
    --headerTxt: #fff;
    --subHeaderG: #4c0f8d;
    --subHeaderBg: #4c0f8d;
    --subHeaderTxt: #fff;
    --subHeaderTxt2: #cccccc;
    --singleGameG: #330a5f;
    --singleGameBg: #330a5f;
    --singleGameTxt: #fff;
    --singleGameTxt2: #cccccc;
    --MenuLevel_ABg: #330a5f;
    --MenuLevel_AG: #330a5f;
    --MenuLevel_ATxt: #fff;
    --MenuLevel_ATxt2: #cccccc;
    --MenuLevel_BBg: #4c0f8d;
    --MenuLevel_BG: #4c0f8d;
    --MenuLevel_BTxt: #fff;
    --MenuLevel_BTxt2: #cccccc;
    --MenuLevel_CBg: #6514bb;
    --MenuLevel_CG: #6514bb;
    --MenuLevel_CTxt: #fff;
    --MenuLevel_CTxt2: #cccccc;
    --betSlipBg: #330a5f;
    --betSlipTxt2: #cccccc;
    --betSlipStakeG: #4c0f8d;
    --betSlipStakeBg: #4c0f8d;
    --betSlipStakeTxt: #fff;
    --betSlipStakeTxt2: #cccccc;
    --betSlipInputG: #4c0f8d;
    --betSlipInputTxt: #fff;
    --betSlipButtonG: #4c0f8d;
    --betSlipButtonBg2: #6514bb;
    --betSlipButtonTxt: #fff;
    --popupHeaderG: #4c0f8d;
    --popupHeaderTxt: #fff;
    --popupBg: #330a5f;
    --popupG: #330a5f;
    --popupTxt: #fff;
    --popupTxt2: #cccccc;
    --tabG: #4c0f8d;
    --tabBg: #4c0f8d;
    --tabTxt: #fff;
    --tabTxt2: #cccccc;
    --activeTabG: #330a5f;
    --activeTabBg: #330a5f;
    --activeTabTxt: #fff;
    --sideBarTabG: #4c0f8d;
    --sideBarTabTxt: #fff;
    --sideBarActiveTabG: #330a5f;
    --sideBarActiveTabTxt: #fff;
    --inputG: #4c0f8d;
    --inputTxt: #fff;
    --inputTxt2: #cccccc;
    --widgetInputG: #3f0c76;
    --widgetInputBg2: #5811a4;
    --widgetInputTxt: #fff;
    --widgetInputTxt2: #cccccc;
    --borderRadius: 0px;
    --inputBirderRadius: 0px;
    --bottomBirderRadius: 0px;
    --spritePositionX: 0px;
    --menuItemActiveTxt:var(--primaryTxt2);
    --menuItemTxt:var(--primaryTxt);
}

[class^='digi_tournament_']:before, [class*=' digi_tournament_']:before {
    background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
    margin-top: 0;
}

.tg__multi_game {
    padding: 0 !important;
}

.tg_input::placeholder {
    color: var(--inputTxt2);
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item,
.tg__live_filter_item {
    background-color: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.paperView .champ_list:last-child,
.tg__match_item_stake,
.tg--pos_comb_row,
.tg--border-bot-1 {
    border-color: var(--primaryBg);
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
    background-color: var(--primaryBg);
}

.tg__btn-action {
    background: var(--actionButtonG) !important;
    color: var(--actionButtonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header,
.tg__multiview_content {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-hero {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-bg_transparent {
    background-color: var(--widgetRGBA);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

.tg__left_menu_item--lvl1 .tg__left_menu_item_text,
.tg__left_menu_item--lvl1 .tg-ico-arrow {
    color: var(--MenuLevel_ATxt2);
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: var(--widgetTxt2);
}

.ss__step_slider .ss__slider:hover {
    background: var(--accentBg);
}

.ss__step_slider .ss__ruller > .off {
    background: var(--widgetBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
    background: var(--MenuLevel_BG);
    color: var(--MenuLevel_BTxt);
}

.tg__left_menu_item--lvl2 .tg__left_menu_item_text,
.tg__left_menu_item--lvl2 .tg-ico-arrow {
    color: var(--MenuLevel_BTxt2);
}

/* africanView */
.africanView .SBhead {
    background: var(--headerG);
    color: var(--headerTxt);
}

.africanView .gameContentTitle {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.africanView .champCont {
    background: var(--singleGameG);
    color: var(--singleGameTxt);
}

.africanView .tg_left_tabs {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
    color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading,
.tg_bet_history_order_row_sub:nth-child(even) {
    background: var(--MenuLevel_CG);
    color: var(--MenuLevel_CTxt);
}

.tg__left_menu_item--lvl3 .tg__left_menu_item_text,
.tg__left_menu_item--lvl3 .tg-ico-arrow {
    color: var(--MenuLevel_CTxt2);
}

/* - - - - Passive Tab - - - - */
.tab_selector {
    background: var(--tabG);
    color: var(--tabTxt2);
}

.sportLeftPane .tab_selector {
    background: var(--sideBarTabG);
    color: var(--sideBarTabTxt);
}

.tg__coupon_tabs_cont {
    padding-top: 2px;
}

.tab_cupon {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

.tab_cupon.tab_selected,
.tab_cupon:hover {
    background: var(--tabG);
    color: var(--tabTxt2);
}

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_input,
.tg_subheader_btn,
.tg_live_center-wrapper .selectorWrapper,
.tg__live_filter_item.checked,
.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

.tg__dropdown_control {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
    background: var(--sideBarActiveTabG);
    color: var(--sideBarActiveTabTxt);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
    background: var(--headerG);
    color: var(--headerTxt);
}

/* africanView */
.africanView .tg--home2__stakeItem {
    background: var(--tabG);
    color: var(--tabTxt);
}

.africanView .champCont {
    margin: 0px;
}

.tg--selected_prem_game {
    border-left: 2px solid;
    border-color: var(--accentBg);
}

.tg__list_row {
    margin: 0;
    border-top: 1px solid var(--primaryBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
    border: 0 !important;
}

.ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
    background: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg_bet_history_order_row .tg-clr-akcent {
    color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
}

.tg__list_row_sub {
    background: var(--widgetBg3);
    color: var(--widgetTxt);
    border-bottom: 1px solid var(--primaryBg);
}

/* - - - - SubHeader - - - - */
.tg__match_header,
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__home_game_heading {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-top: 1px solid var(--widgetBg);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_onegame_chb,
.news_slider .oddsContainer {
    background: var(--singleGameG);
    color: var(--singleGameTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
    background: var(--popupBg);
    color: var(--popupTxt);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

.tg__custom-range-slider {
    color: var(--accentBg);
}

.tg--close {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.ui-widget-content {
    border-color: var(--widgetBg2);
    background: var(--widgetBg);
    color: var(--widgetTxt);
}

.ui-widget-header {
    border: 0;
    background: var(--widgetG);
    color: var(--widgetTxt);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-datepicker-title select {
    border: 0;
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-datepicker-calendar .ui-state-hover {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__btn-text {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.tg__one_game_team {
    color: var(--singleGameTxt);
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
    color: var(--singleGameTxt2);
}

.posCombItem {
    background: var(--subHeaderG);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
    background: var(--oddG);
    color: var(--oddTxt);
}

/* - - - - Show More - - - - */
.tg__more {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

/* - - - - Betslip Header - - - - */
.tg__block_header,
.tg__info_panel .selectorWrapper {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
    color: var(--accentBg);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
    border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active {
    color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
    color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary {
    background: var(--brandG);
    color: var(--brandTxt);
}

.tabSelectorHeading {
    color: var(--brandBg);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background: var(--brandG);
    color: var(--brandTxt);
}

/* - - - - BetSlip - - - - */
.tg__coupon {
    background: var(--betSlipBg);
    color: var(--betSlipTxt2)
}

.stake_item_panel {
    background: var(--betSlipStakeG);
    color: var(--betSlipStakeTxt2);
    border-color: var(--primaryBg);
    border-top: 0;
}

.coupon_sport_name_container {
    color: var(--betSlipStakeTxt);
}

.tg__btn-coupon {
    background: var(--betSlipButtonG);
    color: var(--betSlipButtonTxt);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper {
    background: var(--popupG);
    color: var(--popupTxt);
}

.tg_coin {
    background: var(--accentBg);
    color: var(--accentTxt);
}

.tg__match_item_btn {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
    border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
    color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
    background: var(--primaryBg);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.tg__dropdown__item:hover {
    background: var(--widgetInputBg2);
}

.sportRightPane .tg_input::placeholder {
    color: var(--widgetInputTxt2);
}

.tg__search_cont .tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
    background: var(--inputG);
    color: var(--inputTxt);
}

.tg__search_cont .tg__input::placeholder {
    color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
    color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
    background: var(--betSlipInputG);
    color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover {
    color: var(--accentBg);
}

.tg__coupon_square {
    background: var(--betSlipInputG);
}

.tg__coupon_factor {
    background: var(--betSlipButtonBg2);
    color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__badge_live {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-ico-date {
    color: var(--widgetTxt);
}

.tg__switch input:checked + .tg__switch_ico {
    background: var(--brandG);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

.tg__switch .tg__switch_ico:before {
    background-color: #fff;
}

.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
    background: transparent !important;
    color: var(--popupHeaderTxt);
}

.paperView .es__home_bet_header {
    background: var(--headerG);
    color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: var(--oddG);
    color: var(--oddTxt);
}

.paperView .component_odd:hover,
.paperView .component_odd_empty:hover,
.paperView .EUodds:hover,
.paperView .EUodds.selectedOdd,
.paperView .component_odd.selectedOdd {
    background: var(--brandG);
    color: var(--brandTxt);
}

.showC {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}

.es__express_slider_arrow:hover {
    background-color: var(--widgetBg2);
    color: var(--widgetTxt);
}

.tg__exp_of_day_one_game {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
    border-bottom: 1px solid var(--primaryBg) !important;
}

.es__total_odd_container .tg-clr-secondary {
    color: var(--widgetTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
    color: var(--widgetTxt);
}

.es__express_day_odd {
    border-color: var(--primaryBg);
    color: var(--widgetTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
    background-color: var(--widgetBg2);
    color: var(--widgetTxt2);
}

.es__bonus_odd_container i,
.es__express_day_odd--total {
    color: var(--accentBg);
}

.es__express_day_coupon {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
    color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--primaryBg3);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
    border-bottom: 6px solid var(--activeTabBg);
}

.tg--calendar-tab {
    border-bottom: 6px solid var(--activeTabBg);
}

.live_calendar .body_panel {
    height: calc((100%) - 92px);
}
/*roundness*/
.tg_calendar_subtab_wrapper {
    margin-right: -1px;
    margin-left: -1px;
}

.tg_calendar_subtab_wrapper .tab_selector {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin: 0 1px;
}

.gameContentTitle, .tg__result_group_heading,
.tg__block_header,
.tg__modal_header,
.tg__cashout--header,
.tg__info_panel .selectorWrapper,
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper,
.tg__match_header,
.tg-hero,
.tg-hero-image,
.tg__live_list_header,
.tg__multiview_content,
.tab_cupon,
.tab_selector,
.tg__banner {
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}

.tg__home_game_item .tg--2-tab {
    margin-left: var(--borderRadius);
    margin-right: var(--borderRadius);
}
/*input roundness*/
.tg__dropdown_control,
.tg__input,
.tg_input,
.tg__info_panel .tg__dropdown_control,
.sportRightPane .tg_input,
.tg__dropdown_value {
    border-radius: var(--inputBirderRadius);
}
/*button roundness*/
.tg__more,
.tg__btn,
.l_od, .l_od_empty,
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    border-radius: var(--bottomBirderRadius);
}
