:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#020924;
--bodyBg2:#051554;
--bodyBg3:#061b6c;
--bodyBgHover:#030d32;
--bodyBg2Hover:#061962;
--bodyBg3Hover:#071f7a;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#e03635;
--bodyAccentTxt:#fff;
--bodyBorder:#030d32;
--bodyG:#020924;
--bodyRGBA:rgba(2, 9, 36, 0.7);
--bodyRGBA2:rgba(2, 9, 36, 0.5);
--bodyRGBA3:rgba(2, 9, 36, 0.3);
--dominantBg:#030c37;
--dominantBg2:#061767;
--dominantBg3:#071c80;
--dominantBgHover:#040f45;
--dominantBg2Hover:#071a75;
--dominantBg3Hover:#081f8e;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#e03635;
--dominantAccentTxt:#fff;
--dominantBorder:#040f45;
--dominantG:#030c37;
--dominantRGBA:rgba(3, 12, 55, 0.7);
--dominantRGBA2:rgba(3, 12, 55, 0.5);
--dominantRGBA3:rgba(3, 12, 55, 0.3);
--accentBg:#e03635;
--accentBg2:#e76261;
--accentBg3:#ea7877;
--accentBgHover:#e24342;
--accentBg2Hover:#e96f6e;
--accentBg3Hover:#ec8584;
--accentTxt:rgba(255, 255, 255, 0.9);
--accentTxt2:rgba(255, 255, 255, 0.8);
--accentTxt3:rgba(255, 255, 255, 0.6);
--accentBorder:#e24342;
--accentG:#e03635;
--inputBg:#061767;
--inputBg2:#092297;
--inputBg3:#0a27af;
--inputBgHover:#071a75;
--inputBg2Hover:#0a25a5;
--inputBg3Hover:#0b2abd;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#e03635;
--inputAccentTxt:#fff;
--inputBorder:#071a75;
--inputG:#061767;
--inputSecondaryBg:#04114f;
--inputSecondaryBg2:#061b80;
--inputSecondaryBg3:#082198;
--inputSecondaryBgHover:#05145e;
--inputSecondaryBg2Hover:#071e8f;
--inputSecondaryBg3Hover:#0924a7;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#e03635;
--inputSecondaryAccentTxt:#fff;
--inputSecondaryG:#030c37;
--headerBg:#030c37;
--headerBg2:#061767;
--headerBg3:#071c80;
--headerBgHover:#040f45;
--headerBg2Hover:#071a75;
--headerBg3Hover:#081f8e;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#e03635;
--headerAccentTxt:#fff;
--headerBorder:#040f45;
--headerG:#030c37;
--subHeaderBg:#061767;
--subHeaderBg2:#092297;
--subHeaderBg3:#0a27af;
--subHeaderBgHover:#071a75;
--subHeaderBg2Hover:#0a25a5;
--subHeaderBg3Hover:#0b2abd;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#e03635;
--subHeaderAccentTxt:#fff;
--subHeaderBorder:#071a75;
--subHeaderG:#061767;
--eventBg:#030c37;
--eventBg2:#061767;
--eventBg3:#071c80;
--eventBgHover:#040f45;
--eventBg2Hover:#071a75;
--eventBg3Hover:#081f8e;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#e03635;
--eventAccentTxt:#fff;
--eventBorder:#040f45;
--eventG:#030c37;
--buttonBg:#e03635;
--buttonBg2:#e76261;
--buttonBg3:#ea7877;
--buttonBgHover:#e24342;
--buttonBg2Hover:#e96f6e;
--buttonBg3Hover:#ec8584;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#e76261;
--buttonAccentTxt:rgba(255, 255, 255, 0.9);
--buttonBorder:#e24342;
--buttonG:#e03635;
--buttonSecondaryBg:#04114f;
--buttonSecondaryBg2:#061b80;
--buttonSecondaryBg3:#082198;
--buttonSecondaryBgHover:#05145e;
--buttonSecondaryBg2Hover:#071e8f;
--buttonSecondaryBg3Hover:#0924a7;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#e76261;
--buttonSecondaryAccentTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryBorder:#05145e;
--buttonSecondaryG:#030c37;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#e03635;
--modalAccentTxt:rgba(255, 255, 255, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#020924;
--oddBg2:#051554;
--oddBg3:#061b6c;
--oddBgHover:#030d32;
--oddBg2Hover:#061962;
--oddBg3Hover:#071f7a;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#e03635;
--oddAccentTxt:rgba(255, 255, 255, 0.9);
--oddBorder:#ffffff;
--oddG:#020924;
--oddActiveBg:#e03635;
--oddActiveBg2:#e76261;
--oddActiveBg3:#ea7877;
--oddActiveBgHover:#e24342;
--oddActiveBg2Hover:#e96f6e;
--oddActiveBg3Hover:#ec8584;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#e03635;
--oddActiveG:#e03635;
--showMoreBg:#020924;
--showMoreBg2:#051554;
--showMoreBg3:#061b6c;
--showMoreBgHover:#030d32;
--showMoreBg2Hover:#061962;
--showMoreBg3Hover:#071f7a;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#e03635;
--showMoreAccentTxt:rgba(255, 255, 255, 0.9);
--showMoreBorder:#020924;
--showMoreG:#020924;
--tabBg:#061767;
--tabBg2:#092297;
--tabBg3:#0a27af;
--tabBgHover:#071a75;
--tabBg2Hover:#0a25a5;
--tabBg3Hover:#0b2abd;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#e03635;
--tabAccentTxt:rgba(255, 255, 255, 0.9);
--tabBorder:#071a75;
--tabG:#061767;
--tabActiveBg:#030c37;
--tabActiveBg2:#061767;
--tabActiveBg3:#071c80;
--tabActiveBgHover:#040f45;
--tabActiveBg2Hover:#071a75;
--tabActiveBg3Hover:#081f8e;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#e03635;
--tabActiveAccentTxt:rgba(255, 255, 255, 0.9);
--tabActiveBorder:#040f45;
--tabActiveG:#030c37;
--tabSecondaryActiveBg:#071c7f;
--tabSecondaryActiveBg2:#0a27af;
--tabSecondaryActiveBg3:#0b2cc7;
--tabSecondaryActiveBgHover:#081f8d;
--tabSecondaryActiveBg2Hover:#0b2abd;
--tabSecondaryActiveBg3Hover:#0c2fd5;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#e03635;
--tabSecondaryAccentTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveG:#061767;
--filterBg:#051359;
--filterBg2:#081d89;
--filterBg3:#0922a1;
--filterBgHover:#061667;
--filterBg2Hover:#092097;
--filterBg3Hover:#0a25af;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#e03635;
--filterAccentTxt:rgba(255, 255, 255, 0.9);
--filterBorder:#061667;
--filterG:#030c37;
--menu_1Bg:#030c37;
--menu_1Bg2:#061767;
--menu_1Bg3:#071c80;
--menu_1BgHover:#040f45;
--menu_1Bg2Hover:#071a75;
--menu_1Bg3Hover:#081f8e;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#e03635;
--menu_1AccentTxt:rgba(255, 255, 255, 0.9);
--menu_1Border:#040f45;
--menu_1G:#030c37;
--menu_2Bg:#061767;
--menu_2Bg2:#092297;
--menu_2Bg3:#0a27af;
--menu_2BgHover:#071a75;
--menu_2Bg2Hover:#0a25a5;
--menu_2Bg3Hover:#0b2abd;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#e03635;
--menu_2AccentTxt:rgba(255, 255, 255, 0.9);
--menu_2Border:#071a75;
--menu_2G:#061767;
--menu_3Bg:#092297;
--menu_3Bg2:#0c2dc7;
--menu_3Bg3:#0d32df;
--menu_3BgHover:#0a25a5;
--menu_3Bg2Hover:#0d30d5;
--menu_3Bg3Hover:#0e35ed;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#e03635;
--menu_3AccentTxt:rgba(255, 255, 255, 0.9);
--menu_3Border:#0a25a5;
--menu_3G:#092297;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#e03635;
--tooltipAccentTxt:rgba(255, 255, 255, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:var(--primaryTxt2);
--menuItemTxt:var(--primaryTxt);
}/*
*/:root {
    --primaryBg: #020924;
    --primaryTxt: #fff;
    --primaryTxt2: #cccccc;
    --primaryBg3: #061b6c;
    --accentBg: #E03635;
    --accentG: #E03635;
    --accentTxt: #fff;
    --brandG: #E03635;
    --brandBg: #E03635;
    --brandTxt: #fff;
    --actionButtonG: #E03635;
    --actionButtonTxt: #fff;
    --widgetG: #030C37;
    --widgetBg: #030C37;
    --widgetBgHover: #05135a;

    --widgetBg2: #061767;
    --widgetBg2Hover: #092294;

    --widgetBg3: #071c80;
    --widgetRGBA: rgba(6, 23, 103, 0.5);
    --widgetTxt: #fff;
    --widgetTxt2: #cccccc;
    --oddG: #020924;
    --oddBg: #020924;
    --oddTxt: #fff;

    --oddActiveG: #E03635;
    --oddActiveBg: #E03635;
    --oddActiveBg2: #9e2626;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: ccc;

    --showMoreG: #020924;
    --showMoreTxt: #fff;
    --headerBG: undefined;
    --headerG: #030C37;
    --headerTxt: #fff;
    --subHeaderG: #061767;
    --subHeaderBg: #061767;
    --subHeaderTxt: #fff;
    --subHeaderTxt2: #cccccc;
    --singleGameG: #030C37;
    --singleGameBg: #030C37;
    --singleGameTxt: #fff;
    --singleGameTxt2: #cccccc;
    --MenuLevel_ABg: #030C37;
    --MenuLevel_AG: #030C37;
    --MenuLevel_ATxt: #fff;
    --MenuLevel_ATxt2: #cccccc;
    --MenuLevel_BBg: #061767;
    --MenuLevel_BG: #061767;
    --MenuLevel_BTxt: #fff;
    --MenuLevel_BTxt2: #cccccc;
    --MenuLevel_CBg: #092297;
    --MenuLevel_CG: #092297;
    --MenuLevel_CTxt: #fff;
    --MenuLevel_CTxt2: #cccccc;
    --betSlipBg: #030C37;
    --betSlipTxt2: #cccccc;
    --betSlipStakeG: #061767;
    --betSlipStakeBg: #061767;
    --betSlipStakeTxt: #fff;
    --betSlipStakeTxt2: #cccccc;
    --betSlipInputG: #061767;
    --betSlipInputTxt: #fff;
    --betSlipButtonG: #061767;
    --betSlipButtonBg2: #092297;
    --betSlipButtonTxt: #fff;
    --popupHeaderG: #061767;
    --popupHeaderTxt: #fff;
    --popupBg: #030C37;
    --popupG: #030C37;
    --popupTxt: #fff;
    --popupTxt2: #cccccc;
    --tabG: #061767;
    --tabBg: #061767;
    --tabTxt: #fff;
    --tabTxt2: #cccccc;
    --activeTabG: #030C37;
    --activeTabBg: #030C37;
    --activeTabTxt: #fff;
    --sideBarTabG: #092297;
    --sideBarTabTxt: #fff;
    --sideBarActiveTabG: #030C37;
    --sideBarActiveTabTxt: #fff;
    --inputG: #061767;
    --inputTxt: #fff;
    --inputTxt2: #cccccc;
    --widgetInputG: #061b6c;
    --widgetInputBg2: #09279c;
    --widgetInputTxt: #fff;
    --widgetInputTxt2: #cccccc;
    --borderRadius: 0px;
    --inputBirderRadius: 0px;
    --bottomBirderRadius: 0px;
    --spritePositionX: 0px;
    --menuItemActiveTxt:var(--primaryTxt2);
    --menuItemTxt:var(--primaryTxt);
}

[class^='digi_tournament_']:before, [class*=' digi_tournament_']:before {
    background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
    margin-top: 0;
}

.tg__multi_game {
    padding: 0 !important;
}

.tg_input::placeholder {
    color: var(--inputTxt2);
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item,
.tg__live_filter_item {
    background-color: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.paperView .champ_list:last-child,
.tg__match_item_stake,
.tg--pos_comb_row,
.tg--border-bot-1 {
    border-color: var(--primaryBg);
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
    background-color: var(--primaryBg);
}

.tg__btn-action {
    background: var(--actionButtonG) !important;
    color: var(--actionButtonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header,
.tg__multiview_content {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-hero {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-bg_transparent {
    background-color: var(--widgetRGBA);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

    .tg__left_menu_item--lvl1 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl1 .tg-ico-arrow {
        color: var(--MenuLevel_ATxt2);
    }

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: var(--widgetTxt2);
}

    .ss__step_slider .ss__slider:hover {
        background: var(--accentBg);
    }

.ss__step_slider .ss__ruller > .off {
    background: var(--widgetBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
    background: var(--MenuLevel_BG);
    color: var(--MenuLevel_BTxt);
}

    .tg__left_menu_item--lvl2 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl2 .tg-ico-arrow {
        color: var(--MenuLevel_BTxt2);
    }

/* africanView */
.africanView .SBhead {
    background: var(--headerG);
    color: var(--headerTxt);
}

.africanView .gameContentTitle {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.africanView .champCont {
    background: var(--singleGameG);
    color: var(--singleGameTxt);
}

.africanView .tg_left_tabs {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
    color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading,
.tg_bet_history_order_row_sub:nth-child(even) {
    background: var(--MenuLevel_CG);
    color: var(--MenuLevel_CTxt);
}

    .tg__left_menu_item--lvl3 .tg__left_menu_item_text,
    .tg__left_menu_item--lvl3 .tg-ico-arrow {
        color: var(--MenuLevel_CTxt2);
    }

/* - - - - Passive Tab - - - - */
.tab_selector {
    background: var(--tabG);
    color: var(--tabTxt2);
}

.sportLeftPane .tab_selector {
    background: var(--sideBarTabG);
    color: var(--sideBarTabTxt);
}

.tg__coupon_tabs_cont {
    padding-top: 2px;
}

.tab_cupon {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: var(--tabG);
        color: var(--tabTxt2);
    }

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_input,
.tg_subheader_btn,
.tg_live_center-wrapper .selectorWrapper,
.tg__live_filter_item.checked,
.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value {
    background: var(--activeTabG);
    color: var(--activeTabTxt);
}

.tg__dropdown_control {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
    background: var(--sideBarActiveTabG);
    color: var(--sideBarActiveTabTxt);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
    background: var(--headerG);
    color: var(--headerTxt);
}

/* africanView */
.africanView .tg--home2__stakeItem {
    background: var(--tabG);
    color: var(--tabTxt);
}

.africanView .champCont {
    margin: 0px;
}

.tg--selected_prem_game {
    border-left: 2px solid;
    border-color: var(--accentBg);
}

.tg__list_row {
    margin: 0;
    border-top: 1px solid var(--primaryBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
    border: 0 !important;
}

    .ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
        background: var(--widgetBg);
        color: var(--widgetTxt);
    }

.tg_bet_history_order_row .tg-clr-akcent {
    color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
    background: var(--widgetBg2);
    color: var(--widgetTxt);
}

.tg__list_row_sub {
    background: var(--widgetBg3);
    color: var(--widgetTxt);
    border-bottom: 1px solid var(--primaryBg);
}

/* - - - - SubHeader - - - - */
.tg__match_header,
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__home_game_heading {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-top: 1px solid var(--widgetBg);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_onegame_chb,
.news_slider .oddsContainer {
    background: var(--singleGameG);
    color: var(--singleGameTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
    background: var(--popupBg);
    color: var(--popupTxt);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

.tg__custom-range-slider {
    color: var(--accentBg);
}

.tg--close {
    background: var(--primaryBg);
    color: var(--primaryTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.ui-widget-content {
    border-color: var(--widgetBg2);
    background: var(--widgetBg);
    color: var(--widgetTxt);
}

.ui-widget-header {
    border: 0;
    background: var(--widgetG);
    color: var(--widgetTxt);
}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-datepicker-title select {
        border: 0;
        background: var(--primaryBg);
        color: var(--primaryTxt);
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight,
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    .ui-datepicker-calendar .ui-state-hover {
        background: var(--accentG);
        color: var(--accentTxt);
    }


.tg__btn-text {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

.tg__one_game_team {
    color: var(--singleGameTxt);
}

.tg__one_game_col,
.tg__home_game_time,
.tg__one_game_icons,
.tg__one_game .maIcons {
    color: var(--singleGameTxt2);
}

.posCombItem {
    background: var(--subHeaderG);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
    background: var(--oddG);
    color: var(--oddTxt);
}

/* - - - - Show More - - - - */
.tg__more {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

/* - - - - Betslip Header - - - - */
.tg__block_header,
.tg__info_panel .selectorWrapper {
    background: var(--popupHeaderG);
    color: var(--popupHeaderTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
    color: var(--accentBg);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
    border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active {
    color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
    color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary {
    background: var(--brandG);
    color: var(--brandTxt);
}

.tabSelectorHeading {
    color: var(--brandBg);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background: var(--brandG);
    color: var(--brandTxt);
}

/* - - - - BetSlip - - - - */
.tg__coupon {
    background: var(--betSlipBg);
    color: var(--betSlipTxt2)
}

.stake_item_panel {
    background: var(--betSlipStakeG);
    color: var(--betSlipStakeTxt2);
    border-color: var(--primaryBg);
    border-top: 0;
}

.coupon_sport_name_container {
    color: var(--betSlipStakeTxt);
}

.tg__btn-coupon {
    background: var(--betSlipButtonG);
    color: var(--betSlipButtonTxt);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper {
    background: var(--popupG);
    color: var(--popupTxt);
}

.tg_coin {
    background: var(--accentBg);
    color: var(--accentTxt);
}

.tg__match_item_btn {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
    border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
    color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
    background: var(--primaryBg);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
    background: var(--widgetInputG);
    color: var(--widgetInputTxt);
}

    .tg__dropdown__item:hover {
        background: var(--widgetInputBg2);
    }

    .sportRightPane .tg_input::placeholder {
        color: var(--widgetInputTxt2);
    }

.tg__search_cont .tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
    background: var(--inputG);
    color: var(--inputTxt);
}

.tg__search_cont .tg__input::placeholder {
    color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
    color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
    background: var(--betSlipInputG);
    color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover {
    color: var(--accentBg);
}

.tg__coupon_square {
    background: var(--betSlipInputG);
}

.tg__coupon_factor {
    background: var(--betSlipButtonBg2);
    color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__badge_live {
    background-color: var(--widgetBg);
    color: var(--widgetTxt);
}

.tg-ico-date {
    color: var(--widgetTxt);
}

.tg__switch input:checked + .tg__switch_ico {
    background: var(--brandG);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #fff;
    }



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
    background: transparent !important;
    color: var(--popupHeaderTxt);
}




.paperView .es__home_bet_header {
    background: var(--headerG);
    color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: var(--oddG);
    color: var(--oddTxt);
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: var(--brandG);
        color: var(--brandTxt);
    }

.showC {
    background: var(--MenuLevel_AG);
    color: var(--MenuLevel_ATxt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}

    .es__express_slider_arrow:hover {
        background-color: var(--widgetBg2);
        color: var(--widgetTxt);
    }

.tg__exp_of_day_one_game {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
    border-bottom: 1px solid var(--primaryBg) !important;
}

.es__total_odd_container .tg-clr-secondary {
    color: var(--widgetTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
    color: var(--widgetTxt);
}

.es__express_day_odd {
    border-color: var(--primaryBg);
    color: var(--widgetTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
    background-color: var(--widgetBg2);
    color: var(--widgetTxt2);
}

    .es__bonus_odd_container i,
    .es__express_day_odd--total {
        color: var(--accentBg);
    }

.es__express_day_coupon {
    background-color: var(--widgetBg);
    color: var(--widgetTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
    color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--primaryBg3);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
    border-bottom: 6px solid var(--activeTabBg);
}

.tg--calendar-tab {
    border-bottom: 6px solid var(--activeTabBg);
}

.live_calendar .body_panel {
    height: calc((100%) - 92px);
}
/*roundness*/
.tg_calendar_subtab_wrapper {
    margin-right: -1px;
    margin-left: -1px;
}

    .tg_calendar_subtab_wrapper .tab_selector {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        margin: 0 1px;
    }

.gameContentTitle, .tg__result_group_heading,
.tg__block_header,
.tg__modal_header,
.tg__cashout--header,
.tg__info_panel .selectorWrapper,
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper,
.tg__match_header,
.tg-hero,
.tg-hero-image,
.tg__live_list_header,
.tg__multiview_content,
.tab_cupon,
.tab_selector,
.tg__banner {
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}

.tg__home_game_item .tg--2-tab {
    margin-left: var(--borderRadius);
    margin-right: var(--borderRadius);
}
/*input roundness*/
.tg__dropdown_control,
.tg__input,
.tg_input,
.tg__info_panel .tg__dropdown_control,
.sportRightPane .tg_input,
.tg__dropdown_value {
    border-radius: var(--inputBirderRadius);
}
/*button roundness*/
.tg__more,
.tg__btn,
.l_od, .l_od_empty,
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    border-radius: var(--bottomBirderRadius);
}