:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#353944;
--bodyBg2:#4b5161;
--bodyBg3:#575d6f;
--bodyBgHover:#3c404d;
--bodyBg2Hover:#52586a;
--bodyBg3Hover:#5e6478;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#ffffff;
--bodyAccentTxt:#000;
--bodyBorder:#3c404d;
--bodyG:#353944;
--bodyRGBA:rgba(53, 57, 68, 0.7);
--bodyRGBA2:rgba(53, 57, 68, 0.5);
--bodyRGBA3:rgba(53, 57, 68, 0.3);
--dominantBg:#4b5161;
--dominantBg2:#61697e;
--dominantBg3:#6c758c;
--dominantBgHover:#52586a;
--dominantBg2Hover:#687087;
--dominantBg3Hover:#747d94;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#fffdf9;
--dominantAccentTxt:#000;
--dominantBorder:#52586a;
--dominantG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--dominantRGBA:rgba(75, 81, 97, 0.7);
--dominantRGBA2:rgba(75, 81, 97, 0.5);
--dominantRGBA3:rgba(75, 81, 97, 0.3);
--accentBg:#fffdf9;
--accentBg2:#ffecc6;
--accentBg3:#ffe3ac;
--accentBgHover:#fff8ea;
--accentBg2Hover:#ffe7b7;
--accentBg3Hover:#ffde9d;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#fff8ea;
--accentG:#fffdf9;
--inputBg:#4b5161;
--inputBg2:#61697e;
--inputBg3:#6c758c;
--inputBgHover:#52586a;
--inputBg2Hover:#687087;
--inputBg3Hover:#747d94;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#fffdf9;
--inputAccentTxt:#000;
--inputBorder:#52586a;
--inputG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--inputSecondaryBg:#565d6f;
--inputSecondaryBg2:#6c758c;
--inputSecondaryBg3:#7a8298;
--inputSecondaryBgHover:#5d6478;
--inputSecondaryBg2Hover:#747d94;
--inputSecondaryBg3Hover:#838a9f;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#fffdf9;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--headerBg:#575d6f;
--headerBg2:#6d758c;
--headerBg3:#7b8298;
--headerBgHover:#5e6478;
--headerBg2Hover:#757d93;
--headerBg3Hover:#848a9f;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#fffdf9;
--headerAccentTxt:#000;
--headerBorder:#5e6478;
--headerG:linear-gradient(0deg, rgb(87, 93, 111) 0%, rgb(67, 72, 88) 100%);
--subHeaderBg:#52586a;
--subHeaderBg2:#687087;
--subHeaderBg3:#757c94;
--subHeaderBgHover:#595f73;
--subHeaderBg2Hover:#6f7790;
--subHeaderBg3Hover:#7e849b;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#fffdf9;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#595f73;
--subHeaderG:linear-gradient(0deg, rgb(82, 88, 106) 0%, rgb(67, 72, 88) 100%);
--eventBg:#4b5161;
--eventBg2:#61697e;
--eventBg3:#6c758c;
--eventBgHover:#52586a;
--eventBg2Hover:#687087;
--eventBg3Hover:#747d94;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#fffdf9;
--eventAccentTxt:#000;
--eventBorder:#52586a;
--eventG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--buttonBg:#1f6b5f;
--buttonBg2:#2a9382;
--buttonBg3:#30a694;
--buttonBgHover:#22776a;
--buttonBg2Hover:#2d9f8c;
--buttonBg3Hover:#33b29f;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#ffecc6;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#22776a;
--buttonG:#1f6b5f;
--buttonSecondaryBg:#565d6f;
--buttonSecondaryBg2:#6c758c;
--buttonSecondaryBg3:#7a8298;
--buttonSecondaryBgHover:#5d6478;
--buttonSecondaryBg2Hover:#747d94;
--buttonSecondaryBg3Hover:#838a9f;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#ffecc6;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#5d6478;
--buttonSecondaryG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#fffdf9;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#353944;
--oddBg2:#4b5161;
--oddBg3:#575d6f;
--oddBgHover:#3c404d;
--oddBg2Hover:#52586a;
--oddBg3Hover:#5e6478;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#fffdf9;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#f7ff00;
--oddG:#353944;
--oddActiveBg:#22776a;
--oddActiveBg2:#2d9f8d;
--oddActiveBg3:#33b29f;
--oddActiveBgHover:#258375;
--oddActiveBg2Hover:#30ab98;
--oddActiveBg3Hover:#36beaa;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#22776a;
--oddActiveG:#22776a;
--showMoreBg:#434756;
--showMoreBg2:#595f73;
--showMoreBg3:#656b81;
--showMoreBgHover:#4a4e5f;
--showMoreBg2Hover:#60667c;
--showMoreBg3Hover:#6c728a;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#fffdf9;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#4b5161;
--showMoreG:linear-gradient(0deg, rgb(67, 71, 86) 0%, rgb(67, 71, 86) 100%);
--tabBg:#4b5161;
--tabBg2:#61697e;
--tabBg3:#6c758c;
--tabBgHover:#52586a;
--tabBg2Hover:#687087;
--tabBg3Hover:#747d94;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#fffdf9;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#52586a;
--tabG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--tabActiveBg:#5d6478;
--tabActiveBg2:#747c94;
--tabActiveBg3:#838a9f;
--tabActiveBgHover:#646b81;
--tabActiveBg2Hover:#7d849b;
--tabActiveBg3Hover:#8c92a6;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#fffdf9;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#646b81;
--tabActiveG:linear-gradient(0deg, rgb(82, 88, 106) 0%, rgb(67, 72, 88) 100%);
--tabSecondaryActiveBg:#565d6f;
--tabSecondaryActiveBg2:#6c758c;
--tabSecondaryActiveBg3:#7a8298;
--tabSecondaryActiveBgHover:#5d6478;
--tabSecondaryActiveBg2Hover:#747d94;
--tabSecondaryActiveBg3Hover:#838a9f;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#fffdf9;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--filterBg:#5b6275;
--filterBg2:#727a91;
--filterBg3:#80889c;
--filterBgHover:#62697e;
--filterBg2Hover:#7b8298;
--filterBg3Hover:#8990a3;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#fffdf9;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#62697e;
--filterG:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--menu_1Bg:#4b5161;
--menu_1Bg2:#61697e;
--menu_1Bg3:#6c758c;
--menu_1BgHover:#52586a;
--menu_1Bg2Hover:#687087;
--menu_1Bg3Hover:#747d94;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#fffdf9;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#52586a;
--menu_1G:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--menu_2Bg:#4b5161;
--menu_2Bg2:#61697e;
--menu_2Bg3:#6c758c;
--menu_2BgHover:#52586a;
--menu_2Bg2Hover:#687087;
--menu_2Bg3Hover:#747d94;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#fffdf9;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#52586a;
--menu_2G:linear-gradient(0deg, rgb(75, 81, 97) 0%, rgb(67, 72, 88) 100%);
--menu_3Bg:#575d6f;
--menu_3Bg2:#6d758c;
--menu_3Bg3:#7b8298;
--menu_3BgHover:#5e6478;
--menu_3Bg2Hover:#757d93;
--menu_3Bg3Hover:#848a9f;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#fffdf9;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#5e6478;
--menu_3G:linear-gradient(0deg, rgb(87, 93, 111) 0%, rgb(94, 100, 120) 100%);
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#fffdf9;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:var(--primaryTxt2);
--menuItemTxt:var(--primaryTxt);
}/*
*/:root {
	--primaryBg: #353944;
	--primaryBgHover: #3c404d;
	--primaryBg2: #4b5161;
	--primaryBg2Hover: #52586a;
	--primaryBg3: #575d6f;
	--primaryBg3Hover: #5e6478;
	--primaryRGBA: rgba(53, 57, 68, 0.7);
	--primaryTxt: #fff;
	--primaryTxt2: #cccccc;
	--primaryTxt3: #999999;
	--primaryRadius: 0px;
	--accentBg: #FFFDF9;
	--accentBgHover: #ffffff;
	--accentG: #FFFDF9;
	--accentTxt: #000;
	--brandBg: #1F6B5F;
	--brandBgHover: #22776a;
	--brandG: #1F6B5F;
	--brandTxt: #fff;
	--actionButtonG: #1F6B5F;
	--actionButtonTxt: #fff;
	--widgetG: linear-gradient(0deg, #3C404D 0%, #434858 100%);
	--widgetRGBA: rgba(60, 64, 77, 0.7);
	--widgetRGBA2: rgba(82, 88, 106, 0.7);
	--widgetRGBA3: rgba(94, 100, 120, 0.7);
	--widgetBg: #3C404D;
	--widgetBgHover: #434756;
	--widgetBg2: #52586a;
	--widgetBg2Hover: #595f73;
	--widgetBg3: #5e6478;
	--widgetBg3Hover: #656b81;
	--widgetTxt: #fff;
	--widgetTxt2: #cccccc;
	--widgetTxt3: #999999;
	--widgetRadius: 0px;
	--oddG: #353944;
	--oddBg: #353944;
	--oddTxt: #F7FF00;
	--oddRadius: 0px;
	--oddBorder: #3c404d;
	--oddActiveG: #22776a;
	--oddActiveBorder: #2a9382;
	--oddActiveTxt: #fff;
	--oddActiveRadius: 0px;
	--showMoreG: linear-gradient(0deg, #434756 0%, #434756 100%);
	--showMoreBorder: #4B5161;
	--showMoreRadius: 0px;
	--showMoreBgHover: #3c404d;
	--showMoreTxt: #fff;
	--showMoreActiveG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--showMoreActiveBorder: #52586a;
	--showMoreActiveRadius: 0px;
	--showMoreActiveBgHover: #52586a;
	--showMoreActiveTxt: #fff;
	--headerBgHover: #5e6478;
	--headerBgHover: #5e6478;
	--headerG: linear-gradient(0deg, #575D6F 0%, #434858 100%);
	--headerTxt: #fff;
	--headerTxt2: #cccccc;
	--headerTxt3: #999999;
	--headerBorder: #52586A;
	--headerRadius: 0px;
	--subHeaderG: linear-gradient(0deg, #52586A 0%, #434858 100%);
	--subHeaderBg: #52586A;
	--subHeaderTxt: #fff;
	--subHeaderTxt2: #cccccc;
	--subHeaderBorder: #575D6F;
	--subHeaderRadius: 0px;
	--tabG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--tabBg: #4B5161;
	--tabTxt: #fff;
	--tabTxt2: #cccccc;
	--tabRadius: 0px;
	--activeTabG: linear-gradient(0deg, #52586A 0%, #434858 100%);
	--activeTabBg: #52586A;
	--activeTabTxt: #fff;
	--sideBarTabG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--sideBarTabTxt: #fff;
	--sideBarActiveTabG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--sideBarActiveTabTxt: #fff;
	--inputG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--inputTxt: #fff;
	--inputTxt2: #cccccc;
	--inputRadius: 0px;
	--singleGameG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--singleGameBg: #4B5161;
	--singleGameBg2: #61697e;
	--singleGameBorder: #52586a;
	--singleGameBgHover: #52586a;
	--singleGameTxt: #fff;
	--singleGameTxt2: #cccccc;
	--singleGameTxt3: #999999;
	--MenuLevel_ABg: #4B5161;
	--MenuLevel_ABgHover: #52586a;
	--MenuLevel_AG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--MenuLevel_ATxt: #fff;
	--MenuLevel_ATxt2: #cccccc;
	--MenuLevel_ATxt3: #999999;
	--MenuLevel_ABorder: #575D6F;
	--MenuLevel_BBg: #4B5161;
	--MenuLevel_BBgHover: #52586a;
	--MenuLevel_BG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--MenuLevel_BTxt: #fff;
	--MenuLevel_BTxt2: #cccccc;
	--MenuLevel_BTxt3: #999999;
	--MenuLevel_BBorder: #575D6F;
	--MenuLevel_CBg: #575D6F;
	--MenuLevel_CBgHover: #5e6478;
	--MenuLevel_CG: linear-gradient(0deg, #575D6F 0%, #5E6478 100%);
	--MenuLevel_CTxt: #fff;
	--MenuLevel_CTxt2: #cccccc;
	--MenuLevel_CTxt3: #999999;
	--MenuLevel_CBorder: #5E6478;
	--betSlipBg: #4B5161;
	--betSlipBorder: #52586A;
	--betSlipTxt2: #cccccc;
	--betSlipStakeG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--betSlipStakeBg: #4B5161;
	--betSlipStakeTxt: #fff;
	--betSlipStakeTxt2: #cccccc;
	--betSlipInputG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--betSlipInputTxt: #fff;
	--betSlipButtonG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--betSlipButtonBg2: #61697e;
	--betSlipButtonTxt: #fff;
	--betSlipButtonRadius: 0px;
	--popupHeaderG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--popupHeaderTxt: #fff;
	--popupHeaderTxt2: #cccccc;
	--popupHeaderTxt3: #999999;
	--popupBg: #4B5161;
	--popupBgHover: #52586a;
	--popupG: linear-gradient(0deg, #4B5161 0%, #434858 100%);
	--popupTxt: #fff;
	--popupTxt2: #cccccc;
	--popupRadius: 0px;
	--popupBorder: #52586a;
	--widgetInputG: #687087;
	--widgetInputBg2: #838a9f;
	--widgetInputTxt: #fff;
	--widgetInputTxt2: #cccccc;
	--widgetInputRadius: 0px;
	--widgetInputBorder: #575D6F;
	--spritePositionX: 0px;
	--liveText: #cb0000;
	--menuItemActiveTxt:var(--primaryTxt2);
	--menuItemTxt:var(--primaryTxt);
}

[class^='digi_tournament_']:before, [class*=' digi_tournament_']:before {
	background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
	margin-top: 0;
}

.tg__multi_game {
	padding: 0 !important;
}

.tg_input::placeholder {
	color: var(--inputTxt2);
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item {
	background-color: var(--primaryBg);
	color: var(--primaryTxt);
}

.paperView .champ_list:last-child,
.tg--border-bot-1 {
	border-color: var(--primaryBg);
}

.tg--pos_comb_row {
	border-color: var(--popupBorder);
}

.tg__one_game,
.tg__match_item_stake {
	border-color: var(--singleGameBorder);
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
	background-color: var(--primaryBg);
}

.tg__btn-action {
	background: var(--actionButtonG) !important;
	color: var(--actionButtonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header {
	background-color: var(--headerG);
	color: var(--headerTxt);
}

.tg__multiview_content {
	background-color: var(--singleGameG);
	color: var(--singleGameTxt);
}

.tg-hero {
	background-color: var(--widgetBg);
	color: var(--widgetTxt);
}

.tg-bg_transparent {
	background-color: var(--widgetRGBA2);
	border: 1px solid var(--widgetRGBA3);
	border-radius: var(--widgetRadius);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: var(--MenuLevel_AG);
	color: var(--MenuLevel_ATxt);
	border-color: var(--MenuLevel_ABorder);
}

	.tg__left_menu_item--lvl1:hover {
		background: var(--MenuLevel_ABgHover);
		color: var(--MenuLevel_ATxt);
	}

	.tg__left_menu_item--lvl1 .tg__left_menu_item_text {
		color: var(--MenuLevel_ATxt);
	}

	.tg__left_menu_item--lvl1 .tg-ico-arrow {
		color: var(--MenuLevel_ATxt3);
	}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: var(--widgetTxt2);
}

	.ss__step_slider .ss__slider:hover {
		background: var(--accentBg);
	}

.ss__step_slider .ss__ruller > .off {
	background: var(--widgetBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
	background: var(--MenuLevel_BG);
	color: var(--MenuLevel_BTxt);
	border-color: var(--MenuLevel_BBorder);
}

	.tg__left_menu_item--lvl2:hover {
		background: var(--MenuLevel_BBgHover);
		color: var(--MenuLevel_BTxt);
	}

	.tg__left_menu_item--lvl2 .tg__left_menu_item_text {
		color: var(--MenuLevel_BTxt);
	}

	.tg__left_menu_item--lvl2 .tg-ico-arrow {
		color: var(--MenuLevel_BTxt3);
	}

/* africanView */
.africanView .SBhead {
	background: var(--headerG);
	color: var(--headerTxt);
}

.africanView .gameContentTitle {
	background: var(--primaryBg);
	color: var(--primaryTxt);
}

.africanView .champCont {
	background: var(--singleGameG);
	color: var(--singleGameTxt);
}

.africanView .tg_left_tabs {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
	border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
	color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading {
	background: var(--MenuLevel_CG);
	color: var(--MenuLevel_CTxt);
	border-color: var(--MenuLevel_CBorder);
}

.live_menu_item_left_header {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
}

.live_menu_item_left {
	border-color: var(--MenuLevel_CBorder);
}

.tg__left_menu_item--lvl3 .tg__left_menu_item_text {
	color: var(--MenuLevel_CTxt);
}

.tg__left_menu_item--lvl3 .tg-ico-arrow {
	color: var(--MenuLevel_CTxt3);
}

.dg_game_tabs {
	padding: 0 var(--headerRadius);
}

/* - - - - Passive Tab - - - - */
.tab_selector {
	background: var(--tabG);
	color: var(--tabTxt2);
	border-top-left-radius: var(--tabRadius);
	border-top-right-radius: var(--tabRadius);
}

.sportLeftPane .tab_selector {
	background: var(--sideBarTabG);
	color: var(--tabTxt);
}
	.sportLeftPane .tab_selector.tab_selector_active {
		background: var(--activeTabG) !important;
	}
.sportLeftPane .tab_selector:nth-child(2) {
	color: var(--liveText);
}

.sportLeftPane .tab_selector:nth-child(1).tab_selector_active {
	color: var(--tabTxt);
}

.sportLeftPane .tab_selector:nth-child(1):hover {
	color: var(--tabTxt) !important;
}

	.sportLeftPane .tab_selector:hover{
		color:var(--liveText);
	}

	.tg__coupon_tabs_cont {
		padding-top: 2px;
		margin-bottom: 2px;
	}

.tab_cupon {
	background: var(--tabG);
	color: var(--tabTxt2);
}

	.tab_cupon.tab_selected,
	.tab_cupon:hover {
		background: var(--activeTabG);
		color: var(--activeTabTxt);
	}

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_subheader_btn,
.tg__live_filter_item {
	background: var(--activeTabG);
	color: var(--tabTxt);
}
.tg_sidebar_text_2 {
	color: var(--accentBgHover);
}
.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value,
.tg_input {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__live_filter_item.checked {
	background: var(--tabG);
	color: var(--tabTxt);
}

.tg__dropdown_control {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
	background: var(--sideBarActiveTabG);
	color: var(--liveText);
}

.tg__step_slider {
	border-color: var(--MenuLevel_ABorder);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
	background: var(--headerG);
	color: var(--headerTxt);
	border-top-left-radius: var(--headerRadius);
	border-top-right-radius: var(--headerRadius);
}

	.gameContentTitle .tg-ico-arrow {
		color: var(--headerTxt3);
	}

/* africanView */
.africanView .tg--home2__stakeItem {
	background: var(--tabG);
	color: var(--tabTxt);
}

.africanView .champCont {
	margin: 0px;
}

.tg--selected_prem_game {
	border: 0;
}

.tg__list_row {
	margin: 0;
	border-top: 1px solid var(--primaryBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
	background: var(--MenuLevel_ABg);
	color: var(--MenuLevel_ATxt2);
	border-color: var(--MenuLevel_ABorder);
}

	.ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
		background: var(--MenuLevel_ABgHover);
	}

.tg_bet_history_order_row .tg-clr-akcent {
	color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
	background: var(--MenuLevel_CBg);
	color: var(--MenuLevel_CTxt2);
	border-color: var(--MenuLevel_CBorder);
}

	.tg_bet_history_order_row_sub:nth-child(Odd) {
		background: var(--MenuLevel_CBgHover);
	}

/* - - - - SubHeader - - - - */
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.overViewDataDanel .tg__btn_arrow {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt);
	border-top-left-radius: var(--subHeaderRadius);
	border-top-right-radius: var(--subHeaderRadius);
}

.tg__home_game_heading {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.tg_onegame_chb,
.news_slider .oddsContainer {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
}

.dg1 {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
	margin-bottom: 0;
	border-bottom: 1px solid var(--singleGameBorder);
}

.tg__one_game:hover {
	background: var(--singleGameBgHover);
	color: var(--singleGameTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
	background: var(--popupBg);
	color: var(--popupTxt);
	border-radius: var(--popupRadius);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header,
.tg__modal_header-sm {
	background: var(--popupHeaderG);
	color: var(--popupHeaderTxt);
	border-top-left-radius: var(--popupRadius);
	border-top-right-radius: var(--popupRadius);
}

.tg__custom-range-slider {
	color: var(--accentBg);
}

.tg--close {
	background: var(--primaryBg);
	color: var(--primaryTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
	border-radius: var(--widgetInputRadius);
}

.ui-widget-content {
	border-color: var(--widgetBg2);
	background: var(--widgetBg);
	color: var(--widgetTxt);
}

.ui-widget-header {
	border: 0;
	background: var(--widgetG);
	color: var(--widgetTxt);
}

	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default,
	.ui-datepicker-title select,
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-nex {
		border: 0;
		background: var(--primaryBg);
		color: var(--primaryTxt);
	}

	.ui-state-highlight,
	.ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight,
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	.ui-datepicker-calendar .ui-state-hover {
		background: var(--accentG);
		color: var(--accentTxt);
	}

.tg__btn-text {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
}

.tg__one_game_team {
	color: var(--singleGameTxt);
}

.tg__one_game_col,
.tg__one_game_icons,
.tg__one_game .maIcons {
	color: var(--singleGameTxt2);
}

.tg__one_game .tg__home_game_time {
	color: var(--singleGameTxt3);
}

.posCombItem {
	background: var(--singleGameBg);
	color: var(--singleGameTxt);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: var(--oddG);
	color: var(--oddTxt);
	border: 1px solid var(--oddBorder);
	border-radius: var(--oddRadius);
}

/* - - - - Show More - - - - */
.tg__more {
	background: var(--showMoreG);
	color: var(--showMoreTxt);
	border-radius: var(--showMoreRadius);
	border: 1px solid var(--showMoreBorder);
}

	.tg__more:hover {
		background: var(--showMoreActiveG);
		color: var(--showMoreActiveTxt);
		border-radius: var(--showMoreActiveRadius);
		border-color: var(--showMoreActiveBorder);
	}

/* - - - - Betslip Header - - - - */
.tg__block_header {
	background: var(--popupHeaderG);
	color: var(--popupHeaderTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
	color: var(--accentBg);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
	color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active,
.tg-ico-fav--active {
	color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
	color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd {
	background: var(--oddActiveG);
	color: var(--oddActiveTxt);
	border-radius: var(--oddActiveRadius);
	border-color: var(--oddActiveBorder);
}

.tg__btn-ternary {
	background: var(--brandG);
	color: var(--brandTxt);
}

.tabSelectorHeading {
	color: var(--accentBgHover);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
	background: var(--brandG);
	color: var(--brandTxt);
}

/* - - - - BetSlip - - - - */
.tg__coupon .tg--coupon-bg {
	background: var(--betSlipBg);
	color: var(--betSlipTxt2)
}

.tg--coupon-bg {
	background: var(--popupG);
	color: var(--popupTxt);
}

.stake_item_panel {
	background: var(--betSlipStakeG);
	color: var(--betSlipStakeTxt2);
	border-color: var(--betSlipBorder);
	border-top: 0;
}

.coupon_sport_name_container {
	color: var(--betSlipStakeTxt);
}

.tg__btn.tg__btn-coupon {
	background: var(--betSlipButtonG);
	color: var(--betSlipButtonTxt);
	border-radius: var(--betSlipButtonRadius);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper, .player_panel, #betcheckerWrapper, #bookingBody {
	background: var(--popupG);
	color: var(--popupTxt);
}

.tg_coin {
	background: var(--accentBg);
	color: var(--accentTxt);
}

.tg__match_item_btn {
	background: var(--showMoreG);
	color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
	background: var(--accentG);
	color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
	border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
	color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
	background: var(--widgetInputBorder);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
}

	.tg__dropdown__item:hover {
		background: var(--widgetInputBg2);
	}

	.sportRightPane .tg_input::placeholder {
		color: var(--widgetInputTxt2);
	}

.tg__search_cont .tg__input {
	background: var(--inputG);
	color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__search_cont .tg__input::placeholder {
	color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
	color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
	background: var(--betSlipInputG);
	color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__btn {
	border-radius: var(--inputRadius);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__btn-coupon:hover {
	color: var(--accentBg);
}

.tg_score.tg-clr-akcent2 {
	color: var(--accentBg);
}

.tg__coupon_square {
	background: var(--betSlipInputG);
}

.tg__coupon_factor {
	background: var(--betSlipButtonBg2);
	color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt);
}

.tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg-ico-date {
	color: var(--inputTxt);
}

.tg__switch input:checked + .tg__switch_ico {
	background: var(--brandG);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__switch .tg__switch_ico {
	background-color: #999;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
	background: transparent !important;
	color: var(--popupHeaderTxt);
}




.paperView .es__home_bet_header {
	background: var(--headerG);
	color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	background: var(--oddG);
	color: var(--oddTxt);
}

	.paperView .component_odd:hover,
	.paperView .component_odd_empty:hover,
	.paperView .EUodds:hover,
	.paperView .EUodds.selectedOdd,
	.paperView .component_odd.selectedOdd {
		background: var(--brandG);
		color: var(--brandTxt);
	}

.showC {
	background: var(--MenuLevel_AG);
	color: var(--MenuLevel_ATxt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
	background-color: var(--widgetBg);
	color: var(--widgetTxt2);
}

	.es__express_slider_arrow:hover {
		background-color: var(--widgetBg2);
		color: var(--widgetTxt);
	}

.tg__exp_of_day_one_game {
	background-color: var(--singleGameG);
	color: var(--singleGameTxt2);
	border-bottom: 1px solid var(--singleGameBorder) !important;
}

.es__total_odd_container .tg-clr-secondary {
	color: var(--singleGameTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: var(--singleGameTxt);
}

.es__express_day_odd {
	border-color: var(--singleGameBorder);
	color: var(--singleGameTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: var(--singleGameBg2);
	color: var(--singleGameTxt2);
}

	.es__bonus_odd_container i,
	.es__express_day_odd--total {
		color: var(--accentBg);
	}

.es__express_day_coupon {
	background-color: var(--singleGameBg);
	color: var(--singleGameTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
	color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
	background-color: var(--widgetBg3Hover);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
	border-bottom: 6px solid var(--activeTabBg);
}

.tg--calendar-tab {
	border-bottom: 6px solid var(--activeTabBg);
}

.live_calendar .body_panel {
	height: calc((100%) - 92px);
}

/*scroll*/
.digi_scroll_dragger {
	background-color: var(--widgetBg3Hover);
}

/*stakes event list*/
.tg__match_header {
	background: var(--headerG);
	color: var(--headerTxt2);
	border-bottom: 1px solid var(--headerBorder);
	border-top-left-radius: var(--headerRadius);
	border-top-right-radius: var(--headerRadius);
}

.tg__prematch_header {
	background: var(--headerG);
	color: var(--headerTxt2);
	border-radius: var(--headerRadius);
}

.tg__match_header .tg__teams {
	color: var(--headerTxt);
}

.tg__multibet_heading {
	border-bottom: 1px solid var(--subHeaderBorder);
}

.tg__live_list_header {
	background: var(--headerG);
	color: var(--headerTxt2);
}

	.tg__live_list_header .sport_type {
		color: var(--headerTxt);
	}

.overviewEventBody {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
}

.tg__score_box {
	background: var(--singleGameBg2);
	color: var(--accentBg);
}

.overviewEventBody .tg_team_name {
	color: var(--singleGameTxt);
}

.globalInactiveState {
	background: var(--primaryRGBA);
}

/*Search page*/

.sr-odd.selected,
.sr-odd:hover {
	border-radius: var(--oddActiveRadius);
	border: 1px solid var(--oddActiveBorder);
}