:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#171c28;
--bodyBg2:#2a3348;
--bodyBg3:#333e59;
--bodyBgHover:#1d2332;
--bodyBg2Hover:#303a52;
--bodyBg3Hover:#394563;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#eca022;
--bodyAccentTxt:#000;
--bodyBorder:#1d2332;
--bodyG:#171c28;
--bodyRGBA:rgba(23, 28, 40, 0.7);
--bodyRGBA2:rgba(23, 28, 40, 0.5);
--bodyRGBA3:rgba(23, 28, 40, 0.3);
--dominantBg:#212c46;
--dominantBg2:#314269;
--dominantBg3:#3a4d7a;
--dominantBgHover:#263350;
--dominantBg2Hover:#364973;
--dominantBg3Hover:#3f5484;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#eca022;
--dominantAccentTxt:#000;
--dominantBorder:#263350;
--dominantG:#212c46;
--dominantRGBA:rgba(33, 44, 70, 0.7);
--dominantRGBA2:rgba(33, 44, 70, 0.5);
--dominantRGBA3:rgba(33, 44, 70, 0.3);
--accentBg:#eca022;
--accentBg2:#ca8411;
--accentBg3:#b2750f;
--accentBgHover:#eb9a14;
--accentBg2Hover:#bc7b10;
--accentBg3Hover:#a46c0e;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#eb9a14;
--accentG:#eca022;
--inputBg:#212c46;
--inputBg2:#314269;
--inputBg3:#3a4d7a;
--inputBgHover:#263350;
--inputBg2Hover:#364973;
--inputBg3Hover:#3f5484;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#eca022;
--inputAccentTxt:#000;
--inputBorder:#263350;
--inputG:#212c46;
--inputSecondaryBg:#293757;
--inputSecondaryBg2:#394d7a;
--inputSecondaryBg3:#41588b;
--inputSecondaryBgHover:#2e3e61;
--inputSecondaryBg2Hover:#3e5484;
--inputSecondaryBg3Hover:#465f95;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#eca022;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#212c46;
--headerBg:#4e69b8;
--headerBg2:#7288c7;
--headerBg3:#8597ce;
--headerBgHover:#5972bc;
--headerBg2Hover:#7d91cb;
--headerBg3Hover:#90a0d2;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#eca022;
--headerAccentTxt:#000;
--headerBorder:#5972bc;
--headerG:#4e69b8;
--subHeaderBg:#314378;
--subHeaderBg2:#40579c;
--subHeaderBg3:#4761ae;
--subHeaderBgHover:#354983;
--subHeaderBg2Hover:#445da7;
--subHeaderBg3Hover:#4e68b7;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#eca022;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#354983;
--subHeaderG:#314378;
--eventBg:#212c46;
--eventBg2:#314269;
--eventBg3:#3a4d7a;
--eventBgHover:#263350;
--eventBg2Hover:#364973;
--eventBg3Hover:#3f5484;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#eca022;
--eventAccentTxt:#000;
--eventBorder:#263350;
--eventG:#212c46;
--buttonBg:#e82f3f;
--buttonBg2:#ed5d69;
--buttonBg3:#f0747f;
--buttonBgHover:#ea3d4c;
--buttonBg2Hover:#ef6b76;
--buttonBg3Hover:#f1828c;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#ca8411;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#ea3d4c;
--buttonG:#e82f3f;
--buttonSecondaryBg:#293757;
--buttonSecondaryBg2:#394d7a;
--buttonSecondaryBg3:#41588b;
--buttonSecondaryBgHover:#2e3e61;
--buttonSecondaryBg2Hover:#3e5484;
--buttonSecondaryBg3Hover:#465f95;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#ca8411;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#2e3e61;
--buttonSecondaryG:#212c46;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#eca022;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#1a243a;
--oddBg2:#2a3a5d;
--oddBg3:#32456f;
--oddBgHover:#1f2b45;
--oddBg2Hover:#2f4168;
--oddBg3Hover:#374c7a;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#eca022;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#1a243a;
--oddActiveBg:#e82f3f;
--oddActiveBg2:#ed5d69;
--oddActiveBg3:#f0747f;
--oddActiveBgHover:#ea3d4c;
--oddActiveBg2Hover:#ef6b76;
--oddActiveBg3Hover:#f1828c;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#e82f3f;
--oddActiveG:#e82f3f;
--showMoreBg:#1a243a;
--showMoreBg2:#2a3a5d;
--showMoreBg3:#32456f;
--showMoreBgHover:#1f2b45;
--showMoreBg2Hover:#2f4168;
--showMoreBg3Hover:#374c7a;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#eca022;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#212c46;
--showMoreG:#1a243a;
--tabBg:#1d263b;
--tabBg2:#2e3c5d;
--tabBg3:#36476e;
--tabBgHover:#222d45;
--tabBg2Hover:#334367;
--tabBg3Hover:#3b4e78;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#eca022;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#222d45;
--tabG:#1d263b;
--tabActiveBg:#314378;
--tabActiveBg2:#40579c;
--tabActiveBg3:#4761ae;
--tabActiveBgHover:#354983;
--tabActiveBg2Hover:#445da7;
--tabActiveBg3Hover:#4e68b7;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#eca022;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#354983;
--tabActiveG:#314378;
--tabSecondaryActiveBg:#25314c;
--tabSecondaryActiveBg2:#36476e;
--tabSecondaryActiveBg3:#3e527f;
--tabSecondaryActiveBgHover:#2a3856;
--tabSecondaryActiveBg2Hover:#3b4e78;
--tabSecondaryActiveBg3Hover:#435989;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#eca022;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#1d263b;
--filterBg:#2c3b5e;
--filterBg2:#3c5181;
--filterBg3:#445c92;
--filterBgHover:#314268;
--filterBg2Hover:#41588b;
--filterBg3Hover:#49639c;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#eca022;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#314268;
--filterG:#212c46;
--menu_1Bg:#212c46;
--menu_1Bg2:#314269;
--menu_1Bg3:#3a4d7a;
--menu_1BgHover:#263350;
--menu_1Bg2Hover:#364973;
--menu_1Bg3Hover:#3f5484;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#eca022;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#263350;
--menu_1G:#212c46;
--menu_2Bg:#314378;
--menu_2Bg2:#40579c;
--menu_2Bg3:#4761ae;
--menu_2BgHover:#354983;
--menu_2Bg2Hover:#445da7;
--menu_2Bg3Hover:#4e68b7;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#eca022;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#354983;
--menu_2G:#314378;
--menu_3Bg:#4e69b8;
--menu_3Bg2:#7288c7;
--menu_3Bg3:#8597ce;
--menu_3BgHover:#5972bc;
--menu_3Bg2Hover:#7d91cb;
--menu_3Bg3Hover:#90a0d2;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#eca022;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#5972bc;
--menu_3G:#4e69b8;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#eca022;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:var(--primaryTxt2);
--menuItemTxt:var(--primaryTxt);
}/*
*/
:root {
	--primaryBg: #171C28;
	--primaryBgHover: #1A243A;
	--primaryBg2: #212C46;
	--primaryBg2Hover: #314378;
	--primaryBg3: #4E69B8;
	--primaryBg3Hover: #4E69B8;
	--primaryRGBA: rgba(1, 12, 38, 0.7);
	--primaryTxt: #fff;
	--primaryTxt2: #cccccc;
	--primaryTxt3: #999999;
	--primaryRadius: 0px;
	--accentBg: #ECA022;
	--accentBgHover: #00c7eb;
	--accentG: #E82F3F;
	--accentTxt: #000;
	--brandBg: #ECA022;
	--brandBgHover: #E82F3F;
	--brandG: #E82F3F;
	--brandTxt: #fff;
	--actionButtonG: #E82F3F;
	--actionButtonTxt: #fff;
	--widgetG: #1A243A;
	--widgetRGBA: #ECA022;
	--widgetRGBA2: #ECA02220;
	--widgetRGBA3: #ECA02240;
	--widgetBg: #1A243A;
	--widgetBgHover: #011644;
	--widgetBg2: #314378;
	--widgetBg2Hover: #4E69B8;
	--widgetBg3: #022980;
	--widgetBg3Hover: #022e8f;
	--widgetTxt: #fff;
	--widgetTxt2: #cccccc;
	--widgetTxt3: #999999;
	--widgetRadius: 0px;
	--oddG: #1A243A;
	--oddBg: #1A243A;
	--oddTxt: #fff;
	--oddRadius: 8px;
	--oddBorder: #212C46;
	--oddActiveG: #E82F3F;
	--oddActiveBorder: #E82F3F;
	--oddActiveTxt: #fff;
	--oddActiveRadius: 0px;
	--showMoreG: #1A243A;
	--showMoreBorder: #212C46;
	--showMoreRadius: 8px;
	--showMoreBgHover: #011644;
	--showMoreTxt: #fff;
	--showMoreActiveG: #212C46;
	--showMoreActiveBorder: #314378;
	--showMoreActiveRadius: 8px;
	--showMoreActiveBgHover: #314378;
	--showMoreActiveTxt: #fff;
	--headerBgHover: #4E69B8;
	--headerBgHover: #4E69B8;
	--headerG: #4E69B8;
	--headerTxt: #fff;
	--headerTxt2: #cccccc;
	--headerTxt3: #999999;
	--headerBorder: #314378;
	--headerRadius: 0px;
	--subHeaderG: #314378;
	--subHeaderBg: #314378;
	--subHeaderTxt: #fff;
	--subHeaderTxt2: #cccccc;
	--subHeaderBorder: #4E69B8;
	--subHeaderRadius: 0px;
	--tabG: #212C46;
	--tabBg: #212C46;
	--tabTxt: #fff;
	--tabTxt2: #cccccc;
	--tabRadius: 0px;
	--activeTabG: #314378;
	--activeTabBg: #314378;
	--activeTabTxt: #fff;
	--sideBarTabG: #212C46;
	--sideBarTabTxt: #fff;
	--sideBarActiveTabG: #314378;
	--sideBarActiveTabTxt: #fff;
	--inputG: #212C46;
	--inputTxt: #fff;
	--inputTxt2: #cccccc;
	--inputRadius: 24px;
	--singleGameG: #212C46;
	--singleGameBg: #212C46;
	--singleGameBg2: #4E69B8;
	--singleGameBorder: #314378;
	--singleGameBgHover: #314378;
	--singleGameTxt: #fff;
	--singleGameTxt2: #cccccc;
	--singleGameTxt3: #999999;
	--MenuLevel_ABg: #212C46;
	--MenuLevel_ABgHover: #314378;
	--MenuLevel_AG: #212C46;
	--MenuLevel_ATxt: #fff;
	--MenuLevel_ATxt2: #cccccc;
	--MenuLevel_ATxt3: #999999;
	--MenuLevel_ABorder: #314378;
	--MenuLevel_BBg: #314378;
	--MenuLevel_BBgHover: #4E69B8;
	--MenuLevel_BG: #314378;
	--MenuLevel_BTxt: #fff;
	--MenuLevel_BTxt2: #cccccc;
	--MenuLevel_BTxt3: #999999;
	--MenuLevel_BBorder: #4E69B8;
	--MenuLevel_CBg: #4E69B8;
	--MenuLevel_CBgHover: #4E69B8;
	--MenuLevel_CG: #4E69B8;
	--MenuLevel_CTxt: #fff;
	--MenuLevel_CTxt2: #cccccc;
	--MenuLevel_CTxt3: #999999;
	--MenuLevel_CBorder: #4E69B8;
	--betSlipBg: #212C46;
	--betSlipBorder: #314378;
	--betSlipTxt2: #cccccc;
	--betSlipStakeG: #314378;
	--betSlipStakeBg: #314378;
	--betSlipStakeTxt: #fff;
	--betSlipStakeTxt2: #cccccc;
	--betSlipInputG: #314378;
	--betSlipInputTxt: #fff;
	--betSlipButtonG: #314378;
	--betSlipButtonBg2: #4E69B8;
	--betSlipButtonTxt: #fff;
	--betSlipButtonRadius: 0px;
	--popupHeaderG: #314378;
	--popupHeaderTxt: #fff;
	--popupHeaderTxt2: #cccccc;
	--popupHeaderTxt3: #999999;
	--popupBg: #212C46;
	--popupBgHover: #314378;
	--popupG: #212C46;
	--popupTxt: #fff;
	--popupTxt2: #cccccc;
	--popupRadius: 0px;
	--popupBorder: #314378;
	--widgetInputG: #314378;
	--widgetInputBg2: #4E69B8;
	--widgetInputTxt: #fff;
	--widgetInputTxt2: #cccccc;
	--widgetInputRadius: 0px;
	--widgetInputBorder: #4E69B8;
	--spritePositionX: 0px;
	--menuItemActiveTxt:var(--primaryTxt2);
	--menuItemTxt:var(--primaryTxt);
}

[class^='digi_tournament_']:before, [class*=' digi_tournament_']:before {
	background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
	margin-top: 0;
}

.tg__multi_game {
	padding: 0 !important;
}

.tg_input::placeholder {
	color: var(--inputTxt2);
}
/* - - - - Primary - - - - */

body,
.tg_bg,
.tg__result_item {
	background-color: var(--primaryBg);
	color: var(--primaryTxt);
}

.paperView .champ_list:last-child,
.tg--border-bot-1 {
	border-color: var(--primaryBg);
}

.tg--pos_comb_row {
	border-color: var(--popupBorder);
}

.tg__one_game,
.tg__match_item_stake {
	border-color: var(--singleGameBorder);
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
	background-color: var(--primaryBg);
}

.tg__btn-action {
	background: var(--actionButtonG);
	color: var(--actionButtonTxt);
}

.tg__btn-ternary:hover, .bet_generator_buttons.tg__btn.tg__btn-ternary:hover {
	background: #C9452A;
}
/* - - - - Widget - - - - - */
.tg__live_list_header {
	background-color: var(--headerG);
	color: var(--headerTxt);
}

.tg__multiview_content {
	background-color: var(--singleGameG);
	color: var(--singleGameTxt);
}

.tg-hero {
	background-color: var(--widgetBg);
	color: var(--widgetTxt);
}

.tg-bg_transparent {
	background-color: var(--widgetRGBA2);
	border: 1px solid var(--widgetRGBA3);
	border-radius: var(--widgetRadius);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item {
	border-color: #314378 !important;
}

.tg__left_menu_item--lvl1 {
	background: var(--MenuLevel_AG);
	color: var(--MenuLevel_ATxt);
}

	.tg__left_menu_item--lvl1:hover {
		background: var(--MenuLevel_ABgHover);
		color: var(--MenuLevel_ATxt);
	}

	.tg__left_menu_item--lvl1 .tg__left_menu_item_text {
		color: var(--MenuLevel_ATxt);
	}

	.tg__left_menu_item--lvl1 .tg-ico-arrow {
		color: var(--MenuLevel_ATxt3);
	}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: var(--widgetTxt2);
}

	.ss__step_slider .ss__slider:hover {
		background: var(--accentBg);
	}

.ss__step_slider .ss__ruller > .off {
	background: var(--widgetBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
	background: var(--MenuLevel_BG);
	color: var(--MenuLevel_BTxt);
	border-color: var(--MenuLevel_BBorder);
}

	.tg__left_menu_item--lvl2:hover {
		background: var(--MenuLevel_BBgHover);
		color: var(--MenuLevel_BTxt);
	}

	.tg__left_menu_item--lvl2 .tg__left_menu_item_text {
		color: var(--MenuLevel_BTxt);
	}

	.tg__left_menu_item--lvl2 .tg-ico-arrow {
		color: var(--MenuLevel_BTxt3);
	}

/* africanView */
.africanView .SBhead {
	background: var(--headerG);
	color: var(--headerTxt);
}

.africanView .gameContentTitle {
	background: var(--primaryBg);
	color: var(--primaryTxt);
}

.africanView .champCont {
	background: var(--singleGameG);
	color: var(--singleGameTxt);
}

.africanView .tg_left_tabs {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
	border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
	color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading {
	background: var(--MenuLevel_CG);
	color: var(--MenuLevel_CTxt);
	border-color: var(--MenuLevel_CBorder);
}

.live_menu_item_left_header {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
}

.live_menu_item_left {
	border-color: var(--MenuLevel_CBorder);
}

.tg__left_menu_item--lvl3 .tg__left_menu_item_text {
	color: var(--MenuLevel_CTxt);
}

.tg__left_menu_item--lvl3 .tg-ico-arrow {
	color: var(--MenuLevel_CTxt3);
}

.dg_game_tabs {
	padding: 0 var(--headerRadius);
}

/* - - - - Passive Tab - - - - */
.tab_selector {
	background: #1D263B;
	color: var(--tabTxt2);
	border-top-left-radius: var(--tabRadius);
	border-top-right-radius: var(--tabRadius);
}

.sportLeftPane .tab_selector {
	background: var(--sideBarTabG);
	color: var(--sideBarTabTxt);
}

.tg__coupon_tabs_cont {
	padding-top: 2px;
}

.tab_cupon {
	background: var(--tabG);
	color: var(--tabTxt2);
	border-radius: 8px 8px 0 0;
}

	.tab_cupon.tab_selected,
	.tab_cupon:hover {
		background: var(--activeTabG);
		color: var(--activeTabTxt);
	}

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_subheader_btn,
.tg__live_filter_item {
	background: var(--activeTabG);
	color: var(--activeTabTxt);
}

.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value,
.tg_input {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__live_filter_item.checked {
	background: var(--tabG);
	color: var(--tabTxt);
}

.tg__dropdown_control {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
	background: var(--sideBarActiveTabG);
	color: var(--sideBarActiveTabTxt);
}

.tg__step_slider {
	border-color: var(--MenuLevel_ABorder);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
	background: var(--headerG);
	color: var(--headerTxt);
	border-top-left-radius: var(--headerRadius);
	border-top-right-radius: var(--headerRadius);
}

	.gameContentTitle .tg-ico-arrow {
		color: var(--headerTxt3);
	}

/* africanView */
.africanView .tg--home2__stakeItem {
	background: var(--tabG);
	color: var(--tabTxt);
}

.africanView .champCont {
	margin: 0px;
}

.tg--selected_prem_game {
	border: 0;
}

.tg__list_row {
	margin: 0;
	border-top: 1px solid var(--primaryBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
	background: var(--MenuLevel_ABg);
	color: var(--MenuLevel_ATxt2);
	border-color: var(--MenuLevel_ABorder);
}

	.ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
		background: var(--MenuLevel_ABgHover);
	}

.tg_bet_history_order_row .tg-clr-akcent {
	color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
	background: var(--MenuLevel_CBg);
	color: var(--MenuLevel_CTxt2);
	border-color: var(--MenuLevel_CBorder);
}

	.tg_bet_history_order_row_sub:nth-child(Odd) {
		background: var(--MenuLevel_CBgHover);
	}

/* - - - - SubHeader - - - - */
.tg__calendar_header,
.tg__calendar_cont,
.tg__results_header,
.tg__res_rus,
.overViewDataDanel .tg__btn_arrow {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt);
	border-top-left-radius: var(--subHeaderRadius);
	border-top-right-radius: var(--subHeaderRadius);
}

.tg__home_game_heading {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt2);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.tg_onegame_chb,
.news_slider .oddsContainer {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
	border-color: #282730 !important;
}

.dg1 {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
	margin-bottom: 0;
	border-bottom: 1px solid var(--singleGameBorder);
}

.tg__one_game:hover {
	background: var(--singleGameBgHover);
	color: var(--singleGameTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
	background: var(--popupBg);
	color: var(--popupTxt);
	border-radius: var(--popupRadius);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header,
.tg__modal_header-sm {
	background: var(--popupHeaderG);
	color: var(--popupHeaderTxt);
	border-top-left-radius: var(--popupRadius);
	border-top-right-radius: var(--popupRadius);
}

.tg__custom-range-slider {
	color: var(--accentBg);
}

.tg--close {
	background: var(--primaryBg);
	color: var(--primaryTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
	border-radius: var(--widgetInputRadius);
}

.ui-widget-content {
	border-color: var(--widgetBg2);
	background: var(--widgetBg);
	color: var(--widgetTxt);
}

.ui-widget-header {
	border: 0;
	background: var(--widgetG);
	color: var(--widgetTxt);
}

	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default,
	.ui-datepicker-title select,
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-nex {
		border: 0;
		background: var(--primaryBg);
		color: var(--primaryTxt);
	}

	.ui-state-highlight,
	.ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight,
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	.ui-datepicker-calendar .ui-state-hover {
		background: var(--accentG);
		color: var(--accentTxt);
	}

.tg__btn-text {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
}

.tg__one_game_team {
	color: var(--singleGameTxt);
}

.tg__one_game_col,
.tg__one_game_icons,
.tg__one_game .maIcons {
	color: var(--singleGameTxt2);
}

.tg__one_game .tg__home_game_time {
	color: var(--singleGameTxt3);
}

.posCombItem {
	background: var(--singleGameBg);
	color: var(--singleGameTxt);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: var(--oddG);
	color: var(--oddTxt);
	border: 1px solid var(--oddBorder);
	border-radius: var(--oddRadius) !important;
}

/* - - - - Show More - - - - */
.tg__more {
	background: var(--showMoreG);
	color: var(--showMoreTxt);
	border-radius: var(--showMoreRadius) !important;
	border: 1px solid var(--showMoreBorder);
}

	.tg__more:hover {
		background: var(--showMoreActiveG);
		color: var(--showMoreActiveTxt);
		border-radius: var(--showMoreActiveRadius) !important;
		border-color: var(--showMoreActiveBorder);
	}

/* - - - - Betslip Header - - - - */
.tg__block_header {
	background: var(--popupHeaderG);
	color: var(--popupHeaderTxt);
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent {
	color: var(--accentBg);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
	color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active,
.tg-ico-fav--active {
	color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
	color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd {
	background: var(--oddActiveG);
	color: var(--oddActiveTxt);
	border-radius: var(--oddActiveRadius);
	border-color: var(--oddActiveBorder);
}

.tg__btn-ternary {
	background: var(--brandG);
	color: var(--brandTxt);
}

.tabSelectorHeading {
	color: var(--brandBg);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
	background: var(--brandG);
	color: var(--brandTxt);
}

/* - - - - BetSlip - - - - */
.tg__coupon .tg--coupon-bg {
	background: var(--betSlipBg);
	color: var(--betSlipTxt2)
}

.tg--coupon-bg {
	background: var(--popupG);
	color: var(--popupTxt);
}

.stake_item_panel {
	background: var(--betSlipStakeG);
	color: var(--betSlipStakeTxt2);
	border-color: var(--betSlipBorder);
	border-top: 0;
}

.coupon_sport_name_container {
	color: var(--betSlipStakeTxt);
}

.tg__btn.tg__btn-coupon {
	background: var(--betSlipButtonG);
	color: var(--betSlipButtonTxt);
	border-radius: var(--betSlipButtonRadius);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, .scout_panel, .bet_generator_wrapper, .player_panel, #betcheckerWrapper, #bookingBody {
	background: var(--popupG);
	color: var(--popupTxt);
}

.tg_coin {
	background: var(--accentBg);
	color: var(--accentTxt);
}

.tg__match_item_btn {
	background: var(--showMoreG);
	color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
	background: var(--accentG);
	color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
	border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
	color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
	background: var(--widgetInputBorder);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
	background: var(--widgetInputG);
	color: var(--widgetInputTxt);
}

	.tg__dropdown__item:hover {
		background: var(--widgetInputBg2);
	}

	.sportRightPane .tg_input::placeholder {
		color: var(--widgetInputTxt2);
	}

.tg__search_cont .tg__input {
	background: var(--inputG);
	color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__search_cont .tg__input::placeholder {
	color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
	color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
	background: var(--betSlipInputG);
	color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
	background: var(--inputG);
	color: var(--inputTxt);
	border-radius: var(--inputRadius);
}

.tg__btn, .tg_input {
	border-radius: var(--inputRadius) !important;
}

/* - - - - Accent - - - - */

.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__btn-coupon:hover {
	color: var(--accentBg);
}

.tg__btn-coupon:hover {
	color: #fff;
	background: #ffffff20;
}

.tg_score.tg-clr-akcent2 {
	color: var(--accentBg);
}

.tg__coupon_square {
	background: var(--betSlipInputG);
}

.tg__coupon_factor {
	background: #212C46;
	color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
	background: var(--subHeaderG);
	color: var(--subHeaderTxt);
}

.tg__badge_live {
	background-color: var(--widgetBg);
	color: var(--widgetTxt);
}

.tg-ico-date {
	color: var(--inputTxt);
}

.tg__switch input:checked + .tg__switch_ico {
	background: var(--brandG);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__switch .tg__switch_ico {
	background-color: #999;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
	background: transparent !important;
	color: var(--popupHeaderTxt);
}




.paperView .es__home_bet_header {
	background: var(--headerG);
	color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
	background: var(--oddG);
	color: var(--oddTxt);
}

	.paperView .component_odd:hover,
	.paperView .component_odd_empty:hover,
	.paperView .EUodds:hover,
	.paperView .EUodds.selectedOdd,
	.paperView .component_odd.selectedOdd {
		background: var(--brandG);
		color: var(--brandTxt);
	}

.showC {
	background: var(--MenuLevel_AG);
	color: var(--MenuLevel_ATxt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
	background-color: var(--widgetBg);
	color: var(--widgetTxt2);
}

	.es__express_slider_arrow:hover {
		background-color: var(--widgetBg2);
		color: var(--widgetTxt);
	}

.tg__exp_of_day_one_game {
	background-color: var(--singleGameG);
	color: var(--singleGameTxt2);
	border-bottom: 1px solid var(--singleGameBorder) !important;
}

.es__total_odd_container .tg-clr-secondary {
	color: var(--singleGameTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: var(--singleGameTxt);
}

.es__express_day_odd {
	border-color: var(--singleGameBorder);
	color: var(--singleGameTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: var(--singleGameBg2);
	color: var(--singleGameTxt2);
}

	.es__bonus_odd_container i,
	.es__express_day_odd--total {
		color: var(--accentBg);
	}

.es__express_day_coupon {
	background-color: var(--singleGameBg);
	color: var(--singleGameTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
	color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
	background-color: var(--widgetBg3Hover);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
	border-bottom: 6px solid var(--activeTabBg);
}

.tg--calendar-tab {
	border-bottom: 6px solid var(--activeTabBg);
}

.live_calendar .body_panel {
	height: calc((100%) - 92px);
}

/*scroll*/
.digi_scroll_dragger {
	background-color: var(--widgetBg3Hover);
}

/*stakes event list*/
.tg__match_header {
	background: var(--headerG);
	color: var(--headerTxt2);
	border-bottom: 1px solid var(--headerBorder);
	border-top-left-radius: var(--headerRadius);
	border-top-right-radius: var(--headerRadius);
}

.tg__prematch_header {
	background: var(--headerG);
	color: var(--headerTxt2);
	border-radius: var(--headerRadius);
}

.tg__match_header .tg__teams {
	color: var(--headerTxt);
}

.tg__multibet_heading {
	border-bottom: 1px solid var(--subHeaderBorder);
}

.tg__live_list_header {
	background: var(--headerG);
	color: var(--headerTxt2);
}

	.tg__live_list_header .sport_type {
		color: var(--headerTxt);
	}

.overviewEventBody {
	background: var(--singleGameG);
	color: var(--singleGameTxt2);
}

.tg__score_box {
	background: var(--singleGameBg2);
	color: var(--accentBg);
}

.overviewEventBody .tg_team_name {
	color: var(--singleGameTxt);
}

.globalInactiveState {
	background: var(--primaryRGBA);
}



/*Search page*/

.sr-odd.selected,
.sr-odd:hover {
	border-radius: var(--oddActiveRadius);
	border: 1px solid var(--oddActiveBorder);
}








.scrollableWrapper {
	border-radius: 0px;
}

.body_panel.dg_game_tabs_content {
	border-radius: 8px 0 8px 8px;
}

.tg__block_header {
	border-radius: 8px 8px 0 0 !important;
	overflow: hidden;
}

.tg--mar-b-16 {
	border-radius: 0 0 8px 8px;
}

.tg__one_game {
	border-color: #314378;
}

.selector_panel > div:last-child {
	border-top-right-radius: 8px;
}

.selector_panel > div:first-child {
	border-top-left-radius: 8px;
}

.es__express_day_odd.l_od_express_day.digi-pv-multibets-event-odd {
	border-color: #314378;
}

.selector_panel.tg--flex.displayFlex.tg--2-tab.tg--text-tab.tg_tab-varying-width.dg_game_tabs {
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tg--flex.tg--align-center.tg--pad-16.gameContentTitle.tg_widget_header.tg--cp.shp3 {
	border-top-left-radius: 8px;
}

.tg--flex.tg--align-center.tg--pad-16.gameContentTitle.tg_widget_header.tg--cp.shp1 {
	border-radius: 8px 0 0 0;
}

.es__express_day_coupon-button-container.tg--flex.tg--justify-center.tg--pad--v-8.digi-pv-multibets-coupon-button-container {
	border-radius: 0 0 8px 8px;
}

.valueList.tg__dropdown_content.tg__max-height-5 {
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 9px 24px #00000040;
}

.tg__match_item_btn {
	border-radius: 8px !important;
	color: var(--widgetInputTxt) !important;
}









.tg__dropdown__item {
	background: var(--MenuLevel_BBgHover);
	color: var(--widgetInputTxt);
}


.component_tax_data {
	background-color: #ffb70012;
	border-radius: 8px;
	color: #fff !important;
}

.component_tax_data_wrapper .component_tax_data_row strong {
	color: #ffb700 !important;
}










@media (max-width: 1400px) {

	.tg__dropdown_value {
		padding-left: 8px;
		padding-right: 25px !important;
	}

		.tg__dropdown_value:after {
			right: 16px !important;
		}
}
