:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#c2c2c2;
--bodyBg2:#a8a8a8;
--bodyBg3:#9c9c9c;
--bodyBgHover:#bababa;
--bodyBg2Hover:#a0a0a0;
--bodyBg3Hover:#949494;
--bodyTxt:rgba(0, 0, 0, 0.9);
--bodyTxt2:rgba(0, 0, 0, 0.6);
--bodyTxt3:rgba(0, 0, 0, 0.4);
--bodyAccent:#231f1e;
--bodyAccentTxt:#fff;
--bodyBorder:#bababa;
--bodyG:#c2c2c2;
--bodyRGBA:rgba(194, 194, 194, 0.7);
--bodyRGBA2:rgba(194, 194, 194, 0.5);
--bodyRGBA3:rgba(194, 194, 194, 0.3);
--dominantBg:#333333;
--dominantBg2:#4d4d4d;
--dominantBg3:#595959;
--dominantBgHover:#3b3b3b;
--dominantBg2Hover:#555555;
--dominantBg3Hover:#616161;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb600;
--dominantAccentTxt:#000;
--dominantBorder:#3b3b3b;
--dominantG:#333333;
--dominantRGBA:rgba(51, 51, 51, 0.7);
--dominantRGBA2:rgba(51, 51, 51, 0.5);
--dominantRGBA3:rgba(51, 51, 51, 0.3);
--accentBg:#ffb600;
--accentBg2:#cc9200;
--accentBg3:#b37f00;
--accentBgHover:#f0ab00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47400;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ab00;
--accentG:#ffb600;
--inputBg:#686868;
--inputBg2:#818181;
--inputBg3:#8e8e8e;
--inputBgHover:#707070;
--inputBg2Hover:#898989;
--inputBg3Hover:#969696;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffb600;
--inputAccentTxt:#000;
--inputBorder:#707070;
--inputG:#686868;
--inputSecondaryBg:#404040;
--inputSecondaryBg2:#595959;
--inputSecondaryBg3:#666666;
--inputSecondaryBgHover:#484848;
--inputSecondaryBg2Hover:#616161;
--inputSecondaryBg3Hover:#6e6e6e;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffb600;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#333333;
--headerBg:#231f1e;
--headerBg2:#3e3736;
--headerBg3:#4c4341;
--headerBgHover:#2b2625;
--headerBg2Hover:#463e3d;
--headerBg3Hover:#544a48;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffb600;
--headerAccentTxt:#000;
--headerBorder:#2b2625;
--headerG:#231f1e;
--subHeaderBg:#e8e8e8;
--subHeaderBg2:#cecece;
--subHeaderBg3:#c2c2c2;
--subHeaderBgHover:#e0e0e0;
--subHeaderBg2Hover:#c6c6c6;
--subHeaderBg3Hover:#bababa;
--subHeaderTxt:rgba(0, 0, 0, 0.9);
--subHeaderTxt2:rgba(0, 0, 0, 0.6);
--subHeaderTxt3:rgba(0, 0, 0, 0.4);
--subHeaderAccent:#ffb600;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#e0e0e0;
--subHeaderG:#e8e8e8;
--eventBg:#ffffff;
--eventBg2:#e6e6e6;
--eventBg3:#d9d9d9;
--eventBgHover:#f7f7f7;
--eventBg2Hover:#dedede;
--eventBg3Hover:#d1d1d1;
--eventTxt:rgba(0, 0, 0, 0.9);
--eventTxt2:rgba(0, 0, 0, 0.6);
--eventTxt3:rgba(0, 0, 0, 0.4);
--eventAccent:#cc0001;
--eventAccentTxt:#fff;
--eventBorder:#f7f7f7;
--eventG:#ffffff;
--buttonBg:#f8b80e;
--buttonBg2:#cd9706;
--buttonBg3:#b48405;
--buttonBgHover:#f0b007;
--buttonBg2Hover:#be8c06;
--buttonBg3Hover:#a57905;
--buttonTxt:rgba(0, 0, 0, 0.9);
--buttonTxt2:rgba(0, 0, 0, 0.6);
--buttonTxt3:rgba(0, 0, 0, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#f0b007;
--buttonG:#f8b80e;
--buttonSecondaryBg:#404040;
--buttonSecondaryBg2:#595959;
--buttonSecondaryBg3:#666666;
--buttonSecondaryBgHover:#484848;
--buttonSecondaryBg2Hover:#616161;
--buttonSecondaryBg3Hover:#6e6e6e;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#484848;
--buttonSecondaryG:#333333;
--modalBg:#ccc8c8;
--modalBg2:#b3aeae;
--modalBg3:#a7a0a0;
--modalBgHover:#c5c0c0;
--modalBg2Hover:#aca6a6;
--modalBg3Hover:#a09898;
--modalTxt:rgba(0, 0, 0, 0.9);
--modalTxt2:rgba(0, 0, 0, 0.8);
--modalTxt3:rgba(0, 0, 0, 0.6);
--modalAccent:#ffb600;
--modalAccentTxt:rgba(0, 0, 0, 0.9);
--modalBorder:#c5c0c0;
--modalG:#ccc8c8;
--oddBg:#231f1e;
--oddBg2:#3e3736;
--oddBg3:#4c4341;
--oddBgHover:#2b2625;
--oddBg2Hover:#463e3d;
--oddBg3Hover:#544a48;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb600;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#ffffff;
--oddG:#231f1e;
--oddActiveBg:#f8b80e;
--oddActiveBg2:#cd9706;
--oddActiveBg3:#b48405;
--oddActiveBgHover:#f0b007;
--oddActiveBg2Hover:#be8c06;
--oddActiveBg3Hover:#a57905;
--oddActiveTxt:rgba(0, 0, 0, 0.9);
--oddActiveTxt2:rgba(0, 0, 0, 0.6);
--oddActiveTxt3:rgba(0, 0, 0, 0.4);
--oddActiveBorder:#f8b80e;
--oddActiveG:#f8b80e;
--showMoreBg:#ffffff;
--showMoreBg2:#e6e6e6;
--showMoreBg3:#d9d9d9;
--showMoreBgHover:#f7f7f7;
--showMoreBg2Hover:#dedede;
--showMoreBg3Hover:#d1d1d1;
--showMoreTxt:rgba(0, 0, 0, 0.9);
--showMoreTxt2:rgba(0, 0, 0, 0.6);
--showMoreTxt3:rgba(0, 0, 0, 0.4);
--showMoreAccent:#ffb600;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#686868;
--showMoreG:#ffffff;
--tabBg:#696969;
--tabBg2:#828282;
--tabBg3:#8f8f8f;
--tabBgHover:#717171;
--tabBg2Hover:#8a8a8a;
--tabBg3Hover:#979797;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffb600;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#717171;
--tabG:#696969;
--tabActiveBg:#231f1e;
--tabActiveBg2:#3e3736;
--tabActiveBg3:#4c4341;
--tabActiveBgHover:#2b2625;
--tabActiveBg2Hover:#463e3d;
--tabActiveBg3Hover:#544a48;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb600;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#2b2625;
--tabActiveG:#231f1e;
--tabSecondaryActiveBg:#767676;
--tabSecondaryActiveBg2:#8f8f8f;
--tabSecondaryActiveBg3:#9c9c9c;
--tabSecondaryActiveBgHover:#7e7e7e;
--tabSecondaryActiveBg2Hover:#979797;
--tabSecondaryActiveBg3Hover:#a4a4a4;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffb600;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#696969;
--filterBg:#454545;
--filterBg2:#5e5e5e;
--filterBg3:#6b6b6b;
--filterBgHover:#4d4d4d;
--filterBg2Hover:#666666;
--filterBg3Hover:#737373;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb600;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#4d4d4d;
--filterG:#333333;
--menu_1Bg:#333333;
--menu_1Bg2:#4d4d4d;
--menu_1Bg3:#595959;
--menu_1BgHover:#3b3b3b;
--menu_1Bg2Hover:#555555;
--menu_1Bg3Hover:#616161;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb600;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#3b3b3b;
--menu_1G:#333333;
--menu_2Bg:#2b2b2b;
--menu_2Bg2:#444444;
--menu_2Bg3:#515151;
--menu_2BgHover:#333333;
--menu_2Bg2Hover:#4c4c4c;
--menu_2Bg3Hover:#595959;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffb600;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#333333;
--menu_2G:#2b2b2b;
--menu_3Bg:#212121;
--menu_3Bg2:#3a3a3a;
--menu_3Bg3:#474747;
--menu_3BgHover:#292929;
--menu_3Bg2Hover:#424242;
--menu_3Bg3Hover:#4f4f4f;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffb600;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#292929;
--menu_3G:#212121;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb600;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
--menuItemActiveTxt:#686868;
--menuItemTxt:#222;
}/*
*/
  
  /*--*/
  :root {
    --primaryBg:  #c2c2c2;
    --primaryBg3: #8e8e8e;
    --primaryTxt: #000;
    --primaryTxt2: #4d4d4d;
    --primaryTxt3: #666666;

    --accentBg: #ffb600;
    --accentG: #ffb600;
    --accentRGBA: rgba(255, 182, 0, 0.6);
    --accentTxt: #000;

    --brandG: #f8b80e;
    --brandBg: #f8b80e;
    --brandTxt: #000;

    --actionButtonG: #ffb600;
    --actionButtonTxt: #000;

    --widgetG: #353535;
    --widgetBg: #353535;
    --widgetBgHover: #282828;
    --widgetBg2: #1b1b1b;
    --widgetBg2Hover: #0e0e0e;
    --widgetBg3: #010101;
    --widgetBg3Hover: #0e0e0e;
    --widgetRGBA: rgba(53, 53, 53, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #231f1e;
    --oddBg: #231f1e;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #f8b80e;
    --oddActiveBg: #f8b80e;
    --oddActiveBg2: #cd9706;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #ffffff;
    --showMoreBg: #ffffff;
    --showMoreTxt: #000;
    --showMoreTxt2: #4d4d4d;

    --headerG: #231f1e;
    --headerBg: #231f1e;
    --headerTxt: #fff;

    --popupHeaderG: #c2c2c2;
    --popupHeaderBg: #c2c2c2;
    --popupHeaderTxt: #000;

    --popupBg: #353535;
    --popupG: #353535;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #014568;
    --tabBg: #014568;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #231f1e;
    --activeTabBg: #231f1e;
    --activeTabTxt: #fff;

    --sideBarTabG: #014568;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #231f1e;
    --sideBarActiveTabTxt: #fff;

    --inputG: #686868;
    --inputBg: #686868;
    --inputBg2: #4e4e4e;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;
    --menuItemActiveTxt:#686868;
    --menuItemTxt:#222;

}
/*---*/

/*interbet terminal*/
 
/*shadow or border*/
.tg--shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

/*close btn*/
.tg--close {
	background-color: #151517;
	color: #fff;
}

	.tg--close:hover {
		color: #999;
	}

/*btn search icon*/
.btn_search {
	color: #fff;
}

.tg-ico-date {
	color: #999;
}
/*akcent clr*/
.tg-clr-akcent2 {
	color: #cc0001;
}

/*issues*/
.tg--issue {
	background-color: #ffb600;
	color: #000;
}

.tg--info,
.tg__info {
	color: #999;
}
/*tabs*/
.tab_selector {
	background-color: #014568;
	color: #999;
}

.tab_selector_active {
	background-color: #333;
	color: #fff;
}
/*odds*/
.l_od, .l_od_empty {
	background-color: #231f1e;
	color: #fff;
}

	.l_od:hover, .odCnt:hover .l_od,
	.l_od.selectedOdd {
		background-color: #f8b80e;
		color: #111;
	}

		.l_od.selectedOdd:hover {
			color: #999;
		}

/*switch*/
.tg__switch .tg__switch_ico {
	background-color: #999;
}

.tg__switch input:checked + .tg__switch_ico:before {
	background-color: #444;
}

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tg__switch > input:checked + .tg__switch_ico {
	background-color: rgba(0, 0, 0, 0.49);
}

.tg__switch input:checked + .tg__switch_ico:before {
	background-color: #cc0001;
}

.tg__switch_text {
	text-transform: uppercase;
	color: #999;
}

/*buttons*/
.tg__btn-ternary,
.tg__btn-primary {
	background-color: #f8b80e;
	color: #111;
}

	.tg__btn-ternary:hover {
		background-color: #f3ba24;
	}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

.saveFav {
	background-color: #009900;
	color: #000;
}
/*dropdowns*/
.tg__dropdown_value {
	background-color: #686868;
	color: #fff;
}

.tg__dropdown_content {
	background-color: #2b2b2b;
}

.tg__dropdown__item {
	background-color: #333;
	color: #999;
}

	.tg__dropdown__item:hover {
		color: #fff;
	}

.tg__dropdown__item-active {
	background-color: #474747;
	color: #fff;
}
/*header*/
.tg__subhead {
	background-color: #c2c2c2;
}

	.tg__subhead .tg__input {
		background-color: #686868;
		color: #fff;
	}

		.tg__subhead .tg__input::placeholder {
			color: #fff;
		}

.tg__subhead .tg__btn-ico {
	color: #686868;
}

/*data panel*/
.sportLDRContainer {
	background-color: #c2c2c2;
}

/*left menu*/
.sportLeftPane {
	background-color: #c2c2c2;
}

	.sportLeftPane .tab_selector {
		background-color: #696969;
		color: #fff;
		border-bottom: 1px solid #c2c2c2;
	}

		.sportLeftPane .tab_selector_active,
		.sportLeftPane .tab_selector:hover {
			background-color: #231f1e;
			color: #fff;
		}

	.sportLeftPane .body_panel {
		background-color: #111;
	}

.tg__badge_live {
	color: #fff;
	background-color: #333;
}

.sportLeftPane .tab_selector_active .tg__badge_live {
	color: #fff;
	background-color: #cb0000;
}

.sportLeftPane .tab_selector:first-child {
	border-right: 2px solid #c2c2c2;
}

/*slider*/
.tg__step_slider {
	margin-bottom: 0;
	border-bottom: 1px solid #c2c2c2;
}

.ss__label {
	color: #999;
}

.tg__left_menu_item .ss__label .tg-clr-akcent2 {
	color: #ffb600;
}

.tg__step_slider .tg-clr-akcent2 {
	color: #ffb600;
}

.ss__step_slider .ss__slider {
	background-color: #999;
}

	.ss__step_slider .ss__slider:hover {
		background-color: #ffb600;
	}

/*left menu rows*/
.tg__left_menu_item {
	background-color: #2b2b2b;
}

	.tg__left_menu_item .tg-ico-arrow {
		color: #999;
	}

.sportLeftPane .tg-clr-akcent2 {
	color: #ffb600;
}

/*lvl1*/
.tg__left_menu_item--lvl1 {
	color: #fff;
	background-color: #333;
}

	.tg__left_menu_item--lvl1:hover {
		background-color: #353535;
	}

/*lvl2*/
.tg__left_menu_item--lvl2 {
	color: #999;
	background-color: #2b2b2b;
}

	.tg__left_menu_item--lvl2:hover {
		background-color: #2d2d2d;
	}

/*lvl3*/
.tg__left_menu_item--lvl3 {
	background-color: #212121;
	color: #999;
}

	.tg__left_menu_item--lvl3:hover {
		background-color: #232323;
	}

.left_menu_line_active,
.left_menu_line_active:hover {
	background-color: #0a0a0a;
	color: #999;
}

.liveSportNamesContainer {
	color: #fff;
}

/*left menu live filter*/
.liveFilterContainer {
	background-color: #c2c2c2;
}

.tg__live_filter_item {
	color: #999;
}

	.tg__live_filter_item.checked {
		color: #999;
		background-color: #333;
	}

/*live tab game*/
.liveGameSelected .tg__left_menu_item--lvl3 {
	background-color: #0a0a0a;
}

.tg__left_menu_item--no_height {
	margin-bottom: 0;
}
/*left menu end******************************************************/
/*home page center content*/
/*banners*/
.tg__banner {
	color: #999;
	background-color: #fff;
}

.tg__banner__heading {
	color: #000;
}

.news_description.tg__show_title[data-title]:hover:after {
	background: #c2c2c2;
	color: #292929;
}

.tg__slider__btn {
	background-color: #fff;
	color: #999;
}

	.tg__slider__btn:hover {
		background-color: #e8e8e8;
	}

.news_slider .tg__home_game_heading {
	background-color: #e8e8e8;
	color: #111;
}

.oddsContainer {
	background-color: #fff;
	color: #111;
}

/*live games*/
.tg__home_game_item .tabSelectorHeading {
	color: #231f1e;
	font-weight: bold;
}

/*tabs with text*/
.tg__home_game_item .tab_selector {
	background-color: #696969;
	color: #fff;
}

	.tg__home_game_item .tab_selector_active,
	.tg__home_game_item .tab_selector:hover {
		background-color: #231f1e;
	}

.tg__one_game .tg-ico-sm {
	color: #666;
}

.tg__one_game:last-child {
	border-bottom: 0;
}
/*live game title*/
.gameContentTitle {
	background-color: #231f1e;
	color: #999;
}

	.gameContentTitle .imgSpr {
		color: #fff;
	}

	.gameContentTitle .tg-ico-arrow {
		color: #bdbec0;
	}

.tg__home_game_item .tg__home_game_heading {
	background-color: #e8e8e8;
	color: #111;
}

/*one game row*/
.tg__one_game {
	color: #111;
	background-color: #fff;
	border-color: #636c73;
}

	.tg__one_game:hover {
		background-color: #b7b7b7;
		border-color: #59636d;
	}

.tg__more {
	color: #686868;
	border: 1px solid #686868;
	background-color: #fff;
}

/*show more btn*/
.tg__home_game_item .tg-chb-only_icon {
	color: #999;
	background-color: #fff;
}

/*home page center content end******************************************************/

/*home right panel*/
/*info panel*/
.tg__info_panel {
	background-color: #333;
}

.info_panel .tab_selector {
	background-color: #696969;
	color: #fff;
}

	.info_panel .tab_selector_active,
	.info_panel .tab_selector:hover {
		background-color: #2b2b2b;
	}

.info_panel .selectorWrapper .tg__fix_btn:hover {
	color: #fff;
}

.infoPanelDragger {
	border-bottom: 1px solid #464646;
	background-color: #333;
}

.tg__info_panel .selectorWrapper, .tg--coupon-container .tab_selector.tab_selector_active {
	background-color: #2b2b2b;
	color: #fff;
}

.info_panel .tg__dropdown_value {
	background-color: #686868;
	color: #fff;
}

.info_panel .tg__fix_btn {
	color: #999;
}

.info_panel .body_panel .tg__checkbox_ico.checked {
	color: #ffb700;
}

.infoPanelDragger {
	background-color: #333;
}

	.infoPanelDragger:hover {
		background-color: #313131;
	}

/*booking*/
.booking_number .selector_panel,
.booking_number .tab_selector_active {
	background-color: #2b2b2b;
}

.booking_number .tg--coupon-bg {
	background-color: #e6e6e6;
}
/*search page*/
#srch_page_srch_res {
	background-color: #c2c2c2;
}

.tg__search_page .tg-font-l {
	color: #333;
}

.tg-clr-akcent.tg-font-l {
	color: #999;
	font-size: 14px;
}

.tg__search_page .tg__home_game_heading {
	background-color: #c2c2c2;
	text-transform: uppercase;
}

.tg__search_page .tg__list_row,
.tg__search_page .tg__list_row:nth-child(even) {
	background-color: #fff;
	color: #333;
	margin-bottom: 1px;
}

.tg__search_page .tg__home_game_heading .dt,
.tg__search_page .tg__home_game_heading .r {
	color: #cc0001;
}

/*coupon*/
.tg--coupon-bg {
	background-color: #e6e6e6;
}

.tg__coupon {
	background-color: #fff;
	color: #707070;
}

.tg__coupon_header {
	background-color: #2b2b2b;
	color: #fff;
}

.tg__coupon .tg__fix_btn {
	color: #999;
}

.tg__coupon .editFavCont .editFavorit:hover,
.btn_bet_betHistory:hover {
	color: #111;
}

.coupon_sport_name_container:hover .tg__teamname {
	text-decoration: underline;
}

/*betchecker*/
.betchecker {
	background-color: #fff;
}

#betcheckerType {
	color: #707070;
}

.tg__block_header {
	background-color: #2b2b2b;
	color: #fff;
}

.last5bets .tg__block_header .tg__chb {
	color: #999;
}

.last5bets .tg__block_header .tg__checkbox_ico.checked {
	transform: rotate(180deg);
	transition: transform 0.2s;
}
/*Book bet*/

.tg__modal_book_bet.tg__modal {
	background-color: #fff;
	color: #999;
}

.tg__modal_book_bet .tg__modal_text {
	color: #fff;
	background-color: #333;
}

.tg__modal_book_bet .tg__border-top {
	border-color: #f14100;
	background-color: #fff;
}

.tg__list_row .tg-clr-akcent,
.tg__border-top .tg-clr-akcent {
	color: #cc0001;
}

.tg__border-top .tg-clr-akcent {
	font-weight: bold;
}

.tg__booked_bets {
	background-color: #d0d0d0;
	color: #111;
}

.tg__modal_book_bet .tg__list_row {
	background-color: #2b2b2b;
	color: #999;
}

.tg__modal_book_bet {
	padding: 2px;
}
/*tabs*/
.tg__coupon_tabs_cont {
	background-color: #e6e6e6;
	color: #707070;
	text-transform: uppercase;
}

	.tg__coupon_tabs_cont .tab_cupon {
		background-color: #e6e6e6;
		color: #707070;
	}

		.tg__coupon_tabs_cont .tab_selected,
		.tg__coupon_tabs_cont .tab_cupon:hover {
			background-color: #cfcfcf;
			color: #707070;
		}

/*bets*/
.stake_item_panel {
	background-color: #cfcfcf;
	border-bottom-color: #b8b8b8;
	color: #707070;
	border-top: 0;
}

	.stake_item_panel .couponAccept {
		color: #707070;
	}

	.stake_item_panel .coupon_sport_name_container {
		color: #707070;
	}

	.stake_item_panel .tg__coupon_factor {
		color: #fff;
		background-color: #707070;
	}

.close_cupon {
	color: #707070;
}

	.close_cupon:hover {
		color: #cb0000;
	}
/*btns*/
.tg__btn-coupon {
	background-color: #909090;
	color: #fff;
}

	.tg__btn-coupon:hover {
		background-color: #808080;
		color: #fff;
	}

.tg__coupon .tg_input {
	background-color: #fff;
	color: #374047;
	border-bottom: 1px solid #909090;
}

	.tg__coupon .tg_input:focus {
		border-color: #014568;
	}

.tg__coupon .tg__dropdown_control,
.tg__coupon_calc,
.tg__coupon_calc:hover {
	background-color: #fff;
	color: #707070;
}

.tg__coupon_square {
	background-color: #fff;
	color: #666;
}

/*error clr*/
.tg--red-bg {
	background-color: #cb0000;
	color: #fff;
}

.tg--red-clr {
	color: #cb0000;
}
/*right menu end ****************************************************************************/


/*prematch event*/
.tg__prematch_header {
	color: #fff;
	background-color: #231f1e;
}

/*match item*/
.tg__match_item {
	color: #999;
	background-color: #fff;
}

.tg__match_header {
	background-color: #e8e8e8;
	color: #111;
}

.tg--selected_prem_game {
	border-left: 0;
}

.tg__match_item_btn {
	background-color: #999;
	color: #2b2b2b;
}

.lineEventHeaderWide .tg__match_header {
	background-color: #231f1e;
	color: #fff;
}

.tg--selected_prem_game .tg__match_item_btn {
	color: #0a0a0a;
	background-color: #ffb700;
}

.tg__match_item .tg-ico-fav {
	color: #fff;
}

.tg__match_item .tg-ico-arrow {
	color: #111;
}

/*fav ico*/
.tg__left_menu_item--lvl3 .tg-ico-fav {
	color: #fff;
}

.tg-ico-fav.tg-ico-fav--active {
	color: #ffb600;
}

/*prematch event end****************************************************************************/
/*prem open game*/

.tg__open_event_img {
	background-color: #231f1e;
	color: #fff;
}

.tg__open_event_stat .tg-clr-akcent2 {
	color: #ffb700;
}

.tg__back {
	background-color: #fff;
	color: #374047;
	border-radius: 2px;
}

	.tg__back:hover {
		color: #ffb700;
	}

.tg-bg_transparent {
	background-color: rgba(0,0,0,0.4);
	color: #fff;
}

.tg__match_item_odd_name {
	color: #111;
}

.liveHeaderName .tg__open_event_stat {
	border-right: 0;
}

.liveHeaderScore .tg__open_event_stat {
	border-left: 0;
	color: #fff;
}

.tg__open_event_info {
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}

.live_tabs_header .tg__match_item {
	padding: 0;
}
/*prem open game end*************************************************************************/
/*overview*/
.tg__live_list_header {
	color: #fff;
	background-color: #2b2b2b;
}

.tg__live_list_body {
	background-color: #fff;
	color: #374047;
}

.tg__live_list_header .tg__text_with_shadow {
	color: #fff;
	text-shadow: 1px 1px #000;
	font-weight: bold;
}

.overviewEventHeader .tg__home_game_heading {
	background-color: #e8e8e8;
	color: #111;
}

	.overviewEventHeader .tg__home_game_heading:last-child {
		background-color: #e8e8e8;
		border-color: #a7a7a7;
		color: #111;
	}

.overviewEventBody {
	background-color: #fff;
	color: #111;
}

	.overviewEventBody .tg__more {
		height: 36px;
		line-height: 35px;
		background-color: #2a2a2a;
		color: #999;
	}

	.overviewEventBody .tg--cashout {
		color: #999;
	}

.tg__score_box {
	color: #ffb700;
	background-color: #000;
	font-weight: bold;
}

.tg__live_list_body .tg--srv {
	color: #2a7394;
}

.tg__btn_arrow {
	background-color: #212121;
	color: #999;
}

	.tg__btn_arrow:hover {
		background-color: #212121;
		color: #fff;
	}
/*overview end ******************************************************************/
/*multiview*/
.tg__multiview_content {
	color: #374047;
	background-color: #fff;
}

	.tg__multiview_content .tg-ico {
		color: #fff;
	}

	.tg__multiview_content .s {
		border-bottom: 1px solid #111;
	}

.tg__multiview_header {
	color: #fff;
	background-color: #231f1e;
}

.tg__multiview_content .tg__home_game_heading {
	background-color: #e8e8e8;
	color: #111;
}

	.tg__multiview_content .tg__home_game_heading .tg--cashout {
		color: #666;
	}

.last {
	background-color: #231f1e;
	color: #fff;
}

/*multiview end ******************************************************************/
/*live Calendar*/
.live_calendar .selector_panel {
	background-color: #e8e8e8;
	padding: 0 5px;
}

/*tabs*/
.tg--calendar-tab .tab_selector {
	background-color: #696969;
	color: #fff;
}

	.tg--calendar-tab .tab_selector_active,
	.tg--calendar-tab .tab_selector:hover {
		background-color: #231f1e;
		color: #fff;
	}

.tg--calendar-tab .tg-clr-akcent2 {
	color: #ffb600
}

.tg__calendar_cont {
	background-color: #e8e8e8;
	color: #374047;
	padding: 0 5px;
}

	.tg__calendar_cont .tg-ico-sm {
		color: #999;
	}

	.tg__calendar_cont .tg__control.tg__checkbox {
		background-color: #333;
		color: #999;
		border-bottom: 1px solid #2b2b2b;
	}

		.tg__calendar_cont .tg__control.tg__checkbox:hover {
			color: #fff;
		}

.tg__calendar_header {
	color: #111;
	background-color: #e8e8e8;
}

.tg__calendar_item {
	background-color: #fff;
	color: #111;
}

	.tg__calendar_item .cn {
		color: #999;
	}

	.tg__calendar_item .event .tn {
		font-weight: bold;
		text-decoration: underline;
	}

		.tg__calendar_item .event .tn:hover {
			color: #cc0001;
		}

/*live Calendar*******************************************************************/
/*results*/
.tg__results_header {
	color: #111;
	background-color: #231f1e;
}

	.tg__results_header .tg_input {
		background-color: #686868;
		color: #fff;
	}

.tg__result_group_heading {
	background-color: #231f1e;
	color: #fff
}

	.tg__result_group_heading .tg-ico-arrow {
		color: #999;
	}

.tg__result_item .tg__home_game_heading {
	background-color: #e8e8e8;
	color: #111;
}

.tg__result_item .resRowItem {
	background-color: #fff;
	color: #111;
	border-bottom: 1px solid #142431;
}

	.tg__result_item .resRowItem:last-child {
		border-bottom: 0;
	}

.tg__results .l_od:hover,
.tg__results .l_od_empty:hover {
	background-color: #171717;
	color: #fff;
}

.tg__results .tg__btn-ternary {
	background-color: #cc0001;
	color: #fff;
}

	.tg__results .tg__btn-ternary:hover {
		background-color: #b91112;
	}
/*results end ******************************************************************/
/*popups*/
.tg__modal,
.tg__modal--drag {
	color: #111;
	background-color: #fff;
}

.tg__modal_header {
	background-color: #231f1e;
	color: #fff;
	text-transform: uppercase;
}

.tg_input {
	background-color: #fff;
	color: #999;
}

.tg__subheading {
	background-color: #142431;
	color: #fdda06;
}

.tg__panel_issue--warning {
	background-color: #ffb600;
	color: #000;
}

.tg__panel_issue--success {
	background-color: green;
	color: #fff;
}

.home_page_data_panel .liHeading {
	border-top: 2px solid #333;
}
/*calculator*/
#calcBtn {
	background-color: #686868;
	color: #fff;
}

	#calcBtn:hover {
		color: #e8e8e8;
	}

.tg__subhead .tg__btn_calc {
	background-color: #686868;
	color: #fff;
}

.tg--show-calc {
	padding: 2px;
}

	.tg--show-calc .tg__dropdown_value,
	.tg--show-calc .tg_input {
		background-color: #686868;
		color: #fff;
	}

	.tg--show-calc .tg__subheading {
		background-color: #2b2b2b;
		color: #999;
	}

	.tg--show-calc .tg--tal {
		color: #cc0001;
	}

	.tg--show-calc .tg__switch {
		display: flex;
		flex-direction: row-reverse;
	}

	.tg--show-calc .tg__btn-ternary {
		background-color: #cc0001;
		color: #fff;
	}

		.tg--show-calc .tg__btn-ternary:hover {
			background-color: #b91112;
		}

#calc_new_winSum,
.sum.tg-clr-akcent2 {
	color: #cc0001;
	font-weight: bold;
}

.calcLbl.tg__subheading {
	background-color: #fff;
	color: #111;
}

.calcRes .tg_input {
	height: 50px;
	line-height: 50px;
	background-color: #505050;
	color: #EBEBEB;
	text-align: right;
	border: none;
}

.tg__calc_buttons_cont .tg__btn-secundary {
	background-color: #2b2b2b;
	color: #999;
	border-radius: 2px;
}

	.tg__calc_buttons_cont .tg__btn-secundary:hover {
		background-color: #ffb700;
		color: #2b2b2b;
	}

/*my acc*/
.tg__modal_big {
	color: #111;
	background-color: #fff;
}

	.maPageMenu .tg_input, .tg__modal_big .tg__input--imit {
		background-color: #686868;
		color: #fff;
	}
		.maPageMenu .tg_input::placeholder {
			color: #fff;
		}
	.maPageMenu .tg-grid--4 .tg_input, .maPageMenu .tg_input::placeholder{
		color:#e8e8e8
	}

.tg__modal_big .tab_selector {
	background-color: #696969;
	border: 2px solid #231f1e;
	border-top: 0;
	color: #fff;
}

		.tg__modal_big .tab_selector:hover,
		.tg__modal_big .tab_selector.tab_selector_active {
			background-color: #231f1e;
			color: #fff;
			border-bottom-color: #f8b80e;
		}

	.tg__modal_big .tg__home_game_heading {
		background-color: #c2c2c2;
		color: #111;
	}

.tg__list_bg {
	background-color: #333;
}

.tg__list_row {
	color: #fff;
	background-color: #231f1e;
}

	.tg__list_row .tg__btn-ternary {
		background-color: #1a1a1a;
		color: #f8951d;
		border-radius: 2px;
	}

		.tg__list_row .tg__btn-ternary:hover {
			background-color: #f8951d;
			color: #1a1a1a;
		}

	.tg__list_row:nth-child(even) {
		background-color: #333;
		color: #fff;
	}

	.tg__list_row .tg-ico,
	.tg__list_row .tg-ico-arrow {
		color: #7f7f7f;
	}

		.tg__list_row .tg-ico.tg-clr-akcent2 {
			color: #ffb600;
		}

.tg__list_row_sub {
	background-color: #e8e8e8;
	color: #111;
}

	.tg__list_row_sub .tg-ico-fav {
		color: #ffb700;
	}

.tg__list_row .tg-clr-akcent {
	color: #cc0001;
}

.tg-clr_result,
.tg-clr_odds {
	color: #999;
}

/*my acc end***************************************************************************/
/*express combinations popup*/
.tg--express_combination {
	background-color: #333;
	color: #fff;
}

.tg--possComb_ordering.tg-clr-akcent2 {
	color: #ffb700;
}

.tg--pos_comb_row {
	background-color: #3d3d3d;
	border-color: #333;
}

	.tg--pos_comb_row .l {
		color: #999;
	}

.checkedStakes-fullName {
	color: #999;
}

.posCombItem {
	background-color: #1d1d1d;
}

.tg--express_combination .tg__btn-ternary {
	background-color: #cc0001;
	color: #fff;
}

	.tg--express_combination .tg__btn-ternary:hover {
		background-color: #b91112;
	}
/*datapicker*/
.ui-datepicker .ui-datepicker-header {
	background-color: #1b1b1b;
	border-color: #333333;
}

.ui-widget-content {
	background-color: #333;
	border-color: #142431;
}

.ui-datepicker-calendar th {
	color: #fff;
}

.ui-state-hover,
.ui-state-hover:hover {
	background-color: #666;
	border-color: #666;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-color: #1b1b1b;
	border-color: #1b1b1b;
	color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #666;
	color: #fff;
	border-color: #666;
}

/*last 5 bets*/

.LFBL-div {
	background-color: #f5f5f5;
	margin-top: 20px;
}

	.LFBL-div:first-child {
		margin-top: 0;
	}

.last-five-bet-list .betbox {
	border-right: 1px solid #e0e0e0;
}

	.last-five-bet-list .betbox:last-child {
		border-right: 0;
	}

.last-five-body {
	background-color: #fff;
}

#co_amount {
	display: block;
	width: 240px;
	margin: auto;
	color: #ffb704;
	background-color: #2b2b2b;
	border-radius: 4px;
	height: 35px;
	line-height: 35px;
}

.tg__min_factor {
	font-size: 18px;
	color: #757575;
}

	.tg__min_factor .fac {
		color: #090;
	}

.cashoutsucceed {
	color: green;
}

.btncashout {
	margin: auto;
}

.last5bets {
	position: relative;
}

	.last5bets .tg__btn-ternary:hover {
		background-color: #ff6228;
	}

.last5BetCashoutPopup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .4);
}

	.last5BetCashoutPopup .tg__modal_body {
		background-color: #fff;
	}

.LFBL--betdetail-list {
	background-color: #f5f5f5;
	border-bottom: 1px solid #c1c1c1;
	/*border-top: 1px solid #c1c1c1;*/
}

.LFBL--betdetail-list-item-result {
	color: #696969;
}

.LFBL--betdetail-list-item-team {
	color: #696969;
	font-weight: bold;
}

.LFBL--betdetail-list-item-odd-btn {
	background: #616161;
	color: #fff;
	border-radius: 2px;
}

.betbox-cashout {
	font-weight: bold;
}

	.betbox-cashout:hover {
		color: #ffb600;
		cursor: pointer;
	}

.tg--last5_sub-row {
	color: #999;
	border-top: 1px solid #c1c1c1;
	padding: 20px 30px;
}

.tg__last5_checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

	.tg__last5_checkbox .tg__chb_text {
		color: #999;
	}

/*Betchecker*/
.tg__modal_betchecker {
	background-color: #333;
}

#betcheckerbuttoncopy {
	color: #999;
	background-color: #474747;
}

#betcheckeroddspanel .tg__list_row {
	background-color: #333;
}

#betcheckerbox .tg__list_row_sub {
	border-bottom: 1px solid #1a1a1a;
	background-color: #2b2b2b;
	color: #fff;
}

	#betcheckerbox .tg__list_row_sub .tg-clr-2 {
		color: #999;
	}
/*partner popups*/
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}

.tg__iframe_popup--draggable {
	transform: none !important;
}

.tg__modal_account {
	height: 700px;
}

	.tg__modal_account .my_acc {
		height: 100%;
	}

	.tg__modal_account .maPageMenu {
		height: calc((100%) - 30px);
	}

		.tg__modal_account .maPageMenu .body_panel {
			height: calc((100%) - 40px);
		}

			.tg__modal_account .maPageMenu .body_panel .tab_body_active,
			.tg__bet_history {
				height: 100%;
			}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}
/*Terminal*/
.sportHeaderPaneLogo > .logo {
	background-image: url(/Partners/46/Images/ib.svg);
	background-position: center;
	background-size: cover;
	width: 177px;
	height: 29px;
	margin-left: 16px;
}
.sportHeaderPaneUpperRow {
	background-color: #231F1E;
}

.sportHeaderPaneLowerRow {
	color: #999;
	background-color: #2B2B2B;
	-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
	border-bottom: 1px solid #ffb600;
}
.tg__header__nav__item{
	color: #999;
	position: relative;
}
.tg__header__nav__item.active, .tg__header__nav__item:hover{
	color:#fff;
}

.tg__header__nav__item.active:before{
	content: '';
	display: block;
	position: absolute;
	bottom: -100%;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #ffb600;
}
.tg--mar_left_auto {
	margin-left: auto;
}
.tg--show_hide_balance_box .tg__switch{
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
/*keyboard*/
.betCouponRow {
	position: relative;
}
.show {
	display: block !important;
}

.sportHeaderLogRegLang .tg__btn-secundary, .sportHeaderLang {
	background-color: #2B2B2B;
	color: #999;
}
.tg__header_promo {
	color: #9C9897;
}
.tg__header_promo:hover{
	color:#fff;
}
.tg__btn_register, .tg-friend-transfer, .tg-casino-transferm, .tg__deposit_btn,
.maPageMenu .tab_selector:nth-child(3), .maPageMenu .tab_selector:nth-child(4),
.maPageMenu .tab_selector:nth-child(6) {
	display: none;
}
#login.tg_input, #password.tg_input {
	background-color: #231f1e;
	color: #e8e8e8;
}
#login.tg_input::placeholder, #password.tg_input::placeholder{
	color: #979797;
}

.keybordActionContainer,
.keybordNumberContainer {
	margin: 4px 0;
	padding: 0;
}

.keybordNumberContainer {
	width: 100%;
}

.keybordActionContainer {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
}

.keybordNumber {
	text-align: center;
	padding: 0;
	height: 50px;
	line-height: 50px;
	margin: 0;
	width: 45px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: #cfcfcf;
	color: #000;
	border-radius: 2px;
}

.keybordActionButton {
	background-color: #cfcfcf;
	color: #000;
	border-radius: 2px;
	height: 50px;
	flex-shrink: 0;
	flex-grow: 0;
	line-height: 50px;
	padding: 0;
	text-align: center;
	width: 45px;
}
.keybordActionButton:hover {
	background-color: #FFDB00;
	color: #4D4D4D;
}

.keybordPoint {
	font-size: 25px;
}

.keybordActionButton.keybordBack {
	font-size: 24px;
}

.keybordDone {
	background-color: #f8b80e;
	color: #111;
	width: 96px;
}
.customKeybord {
	width: 100%;
	margin: 0 0 4px 0;
	display: none;
	position: absolute;
	top: 50px;
	bottom: 11px;
	left: 0;
	height: 140px;
	z-index: 1100;
	background-color: #2A2A32;
	padding: 10px;
}
#keyboardInputMaster {
	background-color: #fff;
	color: #999;
}
	#keyboardInputMaster .secBtn {
		background-color: #2b2b2b;
		color: #fff;
	}
	#keyboardInputMaster .tsModalHeader {
		background-color: #2b2b2b;
		align-items: center;
		padding: 0 8px;
	}
/*horisontal position:sticky tabs*/
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper {
	background-color: #c2c2c2;
} 
  /*coin styles*/
    .tg_coin{
      background: #ffb600;
      color: #fff;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #fff;
      color: #000;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #ffb600;
      color: #000;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #fff;
      color: #000;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #ccc;
      color: #000;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #e6e6e6;
      color: #000;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #ffb600;
    }
    .tg_left_tabs {
      background-color: #e6e6e6;
      border-bottom-color: #ffb600;
      color: #000;
  }

   
  /*multibet of the day 2019-11-06*/
    .tg__exp_of_day_header{
      border-color:#fff;
    }
    .tg__exp_of_day_header,
    .es__express_slider_arrow {
      background-color: #e6e6e6;
      color: #000;
    }
    .es__express_day_coupon {
      background-color: #fff;
      color: #000;
    }
    .es__express_day_coupon .l_od, .es__express_day_coupon .l_od_empty{
      border-color:#000;
    }
    .es__express_slider_arrow:hover{
      background-color: #fff;
      color: #000;
    }
    

   
  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#fff;
      color:#000;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#ffb600;
    }
    .tg--prize-text span {
      background-color:#fff;
      color:#ffb600;
    }
    .tg__tour_tab_name {
      background-color:#f2f2f2;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #f2f2f2 transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #f2f2f2 transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #f2f2f2;
      color: #000;
    }
    .tg__tournament-result .tg--trn_label {
      color: #000;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #e6e6e6;
      color: #000;
    }
    .tg__tournament-vl:before {
      border-color:#f2f2f2;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#fff;
  color:#000;
}
.tg_modal_header {
	background-color:#e6e6e6;
  color:#000;
}
.tg__cashout--input {
	background-color:#e6e6e6;
	color:#000;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#ffb600;
}
.tg__cashout--value {
  color:#000;
}
 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #ffb600 !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #C2C2C2;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #ffb600;
      color: #000;
    }

   
  /* Betslip Cashout 2019-12-24*/
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #fff;
    color: #000;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #f2f2f2;
    color: #000;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #ffb600;
    color: #000;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(255, 255, 255, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(255, 182, 0, 0.5);
  }
  
  .tg__loader-pulse {
    color: #ffb600;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #ffb600;
   }
  
   
  
  
  
  
   
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #fff;
    color: #000;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #ffb600;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #ffb600;
        color: #000;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #C2C2C2;
    color: #000;
  }
  .component_tax_data .tg-ico {
      color:#ffb600;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #000;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
   
    .tg__modal_confirm {
      background-color: #ffb600;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #996d00;
    }
    .tg__modal_header {
      background-color: #f2f2f2;
    }
    .tg__modal_special_content {
      background-color: #fff;
    }
     
.tg__banner, .newsSliderMarketContainer {
  background: #ffffff;
  color: #333333;
}
   
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #ffffff;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #f2f2f2;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #ffffff;
	color: #333333;
	border-bottom: 1px solid #c2c2c2 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #c2c2c2;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #f2f2f2;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb600;
}
.es__express_day_coupon {
	background-color: #ffffff;
	color: #333333;
}
/*multi bet of the day skinning*/
