:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
    --bodyBg: #1B202A;
    --bodyBg2: #2f3849;
    --bodyBg3: #394359;
    --bodyBgHover: #212733;
    --bodyBg2Hover: #353f52;
    --bodyBg3Hover: #3f4a62;
    --bodyRGBA: rgba(27, 32, 42, 0.7);
    --bodyRGBA2: rgba(27, 32, 42, 0.5);
    --bodyRGBA3: rgba(27, 32, 42, 0.3);
    --bodyTxt: rgba(255, 255, 255, 0.9);
    --bodyTxt2: rgba(255, 255, 255, 0.6);
    --bodyTxt3: rgba(255, 255, 255, 0.4);
    --bodyAccent: #B18E5E;
    --bodyAccentTxt: rgba(255, 255, 255, 0.9);
    --bodyBorder: #1B202A;
    --bodyRadius: 0px;
    --dominantG: #222834;
    --dominantRGBA: rgba(34, 40, 52, 0.7);
    --dominantRGBA2: rgba(34, 40, 52, 0.5);
    --dominantRGBA3: rgba(34, 40, 52, 0.3);
    --dominantBg: #222834;
    --dominantBg2: #364053;
    --dominantBg3: #404c62;
    --dominantBgHover: #282f3d;
    --dominantBg2Hover: #3c475c;
    --dominantBg3Hover: #46536b;
    --dominantTxt: rgba(255, 255, 255, 0.9);
    --dominantTxt2: rgba(255, 255, 255, 0.6);
    --dominantTxt3: rgba(255, 255, 255, 0.4);
    --dominantTxtInverse: #262626;
    --dominantRadius: 0px;
    --accentBg: #B18E5E;
    --accentBg2: #c2a680;
    --accentBg3: #cab292;
    --accentBgHover: #b69568;
    --accentBg2Hover: #c7ad8a;
    --accentBg3Hover: #cfb99c;
    --accentG: #B18E5E;
    --accentTxt: rgba(255, 255, 255, 0.9);
    --accentTxt2: rgba(255, 255, 255, 0.6);
    --accentTxt3: rgba(255, 255, 255, 0.4);
    --buttonG: #B18E5E;
    --buttonBg: #B18E5E;
    --buttonBg2: #c2a680;
    --buttonBg3: #cab292;
    --buttonBgHover: #b69568;
    --buttonBg2Hover: #c7ad8a;
    --buttonBg3Hover: #cfb99c;
    --buttonTxt: rgba(255, 255, 255, 0.9);
    --buttonTxt2: rgba(255, 255, 255, 0.6);
    --buttonTxt3: rgba(255, 255, 255, 0.4);
    --buttonAccent: #B18E5E;
    --buttonAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonBorder: #1B202A;
    --buttonRadius: 6px;
    --buttonSecondaryG: #3f4a62;
    --buttonSecondaryBg: #3f4a62;
    --buttonSecondaryBg2: #536181;
    --buttonSecondaryBg3: #5d6d91;
    --buttonSecondaryBgHover: #45516b;
    --buttonSecondaryBg2Hover: #59688a;
    --buttonSecondaryBg3Hover: #63749a;
    --buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --buttonSecondaryAccent: #B18E5E;
    --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --buttonSecondaryBorder: #1B202A;
    --buttonSecondaryRadius: 0px;
    --inputG: #364053;
    --inputBg: #364053;
    --inputBg2: #4a5872;
    --inputBg3: #546481;
    --inputBgHover: #3c475c;
    --inputBg2Hover: #505f7b;
    --inputBg3Hover: #5a6b8a;
    --inputTxt: rgba(255, 255, 255, 0.9);
    --inputTxt2: rgba(255, 255, 255, 0.6);
    --inputTxt3: rgba(255, 255, 255, 0.4);
    --inputAccent: #B18E5E;
    --inputAccentTxt: rgba(255, 255, 255, 0.9);
    --inputRadius: 0px;
    --inputBorder: #1B202A;
    --inputSecondaryG: #3c475c;
    --inputSecondaryBg: #3c475c;
    --inputSecondaryBg2: #505f7b;
    --inputSecondaryBg3: #5a6b8a;
    --inputSecondaryBgHover: #424e65;
    --inputSecondaryBg2Hover: #566684;
    --inputSecondaryBg3Hover: #607293;
    --inputSecondaryTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
    --inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
    --inputSecondaryAccent: #B18E5E;
    --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
    --inputSecondaryRadius: 0px;
    --inputSecondaryBorder: #1B202A;
    --headerG: #2A2F39;
    --headerBg: #2A2F39;
    --headerBg2: #404756;
    --headerBg3: #4a5365;
    --headerBgHover: #303642;
    --headerBg2Hover: #474e5f;
    --headerBg3Hover: #505a6e;
    --headerTxt: rgba(255, 255, 255, 0.9);
    --headerTxt2: rgba(255, 255, 255, 0.6);
    --headerTxt3: rgba(255, 255, 255, 0.4);
    --headerAccent: #B18E5E;
    --headerAccentTxt: rgba(255, 255, 255, 0.9);
    --headerBorder: #1B202A;
    --headerRadius: 0px;
    --subHeaderG: #474e5f;
    --subHeaderBg: #474e5f;
    --subHeaderBg2: #5d667c;
    --subHeaderBg3: #68728b;
    --subHeaderBgHover: #4e5568;
    --subHeaderBg2Hover: #646d85;
    --subHeaderBg3Hover: #6f7993;
    --subHeaderTxt: rgba(255, 255, 255, 0.9);
    --subHeaderTxt2: rgba(255, 255, 255, 0.6);
    --subHeaderTxt3: rgba(255, 255, 255, 0.4);
    --subHeaderAccent: #B18E5E;
    --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
    --subHeaderBorder: #1B202A;
    --subHeaderRadius: 0px;
    --eventG: #2A2F39;
    --eventBg: #2A2F39;
    --eventBg2: #404756;
    --eventBg3: #4a5365;
    --eventBgHover: #303642;
    --eventBg2Hover: #474e5f;
    --eventBg3Hover: #505a6e;
    --eventTxt: rgba(255, 255, 255, 0.9);
    --eventTxt2: rgba(255, 255, 255, 0.6);
    --eventTxt3: rgba(255, 255, 255, 0.4);
    --eventAccent: #B18E5E;
    --eventAccentTxt: rgba(255, 255, 255, 0.9);
    --eventBorder: #1B202A;
    --eventRadius: 0px;
    --modalG: #364053;
    --modalBg: #364053;
    --modalBg2: #4a5872;
    --modalBg3: #546481;
    --modalBgHover: #3c475c;
    --modalBg2Hover: #505f7b;
    --modalBg3Hover: #5a6b8a;
    --modalTxt: rgba(255, 255, 255, 0.9);
    --modalTxt2: rgba(255, 255, 255, 0.6);
    --modalTxt3: rgba(255, 255, 255, 0.4);
    --modalAccent: #B18E5E;
    --modalAccentTxt: rgba(255, 255, 255, 0.9);
    --modalRadius: 0px;
    --modalBorder: #1B202A;
    --oddG: #1B202A;
    --oddBg: #1B202A;
    --oddBg2: #2f3849;
    --oddBg3: #394359;
    --oddBgHover: #212733;
    --oddBg2Hover: #353f52;
    --oddBg3Hover: #3f4a62;
    --oddTxt: rgba(255, 255, 255, 0.9);
    --oddTxt2: rgba(255, 255, 255, 0.6);
    --oddTxt3: rgba(255, 255, 255, 0.4);
    --oddAccent: #B18E5E;
    --oddAccentTxt: rgba(255, 255, 255, 0.9);
    --oddRadius: 6px;
    --oddBorder: #1B202A;
    --oddActiveG: #B18E5E;
    --oddActiveBg: #B18E5E;
    --oddActiveBg2: #c2a680;
    --oddActiveBg3: #cab292;
    --oddActiveBgHover: #b69568;
    --oddActiveBg2Hover: #c7ad8a;
    --oddActiveBg3Hover: #cfb99c;
    --oddActiveTxt: rgba(255, 255, 255, 0.9);
    --oddActiveTxt2: rgba(255, 255, 255, 0.6);
    --oddActiveTxt3: rgba(255, 255, 255, 0.4);
    --oddActiveAccent: #B18E5E;
    --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --oddActiveRadius: 6px;
    --oddActiveBorder: #1B202A;
    --showMoreG: #1B202A;
    --showMoreBg: #1B202A;
    --showMoreBg2: #2f3849;
    --showMoreBg3: #394359;
    --showMoreBgHover: #212733;
    --showMoreBg2Hover: #353f52;
    --showMoreBg3Hover: #3f4a62;
    --showMoreTxt: rgba(255, 255, 255, 0.9);
    --showMoreTxt2: rgba(255, 255, 255, 0.6);
    --showMoreTxt3: rgba(255, 255, 255, 0.4);
    --showMoreAccent: #B18E5E;
    --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
    --showMoreRadius: 6px;
    --showMoreBorder: #1B202A;
    --tabG: #364053;
    --tabBg: #364053;
    --tabBg2: #4a5872;
    --tabBg3: #546481;
    --tabBgHover: #3c475c;
    --tabBg2Hover: #505f7b;
    --tabBg3Hover: #5a6b8a;
    --tabTxt: rgba(255, 255, 255, 0.9);
    --tabTxt2: rgba(255, 255, 255, 0.6);
    --tabTxt3: rgba(255, 255, 255, 0.4);
    --tabAccent: #B18E5E;
    --tabAccentTxt: rgba(255, 255, 255, 0.9);
    --tabRadius: 0px;
    --tabBorder: #1B202A;
    --tabActiveG: #2A2F39;
    --tabActiveBg: #2A2F39;
    --tabActiveBg2: #404756;
    --tabActiveBg3: #4a5365;
    --tabActiveBgHover: #303642;
    --tabActiveBg2Hover: #474e5f;
    --tabActiveBg3Hover: #505a6e;
    --tabActiveTxt: rgba(255, 255, 255, 0.9);
    --tabActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabActiveAccent: #B18E5E;
    --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabActiveRadius: 0px;
    --tabActiveBorder: #1B202A;
    --tabSecondaryActiveG: #3c475c;
    --tabSecondaryActiveBg: #3c475c;
    --tabSecondaryActiveBg2: #505f7b;
    --tabSecondaryActiveBg3: #5a6b8a;
    --tabSecondaryActiveBgHover: #424e65;
    --tabSecondaryActiveBg2Hover: #566684;
    --tabSecondaryActiveBg3Hover: #607293;
    --tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
    --tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
    --tabSecondaryActiveAccent: #B18E5E;
    --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
    --tabSecondaryActiveRadius: 0px;
    --tabSecondaryActiveBorder: #1B202A;
    --filterG: #3c475c;
    --filterBg: #3c475c;
    --filterBg2: #505f7b;
    --filterBg3: #5a6b8a;
    --filterBgHover: #424e65;
    --filterBg2Hover: #566684;
    --filterBg3Hover: #607293;
    --filterTxt: rgba(255, 255, 255, 0.9);
    --filterTxt2: rgba(255, 255, 255, 0.6);
    --filterTxt3: rgba(255, 255, 255, 0.4);
    --filterAccent: #B18E5E;
    --filterAccentTxt: rgba(255, 255, 255, 0.9);
    --filterRadius: 0px;
    --filterBorder: #1B202A;
    --menu_1G: #2A2F39;
    --menu_1Bg: #2A2F39;
    --menu_1Bg2: #404756;
    --menu_1Bg3: #4a5365;
    --menu_1BgHover: #303642;
    --menu_1Bg2Hover: #474e5f;
    --menu_1Bg3Hover: #505a6e;
    --menu_1Txt: rgba(255, 255, 255, 0.9);
    --menu_1Txt2: rgba(255, 255, 255, 0.6);
    --menu_1Txt3: rgba(255, 255, 255, 0.4);
    --menu_1Accent: #B18E5E;
    --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_1Radius: 0px;
    --menu_1Border: #1B202A;
    --menu_2G: #474e5f;
    --menu_2Bg: #474e5f;
    --menu_2Bg2: #5d667c;
    --menu_2Bg3: #68728b;
    --menu_2BgHover: #4e5568;
    --menu_2Bg2Hover: #646d85;
    --menu_2Bg3Hover: #6f7993;
    --menu_2Txt: rgba(255, 255, 255, 0.9);
    --menu_2Txt2: rgba(255, 255, 255, 0.6);
    --menu_2Txt3: rgba(255, 255, 255, 0.4);
    --menu_2Accent: #B18E5E;
    --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_2Radius: 0px;
    --menu_2Border: #1B202A;
    --menu_3G: #4a5365;
    --menu_3Bg: #4a5365;
    --menu_3Bg2: #606b82;
    --menu_3Bg3: #6a7791;
    --menu_3BgHover: #505a6e;
    --menu_3Bg2Hover: #66728b;
    --menu_3Bg3Hover: #727f98;
    --menu_3Txt: rgba(255, 255, 255, 0.9);
    --menu_3Txt2: rgba(255, 255, 255, 0.6);
    --menu_3Txt3: rgba(255, 255, 255, 0.4);
    --menu_3Accent: #B18E5E;
    --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
    --menu_3Radius: 0px;
    --menu_3Border: #1B202A;
    --tooltipG: #364053;
    --tooltipBg: #364053;
    --tooltipBg2: #4a5872;
    --tooltipBg3: #546481;
    --tooltipBgHover: #3c475c;
    --tooltipBg2Hover: #505f7b;
    --tooltipBg3Hover: #5a6b8a;
    --tooltipTxt: rgba(255, 255, 255, 0.9);
    --tooltipTxt2: rgba(255, 255, 255, 0.6);
    --tooltipTxt3: rgba(255, 255, 255, 0.4);
    --tooltipAccent: #B18E5E;
    --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
    --tooltipRadius: 0px;
    --tooltipBorder: #1B202A;
    /* Old betslip */
    --betSlipBg: #364053;
    --betSlipBg2: #4a5872;
    --betSlipBorder: #1B202A;
    --betSlipTxt: rgba(255, 255, 255, 0.9);
    --betSlipTxt2: rgba(255, 255, 255, 0.6);
    --betSlipStakeG: #3c475c;
    --betSlipStakeBg: #3c475c;
    --betSlipStakeTxt: rgba(255, 255, 255, 0.9);
    --betSlipStakeTxt2: rgba(255, 255, 255, 0.6);
    --betSlipInputG: #3c475c;
    --betSlipInputTxt: rgba(255, 255, 255, 0.9);
    --betSlipButtonG: #3c475c;
    --betSlipButtonBg2: #505f7b;
    --betSlipButtonTxt: rgba(255, 255, 255, 0.9);
    --betSlipButtonRadius: 0px;
    --spritePositionX: 0px;
    --menuItemActiveTxt: var(--bodyTxt2);
    --menuItemTxt: var(--bodyTxt);
}

    :root[data-theme="light"],
    :root [data-theme="light"] {
        --bodyBg: #FFFFFF;
        --bodyBg2: #f0f0f0;
        --bodyBg3: #e0e0e0;
        --bodyBgHover: #f7f7f7;
        --bodyBg2Hover: #e8e8e8;
        --bodyBg3Hover: #d8d8d8;
        --bodyRGBA: rgba(255, 255, 255, 0.7);
        --bodyRGBA2: rgba(255, 255, 255, 0.5);
        --bodyRGBA3: rgba(255, 255, 255, 0.3);
        --bodyTxt: rgba(0, 0, 0, 0.9);
        --bodyTxt2: rgba(0, 0, 0, 0.6);
        --bodyTxt3: rgba(0, 0, 0, 0.4);
        --bodyAccent: #B18E5E;
        --bodyAccentTxt: rgba(255, 255, 255, 0.9);
        --bodyBorder: #FFFFFF;
        --bodyRadius: 0px;
        --dominantG: #f7f7f7;
        --dominantRGBA: rgba(247, 247, 247, 0.7);
        --dominantRGBA2: rgba(247, 247, 247, 0.5);
        --dominantRGBA3: rgba(247, 247, 247, 0.3);
        --dominantBg: #f7f7f7;
        --dominantBg2: #e8e8e8;
        --dominantBg3: #d8d8d8;
        --dominantBgHover: #efefef;
        --dominantBg2Hover: #e0e0e0;
        --dominantBg3Hover: #d0d0d0;
        --dominantTxt: rgba(0, 0, 0, 0.9);
        --dominantTxt2: rgba(0, 0, 0, 0.6);
        --dominantTxt3: rgba(0, 0, 0, 0.4);
        --dominantTxtInverse: #fff;
        --dominantRadius: 0px;
        --accentBg: #B18E5E;
        --accentBg2: #c2a680;
        --accentBg3: #cab292;
        --accentBgHover: #b69568;
        --accentBg2Hover: #c7ad8a;
        --accentBg3Hover: #cfb99c;
        --accentG: #B18E5E;
        --accentTxt: rgba(255, 255, 255, 0.9);
        --accentTxt2: rgba(255, 255, 255, 0.6);
        --accentTxt3: rgba(255, 255, 255, 0.4);
        --buttonG: #B18E5E;
        --buttonBg: #B18E5E;
        --buttonBg2: #c2a680;
        --buttonBg3: #cab292;
        --buttonBgHover: #b69568;
        --buttonBg2Hover: #c7ad8a;
        --buttonBg3Hover: #cfb99c;
        --buttonTxt: rgba(255, 255, 255, 0.9);
        --buttonTxt2: rgba(255, 255, 255, 0.6);
        --buttonTxt3: rgba(255, 255, 255, 0.4);
        --buttonAccent: #B18E5E;
        --buttonAccentTxt: rgba(255, 255, 255, 0.9);
        --buttonBorder: #FFFFFF;
        --buttonRadius: 6px;
        --buttonSecondaryG: #d8d8d8;
        --buttonSecondaryBg: #d8d8d8;
        --buttonSecondaryBg2: #c9c9c9;
        --buttonSecondaryBg3: #b9b9b9;
        --buttonSecondaryBgHover: #d0d0d0;
        --buttonSecondaryBg2Hover: #c1c1c1;
        --buttonSecondaryBg3Hover: #b1b1b1;
        --buttonSecondaryTxt: rgba(0, 0, 0, 0.9);
        --buttonSecondaryTxt2: rgba(0, 0, 0, 0.6);
        --buttonSecondaryTxt3: rgba(0, 0, 0, 0.4);
        --buttonSecondaryAccent: #B18E5E;
        --buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
        --buttonSecondaryBorder: #FFFFFF;
        --buttonSecondaryRadius: 0px;
        --inputG: #f0f0f0;
        --inputBg: #f0f0f0;
        --inputBg2: #e1e1e1;
        --inputBg3: #d1d1d1;
        --inputBgHover: #e8e8e8;
        --inputBg2Hover: #d9d9d9;
        --inputBg3Hover: #c9c9c9;
        --inputTxt: rgba(0, 0, 0, 0.9);
        --inputTxt2: rgba(0, 0, 0, 0.6);
        --inputTxt3: rgba(0, 0, 0, 0.4);
        --inputAccent: #B18E5E;
        --inputAccentTxt: rgba(255, 255, 255, 0.9);
        --inputRadius: 0px;
        --inputBorder: #FFFFFF;
        --inputSecondaryG: #e8e8e8;
        --inputSecondaryBg: #e8e8e8;
        --inputSecondaryBg2: #d9d9d9;
        --inputSecondaryBg3: #c9c9c9;
        --inputSecondaryBgHover: #e0e0e0;
        --inputSecondaryBg2Hover: #d1d1d1;
        --inputSecondaryBg3Hover: #c1c1c1;
        --inputSecondaryTxt: rgba(0, 0, 0, 0.9);
        --inputSecondaryTxt2: rgba(0, 0, 0, 0.6);
        --inputSecondaryTxt3: rgba(0, 0, 0, 0.4);
        --inputSecondaryAccent: #B18E5E;
        --inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
        --inputSecondaryRadius: 0px;
        --inputSecondaryBorder: #FFFFFF;
        --headerG: #d8d8d8;
        --headerBg: #d8d8d8;
        --headerBg2: #c9c9c9;
        --headerBg3: #b9b9b9;
        --headerBgHover: #d0d0d0;
        --headerBg2Hover: #c1c1c1;
        --headerBg3Hover: #b1b1b1;
        --headerTxt: rgba(0, 0, 0, 0.9);
        --headerTxt2: rgba(0, 0, 0, 0.6);
        --headerTxt3: rgba(0, 0, 0, 0.4);
        --headerAccent: #B18E5E;
        --headerAccentTxt: rgba(255, 255, 255, 0.9);
        --headerBorder: #FFFFFF;
        --headerRadius: 0px;
        --subHeaderG: #e8e8e8;
        --subHeaderBg: #e8e8e8;
        --subHeaderBg2: #d9d9d9;
        --subHeaderBg3: #c9c9c9;
        --subHeaderBgHover: #e0e0e0;
        --subHeaderBg2Hover: #d1d1d1;
        --subHeaderBg3Hover: #c1c1c1;
        --subHeaderTxt: rgba(0, 0, 0, 0.9);
        --subHeaderTxt2: rgba(0, 0, 0, 0.6);
        --subHeaderTxt3: rgba(0, 0, 0, 0.4);
        --subHeaderAccent: #B18E5E;
        --subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
        --subHeaderBorder: #FFFFFF;
        --subHeaderRadius: 0px;
        --eventG: #f0f0f0;
        --eventBg: #f0f0f0;
        --eventBg2: #e1e1e1;
        --eventBg3: #d1d1d1;
        --eventBgHover: #e8e8e8;
        --eventBg2Hover: #d9d9d9;
        --eventBg3Hover: #c9c9c9;
        --eventTxt: rgba(0, 0, 0, 0.9);
        --eventTxt2: rgba(0, 0, 0, 0.6);
        --eventTxt3: rgba(0, 0, 0, 0.4);
        --eventAccent: #B18E5E;
        --eventAccentTxt: rgba(255, 255, 255, 0.9);
        --eventBorder: #FFFFFF;
        --eventRadius: 0px;
        --modalG: #f0f0f0;
        --modalBg: #f0f0f0;
        --modalBg2: #e1e1e1;
        --modalBg3: #d1d1d1;
        --modalBgHover: #e8e8e8;
        --modalBg2Hover: #d9d9d9;
        --modalBg3Hover: #c9c9c9;
        --modalTxt: rgba(0, 0, 0, 0.9);
        --modalTxt2: rgba(0, 0, 0, 0.6);
        --modalTxt3: rgba(0, 0, 0, 0.4);
        --modalAccent: #B18E5E;
        --modalAccentTxt: rgba(255, 255, 255, 0.9);
        --modalRadius: 0px;
        --modalBorder: #FFFFFF;
        --oddG: #FFFFFF;
        --oddBg: #FFFFFF;
        --oddBg2: #f0f0f0;
        --oddBg3: #e0e0e0;
        --oddBgHover: #f7f7f7;
        --oddBg2Hover: #e8e8e8;
        --oddBg3Hover: #d8d8d8;
        --oddTxt: rgba(0, 0, 0, 0.9);
        --oddTxt2: rgba(0, 0, 0, 0.6);
        --oddTxt3: rgba(0, 0, 0, 0.4);
        --oddAccent: #B18E5E;
        --oddAccentTxt: rgba(255, 255, 255, 0.9);
        --oddRadius: 6px;
        --oddBorder: #FFFFFF;
        --oddActiveG: #B18E5E;
        --oddActiveBg: #B18E5E;
        --oddActiveBg2: #c2a680;
        --oddActiveBg3: #cab292;
        --oddActiveBgHover: #b69568;
        --oddActiveBg2Hover: #c7ad8a;
        --oddActiveBg3Hover: #cfb99c;
        --oddActiveTxt: rgba(255, 255, 255, 0.9);
        --oddActiveTxt2: rgba(255, 255, 255, 0.6);
        --oddActiveTxt3: rgba(255, 255, 255, 0.4);
        --oddActiveAccent: #B18E5E;
        --oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
        --oddActiveRadius: 6px;
        --oddActiveBorder: #FFFFFF;
        --showMoreG: #FFFFFF;
        --showMoreBg: #FFFFFF;
        --showMoreBg2: #f0f0f0;
        --showMoreBg3: #e0e0e0;
        --showMoreBgHover: #f7f7f7;
        --showMoreBg2Hover: #e8e8e8;
        --showMoreBg3Hover: #d8d8d8;
        --showMoreTxt: rgba(0, 0, 0, 0.9);
        --showMoreTxt2: rgba(0, 0, 0, 0.6);
        --showMoreTxt3: rgba(0, 0, 0, 0.4);
        --showMoreAccent: #B18E5E;
        --showMoreAccentTxt: rgba(255, 255, 255, 0.9);
        --showMoreRadius: 6px;
        --showMoreBorder: #FFFFFF;
        --tabG: #f0f0f0;
        --tabBg: #f0f0f0;
        --tabBg2: #e1e1e1;
        --tabBg3: #d1d1d1;
        --tabBgHover: #e8e8e8;
        --tabBg2Hover: #d9d9d9;
        --tabBg3Hover: #c9c9c9;
        --tabTxt: rgba(0, 0, 0, 0.9);
        --tabTxt2: rgba(0, 0, 0, 0.6);
        --tabTxt3: rgba(0, 0, 0, 0.4);
        --tabAccent: #B18E5E;
        --tabAccentTxt: rgba(255, 255, 255, 0.9);
        --tabRadius: 0px;
        --tabBorder: #FFFFFF;
        --tabActiveG: #e8e8e8;
        --tabActiveBg: #e8e8e8;
        --tabActiveBg2: #d9d9d9;
        --tabActiveBg3: #c9c9c9;
        --tabActiveBgHover: #e0e0e0;
        --tabActiveBg2Hover: #d1d1d1;
        --tabActiveBg3Hover: #c1c1c1;
        --tabActiveTxt: rgba(0, 0, 0, 0.9);
        --tabActiveTxt2: rgba(0, 0, 0, 0.6);
        --tabActiveTxt3: rgba(0, 0, 0, 0.4);
        --tabActiveAccent: #B18E5E;
        --tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
        --tabActiveRadius: 0px;
        --tabActiveBorder: #FFFFFF;
        --tabSecondaryActiveG: #e8e8e8;
        --tabSecondaryActiveBg: #e8e8e8;
        --tabSecondaryActiveBg2: #d9d9d9;
        --tabSecondaryActiveBg3: #c9c9c9;
        --tabSecondaryActiveBgHover: #e0e0e0;
        --tabSecondaryActiveBg2Hover: #d1d1d1;
        --tabSecondaryActiveBg3Hover: #c1c1c1;
        --tabSecondaryActiveTxt: rgba(0, 0, 0, 0.9);
        --tabSecondaryActiveTxt2: rgba(0, 0, 0, 0.6);
        --tabSecondaryActiveTxt3: rgba(0, 0, 0, 0.4);
        --tabSecondaryActiveAccent: #B18E5E;
        --tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
        --tabSecondaryActiveRadius: 0px;
        --tabSecondaryActiveBorder: #FFFFFF;
        --filterG: #e8e8e8;
        --filterBg: #e8e8e8;
        --filterBg2: #d9d9d9;
        --filterBg3: #c9c9c9;
        --filterBgHover: #e0e0e0;
        --filterBg2Hover: #d1d1d1;
        --filterBg3Hover: #c1c1c1;
        --filterTxt: rgba(0, 0, 0, 0.9);
        --filterTxt2: rgba(0, 0, 0, 0.6);
        --filterTxt3: rgba(0, 0, 0, 0.4);
        --filterAccent: #B18E5E;
        --filterAccentTxt: rgba(255, 255, 255, 0.9);
        --filterRadius: 0px;
        --filterBorder: #FFFFFF;
        --menu_1G: #f0f0f0;
        --menu_1Bg: #f0f0f0;
        --menu_1Bg2: #e1e1e1;
        --menu_1Bg3: #d1d1d1;
        --menu_1BgHover: #e8e8e8;
        --menu_1Bg2Hover: #d9d9d9;
        --menu_1Bg3Hover: #c9c9c9;
        --menu_1Txt: rgba(0, 0, 0, 0.9);
        --menu_1Txt2: rgba(0, 0, 0, 0.6);
        --menu_1Txt3: rgba(0, 0, 0, 0.4);
        --menu_1Accent: #B18E5E;
        --menu_1AccentTxt: rgba(255, 255, 255, 0.9);
        --menu_1Radius: 0px;
        --menu_1Border: #FFFFFF;
        --menu_2G: #e8e8e8;
        --menu_2Bg: #e8e8e8;
        --menu_2Bg2: #d9d9d9;
        --menu_2Bg3: #c9c9c9;
        --menu_2BgHover: #e0e0e0;
        --menu_2Bg2Hover: #d1d1d1;
        --menu_2Bg3Hover: #c1c1c1;
        --menu_2Txt: rgba(0, 0, 0, 0.9);
        --menu_2Txt2: rgba(0, 0, 0, 0.6);
        --menu_2Txt3: rgba(0, 0, 0, 0.4);
        --menu_2Accent: #B18E5E;
        --menu_2AccentTxt: rgba(255, 255, 255, 0.9);
        --menu_2Radius: 0px;
        --menu_2Border: #FFFFFF;
        --menu_3G: #e0e0e0;
        --menu_3Bg: #e0e0e0;
        --menu_3Bg2: #d1d1d1;
        --menu_3Bg3: #c1c1c1;
        --menu_3BgHover: #d8d8d8;
        --menu_3Bg2Hover: #c9c9c9;
        --menu_3Bg3Hover: #b9b9b9;
        --menu_3Txt: rgba(0, 0, 0, 0.9);
        --menu_3Txt2: rgba(0, 0, 0, 0.6);
        --menu_3Txt3: rgba(0, 0, 0, 0.4);
        --menu_3Accent: #B18E5E;
        --menu_3AccentTxt: rgba(255, 255, 255, 0.9);
        --menu_3Radius: 0px;
        --menu_3Border: #FFFFFF;
        --tooltipG: #f0f0f0;
        --tooltipBg: #f0f0f0;
        --tooltipBg2: #e1e1e1;
        --tooltipBg3: #d1d1d1;
        --tooltipBgHover: #e8e8e8;
        --tooltipBg2Hover: #d9d9d9;
        --tooltipBg3Hover: #c9c9c9;
        --tooltipTxt: rgba(0, 0, 0, 0.9);
        --tooltipTxt2: rgba(0, 0, 0, 0.6);
        --tooltipTxt3: rgba(0, 0, 0, 0.4);
        --tooltipAccent: #B18E5E;
        --tooltipAccentTxt: rgba(255, 255, 255, 0.9);
        --tooltipRadius: 0px;
        --tooltipBorder: #FFFFFF;
        /* Old betslip */
        --betSlipBg: #f0f0f0;
        --betSlipBg2: #e1e1e1;
        --betSlipBorder: #FFFFFF;
        --betSlipTxt: rgba(0, 0, 0, 0.9);
        --betSlipTxt2: rgba(0, 0, 0, 0.6);
        --betSlipStakeG: #e8e8e8;
        --betSlipStakeBg: #e8e8e8;
        --betSlipStakeTxt: rgba(0, 0, 0, 0.9);
        --betSlipStakeTxt2: rgba(0, 0, 0, 0.6);
        --betSlipInputG: #e8e8e8;
        --betSlipInputTxt: rgba(0, 0, 0, 0.9);
        --betSlipButtonG: #e8e8e8;
        --betSlipButtonBg2: #d9d9d9;
        --betSlipButtonTxt: rgba(0, 0, 0, 0.9);
        --betSlipButtonRadius: 0px;
        --spritePositionX: 0px;
        --menuItemActiveTxt: var(--bodyTxt2);
        --menuItemTxt: var(--bodyTxt);
    }

[class^='digi_tournament_']:before, [class*='digi_tournament_']:before {
    background-position-x: var(--spritePositionX) !important;
}

.tg_widget_heading_1 {
    margin-top: 0;
}

.tg__multi_game {
    padding: 0 !important;
}

.tg_input::placeholder {
    color: var(--inputTxt2);
}
/* - - - - body - - - - */

body,
.tg_bg,
.tg__result_item {
    background-color: var(--bodyBg);
    color: var(--bodyTxt);
}

.paperView .champ_list:last-child,
.tg--border-bot-1 {
    border-color: var(--bodyBg);
}

.tg--pos_comb_row {
    border-color: var(--modalBorder);
}

.tg__one_game,
.tg__match_item_stake {
    border-color: var(--eventBorder);
}

.tg__one_game_score {
    color: var(--eventAccent) !important;
}

#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
    background-color: var(--bodyBg);
}

.tg__btn-action {
    background: var(--buttonG) !important;
    color: var(--buttonTxt) !important;
}
/* - - - - Widget - - - - - */
.tg__live_list_header {
    background-color: var(--headerG);
    color: var(--headerTxt);
}

.tg__multiview_content {
    background-color: var(--eventG);
    color: var(--eventTxt);
}

.tg-hero {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg-bg_transparent {
    background-color: var(--dominantRGBA2);
    border: 1px solid var(--dominantRGBA3);
    border-radius: var(--dominantRadius);
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
    background: var(--menu_1G);
    color: var(--menu_1Txt);
    border-color: var(--menu_1Border);
}

    .tg__left_menu_item--lvl1:hover {
        background: var(--menu_1BgHover);
        color: var(--menu_1Txt);
    }

    .tg__left_menu_item--lvl1 .tg__left_menu_item_text {
        color: var(--menu_1Txt);
    }

    .tg__left_menu_item--lvl1 .tg-ico-arrow {
        color: var(--menu_1Txt3);
    }

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: var(--dominantTxt2);
}

    .ss__step_slider .ss__slider:hover {
        background: var(--accentBg);
    }

.ss__step_slider .ss__ruller > .off {
    background: var(--dominantBg);
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2 {
    background: var(--menu_2G);
    color: var(--menu_2Txt);
    border-color: var(--menu_2Border);
}

    .tg__left_menu_item--lvl2:hover {
        background: var(--menu_2BgHover);
        color: var(--menu_2Txt);
    }

    .tg__left_menu_item--lvl2 .tg__left_menu_item_text {
        color: var(--menu_2Txt);
    }

    .tg__left_menu_item--lvl2 .tg-ico-arrow {
        color: var(--menu_2Txt3);
    }

/* africanView */
.africanView .SBhead {
    background: var(--headerG);
    color: var(--headerTxt);
}

.africanView .gameContentTitle {
    background: var(--bodyBg);
    color: var(--bodyTxt);
}

.africanView .champCont {
    background: var(--eventG);
    color: var(--eventTxt);
}

.africanView .tg_left_tabs {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
    border-bottom-color: var(--accentBg);
}

.africanView .tg_left_filter_tabs_active {
    color: var(--accentBg);
}

/* - - - - Left Menu Level 3 - - - - */
.tg__left_menu_item--lvl3,
.tg__list_row_heading {
    background: var(--menu_3G);
    color: var(--menu_3Txt);
    border-color: var(--menu_3Border);
}

.live_menu_item_left_header {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
}

.live_menu_item_left {
    border-color: var(--menu_3Border);
}

.tg__left_menu_item--lvl3 .tg__left_menu_item_text {
    color: var(--menu_3Txt);
}

.tg__left_menu_item--lvl3 .tg-ico-arrow {
    color: var(--menu_3Txt3);
}

.dg_game_tabs {
    padding: 0 var(--headerRadius);
}

/* - - - - Passive Tab - - - - */
.tab_selector {
    background: var(--tabG);
    color: var(--tabTxt2);
    border-top-left-radius: var(--tabRadius);
    border-top-right-radius: var(--tabRadius);
}

.sportLeftPane .tab_selector {
    background: var(--tabG);
    color: var(--tabTxt);
}

.tg__coupon_tabs_cont {
    padding-top: 2px;
    margin-bottom: 2px;
}

.tab_cupon {
    background: var(--tabG);
    color: var(--tabTxt2);
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background: var(--tabActiveG);
        color: var(--tabActiveTxt);
    }

/* - - - - Active Tab - - - - */
.tab_selector.tab_selector_active,
.tab_selector:hover,
.tg_subheader_btn,
.tg__live_filter_item {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
}

.tg__results_header .tg__dropdown_value,
.tg__calendar_header .tg__dropdown_value,
.tg__results .tg_input {
    background: var(--filterG);
    color: var(--filterTxt);
    border-radius: var(--filterRadius);
}

    .tg__results .tg_input::placeholder {
        color: var(--filterTxt2);
    }

    .tg__results .tg_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--filterTxt2);
    }

    .tg__results .tg_input::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--filterTxt2);
    }

.tg__results_header .tg__dropdown_content,
.tg__calendar_header .tg__dropdown_content {
    background: var(--filterBg);
}

.tg__results_header .tg__dropdown__item,
.tg__calendar_header .tg__dropdown__item {
    background: var(--filterBg2);
    color: var(--filterTxt2);
}

    .tg__results_header .tg__dropdown__item:hover,
    .tg__calendar_header .tg__dropdown__item:hover {
        background: var(--filterBg2Hover);
        color: var(--filterTxt);
    }

.tg__live_filter_item.checked {
    background: var(--tabG);
    color: var(--tabTxt);
}

.tg__dropdown_control {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.sportLeftPane .tab_selector.tab_selector_active,
.tg__step_slider,
.liveFilterContainer {
    background: var(--tabActiveG);
    color: var(--tabActiveTxt);
}

.tg__step_slider {
    border-color: var(--menu_1Border);
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading {
    background: var(--headerG);
    color: var(--headerTxt);
    border-top-left-radius: var(--headerRadius);
    border-top-right-radius: var(--headerRadius);
}

    .gameContentTitle .tg-ico-arrow {
        color: var(--headerTxt3);
    }

/* africanView */
.africanView .tg--home2__stakeItem {
    background: var(--tabG);
    color: var(--tabTxt);
}

.africanView .champCont {
    margin: 0px;
}

.tg--selected_prem_game {
    border: 0;
}

.tg__list_row {
    margin: 0;
    border-top: 1px solid var(--bodyBg);
}

.ds--myacc-history_list .tg_bet_history_order_row {
    background: var(--menu_1Bg);
    color: var(--menu_1Txt2);
    border-color: var(--menu_1Border);
}

    .ds--myacc-history_list .tg_bet_history_order_row:nth-child(Odd) {
        background: var(--menu_1BgHover);
    }

.tg_bet_history_order_row .tg-clr-akcent {
    color: var(--accentBg);
}

.tg_bet_history_order_row_sub {
    background: var(--menu_3Bg);
    color: var(--menu_3Txt2);
    border-color: var(--menu_3Border);
}

    .tg_bet_history_order_row_sub:nth-child(Odd) {
        background: var(--menu_3BgHover);
    }

/* - - - - SubHeader - - - - */
.tg__calendar_header,
.tg__calendar_cont,
.tg__res_rus,
.overViewDataDanel .tg__btn_arrow {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
    border-top-left-radius: var(--subHeaderRadius);
    border-top-right-radius: var(--subHeaderRadius);
}

.tg__results_header {
    background: var(--filterBg2);
    color: var(--filterTxt);
}

.tg__home_game_heading {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt2);
}

/* - - - - Single Game - - - - */
.tg__one_game,
.tg__match_item_stake,
.tg__banner,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.tg_onegame_chb,
.news_slider .oddsContainer {
    background: var(--eventG);
    color: var(--eventTxt2);
}

.dg1 {
    background: var(--eventG);
    color: var(--eventTxt2);
    margin-bottom: 0;
    border-bottom: 1px solid var(--eventBorder);
}

.tg__one_game:hover {
    background: var(--eventBgHover);
    color: var(--eventTxt2);
}

/*popups*/
.tg_popup_body_static,
.tg__modal,
.tg__modal_big,
.tg__cashout--wrapper {
    background: var(--modalBg);
    color: var(--modalTxt);
    border-radius: var(--modalRadius);
}

.tg__modal_header,
.tg__modal_heading,
.tg__cashout--header,
.tg__modal_header-sm {
    background: var(--modalBg2);
    color: var(--modalTxt);
    border-top-left-radius: var(--modalRadius);
    border-top-right-radius: var(--modalRadius);
}

.tg__custom-range-slider {
    color: var(--accentBg);
}

.tg--close {
    background: var(--bodyBg);
    color: var(--bodyTxt);
}

.tg__modal .tg__dropdown_control,
.tg_popup_body_static .tg__dropdown_control,
.tg__modal .tg_input,
.tg_popup_body_static .tg_input,
.tg__cashout--wrapper .tg_input {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
    border-radius: var(--inputSecondaryRadius);
}

.ui--dominant-content {
    border-color: var(--dominantBg2);
    background: var(--dominantBg);
    color: var(--dominantTxt);
}

.ui--dominant-header {
    border: 0;
    background: var(--dominantG);
    color: var(--dominantTxt);
}

    .ui-state-default,
    .ui--dominant-content .ui-state-default,
    .ui--dominant-header .ui-state-default,
    .ui-datepicker-title select,
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-nex {
        border: 0;
        background: var(--bodyBg);
        color: var(--bodyTxt);
    }

    .ui-state-highlight,
    .ui--dominant-content .ui-state-highlight,
    .ui--dominant-header .ui-state-highlight,
    .ui-state-active,
    .ui--dominant-content .ui-state-active,
    .ui--dominant-header .ui-state-active,
    .ui-datepicker-calendar .ui-state-hover {
        background: var(--accentG);
        color: var(--accentTxt);
    }

.tg__btn-text {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
}

.tg__one_game_team {
    color: var(--eventTxt);
}

.tg__one_game_col,
.tg__one_game_icons,
.tg__one_game .maIcons {
    color: var(--eventTxt2);
}

.tg__one_game .tg__home_game_time {
    color: var(--eventTxt3);
}

.posCombItem {
    background: var(--eventBg);
    color: var(--eventTxt);
}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
    background: var(--oddG);
    color: var(--oddTxt);
    border: 1px solid var(--oddBorder);
    border-radius: var(--oddRadius);
}

/* - - - - Show More - - - - */
.tg__more {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
    border-radius: var(--showMoreRadius);
    border: 1px solid var(--showMoreBorder);
}

    .tg__more:hover {
        background: var(--showMoreBg2);
        color: var(--showMoreTxt);
        border-radius: var(--showMoreRadius);
        border-color: var(--showMoreBorder);
    }

/* - - - - Betslip Header - - - - */
.tg__block_header {
    background: var(--dominantBg2);
    color: var(--dominantTxt);
}

/* - - - - Accent - - - - */
.liveGameSelected .liveSportNamesContainer,
.tg_widget_text_akcent {
    color: var(--accentBg);
}

.left_menu_line_active .tg__left_menu_item_text {
    color: var(--menu_3Accent);
}


.tg_sidebar_text_akcent {
    color: var(--menu_1Accent);
}

.tg_sidebar_bg_2 .tg_sidebar_text_akcent {
    color: var(--menu_2Accent);
}

.tg_sidebar_bg_3 .tg_sidebar_text_akcent {
    color: var(--menu_3Accent);
}

.liveGameSelected .tg__left_menu_item--lvl3 .liveSportNamesContainer {
    color: var(--menu_3Accent);
}

.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg_popup_body_static .tab_selector_active {
    border-bottom: 2px solid var(--accentBg);
}

.tg-ico-fav.active,
.tg-ico-fav--active {
    color: var(--accentBg);
}

.tg__fix_btn.checked, .tg__fix_btn:hover {
    color: var(--accentBg);
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd {
    background: var(--oddActiveG);
    color: var(--oddActiveTxt);
    border-radius: var(--oddActiveRadius);
    border-color: var(--oddActiveBorder);
}

.tg__btn-ternary {
    background: var(--buttonG);
    color: var(--buttonTxt);
}

.tabSelectorHeading {
    color: var(--bodyAccent);
}

/* africanView */
.africanView .tg--home2__stakeItem:hover,
.africanView .active .tg--home2__stakeItem,
.africanView .tg--home2__stakeItem.stItem_active {
    background: var(--eventAccent);
    color: var(--eventAccentTxt);
    border-radius: var(--eventRadius);
}

/* - - - - BetSlip - - - - */
.tg__coupon .tg--coupon-bg {
    background: var(--betSlipBg);
    color: var(--betSlipTxt2)
}

.tg--coupon-bg {
    background: var(--dominantBg);
    color: var(--dominantTxt);
}

#info_panel_block .selectorWrapper {
    background: var(--dominantBg2);
    color: var(--dominantTxt);
}

.tg__info_panel .selectorWrapper {
    background: var(--betSlipBg2);
    color: var(--betSlipTxt);
}

.stake_item_panel {
    background: var(--betSlipStakeG);
    color: var(--betSlipStakeTxt2);
    border-color: var(--betSlipBorder);
    border-top: 0;
}

.coupon_sport_name_container {
    color: var(--betSlipStakeTxt);
}

.tg__btn.tg__btn-coupon {
    background: var(--betSlipButtonG);
    color: var(--betSlipButtonTxt);
    border-radius: var(--betSlipButtonRadius);
}

.tg--cashout-body, .tg__cashout_popup, .booking_number, .betchecker, #bookingBody {
    background: var(--modalG);
    color: var(--modalTxt);
}

.bet_generator_wrapper, .scout_panel, #betcheckerWrapper, .player_panel {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg_coin {
    background: var(--accentBg);
    color: var(--accentTxt);
}

.tg__match_item_btn {
    background: var(--showMoreG);
    color: var(--showMoreTxt);
}

.tg--selected_prem_game .tg__match_item_btn {
    background: var(--accentG);
    color: var(--accentTxt);
}

.tg__modal_book_bet .tg__border--color-akcent {
    border-color: var(--accentBg);
}

.tg__modal_book_bet .tg-clr-akcent {
    color: var(--accentBg);
}

/* - - - - DropDown - - - - */
.tg__dropdown_content {
    background: var(--inputSecondaryBorder);
}

.tg__input,
.tg__info_panel .tg__dropdown_control,
.tg__dropdown__item,
.sportRightPane .tg_input {
    background: var(--inputSecondaryG);
    color: var(--inputSecondaryTxt);
}

.sportRightPane .tg_input {
    border-radius: var(--inputSecondaryRadius);
}

.tg__dropdown__item:hover {
    background: var(--inputSecondaryBg2);
}

.sportRightPane .tg_input::placeholder {
    color: var(--inputSecondaryTxt2);
}

.tg__search_cont .tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
}

.sportRightPaneRow .tg_subheader_btn {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.tg__search_cont .tg__input::placeholder {
    color: var(--inputTxt2);
}

.tg__search_cont .tg__input-ico {
    color: var(--inputTxt);
}

.tg__info_panel .tg_input_coupon_amount {
    background: var(--betSlipInputG);
    color: var(--betSlipInputTxt);
}

/* - - - - Input - - - - */
.tg__input {
    background: var(--inputG);
    color: var(--inputTxt);
    border-radius: var(--inputRadius);
}

.tg__btn {
    border-radius: var(--buttonRadius);
}

/* - - - - Accent - - - - */
.liveGameSelected .liveSportNamesContainer,
.tg_widget_text_akcent,
.tg__coupon_square,
.tg__score_box,
.tg__btn-coupon:hover {
    color: var(--accentBg);
}

.tg_score.tg-clr-akcent2 {
    color: var(--accentBg);
}

.tg__coupon_square {
    background: var(--betSlipInputG);
}

.tg__coupon_factor {
    background: var(--betSlipButtonBg2);
    color: var(--betSlipButtonTxt)
}

.es__stepped_slider_cont {
    background: var(--subHeaderG);
    color: var(--subHeaderTxt);
}

.tg__badge_live {
    background-color: var(--dominantBg);
    color: var(--dominantTxt);
}

.tg-ico-date {
    color: var(--filterTxt);
}

.tg__switch input:checked + .tg__switch_ico {
    background: var(--accentBg);
}

/* Colors we can't change */
.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #fff;
    }



.tg--coupon-container.tg--coupon-single-tab .tab_selector_active {
    background: transparent !important;
    color: var(--modalTxt);
}




.paperView .es__home_bet_header {
    background: var(--headerG);
    color: var(--headerTxt);
}
/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: var(--oddG);
    color: var(--oddTxt);
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: var(--oddActiveG);
        color: var(--oddActiveTxt);
    }

.showC {
    background: var(--menu_1G);
    color: var(--menu_1Txt);
}

/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow {
    background-color: var(--dominantBg);
    color: var(--dominantTxt2);
}

    .es__express_slider_arrow:hover {
        background-color: var(--dominantBg2);
        color: var(--dominantTxt);
    }

.tg__exp_of_day_one_game {
    background-color: var(--eventG);
    color: var(--eventTxt2);
    border-bottom: 1px solid var(--eventBorder) !important;
}

.es__total_odd_container .tg-clr-secondary {
    color: var(--eventTxt2);
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
    color: var(--eventTxt);
}

.es__express_day_odd {
    border-color: var(--eventBorder);
    color: var(--eventTxt2);
}

.es__bonus_odd_container,
.es__express_day_coupon-button-container {
    background-color: var(--eventBg2);
    color: var(--eventTxt2);
}

    .es__bonus_odd_container i,
    .es__express_day_odd--total {
        color: var(--accentBg);
    }

.es__express_day_coupon {
    background-color: var(--eventBg);
    color: var(--eventTxt2);
}
/*multi bet of the day skinning*/


/* Inmutable styles */
.tg__multiview_header,
.tg-hero .sport_count,
.tg__multiview_header .tg__one_game_team {
    color: #ffffff;
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--dominantBg3Hover);
}

/*specific tabs*/
.tg_calendar_subtab_wrapper {
    border-bottom: 6px solid var(--tabActiveBg);
}

.tg--calendar-tab {
    border-bottom: 6px solid var(--tabActiveBg);
}

.live_calendar .body_panel {
    height: calc((100%) - 92px);
}

/*scroll*/
.digi_scroll_dragger {
    background-color: var(--dominantBg3Hover);
}

/*stakes event list*/
.tg__match_header {
    background: var(--headerG);
    color: var(--headerTxt2);
    border-bottom: 1px solid var(--headerBorder);
    border-top-left-radius: var(--headerRadius);
    border-top-right-radius: var(--headerRadius);
}

.tg__prematch_header {
    background: var(--headerG);
    color: var(--headerTxt2);
    border-radius: var(--headerRadius);
}

.tg__match_header .tg__teams {
    color: var(--headerTxt);
}

.tg__multibet_heading {
    border-bottom: 1px solid var(--subHeaderBorder);
}

.tg__live_list_header {
    background: var(--headerG);
    color: var(--headerTxt2);
}

    .tg__live_list_header .sport_type {
        color: var(--headerTxt);
    }

.overviewEventBody {
    background: var(--eventG);
    color: var(--eventTxt2);
}

.tg__score_box {
    background: var(--eventBg2);
    color: var(--accentBg);
}

.overviewEventBody .tg_team_name {
    color: var(--eventTxt);
}

.globalInactiveState {
    background: var(--bodyRGBA);
}

/*Live info*/
.lc_wrapper, .lc_wrapper .lc_cship_header,
.lc_root {
    background: var(--dominantBg) !important;
    color: var(--dominantTxt) !important;
}

    .lc_wrapper .lc_teamname.text_1,
    .lc_wrapper .lc_teams_header_mid.text_2 {
        color: var(--dominantTxt) !important;
    }

    .lc_wrapper .lc_ns.text_2,
    .lc_wrapper .lc_ns.text_align_left,
    .lc_ruller .lc_ruller_sector {
        color: var(--dominantTxt2) !important;
    }

    .lc_wrapper .lc_ruller,
    .lc_wrapper .lc_ruller .lc_ruller_sector {
        border-color: var(--dominantTxt2) !important;
    }

        .lc_wrapper .lc_ruller .lc_ruller_line,
        .lc_wrapper .lc_ruller .lc_ruller_progress {
            background-color: var(--dominantTxt2) !important;
        }

    .lc_wrapper .lc_teams_header {
        background: var(--dominantBg2) !important;
        color: var(--dominantTxt) !important;
    }

    .lc_wrapper .lc_badge.text_akcent {
        background: var(--dominantBg) !important;
        color: var(--accentBg) !important;
    }

    .lc_root .score {
        background: var(--dominantBg2) !important;
        color: var(--accentBg) !important;
    }

    .lc_wrapper .lc_info_header.background_1,
    .lc_wrapper .lc_field_footer.background_1,
    .lc_wrapper .lc_tabs_wrapper.background_1,
    .lc_stat_wrapper {
        background: var(--dominantBg) !important;
        color: var(--dominantTxt) !important;
    }

    .lc_wrapper .lc_btn,
    .lc_wrapper .lc_btn.lc_btn_body {
        background: var(--buttonSecundaryG) !important;
        color: var(--buttonSecundaryTxt) !important;
    }

        .lc_wrapper .lc_btn.lc_btn_body.active,
        .lc_wrapper .lc_btn.lc_btn_body:hover,
        .lc_wrapper .lc_btn:hover {
            background: var(--buttonSecundaryBg2) !important;
        }

.scout_football .lc_stat_row {
    border-color: var(--bodyBg) !important;
}

/*Search page*/
.sr-odd {
    border: 1px solid var(--oddBorder);
    border-radius: var(--oddRadius);
}

    .sr-odd.selected,
    .sr-odd:hover {
        border-radius: var(--oddActiveRadius);
        border: 1px solid var(--oddActiveBorder);
    }

