:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
	--bodyBg: #1a1a1a;
	--bodyBg2: #333333;
	--bodyBg3: #404040;
	--bodyBgHover: #222222;
	--bodyBg2Hover: #3b3b3b;
	--bodyBg3Hover: #484848;
	--bodyTxt: rgba(255, 255, 255, 0.9);
	--bodyTxt2: rgba(255, 255, 255, 0.8);
	--bodyTxt3: rgba(255, 255, 255, 0.4);
	--bodyAccent: #24ba9d;
	--bodyAccentTxt: #000;
	--bodyBorder: #222222;
	--bodyG: #1a1a1a;
	--bodyRGBA: rgba(26, 26, 26, 0.7);
	--bodyRGBA2: rgba(26, 26, 26, 0.5);
	--bodyRGBA3: rgba(26, 26, 26, 0.3);
	--dominantBg: #424242;
	--dominantBg2: #5b5b5b;
	--dominantBg3: #686868;
	--dominantBgHover: #4a4a4a;
	--dominantBg2Hover: #636363;
	--dominantBg3Hover: #707070;
	--dominantTxt: rgba(255, 255, 255, 0.9);
	--dominantTxt2: rgba(255, 255, 255, 0.6);
	--dominantTxt3: rgba(255, 255, 255, 0.4);
	--dominantTxtInverse: #262626;
	--dominantAccent: #24BA9D;
	--dominantAccentTxt: #fff;
	--dominantBorder: #4a4a4a;
	--dominantG: #424242;
	--dominantRGBA: rgba(66, 66, 66, 0.7);
	--dominantRGBA2: rgba(66, 66, 66, 0.5);
	--dominantRGBA3: rgba(66, 66, 66, 0.3);
	--accentBg: #24ba9d;
	--accentBg2: #38d9ba;
	--accentBg3: #4eddc1;
	--accentBgHover: #26c7a8;
	--accentBg2Hover: #45dbbe;
	--accentBg3Hover: #5bdfc5;
	--accentG: #24BA9D;
	--accentTxt: rgba(0, 0, 0, 0.9);
	--accentTxt2: rgba(0, 0, 0, 0.6);
	--accentTxt3: rgba(0, 0, 0, 0.4);
	--accentBorder: #f0ac00;
	--accentG: #24BA9D;
	--inputBg: #474747;
	--inputBg2: #606060;
	--inputBg3: #6d6d6d;
	--inputBgHover: #4f4f4f;
	--inputBg2Hover: #686868;
	--inputBg3Hover: #757575;
	--inputTxt: rgba(255, 255, 255, 0.9);
	--inputTxt2: rgba(255, 255, 255, 0.6);
	--inputTxt3: rgba(255, 255, 255, 0.4);
	--inputAccent: #24BA9D;
	--inputAccentTxt: #fff;
	--inputBorder: #4f4f4f;
	--inputG: #474747;
	--inputSecondaryBg: #4f4f4f;
	--inputSecondaryBg2: #686868;
	--inputSecondaryBg3: #757575;
	--inputSecondaryBgHover: #575757;
	--inputSecondaryBg2Hover: #707070;
	--inputSecondaryBg3Hover: #7d7d7d;
	--inputSecondaryTxt: rgba(255, 255, 255, 0.9);
	--inputSecondaryTxt2: rgba(255, 255, 255, 0.6);
	--inputSecondaryTxt3: rgba(255, 255, 255, 0.4);
	--inputSecondaryAccent: #24ba9d;
	--inputSecondaryAccentTxt: #fff;
	--inputSecondaryG: #424242;
	--headerBg: #333333;
	--headerBg2: #4d4d4d;
	--headerBg3: #595959;
	--headerBgHover: #3b3b3b;
	--headerBg2Hover: #555555;
	--headerBg3Hover: #616161;
	--headerTxt: rgba(255, 255, 255, 0.9);
	--headerTxt2: rgba(255, 255, 255, 0.6);
	--headerTxt3: rgba(255, 255, 255, 0.4);
	--headerAccent: #24ba9d;
	--headerAccentTxt: #fff;
	--headerBorder: #3b3b3b;
	--headerG: #333333;
	--subHeaderBg: #424242;
	--subHeaderBg2: #5b5b5b;
	--subHeaderBg3: #686868;
	--subHeaderBgHover: #4a4a4a;
	--subHeaderBg2Hover: #636363;
	--subHeaderBg3Hover: #707070;
	--subHeaderTxt: rgba(255, 255, 255, 0.9);
	--subHeaderTxt2: rgba(255, 255, 255, 0.6);
	--subHeaderTxt3: rgba(255, 255, 255, 0.4);
	--subHeaderAccent: #24ba9d;
	--subHeaderAccentTxt: #fff;
	--subHeaderBorder: #4a4a4a;
	--subHeaderG: #424242;
	--eventG: #424242;
	--eventBg: #424242;
	--eventBg2: #5b5b5b;
	--eventBg3: #686868;
	--eventBgHover: #4a4a4a;
	--eventBg2Hover: #636363;
	--eventBg3Hover: #707070;
	--eventTxt: rgba(255, 255, 255, 0.9);
	--eventTxt2: rgba(255, 255, 255, 0.6);
	--eventTxt3: rgba(255, 255, 255, 0.4);
	--eventAccent: #24ba9d;
	--eventAccentTxt: #fff;
	--eventBorder: #101010;
	--eventRadius: 2px;
	--buttonBg: #24ba9d;
	--buttonBg2: #1c8f79;
	--buttonBg3: #187a67;
	--buttonBgHover: #22ad92;
	--buttonBg2Hover: #19826e;
	--buttonBg3Hover: #156d5c;
	--buttonTxt: rgba(255, 255, 255, 0.9);
	--buttonTxt2: rgba(255, 255, 255, 0.6);
	--buttonTxt3: rgba(255, 255, 255, 0.4);
	--buttonAccent: #cc9200;
	--buttonAccentTxt: rgba(0, 0, 0, 0.9);
	--buttonBorder: #22ad92;
	--buttonG: #24ba9d;
	--buttonSecondaryBg: #4f4f4f;
	--buttonSecondaryBg2: #686868;
	--buttonSecondaryBg3: #757575;
	--buttonSecondaryBgHover: #575757;
	--buttonSecondaryBg2Hover: #707070;
	--buttonSecondaryBg3Hover: #7d7d7d;
	--buttonSecondaryTxt: rgba(255, 255, 255, 0.9);
	--buttonSecondaryTxt2: rgba(255, 255, 255, 0.6);
	--buttonSecondaryTxt3: rgba(255, 255, 255, 0.4);
	--buttonSecondaryAccent: #cc9200;
	--buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
	--buttonSecondaryBorder: #575757;
	--buttonSecondaryG: #424242;
	--modalBg: #ccc8c8;
	--modalBg2: #b3aeae;
	--modalBg3: #a7a0a0;
	--modalBgHover: #c5c0c0;
	--modalBg2Hover: #aca6a6;
	--modalBg3Hover: #a09898;
	--modalTxt: rgba(0, 0, 0, 0.9);
	--modalTxt2: rgba(0, 0, 0, 0.8);
	--modalTxt3: rgba(0, 0, 0, 0.6);
	--modalAccent: #24ba9d;
	--modalAccentTxt: #fff;
	--modalBorder: #c5c0c0;
	--modalG: #ccc8c8;
	--oddBg: #111111;
	--oddBg2: #2a2a2a;
	--oddBg3: #373737;
	--oddBgHover: #191919;
	--oddBg2Hover: #323232;
	--oddBg3Hover: #3f3f3f;
	--oddTxt: rgba(255, 255, 255, 0.9);
	--oddTxt2: rgba(255, 255, 255, 0.6);
	--oddTxt3: rgba(255, 255, 255, 0.4);
	--oddAccent: #24ba9d;
	--oddAccentTxt: #fff;
	--oddBorder: #ffffff;
	--oddG: #111111;
	--oddActiveBg: #24ba9d;
	--oddActiveBg2: #1c8f79;
	--oddActiveBg3: #187a67;
	--oddActiveBgHover: #22ad92;
	--oddActiveBg2Hover: #19826e;
	--oddActiveBg3Hover: #156d5c;
	--oddActiveTxt: rgba(0, 0, 0, 0.9);
	--oddActiveTxt2: rgba(0, 0, 0, 0.6);
	--oddActiveTxt3: rgba(0, 0, 0, 0.4);
	--oddActiveBorder: #24ba9d;
	--oddActiveG: #24ba9d;
	--showMoreBg: #2b2b2b;
	--showMoreBg2: #444444;
	--showMoreBg3: #515151;
	--showMoreBgHover: #333333;
	--showMoreBg2Hover: #4c4c4c;
	--showMoreBg3Hover: #595959;
	--showMoreTxt: rgba(255, 255, 255, 0.9);
	--showMoreTxt2: rgba(255, 255, 255, 0.6);
	--showMoreTxt3: rgba(255, 255, 255, 0.4);
	--showMoreAccent: #24ba9d;
	--showMoreAccentTxt: #fff;
	--showMoreBorder: #a1a1a1;
	--showMoreG: #2b2b2b;
	--tabBg: #212121;
	--tabBg2: #3a3a3a;
	--tabBg3: #474747;
	--tabBgHover: #292929;
	--tabBg2Hover: #424242;
	--tabBg3Hover: #4f4f4f;
	--tabTxt: rgba(255, 255, 255, 0.9);
	--tabTxt2: rgba(255, 255, 255, 0.6);
	--tabTxt3: rgba(255, 255, 255, 0.4);
	--tabAccent: #24ba9d;
	--tabAccentTxt: #fff;
	--tabBorder: #292929;
	--tabG: #212121;
	--tabActiveBg: #333333;
	--tabActiveBg2: #4d4d4d;
	--tabActiveBg3: #595959;
	--tabActiveBgHover: #3b3b3b;
	--tabActiveBg2Hover: #555555;
	--tabActiveBg3Hover: #616161;
	--tabActiveTxt: rgba(255, 255, 255, 0.9);
	--tabActiveTxt2: rgba(255, 255, 255, 0.6);
	--tabActiveTxt3: rgba(255, 255, 255, 0.4);
	--tabActiveAccent: #24ba9d;
	--tabActiveAccentTxt: #fff;
	--tabActiveBorder: #3b3b3b;
	--tabActiveG: #333333;
	--tabSecondaryActiveBg: #2e2e2e;
	--tabSecondaryActiveBg2: #474747;
	--tabSecondaryActiveBg3: #545454;
	--tabSecondaryActiveBgHover: #363636;
	--tabSecondaryActiveBg2Hover: #4f4f4f;
	--tabSecondaryActiveBg3Hover: #5c5c5c;
	--tabSecondaryActiveTxt: rgba(255, 255, 255, 0.9);
	--tabSecondaryActiveTxt2: rgba(255, 255, 255, 0.6);
	--tabSecondaryActiveTxt3: rgba(255, 255, 255, 0.4);
	--tabSecondaryAccent: #24ba9d;
	--tabSecondaryAccentTxt: #fff;
	--tabSecondaryActiveG: #212121;
	--filterBg: #545454;
	--filterBg2: #6d6d6d;
	--filterBg3: #7a7a7a;
	--filterBgHover: #5c5c5c;
	--filterBg2Hover: #757575;
	--filterBg3Hover: #828282;
	--filterTxt: rgba(255, 255, 255, 0.9);
	--filterTxt2: rgba(255, 255, 255, 0.6);
	--filterTxt3: rgba(255, 255, 255, 0.4);
	--filterAccent: #24ba9d;
	--filterAccentTxt: #fff;
	--filterBorder: #5c5c5c;
	--filterG: #424242;
	--menu_1Bg: #424242;
	--menu_1Bg2: #5b5b5b;
	--menu_1Bg3: #686868;
	--menu_1BgHover: #4a4a4a;
	--menu_1Bg2Hover: #636363;
	--menu_1Bg3Hover: #707070;
	--menu_1Txt: rgba(255, 255, 255, 0.9);
	--menu_1Txt2: rgba(255, 255, 255, 0.6);
	--menu_1Txt3: rgba(255, 255, 255, 0.4);
	--menu_1Accent: #24ba9d;
	--menu_1AccentTxt: #fff;
	--menu_1Border: #4a4a4a;
	--menu_1G: #424242;
	--menu_2Bg: #2b2b2b;
	--menu_2Bg2: #444444;
	--menu_2Bg3: #515151;
	--menu_2BgHover: #333333;
	--menu_2Bg2Hover: #4c4c4c;
	--menu_2Bg3Hover: #595959;
	--menu_2Txt: rgba(255, 255, 255, 0.9);
	--menu_2Txt2: rgba(255, 255, 255, 0.6);
	--menu_2Txt3: rgba(255, 255, 255, 0.4);
	--menu_2Accent: #24ba9d;
	--menu_2AccentTxt: #fff;
	--menu_2Border: #333333;
	--menu_2G: #2b2b2b;
	--menu_3Bg: #212121;
	--menu_3Bg2: #3a3a3a;
	--menu_3Bg3: #474747;
	--menu_3BgHover: #292929;
	--menu_3Bg2Hover: #424242;
	--menu_3Bg3Hover: #4f4f4f;
	--menu_3Txt: rgba(255, 255, 255, 0.9);
	--menu_3Txt2: rgba(255, 255, 255, 0.6);
	--menu_3Txt3: rgba(255, 255, 255, 0.4);
	--menu_3Accent: #24ba9d;
	--menu_3AccentTxt: #fff;
	--menu_3Border: #292929;
	--menu_3G: #212121;
	--tooltipBg: #e6e6e6;
	--tooltipBg2: #cccccc;
	--tooltipBg3: #c0c0c0;
	--tooltipBgHover: #dedede;
	--tooltipBg2Hover: #c4c4c4;
	--tooltipBg3Hover: #b8b8b8;
	--tooltipTxt: rgba(0, 0, 0, 0.9);
	--tooltipTxt2: rgba(0, 0, 0, 0.8);
	--tooltipTxt3: rgba(0, 0, 0, 0.6);
	--tooltipAccent: #24ba9d;
	--tooltipAccentTxt: #fff;
	--tooltipBorder: #dedede;
	--tooltipG: #e6e6e6;
}
.dg_sport_navigation_wrapper {
	--bodyTxt: #24ba9d;
	--bodyTxt2: #fff;
}
/*PinUp Colors*/
/*SKINNING START*****************************************************************************************************************/
.tg__btn-primary {
	background-color: #009900;
	color: #fff;
}
#main_anonce_block:empty {
	margin: 0;
}

.tg__btn-secundary {
	background-color: #2B2B2B;
	color: #979797;
}
.tg-bg-4 {
	background-color: #424242;
}

.tg__tour_tab_name {
	background-color: #333;
	color:#fff;
}

.tg__btn-ternary {
	background-color: #24ba9d;
	color: #fff;
}
.emptyTicket{
	color:#fff;
}
.editFavCont {
    color: #707070;
}
.tg__list_row_sub .tg-clr-2{
	color: #ffb700;
}
.tg__btn-ternary1 {
	background-color: #ffb700;
	color: #161415;
}

.tg__btn-support {
	background-color: #161415;
	color: #979797;
}

.tg__btn-transparent {
	background-color: transparent;
	color: #979797;
}

.tg__btn-coupon {
	background-color: #696969;
	color: #cfcfcf;
}

.tg__switch_text{
	color: #fff;
	text-transform: uppercase;
}
/*odds*/
.l_od,
.l_od_empty {
	background-color: #111;
	color: #fff;
	border-radius: 6px;
}
.tg__btn {
	border-radius: 6px;
}

	.l_od:hover,
	.odCnt:hover .l_od {
		background-color: #24ba9d;
		color: #fff;
	}

	.l_od.selectedOdd {
		background-color: #24ba9d;
		color: #fff;
	}

		.l_od.selectedOdd:hover,
		.odCnt:hover .l_od.selectedOdd {
			background-color: #24ba9d;
			color: #000;
		}

/*tabs*/

.tab_selector {
	background-color: #212121;
	color: #979797;
}

	.tab_selector.tab_selector_active,
	.tab_selector:hover {
		background-color: #333;
		color: #fff;
	}
	.maPageMenu .tab_selector.tab_selector_active,
	.maPageMenu .tab_selector:hover{
		background-color: #24ba9d;
		text-transform: uppercase;
		border-bottom: 2px solid #fff;
	}
.sportLeftPane .tab_selector.tab_selector_active,
.sportLeftPane .tab_selector:hover {
	background-color: #24ba9d;
	color: #fff;
}
	.sportLeftPane .tab_selector{
		background-color: #424242;
		color: #fff;
	}
.tg__home_game_item .tabSelectorHeading {
	color: #24ba9d;
}
/*inputs*/
.tg_input--white {
	background-color: #fff;
	color: #111;
}

.tg_input--dark {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__label_bright {
	color: #979797;
}

.tg--input-status-ico--red:after {
	color: red;
}

.datepickericon:after {
	color: #979797;
}

.ui-datepicker-trigger {
	color: #979797;
}

.tg__control-bright {
	color: #666;
}

.tg__switch .tg__switch_ico {
	background-color: #979797;
}

	.tg__switch .tg__switch_ico:before {
		background-color: #fff;
	}

.tg__switch input:checked + .tg__switch_ico {
	background-color: #24ba9d;
}

.tg__switch-bright {
	color: #666;
}

.tg--loading {
	color: #fff;
}

.tg__btn-arrow:after {
	border-top-color: #666;
}

.tg-notification {
	border-color: #2b2b2b;
	background-color: #24ba9d;
	color: #fff;
}

.tg-ico-arrow {
	color: #979797;
}

.tg--multiselect-radio-container .tg__control {
	background-color: #333;
	color: #979797;
}
.overviewEventHeader .tg__home_game_heading {
	border: 0;
	background-color: #212121;
	color: #fff;
}
.overviewEventHeader  .tg__home_game_heading:nth-child(2) {
	color: #fff;
	background-color: #2b2b2b;
}
/*colors*/
.tg-clr-akcent {
	color: #24ba9d;
}

.tg-clr-akcent2 {
	color: #ffb700;
}

.tg--heading-bg {
	background-color: #404040;
	color: #eba801;
}

	.tg--row-bg-1 {
		background-color: #333;
		color: #979797;
	}

.tg--row-bg-2 {
	background-color: #222;
	color: #979797;
}

.tg-bg-1 {
	background-color: #1a1a1a;
}
.tg__calendar_header.tg-bg-1{
	background-color: #2b2b2b
}

.tg-bg-2 {
	background-color: #424242;
}

.tg-bg-3 {
	background-color: #333;
	color: #979797;
}

.tg-clr-1 {
	color: #fff;
}

.tg-clr-2 {
	color: #979797;
}

.tg--red-bg {
	background-color: red;
	color: #fff;
}

.tg--red-clr {
	color: red;
}

.tg--green-clr {
	color: green;
}

.tg-clr-odd-name {
	color: #979797;
}

/*header*/

.tg__header__nav__item {
	color: #979797;
}

	.tg__header__nav__item:hover {
		color: #24ba9d;
	}

/*dropdowns*/

.tg__dropdown_content {
	background-color: #2b2b2b;
}

.tg__dropdown__item {
	background-color: #333;
	color: #979797;
}

	.tg__dropdown__item:hover {
		background-color: #444;
		color: #fff;
	}

.tg--shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.tg__dropdown_value {
	background-color: #2b2b2b;
	color: #979797;
}
.tg__calendar_cont .tg__dropdown_value {
	background-color: #1a1a1a;
}
.tg__dropdown_content {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.tg__dropdown_value--bright {
	background-color: #fff;
	color: #979797;
}

/*inputs*/

.tg__input-ico-dark {
	color: #979797;
}

.tg__input-dark {
	background-color: #474747;
	color: #999;
}

.tg__badge_live {
	color: #fff;
	background-color: #333;
}

.tab_selector_active .tg__badge_live {
	color: #fff;
	background-color: red;
}

.tg__left_menu_item--lvl1 {
	background-color: #424242;
	color: #fff;
}

#leftScroll > div > div {
    background-color: #1A1A1A;
}

.sportLeftPane .tg--2-tab {
	border-bottom: 1px solid #1a1a1a
}
.tg__left_menu_item--lvl2 {
	background-color: #2b2b2b;
	color: #fff;
}
.tg__left_menu_item--lvl2:hover{
	background-color: #2d2d2d;
}
	.tg__left_menu_item--lvl2 .tg-ico-arrow {
		color: #5b5b5b;
	}

.tg__step_slider .tg-clr-akcent2{
	color: #fff;
}

.tg__left_menu_item--lvl3 {
	background-color: #212121;
	color: #fff;
}

	.tg__left_menu_item--lvl3:hover {
		background-color: #3d3d3d;
	}

.left_menu_line_active, .liveGameSelected .tg__left_menu_item--lvl3, .tg__left_menu_item--lvl3.left_menu_line_active:hover {
	background-color: #24ba9d;
	color: #fff;
}
.liveGameSelected .liveSportScoreContainer {
	color: #fff;
}
/*slider*/
.ss__label {
	color: #979797;
}

.ss__step_slider .ss__ruller > div {
	background-color: #666;
}

	.ss__step_slider .ss__ruller > div.off {
		background-color: #161415;
	}

.ss__step_slider .ss__slider {
	background-color: #979797;
}

/*favorites*/

.tg-ico-fav--active {
	color: #ffb700;
}

.tg__fix_btn {
	color: #979797;
}

	.tg__fix_btn.checked {
		color: #ffb700;
	}

.tg__live_filter_item {
	color: #979797;
}

	.tg__live_filter_item.checked {
		background-color: #333;
	}

/*banners*/

.tg__banner__img {
	background-color: #979797;
}

.tg__slider__btn {
	background-color: #333;
	color: #979797;
}

	.tg__slider__btn:hover {
		background-color: #333;
		color: #fff;
	}

/*one game*/

.gameContentTitle {
	background-color: #333;
	color: #e6e6e6;
}

.tg__home_game_heading {
    background-color: #424242;
    color: #fff;
}
.tg__result_item .tg__home_game_heading{
	border-top: 0;
}
.tg__result_item.tg-bg-2 {
	background-color:#1a1a1a 
}

.resRowItem .l_od, .resRowItem .l_od_empty {
	background-color: #111;
	color: #fff;
	width: 46px;
	height: 20px;
	line-height: 20px;
}
.tg--odd-w {
	width: 46px;
}
.tg__one_game {
    background-color: #333;
    color: #979797;
    border-color: #1A1A1A;
}
.tg__one_game:hover{
	background-color: #373737;
}

.tg__one_game_team {
	color: #fff;
}

.tg__more {
	background-color: #2b2b2b;
	color: #a1a1a1;
	border: 1px solid #a1a1a1;
	border-radius: 6px;
}

.news_slider .oddsContainer {
	background-color: #333;
}

.oddsContainer a {
	color: #999;
}

.tg__block_header {
	background-color: #2b2b2b;
	color: #fff;
}

.liveFilterContainer {
	background-color: #1a1a1a
}
.tg__info_panel .selectorWrapper, .tg--coupon-container .tab_selector.tab_selector_active {
	background-color: #2b2b2b
}
.tg--coupon-bg {
	background-color: #333;
	color: #999;
}
.teamNameC, .st_name {
	color: #000;
}

.tg--red-bg {
	color: #fff;
}


.CashOut, .tg__cashout {
	color: #24ba9d;
}
.tg-ico-sm.selectPanel{
	color: #707070;
}
/*errors*/
.tg--issue,
.tg--issue--inline {
	background-color: #ffb700;
	color:#161415
}

.tg--issue-hint {
	color: #161415;
}

.tg--issue-error {
	color: red;
}

.tg--issue-success {
	color: green;
}

.tg--border-bot-1 {
	border-color: #666;
}

.tg__coupon_tabs_cont .tab_cupon {
	background-color: #2b2b2b;
}

.tg__coupon_tabs_cont .tab_cupon.tab_selected {
	background-color: #cfcfcf;
	color: #666;
}


.stake_item_panel {
	border-top-color: #e6e6e6;
	border-bottom-color: #b8b8b8;
	background-color: #cfcfcf;
}

.tg__coupon_factor  {
	background-color: #707070;
	color: #fff;
}
.couponAccept, .deleteBox {
	color: #707070;
}

.tg__panel_issue--warning {
	background-color: #ffb700;
	color: #161415;
}

.tg__panel_issue--success {
	background-color: green;
	color: #fff;
}
.tg__match_item .tg-ico-fav, .tg__match_item .tg-ico-arrow {
	color: #fff;
}
.tg__match_item_stake {
	border-color: #525252;
}
#live_bets_header_body .tg-bg_transparent {
	background-color: transparent;
}
.tg--calendar-tab {
	background-color: #212121;
}

.tg__coupon_square {
	background-color: #fff;
	color: #999;
}
.tg__coupon_lbl, .coupChbContainer .tg-chb-ico_with_text {
	text-transform: uppercase;
	color: #cfcfcf;
}

.coupChbContainer .tg-chb-ico_with_text {
	text-transform: initial;
}

.tg__dropdown_coupon {
	background-color: #fff;
	color: #666;
}

/*prematch*/

.tg__prematch_header {
	background-color: #474747;
	color: #fff;
}

.tg__match_item {
	background-color: #333;
}

.tg__match_header {
	background-color: #2b2b2b;
	color: #979797;
}
#lineEventHeaderWide .tg__match_header {
	background-color: #474747
}
.live_tabs_header .tg__match_item {
	padding: 0;
}
.tg__teams {
	color: #fff;
}

.tg__match_item_btn {
	background-color: #979797;
	color: #161415;
}

.tg--selected_prem_game .tg__match_item_btn {
	background-color: #24ba9d;
	color: #161415;
}

.tg__match_item_odd_name {
	color: #979797;
}

.tg-bg_transparent {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.tg__open_event_img {
	background-color: #333;
	color: #fff;
}

.tg__live_list_header {
	background-color: #333;
	color: #fff;
}

.tg--srv {
	color: #ffb700;
}

.tg__score_box--dark {
	background-color: #161415;
	color: #ffb700;
}

.tg__live_list_body {
	/*background-color: #333;*/
	color: #fff;
}

.tg__btn_arrow--dark {
	background-color: #212121;
	color: #979797;
}

.overviewEventBody .tg__more {
	background-color: #2a2a2a;
	color: #999;
	border: 0;
	border-radius: 0;
}

.overviewEventSlider {
	color: #999;
}

.overviewEventSlider .tg--cashout {
	color: #3bbba2
}

.overviewEventSlider .tg__match_item_odd_name {
	color: #fff;
}
.tg__btn_arrow:before {
	color: #979797;
}

.tg__multiview_item {
	color: #fff;
}
.tg__multiview_header {
	color: #fff;
}
.last {
	color: #fff;
}
.tg__multiview_item .tg__home_game_heading {
	border-top: 0;
}
.tg__multiview_item .tg--cashout {
	color: #3bbba2
}
.tg--close {
	background-color: #161415;
	color: #fff;
}

/*live calendar*/
.ui-widget-content {
	border: 0;
	background: #333;
	color: #fff;
}

.ui-widget-header {
	border: 0;
	background: #2b2b2b;
	color: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 0;
	background: #2b2b2b;
	color: #fff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	background: #161415;
	color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-hover {
	background: #24ba9d;
	color: #fff;
	border: 0;
}
#calcBtn.tg__btn-secundary:hover {
	color: #ffb700
}
.ui-state-active, .ui-widget-content .ui-state-active {
	background: #24ba9d;
	color: #fff;
}

.tg__show_title[data-title]:hover:after {
	background: #c2c2c2;
	color: #292929;
}

.live_calendar {
	background-color: #2b2b2b;
	color: #fff;
}

/*results*/

.tg__results_header {
	background-color: #333;
}

/*modals*/

.tg__modal_wrapper {
	background-color: rgba(0, 0, 0, 0.5);
}

.tg__modal--drag {
	background-color: #333;
	color: #979797;
}

.tg__subheading {
	background-color: #2b2b2b;
	color: #979797;
}

.tg__modal {
	background-color: #333;
	color: #979797;
}

.tg--input-error {
	background-color: #fff;
}

.tg--input-show-error {
	border-color: red;
}

.tg__modal_header {
	background-color: #2b2b2b;
	color: #fff;
}

.tg__modal_header-sm {
	background-color: #2b2b2b;
	color: #fff;
}

.tg__modal_issue {
	background-color: #fff;
	color: #161415;
}

	.tg__modal_issue:before {
		border-bottom-color: #fff;
	}

.tg__congratulations {
	color: green;
}

.tg__modal_big {
	background-color: #333;
	color: #fff;
}

.tg__filter {
	background-color: #333;
}

.tg__list_bg {
	background-color: #161415;
}

.tg__list_row_heading {
	background-color: #2b2b2b;
	color: #24ba9d;
}

.tg__list_row_sub {
	background-color: #353535;
	margin-bottom: 0;
}
	.tg__list_row_sub:nth-child(even) {
		background-color: #424242;
	}
	.tg__list_row_sub .tg-ico-fav{
		color: #ffb700;
	}
	.tg__list_row {
		background-color: #333;
		margin-bottom: 0;
	}
	.tg__list_row:nth-child(even){
		background-color: #2B2B2B;
	}
.tg__custom_title {
	background-color: #fff;
}

.tg__payment_item {
	background-color: #161415;
}

.tg__show_data_error[data-error] .tg_input {
	border-color: red;
}

.tg__show_data_error[data-error]:hover:after {
	background-color: #fff;
	color: red;
}

/*transfer to casino*/

.tg_hint--error .tg-ico-sm:before {
	color: red;
}

.tg_hint--success .tg-ico-sm:before {
	color: green;
}

.tg__super_number {
	background-color: #979797;
	border-color: #24ba9d;
	color: #fff;
}

.tg__border--color-akcent {
	border-color: #24ba9d;
}

/*footer*/

.tg--footer-btn:before {
	background-color: #666;
}


.tg__footer {
	background-color: #161415;
}

.tg__footer_txt--clr {
	color: #979797;
}

.tg__footer_heading {
	color: #979797;
}

.tg__footer_link {
	color: #666;
}

/*scout empty panel*/

.LIemptyPanel .LItop {
	color: #979797;
}

.LIemptyPanel .LINew {
	color: #fff;
	background-color: #2b2b2b;
}

.LIemptyPanel .LISports {
	color: #979797;
}

.LIemptyPanel .LIWith {
	color: #999;
}
/*Express Combination start*/
.tg--express_combination {
	background-color: #333;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.checkedStakes_eventNames {
	color: #fff;
}

.checkedStakes-fullName {
	color: #979797;
}

.tg--express_btn {
	background-color: #ffb700;
}

.tg--pos_comb_row {
	border-color: #333;
	background-color: #3d3d3d;
}
/*Express Combination End*/
.posCombItem {
	background-color: #1d1d1d;
}

/*Withdraw Panel*/
.body_panel .tg_input--value-374 input {
	position: relative;
}

.body_panel .tg_input--value-374 input {
	padding-left: 40px;
}

.body_panel .tg_input--value-374::after {
	content: '+374';
	left: 8px;
	position: absolute;
	top: 11px;
	color: #8d8d8d;
}

/*Switcher Colors*/

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}


/*Slider pre-match*/
.tg__step_slider .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #6e6e6e;
}

.tg__step_slider .tg__chb .tg__checkbox_ico.checked,
.tg__coupon_switches .tg__chb .tg__checkbox_ico.unchecked {
	background-color: #212121;
	color: #ffb700;
}
.tg__coupon_switches .tg__chb .tg__checkbox_ico.checked {
	background-color: #333;
	color: #ffb700;
}

.tg__coupon_switches .tg__switch_cont, .tg--border-r {
	border-color: #999
}

.tg__prematch_header .tg-ico-arrow,
.tg__live_list_header .tg-ico-arrow {
	color: #fff;
}

/*Footer*/
.tg--footer-btn:before {
	background-color: #666;
}
.cp_success.tg--coupon-bg {
	background-color: #333333;
	color: #FFFFFF;
}

/*search page*/
#srch_page_srch_res {
	background-color: #1a1a1a;
}
.tg-font-l.tg-clr-akcent {
	color: #999;
}
.tg-font-l {
	color: #24ba9d;
}
/*SKINNING END*****************************************************************************************************************/
/*partner popups*/
.tg__iframe_popup {
	top: 100px;
	transform: translate(-50%, -0%);
}
.tg__iframe_popup--draggable {
	transform: none !important;
}
.tg__modal_account {
	height: 700px;
}

	.tg__modal_account .my_acc {
		height: 100%;
	}

	.tg__modal_account .maPageMenu {
		height: calc((100%) - 30px);
	}

		.tg__modal_account .maPageMenu .body_panel {
			height: calc((100%) - 40px);
		}

			.tg__modal_account .maPageMenu .body_panel .tab_body_active,
			.tg__bet_history {
				height: 100%;
			}

.ds--myacc-history_list_cont {
	height: calc((100%) - 77px);
}

.tg--scroll-history {
	max-height: calc((100%) - 28px);
}
/*partner popups*****************************/

/*300 luckies*/
.tgpopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*top banner*/
.slide .img_slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 35.587%;
    left: 0;
    top: 0;
    margin-bottom: 16px;
}
	.slide .img_slider a {
		width: 100%;
	}
	.slide .img_slider a img {
		width: 100%;
		height: 100%;
	}
.news_slider:empty{
    display:none;
}

@media (max-width: 1700px) {
	.tg__match_item_stake {
		padding: 4px 8px;
	}

	.tg__match_item_odd_name {
		padding-left: 4px;
		padding-right: 4px;
	}

	/*.tg-grid {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.tg-grid--midplus-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}*/
	/*multiview*/
	.tg__multiview_item {
		width: 50%;
	}
}

@media (max-width: 1500px) {
	.tg__match_item_stake {
		padding: 4px 8px;
	}

	.tg__match_item_odd_name {
		padding-left: 4px;
		padding-right: 4px;
	}

	.tg-grid {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	/*.tg-grid--midplus-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}*/
	/*multiview*/
	.tg__multiview_item {
		width: 50%;
	}
}

/*horisontal position:sticky tabs*/
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper {
	background-color: #1a1a1a;
}
/*bet generator*/
.bet_generator_wrapper .tg_widget_header_2,
.bet_generator_wrapper .tg_widget_header_2 .tg-ico-arrow {
    background-color: #2b2b2b;
    color: #fff;
}

.bet_generator_wrapper .tg_widget_bg_2,
.bet_advanced_option .tg-ico-arrow {
    background-color: #333;
    color: #999;
}
/*africian view skinning*/
.tg_left_tabs {
    border-bottom-color: #ffb700;
    color: #fff;
    background: #424242;
}
.tg_left_filter_tabs input:checked + label + label {
    color: #ffb700;
}
.tg_events_filter_tabs .tg__checkbox_text {
    color: #fff;
}
.tg--home-2-up-ev .tg__control input:checked ~ .tg__checkbox_text {
    color: #FBB516;
}
.tg--home-2-up-ev .tg_widget_header {
    background: #333333;
    color: #fff;
}
.gameContentTitle .selector_panel .tab_selector{
    background-color: #333333;
    color: #979797;
}
.gameContentTitle .selector_panel .tab_selector_active,
.gameContentTitle .selector_panel .tab_selector:hover{
    color: #fff;
}
.tg--home2__stakeTypes {
    background: #333333;
}
.tg--home2__stakeItem {
    background: #2B2B2B;
    color:#fff;
}
.tg--home2__stakeItem:hover, 
.active .tg--home2__stakeItem, 
.stItem_active {
    background-color: #24B498;
    color: #fff;
}
.tg__champ_header {
    height: 40px;
    line-height: 40px;
    background: #2B2B2B;
    color: #fff;
}
.ev_det_Tab .selectorWrapper{
    margin-bottom:8px;
}
.overViewDataPanel .SBheader.tg__home2_game_heading {
    background: #424242;
    color: #fff;
}
.overViewDataPanel .tg__home2_game_heading {
    background: #212121;
    color: #fff;
}
.tg__home2_game_heading-top {
    background: #2B2B2B;
    color:#fff;
} 
  /*coin styles*/
    .tg_coin{
      background: #24ba9d;
      color: #373737;
    }
   
  /*african view style fixes 2019-11-05*/
  
    .africanView .tg--home2__stakeTypes, .tg_av_more {
      background-color: #373737;
      color: #fff;
    }
    
    .africanView .active .tg--home2__stakeItem,
    .africanView .tg--home2__stakeItem.stItem_active {
      background-color: #24ba9d;
      color: #000;
    }
    .africanView .gameContentTitle .tab_selector.tab_selector_active{
      background-color: #373737;
      color: #fff;
    }
    .africanView .gameContentTitle,
    .africanView .tg__home2_game_heading-top,
    .africanView .tg__home2_game_heading,
    .africanView .gameContentTitle .tab_selector{
      background-color: #040404;
      color: #fff;
    }
    .africanView .tg__champ_header,
    .africanView .tg--home2__stakeItem,
    .africanView .tg__home_game_heading,
    .liveFilterContainer {
      background-color: #1e1e1e;
      color: #fff;
    }
    .tg_left_filter_tabs input:checked + label + label{
      color: #24ba9d;
    }
    .tg_left_tabs {
      background-color: #1e1e1e;
      border-bottom-color: #24ba9d;
      color: #fff;
  }

  /*sport tournament 2019-11-06*/

    .tg_tournament_wrapper,
    .tg__tournament-result .tg__list_row {
      background-color:#373737;
      color:#fff;
    }
    .tg__promo_logo .tg__promo__logo,
    .tg__promo_logo .tg__promo_text {
      color:#24ba9d;
    }
    .tg--prize-text span {
      background-color:#373737;
      color:#24ba9d;
    }
    .tg__tour_tab_name {
      background-color:#2a2a2a;
      box-shadow: 0px 4px 20px -3px #000;
    }
    .tg__tour_tab_name::before {
      border-color: transparent #2a2a2a transparent transparent;
    }
    .tg__tour_tab_name::after {
      border-color: transparent #2a2a2a transparent transparent;
    }
    .tg__tournament-result .tg__home_game_heading {
      background-color: #2a2a2a;
      color: #ccc;
    }
    .tg__tournament-result .tg--trn_label {
      color: #ccc;
    }
    .tg__tournament-result .tg__list_row:nth-of-type(odd) {
      background-color: #1e1e1e;
      color: #fff;
    }
    .tg__tournament-vl:before {
      border-color:#2a2a2a;
    }
    

    

   
/*cashout modal 2019-11-08*/
.tg_modal {
  background-color:#373737;
  color:#e6e6e6;
}
.tg_modal_header {
	background-color:#1e1e1e;
  color:#fff;
}
.tg__cashout--input {
	background-color:#1e1e1e;
	color:#fff;
}
.tg__cashout--modal input[type=range]::-webkit-slider-runnable-track,
.tg__cashout--modal input[type=range]::-webkit-slider-thumb,
.tg__cashout--modal input[type=range]::-moz-range-track,
.tg__cashout--modal input[type=range]::-moz-range-thumb,
.tg__cashout--modal input[type=range]::-ms-thumb {
	background:#24ba9d;
}
.tg__cashout--value {
  color:#e6e6e6;
}
 
  /*partial cash-out icon 2019-12-04*/
  
  .tg_accent-icon{
    color:  #24ba9d !important;
  }

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__left_menu_item,
  .live_menu_item_left,
  .live_menu_item_left .tg--left_live_odds{
     border-color: #1A1A1A;
  }
  

   
  /*partial cash-out icon 2019-12-05*/
  
  .tg__more:hover{
      background-color: #24ba9d;
      color: #000;
    }

   
  /* Betslip Cashout 2019-12-24*/
  .tg--cashout-body,.tg__cashout_popup{
    background-color: #373737;
    color: #fff;
  }
  .tg_widget_header_2, .tg--cashout-row,
  .tg--cashout-pagination-item{
    background-color: #2a2a2a;
    color: #fff;
  }
  .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
    background-color: #24ba9d;
    color: #000;
  }
  
   
  /* Betslip Cashout hover 2020-01-15*/
  .tg--cashout-row:hover, .tg--cashout-pagination-item:hover{
    background-color: rgba(55, 55, 55, 0.65);
  }
  .tg--cashout-item-cashout:hover, .tg--cashout-pagination-item.active:hover{
    background-color: rgba(36, 186, 157, 0.5);
  }
  
  .tg__loader-pulse {
    color: #24ba9d;
  }
  .tg__loader-pulse:before,
  .tg__loader-pulse:after {
       border: 3px solid #24ba9d;
   }
  
  /* live menu item header 2020-02-10*/
  .live_menu_item_left_header {
    background-color: #373737;
    color: #fff;
  }
  
   
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #24ba9d;
    }
    
    .tg__rightBanner_seeMore {
        background-color: #24ba9d;
        color: #fff;
    }
  
   
  /* Betslip tax engine 2020-05-25*/
  .component_tax_data {
    background-color: #1A1A1A;
    color: #999;
  }
  .component_tax_data .tg-ico {
      color:#24ba9d;
  }
  .component_tax_data_wrapper .component_tax_data_row strong {
    color: #fff;
	}
   
  /* Betslip tax engine 2020-06-11*/
  .tg_badge_transparent{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
  }
  
    .tg__modal_confirm {
      background-color: #24ba9d;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #136555;
    }
    .tg__modal_header {
      background-color: #2a2a2a;
    }
    .tg__modal_special_content {
      background-color: #373737;
    }

.tg__banner,
.newsSliderMarketContainer {
	background-color: #333;
	color: #979797;
}

/*express of day*/
.tg__express_of_day .tg-clr-akcent2 {
	color: #24BA9D;
}

.es__express_slider_arrow {
	background-color: #1E1E1E;
	color: #999;
}

.es__express_slider_arrow:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.es__express_day_wrapper .tg__home_game_heading,
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #1E1E1E;
}

.es__express_day_odd {
	border-color: #1A1A1A !important;
	color: #fff;
}

.es__bonus_odd_container,
.es__total_odd_container,
.tg__exp_of_day_one_game .tg-ico {
    color: #fff;
}

.es__total_odd_container .tg-clr-secondary {
    color: #999;
}

 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #333333;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #262626;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #333333;
	color: #cccccc;
	border-bottom: 1px solid #1a1a1a !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #1a1a1a;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #262626;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffb700;
}
.es__express_day_coupon {
	background-color: #333333;
	color: #cccccc;
}
/*multi bet of the day skinning*/
.tg__left_menu_item--lvl1.tg__left_menu_item:hover {
	background-color: #333;
}

/*Live info*/
.lc_wrapper, .lc_wrapper .lc_cship_header,
.lc_root {
	background: var(--dominantBg) !important;
	color: var(--dominantTxt) !important;
}

	.lc_wrapper .lc_teamname.text_1,
	.lc_wrapper .lc_teams_header_mid.text_2 {
		color: var(--dominantTxt) !important;
	}

	.lc_wrapper .lc_ns.text_2,
	.lc_wrapper .lc_ns.text_align_left,
	.lc_ruller .lc_ruller_sector {
		color: var(--dominantTxt2) !important;
	}

	.lc_wrapper .lc_ruller,
	.lc_wrapper .lc_ruller .lc_ruller_sector {
		border-color: var(--dominantTxt2) !important;
	}

		.lc_wrapper .lc_ruller .lc_ruller_line,
		.lc_wrapper .lc_ruller .lc_ruller_progress {
			background-color: var(--dominantTxt2) !important;
		}

	.lc_wrapper .lc_teams_header {
		background: var(--dominantBg2) !important;
		color: var(--dominantTxt) !important;
	}

	.lc_wrapper .lc_badge.text_akcent {
		background: var(--dominantBg) !important;
		color: var(--accentBg) !important;
	}

	.lc_root .score {
		background: var(--dominantBg2) !important;
		color: var(--accentBg) !important;
	}

	.lc_wrapper .lc_info_header.background_1,
	.lc_wrapper .lc_field_footer.background_1,
	.lc_wrapper .lc_tabs_wrapper.background_1,
	.lc_stat_wrapper {
		background: var(--dominantBg) !important;
		color: var(--dominantTxt) !important;
	}

	.lc_wrapper .lc_btn,
	.lc_wrapper .lc_btn.lc_btn_body {
		background: var(--buttonSecundaryG) !important;
		color: var(--buttonSecundaryTxt) !important;
	}

		.lc_wrapper .lc_btn.lc_btn_body.active,
		.lc_wrapper .lc_btn.lc_btn_body:hover,
		.lc_wrapper .lc_btn:hover {
			background: var(--buttonSecundaryBg2) !important;
		}

.scout_football .lc_stat_row {
	border-color: var(--bodyBg) !important;
}

.dg_countdown_root {
	--dominantBg: #7D1132;
	--dominantBg2: #B3093D;
	--dominantTxt: #fff;
	--dominantTxt2: #fff;
}